@import "mixins";

.dorako-ui.dark-theme #sidebar .settings-sidebar {
  button {
    @include glass;
    @include quick-transition;
    text-shadow: 0 0 3px black;
    background-color: var(--glass-bg-light);
    color: var(--color-text-light-heading);

    &:hover {
      background-color: var(--glass-bg);
      color: var(--color-text-light-highlight);
    }
  }
}

.dorako-ui.dark-theme.dialog .dialog-buttons button.default {
  background-color: var(--secondary);
  border: none;

  &:hover {
    background-color: var(--secondary-light);
  }
}

.dorako-ui.dark-theme {
  form .form-group.buttons {
    gap: 5px;
  }
}

.dorako-ui .dorako-ui.dark-theme.window-content {
  @include sheet;
  color: var(--color-text-light-heading);
}

.dorako-ui.dark-theme {
  --color-underline-active: var(--tertiary-dark);
  --color-underline-header: var(--tertiary-dark);
}

.dorako-ui.dark-theme.window-app {
  // ::placeholder {
  //     color: var(--color-text-light-heading);
  // }

  footer.flexrow {
    gap: 3px;
  }

  .window-content {
    @include sheet;
    background-image: var(--sheet-dark);
    color: var(--color-text-light-heading);
  }

  &#module-management {
    .package-list .package-title,
    .package-list .package-metadata,
    .package-list .package-description {
      color: var(--color-text-light-highlight);
    }
  }
  &.package-configuration aside.sidebar {
    border: none;
  }

  &.sheet header.sheet-header img {
    box-shadow: var(--gold-and-glow);
    border-radius: 5px;
  }

  textarea {
    color: white;
    border: 1px solid var(--tertiary);
  }

  a[href] {
    color: var(--tertiary-dark);
  }

  hr {
    border-top: 1px solid var(--tertiary);
    border-bottom: 1px solid black;
  }

  &.sheet footer.sheet-footer {
    gap: 5px;
  }

  .compendium.directory .directory-list .directory-item {
    border: none;
  }

  button {
    @include glass;
    @include quick-transition;
    text-shadow: 0 0 3px black;
    color: var(--color-text-light-heading);

    &:hover {
      background-color: var(--primary);
      color: var(--color-text-light-highlight);
      box-shadow: var(--glassy); // Overrides prosemirror, possibly other stuff
    }

    &.privacy {
      background-color: #2e0587;
      &:hover {
        color: var(--color-text-light-heading);
        background-color: #440eb9;
      }
    }

    &.pm-dropdown {
      ul {
        @include glass;
        backdrop-filter: blur(5px);
      }

      li {
        &:hover {
          background: rgba(0, 0, 0, 0.5);
        }
      }

      i {
        color: var(--color-text-light-heading);
      }

      &:hover i {
        color: var(--color-text-light-highlight);
      }
    }
  }

  .private {
    button.privacy {
      color: var(--color-text-light-highlight);
      background-color: #440eb9;
    }
  }

  &.token-sheet .form-group.children-disabled .range-value,
  input[type="range"] + .range-value {
    @include glass;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-text-light-heading);
  }

  input[type="checkbox"],
  input[type="radio"],
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  input[type="search"] {
    &:not(.dorako-ui-skip) {
      @include glass;
      padding-left: 5px;
      color: var(--color-text-light-heading);
      accent-color: var(--tertiary);

      &:checked {
        box-shadow: unset;
        accent-color: var(--tertiary);
        filter: none;
      }

      &:hover {
        background-color: var(--secondary-dark);
        color: var(--color-text-light-highlight);
      }

      &:focus {
        background-color: var(--secondary);
        color: white;
      }

      &:disabled {
        color: var(--color-border-dark-tertiary);
        background-color: rgba(0, 0, 0, 0.8);
        &:hover {
          color: var(--color-border-dark-tertiary);
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  select:not(.dorako-ui-skip) {
    @include glass;
    @include quick-transition;
    color: var(--color-text-light-heading);

    &:hover {
      background-color: var(--secondary-dark);
      color: var(--color-text-light-highlight);
    }

    option {
      background-color: rgb(37, 37, 37);
      color: var(--color-text-light-heading);
    }

    optgroup {
      background-color: rgb(37, 37, 37);
      color: var(--color-text-light-highlight);
    }
  }

  input[type="color"][data-edit] {
    border: none;
  }

  //   &.token-sheet .tab.active[data-tab="appearance"] fieldset > legend {
  //     color: var(--color-text-light-highlight);
  //   }

  //   fieldset,
  //   &.app.token-sheet .tab.active[data-tab="appearance"] fieldset {
  //     border: 1px solid var(--tertiary);
  //     border-radius: 5px;
  //   }

  //   &.sheet nav.sheet-tabs {
  //     border-top: 1px solid var(--tertiary);
  //     border-bottom: 1px solid var(--tertiary);
  //   }

  form .form-group.slim .form-fields > label,
  form .form-group span.units,
  form .notes,
  form .hint {
    color: var(--color-text-dark-6);
  }

  &.filepicker .private .directory,
  &.filepicker .public .private.dir {
    background: rgba(115, 49, 255, 0.15);
  }

  &.filepicker .display-modes a {
    @include glass;
    color: var(--color-text-light-highlight);
    text-shadow: 0 0 3px black;

    &:hover {
      background: var(--primary);
      color: var(--color-text-light-highlight);
    }

    &.active {
      background: var(--primary);
      color: var(--color-text-light-highlight);
      text-shadow: 0 0 3px black;
    }
  }

  &#world-clock section.window-content .input-grid button {
    img {
      border: none;
      height: 1.5em;
      filter: invert(1) sepia() brightness(0.8) drop-shadow(0px 0px 3px black);
    }
    &:hover img {
      filter: invert(1) sepia() brightness(0.9) drop-shadow(0px 0px 3px black);
    }
  }

  &#keybindings .binding .key {
    @include glass;
    @include quick-transition;
    color: var(--color-text-light-heading);
    text-shadow: 0 0 3px black;

    &:hover {
      background-color: var(--primary);
      color: var(--color-text-light-highlight);
    }
    &.uneditable {
      background-color: rgba(0, 0, 0, 0.8);
      &:hover {
        color: var(--color-text-light-heading);
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  &#invitation-links .connection {
    &.closed {
      color: rgb(255 0 19 / 60%);
    }
    &.open {
      color: green;
    }
    &.unknown {
      color: rgba(250, 219, 60, 0.814);
    }
  }
}

/* ----------------------------------------- */
/* Critical hit/fumble deck                  */
/* ----------------------------------------- */

.app.journal-entry .window-content .journal-entry-content.dorako-ui.dark-theme {
  background: var(--sheet-dark);
  .journal-header .title {
    color: var(--color-text-light-heading);
  }

  .journal-entry-page .journal-page-content .critical-deck,
  .journal-entry-page .journal-page-content .fumble-deck {
    blockquote {
      box-shadow: var(--glassy);
    }

    h1 {
      box-shadow: var(--gold-and-glow);
      margin-left: 2px;
    }
  }
}
