@use "sass:color";
@import "mixins";

/* ----------------------------------------- */
/* Color definitions                         */
/* ----------------------------------------- */

/* Colors */
$white-color: white;
$black-color: black;
$gray-color: #808080;
$light-gray-color: #ababab;
$dark-gray-color: #545454;

/* Global */
$primary-color: #5e0000 !default;
$secondary-color: #171f69 !default; /* used for mini headers, alternate primary color */
$tertiary-color: #e9d7a1 !default; /* compliments the primary color, usually used in combination */

$alt-color: #786452 !default; /* for all other uses */
$alt-dark: #443730 !default;
$gold-brown: #956d58 !default;
$background-color: #f8f4f1 !default;
$background-dark: darken($background-color, 10);
$sub-color: #605856 !default;

/* Lighter / Darker */
$light-color: lighten($primary-color, 10) !default;
$dark-color: darken($primary-color, 10) !default;
$tertiary-dark-color: darken($tertiary-color, 10) !default;
$tertiary-light-color: lighten($tertiary-color, 10) !default;

/* Text */
$text-dark-color: #1c1c1c !default;

/* ----------------------------------------- */
/* Color schemes                             */
/* ----------------------------------------- */

/* Proficiency ranks */
$rank-untrained: #424242 !default;
$rank-trained: #171f69 !default;
$rank-expert: #3c005e !default;
$rank-master: #664400 !default;
$rank-legendary: #5e0000 !default;

/* Rarities */
$rarity-common: #323232 !default;
$rarity-uncommon: #98513d !default;
$rarity-rare: #002664 !default;
$rarity-unique: #54166e !default;

/* Degrees of success */
$degree-success-critical: rgb(0, 128, 0) !default;
$degree-success: rgb(0, 0, 255) !default;
$degree-failure: rgb(255, 69, 0) !default;
$degree-failure-critical: rgb(255, 0, 0) !default;

/* Value adjustments (e.g. weak/elite) */
$adjusted-higher: #009988 !default;
$adjusted-lower: #cc3311 !default;

/* ----------------------------------------- */
/* CSS Custom Properties                     */
/* ----------------------------------------- */

:root {
  /* Global */
  --primary: #{$primary-color};
  --system-primary: #{$primary-color};
  --primary-light: #{color.scale($primary-color, $lightness: +20%)};
  --primary-dark: #{color.scale($primary-color, $lightness: -40%)};
  --system-secondary: #{$secondary-color};
  --secondary: #{$secondary-color};
  --secondary-light: #{color.scale($secondary-color, $lightness: +25%)};
  --secondary-dark: #{color.scale($secondary-color, $lightness: -45%)};
  --tertiary: #{$tertiary-color};
  --remaster: hsl(152, 87%, 15%);
  --remaster-light: hsl(170, 96%, 19%);
  --remaster-dark: hsl(153, 100%, 8%);

  --rarity-common: #{$rarity-common};
  --rarity-uncommon: #{$rarity-uncommon};
  --rarity-rare: #{$rarity-rare};
  --rarity-unique: #{$rarity-unique};

  --alt: #{$alt-color};
  --alt-dark: #{$alt-dark};
  --bg: #{$background-color};
  --bg-dark: #{$background-dark};
  --gold-brown: #{$gold-brown};
  --sub: #{$sub-color};
  --color-disabled: #{$light-gray-color};

  --blind-bg: #a57aa5;
  --whisper-bg: #e3e3ff;

  // Inline links and user visibility
  --inline-link-bg: #ddd;
  --inline-repost-bg: #{lighten(#ddd, 5%)};
  --visibility-gm-bg: #e8e8ef;
  --visibility-owner-bg: #ddebe1;
  --blind-roll: #f5eaf5;

  /* Lighter / Darker */
  --light: #{$light-color};
  --dark: #{$dark-color};
  --tertiary-dark: #{$tertiary-dark-color};
  --tertiary-light: #{$tertiary-light-color};

  /* Text */
  --body: var(--text-dark);
  --color-text-trait: #f5efe0;
  --text-dark: #{$text-dark-color};
  --text-light: #{$white-color};

  /* Borders */
  --color-border-trait: #d8c384;
  --color-border-divider: #baa991;

  /* Mats */
  --mats-dark: #1c1c1c;
  --mats-gold-dark: #dbc682;
  --mats-gold-light: #e6d8a7;
  --mats-green-light: #99aea1;
  --mats-green: #3e644b;
  --mats-green-dark: #233b2b;

  /* Headers w/ boxes */
  --header-color: var(--text-light);
  --header-bg: var(--secondary);

  /* Sidebar */
  --sidebar-label: var(--tertiary-dark);
  --sidebar-title: var(--tertiary);

  /* App UI */
  --glass-bg: rgba(20, 20, 20, 0.6);
  --glass-bg-gold: rgba(103, 88, 60, 0.441);
  --glass-bg-light: rgba(255, 255, 255, 0.1);
  --glass-bg-dark: rgba(0, 0, 0, 0.7);
  --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px var(--gold-brown), inset 0 0 3px rgba(255, 255, 255, 0.5);
  --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1),
    0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  --glassy-sharp: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 1px 5px 1px rgba(0, 0, 0, 0.8);
  --glassy-sharp-inset: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
  --glassy-sharp-highlight: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 1px 5px 1px rgba(0, 0, 0, 0.8);
  --sheet-light: url(../img/background-light.webp);
  --sheet-dark: url(../img/background-dark4.webp);
  --header: url(../img/blue-header.webp);
  --banner-top: url(../img/blue-sidebar-top.webp);
  --banner-bottom: url(../img/blue-sidebar-bottom.webp);
  // --avatar-size: controlled in code
  // --border-radius: controlled in code
  // --control-size: controlled in code;
  --hotbar-width: unset;
  // --controls-alignment: controlled in code
  --controls-margin: 8px;
}

:root {
  --color-warm-1: #ee9b3a;
  --color-warm-2: #c9593f;
  --color-warm-3: #5d142b;
  --color-warm-4: #420418; // custom
  --color-warm-5: #26020d; // custom

  --color-cool-1: #b1a0d4; // custom
  --color-cool-2: #79689c; // custom
  --color-cool-3: #584a75;
  --color-cool-4: #302831;
  --color-cool-5: #0b0a13;

  --color-cool-5-25: rgba(11, 10, 19, 0.25);
  --color-cool-5-50: rgba(11, 10, 19, 0.5);
  --color-cool-5-75: rgba(11, 10, 19, 0.75);
  --color-cool-5-90: rgba(11, 10, 19, 0.9);

  --color-light-1: #f7f3e8;
  --color-light-2: #efe6d8;
  --color-light-3: #e7d1b1;
  --color-light-4: #d0b8a3;
  --color-light-5: #9f8475;
  --color-light-6: #816b66;

  --color-level-error: #ce0707;
  --color-level-error-bg: rgba(105, 0, 8, 0.8);
  --color-level-error-border: #750003;
  --color-level-info: #59a1f6;
  --color-level-info-bg: rgba(47, 80, 132, 0.8);
  --color-level-info-border: #5c87b9;
  --color-level-success: #26b231;
  --color-level-success-bg: rgba(26, 107, 34, 0.8);
  --color-level-success-border: #1b8f23;
  --color-level-warning: #ee9b3a;
  --color-level-warning-bg: rgba(214, 150, 0, 0.8);
  --color-level-warning-border: #b18404;

  --color-level-green-bg: rgba(138, 211, 4, 0.4); // custom from website
  --color-level-green-border: #8ad304; // custom from website
  --color-level-yellow-bg: rgba(211, 192, 4, 0.4); // custom from website
  --color-level-yellow-border: #d3c004; // custom from website
  --color-level-orange-bg: rgba(211, 119, 4, 0.4); // custom from website
  --color-level-orange-border: #d37704; // custom from website
  --color-level-red-bg: rgba(211, 20, 4, 0.4); // custom from website
  --color-level-red-border: #d31404; // custom from website

  --color-scrollbar: #5d142b;
  --color-scrollbar-border: #8d151b;

  --app-background: var(--color-cool-5-90);
  --app-border-color: var(--color-cool-4);
}

// :root {
//   --brown-1: rgb(223, 207, 153);
//   --brown-2: rgb(163, 141, 109);
//   --brown-3: rgb(117, 81, 29);
//   --brown-4: rgb(115, 78, 50);

//   --table-header: rgb(51, 47, 36);
//   --table-odd: rgb(38, 35, 27);
//   --table-even: rgb(33, 31, 24);

//   --dark-20: rgb(20, 20, 20);
//   --dark-15: rgb(15, 15, 15);

//   --link-color: #f2c462;
//   --link-active-color: #f2dcae;
//   --red-link-color: #f25749;
//   --red-link-active-color:#f2b4ae

//   --trade-exact-price: rgb(163, 141, 109);
//   --trade-currency-text: rgb(170, 158, 130);
//   --trade-button-text-color: rgb(233, 207, 159);
//   --trade-color-light-1: rgb(255, 248, 225);
//   --trade-color-light-2: rgb(163, 141, 109);
//   --trade-color-light-3: rgb(130, 120, 106);

//   --poe-color-default: rgb(127, 127, 127);
//   --poe-color-valuedefault: rgb(255, 255, 255);
//   --poe-color-pink: rgb(255, 192, 203);
//   --poe-color-dodgerblue: rgb(30, 144, 255);
//   --poe-color-fire: rgb(150, 0, 0);
//   --poe-color-cold: rgb(54, 100, 146);
//   --poe-color-lightning: rgb(255, 215, 0);
//   --poe-color-chaos: rgb(208, 32, 144);
//   --poe-color-augmented: rgb(136, 136, 255);
//   --poe-color-crafted: rgb(184, 218, 242);
//   --poe-color-fractured: rgb(162, 145, 98);
//   --poe-color-enchanted: rgb(184, 218, 242);
//   --poe-color-hellscaped: rgb(255, 110, 37);
//   --poe-color-unmet: rgb(210, 0, 0);
//   --poe-color-uniqueitem: rgb(175, 96, 37);
//   --poe-color-unique: rgb(175, 96, 37);
//   --poe-color-rareitem: rgb(255, 255, 119);
//   --poe-color-rare: rgb(255, 255, 119);
//   --poe-color-magicitem: rgb(136, 136, 255);
//   --poe-color-magic: rgb(136, 136, 255);
//   --poe-color-whiteitem: rgb(200, 200, 200);
//   --poe-color-normal: rgb(200, 200, 200);
//   --poe-color-gemitem: rgb(27, 162, 155);
//   --poe-color-gem: rgb(27, 162, 155);
//   --poe-color-currencyitem: rgb(170, 158, 130);
//   --poe-color-currency: rgb(170, 158, 130);
//   --poe-color-questitem: rgb(74, 230, 58);
//   --poe-color-quest: rgb(74, 230, 58);
//   --poe-color-nemesismod: rgb(255, 200, 0);
//   --poe-color-nemesismodoutline: rgb(219, 34, 0); /* 220,255,40,0 */
//   --poe-color-talismanmod: rgb(141, 241, 79);
//   --poe-color-talismanmodoutline: rgb(0, 0, 0); /* 220,0,0,0 */
//   --poe-color-title: rgb(231, 180, 120);
//   --poe-color-corrupted: rgb(210, 0, 0);
//   --poe-color-favour: rgb(170, 158, 130);
//   --poe-color-supporterpacknewitem: rgb(180, 96, 0);
//   --poe-color-supporterpackitem: rgb(163, 141, 109);
//   --poe-color-bloodlinemod: rgb(210, 0, 220);
//   --poe-color-bloodlinemodoutline: rgb(58, 0, 125); /* 200,74,0,160 */
//   --poe-color-tormentmod: rgb(50, 230, 100);
//   --poe-color-tormentmodoutline: rgb(0, 78, 117); /* 200,0,100,150 */
//   --poe-color-canttradeormodify: rgb(210, 0, 0);
//   --poe-color-lockedtoaccount: rgb(210, 0, 0);
//   --poe-color-divination: rgb(14, 186, 255);
//   --poe-color-prophecy: rgb(181, 75, 255);
//   --poe-color-essencemod: rgb(164, 210, 255);
//   --poe-color-essencemodoutline: rgb(0, 41, 82); /* 210,0,50,100 */
//   --poe-color-premiumchat: rgb(253, 242, 126);
//   --poe-color-premiumchatoutline: rgb(209, 46, 46);
//   --poe-color-uniquefoil: rgb(130, 173, 106);
//   --poe-color-legacy: rgb(212, 145, 63);
//   --poe-color-bestiarymod: rgb(255, 255, 255);
//   --poe-color-bestiarymodoutline: rgb(219, 34, 0); /* 220,255,40,0 */
//   --poe-color-blightmod: rgb(255, 255, 255);
//   --poe-color-blightmodoutline: rgb(215, 0, 0); /* 255,215,0,0 */
//   --poe-color-afflictionmod: rgb(22, 25, 28);
//   --poe-color-afflictionmodoutline: rgb(151, 164, 181); /* 200,193,210,232 */
//   --poe-color-stackitemlevel: rgb(255, 255, 255);
//   --poe-color-harvestprimary: rgb(100, 111, 73);
//   --poe-color-harvestsecondary: rgb(83, 130, 161);
//   --poe-color-craftingcaster: rgb(179, 248, 254);
//   --poe-color-craftingphysical: rgb(199, 157, 147);
//   --poe-color-craftingfire: rgb(255, 154, 119);
//   --poe-color-craftingcold: rgb(147, 216, 255);
//   --poe-color-craftinglightning: rgb(248, 203, 118);
//   --poe-color-craftingchaos: rgb(216, 167, 211);
//   --poe-color-craftingspeed: rgb(207, 238, 165);
//   --poe-color-craftingcrit: rgb(178, 167, 214);
//   --poe-color-craftingred: rgb(200, 103, 110);
//   --poe-color-craftingblue: rgb(162, 207, 251);
//   --poe-color-craftinggreen: rgb(134, 189, 163);
//   --poe-color-craftinglife: rgb(201, 110, 110);
//   --poe-color-craftingdefences: rgb(168, 143, 103);
//   --poe-color-craftingattack: rgb(218, 129, 77);
//   --poe-color-heist: rgb(25, 30, 25);
//   --poe-color-heiststolenitem: rgb(210, 0, 0);
//   --poe-color-atlasmaven: rgb(182, 12, 169);
//   --poe-color-ultimatumnumber: rgb(254, 92, 81);
//   --poe-color-incursionunreachable: rgb(90, 90, 90);
//   --poe-color-lockedinplaceitem: rgb(127, 127, 127);
//   --poe-color-craftaffectremove: rgb(254, 153, 0);
//   --poe-color-craftaffectwarning: rgb(235, 200, 80);
//   --poe-color-craftaffectreroll: rgb(254, 153, 0);
//   --poe-color-skillpopuptitle: rgb(249, 230, 202);
//   --poe-color-disabledstats: rgb(150, 150, 167);
//   --poe-color-skillextrainfo: rgb(255, 192, 119);
//   --poe-color-fakeitemcount: rgb(200, 200, 200);

//   .c-cblock {
//     border: 1px solid #2c2b2b;
//     background-color: #141414;
//   }
//   .c-cblock--violet {
//       border-color: #585477;
//       background-color: #151517;
//   }
//   .c-cblock--gold {
//       border-color: #75693c;
//       background-color: #1c1b19;
//   }

//   .c-mbox--warning {
//     border-color: #781c1c;
//     background-color: #241515;
//   }
//   .c-mbox--action {
//       border-color: #693a1e;
//       background-color: #26211f;
//   }
//   .c-mbox--content {
//       border-color: #664c1e;
//       background-color: #26231f;
//   }
//   .c-mbox--style {
//       border-color: #75693c;
//       background-color: #24231f;
//   }
//   .c-mbox--info {
//       border-color: #4b5e6a;
//       background-color: #191b1c;
//   }
//   .c-mbox--legal {
//       border-color: #403b2d;
//       background-color: #21201c;
//   }
//   .c-mbox--proposal {
//       border-color: #585477;
//       background-color: #19191c;
//   }
//   .c-mbox--lock {
//       border-color: #59534e;
//       background-color: #211f1d;
//   }

//   #catlinks {
//     border: 1px solid #503a1e;
//     background-color: #130f0a;
//     }
// }

/* ----------------------------------------- */
/* Overwrite Foundry colors                  */
/* ----------------------------------------- */

.dorako-ui {
  --color-border-highlight: var(--tertiary);
  --color-border-highlight-alt: var(--tertiary-dark);
  --color-shadow-primary: var(--primary-light);
  --color-shadow-highlight: var(--primary-light);
  --sheet: var(--sheet-light);
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:gray;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --ornamentation: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1%7Bstroke:%23231f20;stroke-miterlimit:10%7D.st1,.st2%7Bfill:none%7D%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cg%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zM3.6 3.6h3.1v3.1H3.6zM6.8 3.6h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zM3.6 6.8H.5V13M13 .5H6.8v3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4.5h3.1v3.1h-3.1zM26.3 3.6h3.1v3.1h-3.1zM26.3 6.8h3.1v3.1h-3.1zM23.1 3.6h3.1v3.1h-3.1zM26.3 3.6V.5H20'/%3E%3Cpath class='st1' d='M32.5 13V6.8h-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zM23.1 26.3h3.1v3.1h-3.1zM26.3 23.1h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zM3.6 26.3h3.1v3.1H3.6zM3.6 23.1h3.1v3.1H3.6zM6.8 26.3h3.1v3.1H6.8z'/%3E%3Cpath class='st1' d='M6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --half-transparent: rgba(0, 0, 0, 0.5);

  *::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 1px solid var(--gold-brown);
  }

  a,
  button {
    @include quick-transition;
  }
}

.dorako-ui.dark-theme {
  --color-underline-active: var(--tertiary-dark);
  --color-underline-header: var(--tertiary-dark);
  --rarity-common: #e1d8cf;
  --rarity-uncommon: #c45500;
  --rarity-rare: #5362ff;
  --rarity-unique: #e127e1;
  --color-shadow-primary: var(--tertiary-dark);
  --color-shadow-highlight: var(--tertiary);
  --sheet: var(--sheet-dark);
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --body: var(--text-light);
  --bg: var(--glass-bg-dark);
  --half-transparent: rgba(255, 255, 255, 0.5);
}
