@use "sass:color";

/* ----------------------------------------- */
/* Color definitions                         */
/* ----------------------------------------- */

/* Colors */
$white-color: white;
$black-color: black;
$gray-color: #808080;
$light-gray-color: #ababab;
$dark-gray-color: #545454;

/* Global */
$primary-color: #5e0000 !default;
$secondary-color: #171f69 !default; /* used for mini headers, alternate primary color */
$tertiary-color: #e9d7a1 !default; /* compliments the primary color, usually used in combination */

$alt-color: #786452 !default; /* for all other uses */
$alt-dark: #443730 !default;
$gold-brown: #956d58 !default;
$background-color: #f8f4f1 !default;
$background-dark: darken($background-color, 10);
$sub-color: #605856 !default;

/* Lighter / Darker */
$light-color: lighten($primary-color, 10) !default;
$dark-color: darken($primary-color, 10) !default;
$tertiary-dark-color: darken($tertiary-color, 10) !default;
$tertiary-light-color: lighten($tertiary-color, 10) !default;

/* Text */
$text-dark-color: #1c1c1c !default;

/* ----------------------------------------- */
/* Color schemes                             */
/* ----------------------------------------- */

/* Proficiency ranks */
$rank-untrained: #424242 !default;
$rank-trained: #171f69 !default;
$rank-expert: #3c005e !default;
$rank-master: #664400 !default;
$rank-legendary: #5e0000 !default;

/* Rarities */
$rarity-common: #323232 !default;
$rarity-uncommon: #98513d !default;
$rarity-rare: #002664 !default;
$rarity-unique: #54166e !default;

/* Degrees of success */
$degree-success-critical: rgb(0, 128, 0) !default;
$degree-success: rgb(0, 0, 255) !default;
$degree-failure: rgb(255, 69, 0) !default;
$degree-failure-critical: rgb(255, 0, 0) !default;

/* Value adjustments (e.g. weak/elite) */
$adjusted-higher: #009988 !default;
$adjusted-lower: #cc3311 !default;

/* ----------------------------------------- */
/* CSS Custom Properties                     */
/* ----------------------------------------- */

:root {
  /* Global */
  --primary: #{$primary-color};
  --system-primary: #{$primary-color};
  --primary-light: #{color.scale($primary-color, $lightness: +20%)};
  --primary-dark: #{color.scale($primary-color, $lightness: -40%)};
  --system-secondary: #{$secondary-color};
  --secondary: #{$secondary-color};
  --secondary-light: #{color.scale($secondary-color, $lightness: +25%)};
  --secondary-dark: #{color.scale($secondary-color, $lightness: -45%)};
  --tertiary: #{$tertiary-color};
  --remaster: hsl(152, 87%, 15%);
  --remaster-light: hsl(170, 96%, 19%);
  --remaster-dark: hsl(153, 100%, 8%);

  --rarity-common: #{$rarity-common};
  --rarity-uncommon: #{$rarity-uncommon};
  --rarity-rare: #{$rarity-rare};
  --rarity-unique: #{$rarity-unique};

  --alt: #{$alt-color};
  --alt-dark: #{$alt-dark};
  --bg: #{$background-color};
  --bg-dark: #{$background-dark};
  --gold-brown: #{$gold-brown};
  --sub: #{$sub-color};
  --color-disabled: #{$light-gray-color};

  --blind-bg: #a57aa5;
  --whisper-bg: #e3e3ff;

  // Inline links and user visibility
  --inline-link-bg: #ddd;
  --inline-repost-bg: #{lighten(#ddd, 5%)};
  --visibility-gm-bg: #e8e8ef;
  --visibility-owner-bg: #ddebe1;
  --blind-roll: #f5eaf5;

  /* Lighter / Darker */
  --light: #{$light-color};
  --dark: #{$dark-color};
  --tertiary-dark: #{$tertiary-dark-color};
  --tertiary-light: #{$tertiary-light-color};

  /* Text */
  --body: var(--text-dark);
  --color-text-trait: #f5efe0;
  --text-dark: #{$text-dark-color};
  --text-light: #{$white-color};

  /* Borders */
  --color-border-trait: #d8c384;
  --color-border-divider: #baa991;

  /* Mats */
  --mats-dark: #1c1c1c;
  --mats-gold-dark: #dbc682;
  --mats-gold-light: #e6d8a7;
  --mats-green-light: #99aea1;
  --mats-green: #3e644b;
  --mats-green-dark: #233b2b;

  /* Headers w/ boxes */
  --header-color: var(--text-light);
  --header-bg: var(--secondary);

  /* Sidebar */
  --sidebar-label: var(--tertiary-dark);
  --sidebar-title: var(--tertiary);

  /* App UI */
  --glass-bg: rgba(20, 20, 20, 0.6);
  --glass-bg-gold: rgba(103, 88, 60, 0.441);
  --glass-bg-light: rgba(255, 255, 255, 0.1);
  --glass-bg-dark: rgba(0, 0, 0, 0.7);
  --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px var(--gold-brown), inset 0 0 3px rgba(255, 255, 255, 0.5);
  --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1),
    0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  --glassy-sharp: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 1px 5px 1px rgba(0, 0, 0, 0.8);
  --glassy-sharp-inset: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
  --glassy-sharp-highlight: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 1px 5px 1px rgba(0, 0, 0, 0.8);
  --sheet-light: url(../img/background-light.webp);
  --sheet-dark: url(../img/background-dark4.webp);
  --header: url(../img/blue-header.webp);
  --banner-top: url(../img/blue-sidebar-top.webp);
  --banner-bottom: url(../img/blue-sidebar-bottom.webp);
  // --avatar-size: controlled in code
  // --border-radius: controlled in code
  // --control-size: controlled in code;
  --hotbar-width: unset;
  // --controls-alignment: controlled in code
  --controls-margin: 8px;
}

/* ----------------------------------------- */
/* Overwrite Foundry colors                  */
/* ----------------------------------------- */

.dorako-ui {
  --color-border-highlight: var(--tertiary);
  --color-border-highlight-alt: var(--tertiary-dark);
  --color-shadow-primary: var(--primary-light);
  --color-shadow-highlight: var(--primary-light);
  --sheet: var(--sheet-light);
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:gray;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --ornamentation: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1%7Bstroke:%23231f20;stroke-miterlimit:10%7D.st1,.st2%7Bfill:none%7D%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cg%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zM3.6 3.6h3.1v3.1H3.6zM6.8 3.6h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zM3.6 6.8H.5V13M13 .5H6.8v3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4.5h3.1v3.1h-3.1zM26.3 3.6h3.1v3.1h-3.1zM26.3 6.8h3.1v3.1h-3.1zM23.1 3.6h3.1v3.1h-3.1zM26.3 3.6V.5H20'/%3E%3Cpath class='st1' d='M32.5 13V6.8h-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zM23.1 26.3h3.1v3.1h-3.1zM26.3 23.1h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zM3.6 26.3h3.1v3.1H3.6zM3.6 23.1h3.1v3.1H3.6zM6.8 26.3h3.1v3.1H6.8z'/%3E%3Cpath class='st1' d='M6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --half-transparent: rgba(0, 0, 0, 0.5);

  *::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 1px solid var(--gold-brown);
  }

  a,
  button {
    @include quick-transition;
  }
}

.dorako-ui.dark-theme {
  --color-underline-active: var(--tertiary-dark);
  --color-underline-header: var(--tertiary-dark);
  --rarity-common: #e1d8cf;
  --rarity-uncommon: #c45500;
  --rarity-rare: #5362ff;
  --rarity-unique: #e127e1;
  --color-shadow-primary: var(--tertiary-dark);
  --color-shadow-highlight: var(--tertiary);
  --sheet: var(--sheet-dark);
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --body: var(--text-light);
  --bg: var(--glass-bg-dark);
  --half-transparent: rgba(255, 255, 255, 0.5);
}
