@import "mixins";
/* ----------------------------------------- */
/* Hotbar                                    */
/* ----------------------------------------- */
#hotbar.dorako-ui {
    .macro {
        height: calc(var(--macro-size) + 2px);
        width: calc(var(--macro-size) + 2px);
        @include glass;
        @include quick-transition;
        box-shadow: none;

        &.inactive::before,
        &.active::before {
            @include quick-transition;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: var(--glassy);
            border-radius: 3px;
            overflow: hidden;
            pointer-events: none;
        }

        &.active:hover::before {
            @include quick-transition;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 10px rgba(220, 200, 100, 0.5) inset, var(--glassy);
            border-radius: 3px;
            overflow: hidden;
            pointer-events: none;
        }

        .macro-key {
            background: none;
            right: 6px;
            padding: 0px;
            font-weight: initial;
            text-shadow: 0px 1px 5px black, 0px 1px 5px black;
        }

        .macro-icon {
            border-radius: 3px;
            border: none;
            height: calc(var(--macro-size) + 2px);
            width: calc(var(--macro-size) + 2px);
        }

        &.inactive {
            box-shadow: none;
        }
        
        &:hover {
            border: none;
            background-color: var(--primary-light);
        }

        &.active:hover {
            border: none;
            background-color: var(--primary-dark);

        }
    }

    #macro-list {
        gap: 5px;
        margin: 0px 5px;
        border: none;
        grid-template-columns: repeat(10, calc(var(--macro-size) + 2px));
    }

    .bar-controls {
        @include glass;
    }
}

@media (max-width: 1120px) {
    #hotbar {
        width: 354px;
        height: 110px;
    }
    #hotbar #macro-list {
        grid-template-columns: repeat(5, 50px);
    }
}