@use "sass:color";
@import "mixins";

/* ----------------------------------------- */
/* Header                                    */
/* ----------------------------------------- */

.dorako-ui .message-header {
  background: none;
  padding: 5px 5px 0px 5px;
  margin: -5px -5px -0px -5px;
  border-radius: 5px 5px 0px 0px;
  gap: 5px;
  align-items: center;

  .message-metadata {
    flex: 2.5;
  }

  .header-meta {
    border-radius: 3px;
    padding: 2px;
    font-size: x-small;
    align-self: center;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
  }

  &.light-header-text {
    background-blend-mode: multiply;
    color: white;
    text-shadow: 0px 1px 1px black;

    .header-meta {
      color: white;
      background-color: hsla(0, 0%, 50%, 40%);
      border: 1px solid hsla(0, 0%, 100%, 30%);
    }
  }

  &.dark-header-text {
    background-blend-mode: luminosity;
    color: black;
    text-shadow: 0px 1px 1px white;

    .header-meta {
      color: hsla(0, 0%, 20%, 100%);
      background-color: hsla(0, 0%, 90%, 50%);
      border: 1px solid hsla(0, 0%, 30%, 40%);
    }
  }

  .player-name,
  .message-sender {
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .portrait-and-name {
    flex-grow: 1;
    display: flex;
    flex-basis: 100px;
    gap: 5px;

    .portrait-wrapper {
      width: var(--avatar-size);
      display: flex;
      flex: none;
      justify-content: center;
      align-items: center;

      .portrait {
        height: var(--avatar-size);
        object-fit: contain;
        z-index: 0;

        &.actor {
          border-radius: 3px;
        }
      }
    }

    .sender-wrapper {
      display: flex;
      gap: 3px;
      flex-direction: column;
      justify-content: left;
      align-self: center;
      z-index: 1;

      .message-sender,
      .player-name {
        align-self: flex-start;
        line-height: initial;
      }
    }
  }
}

/* ----------------------------------------- */
/* Clutter                                   */
/* ----------------------------------------- */

.dorako-ui.chat-message .message-content .damage-roll .dice-result .dice-total .instances {
  padding-bottom: 4px;
  margin-bottom: 0px;
}

/* ----------------------------------------- */
/* Damage buttons                            */
/* ----------------------------------------- */

.dorako-ui.message {
  .message-content {
    .damage-application {
      gap: 2px;

      button {
        @include quick-transition;

        &.half-damage {
          .transparent-half {
            display: none;
          }
          .fa-heart-broken {
            position: relative;

            &::after {
              content: "\f7a9";
              font-family: "Font Awesome 5 Free";
              color: hsla(0, 0%, 0%, 0.5);
              display: block;
              z-index: 1;
              position: absolute;
              top: 0px;
              left: 2.4px;
              clip-path: polygon(45% 0%, 50% 100%, 100% 100%, 100% 4%);
              color: gray;
            }
          }
        }

        &:hover {
          box-shadow: none;
          color: white;
          border: 1px solid var(--gold-brown);
          background-color: var(--primary-light);
          box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px var(--primary-light);

          img {
            filter: invert(1);
          }

          &.half-damage .fa-heart-broken::after {
            clip-path: polygon(45% 0%, 50% 100%, 100% 100%, 100% 4%);
            color: gray;
          }
        }

        &.shield-block {
          &:hover {
            background-color: var(--secondary-light);
            box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px var(--secondary-light);
          }
          &.shield-activated {
            background-color: var(--secondary-light);
            box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px var(--secondary-light);

            &:hover {
              background-color: var(--secondary-dark);
              box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px var(--secondary-dark);
            }
          }
        }

        &.heal-damage {
          &:hover {
            background-color: green;
            box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px green;

            .fa-plus {
              color: green;
              text-shadow: none;
            }
          }
        }
      }
    }
  }
}

/* ----------------------------------------- */
/* Chat card                                 */
/* ----------------------------------------- */

.dorako-ui.message.chat-message.spell {
  padding-bottom: 0px;
}

// Chat messages can be popped out, .message is too general and applies to stuff in modules
.dorako-ui.message.chat-message {
  @include sheet;
  // @include gold-border-shadow; bad idea, chat merge makes messages drop shadows on each other
  margin: 5px 3px 3px 3px;

  &.whisper {
    background-color: var(--whisper-bg);
    background-blend-mode: luminosity;
  }

  &.blind {
    background-color: var(--blind-bg);
    background-blend-mode: luminosity;
  }

  .flavor-text {
    hr {
      display: none;
    }
  }

  .persistent-damage-recovery {
    hr {
      display: none;
    }

    button {
      //   @include glass;
      //   @include quick-transition;
      //   color: var(--color-text-light-heading);
      //   text-shadow: 0px 0px 3px black;
      margin-top: 3px;
      &:hover {
        text-shadow: 0px 0px 3px black;
        background-color: var(--primary-light);
        color: white;
        box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px var(--primary);
      }
    }
  }

  .message-content {
    margin-top: 5px;

    .pf2e-pd-card {
      margin-top: 3px;

      hr {
        display: none;
      }

      .apply-condition {
        margin-top: 0px;
        // margin-top: 5px;
      }
    }

    .dice-roll .dice-result {
      .statuseffect-message {
        background-color: unset;
        box-shadow: none;
        border: none;

        li:not(:last-child) {
          margin-bottom: 5px;
        }

        img {
          @include gold-border;
          border-radius: 50%;
          margin-right: 6px;
        }
      }

      .statuseffect-rules {
        @include sheet;
        @include gold-border-shadow;
      }
    }

    .pf2e.chat-card {
      .tags {
        margin: 3px 0px;

        .vr {
          display: none;
        }
      }

      .card-buttons button {
        text-shadow: 0px 0px 3px black;
        color: white;

        background-color: var(--primary);
        box-shadow: 0px 0px 1px 1px var(--tertiary) inset;
        border: 1px solid var(--gold-brown);

        &:hover {
          background-color: var(--primary-light);
          box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px var(--primary);
        }

        &.hidden-to-others {
          background-color: var(--secondary);
          color: var(--color-text-light-highlight);

          &:hover {
            background-color: var(--secondary-light);
            box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px var(--secondary);
          }
        }

        &.with-image {
          img {
            @include gold-border;
            border-radius: 3px;
            height: 1.2em;
            margin-right: 5px;
          }
        }
      }

      .card-buttons .spell-attack-buttons {
        gap: 3px;

        button:not(:first-child) {
          background: var(--primary-dark);
          color: var(--color-text-light-highlight);

          &:hover {
            color: white;
            background: var(--primary-light);
          }
        }
      }

      .card-header {
        border: none;

        img {
          @include gold-border;
          flex: 0 0 34px;
          height: 34px;
          width: 34px;
          margin-right: 6px;
        }

        h3 {
          display: flex;
          margin-top: 3px;
          margin-bottom: -3px;
          line-height: 0.95em;
          font-family: var(--serif);
          font-size: var(--font-size-22);
          text-rendering: geometricPrecision;
        }

        h3.pf2-icon {
          font-family: Pathfinder2eActions;
          font-size: xxx-large;
          flex: 0 0 34px;
        }

        h4 {
          s {
            color: gray;
          }
          span.heightened {
            color: green;
          }
        }
      }

      .card-content {
        border-image-repeat: repeat;
        border-image-slice: 11;
        border-image-source: var(--ornamentation);
        border-image-width: 14px;
        border-style: double;
        padding: 3px 10px;
        font-weight: 500;
        margin: 0px;

        hr {
          margin: 0px -10px;
          border-color: #23231f55;
          border-bottom: none;
        }
      }
      .card-footer {
        border: none;

        span {
          border-right: 1px solid gray;
          padding-right: 5px; // Undoes 0px set by system
        }
      }
    }
  }

  [data-visibility]:not([data-visibility="all"])[data-visibility="gm"] {
    border-radius: 3px;
    background: #f5eaf5aa;
    outline: 1px dashed #720073;
  }
}

/* ----------------------------------------- */
/* Attention                                 */
/* ----------------------------------------- */

.dorako-ui.message.chat-message.attention {
  animation: wiggle ease-in-out infinite 1s alternate;
}

@keyframes wiggle {
  0% {
    transform: scale(0.9) translate(-15px);
  }
  100% {
    transform: scale(0.9) translate(15px);
  }
}
