.dorako-display-none {
  display: none !important;
}

a.content-link,
[data-pf2-check],
a.entity-link,
[data-pf2-action],
span[data-pf2-effect-area],
a.inline-check .label,
a.inline-roll:not(.inline-result) {
  font-weight: 400;
  text-shadow: none !important;
}

.dorako-ui.dark-theme {
  a.content-link,
  [data-pf2-check],
  a.entity-link,
  [data-pf2-action],
  span[data-pf2-effect-area],
  a.inline-check .label,
  a.inline-roll:not(.inline-result) {
    color: black;
  }
}

// Undoes padding 1px 4px by system, which adds whitespace to the right of the repost button, and causes it to hover 1px
span[data-pf2-effect-area].with-repost {
  padding: 0px;
  padding-left: 4px;
}

.dorako-ui.dark-theme {
  a.content-link.broken {
    background: rgba(255, 0, 0, 0.5);
    color: white;
  }
}

.pf2e-av .journal-page-content a.inline-check > i.icon,
.pf2e-av .journal-page-content span[data-pf2-check] > i.icon,
.pf2e-av .journal-page-content [data-pf2-repost] .label,
.pf2e-av .journal-page-content [data-pf2-check] .label,
.pf2e-av .journal-page-content [data-pf2-check]:not([data-pf2-show-dc="gm"]) .label {
  color: var(--av-green-light);
}

.dorako-ui.message.chat-message.dark-theme a.inline-roll {
  color: black;
}

i[data-pf2-repost] {
  top: 0px;
  cursor: pointer;
}

// system uses 500, which makes it hard to tell whether something is bolded
.app.sheet.actor p,
.pf2e p {
  font-weight: 400;
}
