@mixin glass {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
}

@mixin quick-transition {
  $transitionTime: 0.15s;
  transition: text-shadow $transitionTime ease-in-out, background-color $transitionTime ease-in-out,
    border $transitionTime ease-in-out, color $transitionTime ease-in-out, box-shadow $transitionTime ease-in-out,
    backdrop-filter $transitionTime ease-in-out;
}

@mixin gold-border {
  border: none;
  margin: 2px;
  /* prettier-ignore */
  box-shadow:
    0 0 0 1px var(--tertiary),
    0 0 0 2px var(--gold-brown);
}

@mixin gold-border-shadow {
  border: none;
  margin: 2px;
  /* prettier-ignore */
  box-shadow: 
    0 0 0 1px var(--tertiary),
    0 0 0 2px var(--gold-brown), 
    0 0 5px rgba(black, 0.8);
}

@mixin sheet {
  @include gold-border;
  background-image: var(--sheet);
  background-size: cover;
}
