@mixin glass {
  border: none;
  border-radius: var(--border-radius);
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
}

@mixin quick-transition {
  $transitionTime: 0.15s;
  transition: text-shadow $transitionTime ease-in-out, background-color $transitionTime ease-in-out,
    border $transitionTime ease-in-out, color $transitionTime ease-in-out, box-shadow $transitionTime ease-in-out,
    backdrop-filter $transitionTime ease-in-out, border-radius $transitionTime, outline $transitionTime;
}

@mixin gold-border {
  border: none;
  margin: 2px;
  /* prettier-ignore */
  box-shadow:
    0 0 0 1px var(--tertiary),
    0 0 0 2px var(--gold-brown);
}

@mixin gold-border-shadow {
  border: none;
  margin: 2px;
  /* prettier-ignore */
  box-shadow: 
    0 0 0 1px var(--tertiary),
    0 0 0 2px var(--gold-brown), 
    0 0 5px rgba(black, 0.8);
}

@mixin sheet {
  @include gold-border;
  background-image: var(--sheet);
  background-size: cover;
}

@mixin f2-app {
  background: var(--app-background);
  border: 1px solid var(--app-border-color);
  text-shadow: 0px 1px 2px black;
  border-radius: var(--border-radius);
  --box-shadow: 0px 1px 3px 1px black;
  box-shadow: var(--box-shadow);
  color: var(--color-light-3);
}

@mixin f2-grayscale {
  > img {
    filter: sepia() brightness(0.7) sepia(1) grayscale(0.7) drop-shadow(0px 1px 1px black);
  }

  &:hover > img {
    filter: sepia() grayscale(0.95) brightness(1) drop-shadow(0px 1px 1px black);
  }
}

@mixin f2-button-warm {
  @include f2-app;
  @include quick-transition;

  --button-background-color: var(--app-background);
  --button-border-color: var(--app-border-color);
  --button-text-color: var(--color-light-3);
  --button-focus-outline-color: var(--color-warm-2);
  --button-hover-background-color: var(--color-warm-2);
  --button-hover-border-color: var(--color-warm-1);
  --button-hover-text-color: var(--color-light-1);

  background: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  color: var(--button-text-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0px 1px 2px black;
  transition: background-color 0.5s, border-color 0.5s;

  &:not(.disabled, :disabled):hover {
    background: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
    box-shadow: var(--box-shadow);
  }

  &.active {
    background: var(--button-hover-background-color);
    outline: 1px solid var(--button-focus-outline-color);
    border-color: var(--button-hover-border-color);
    color: var(--button-hover-text-color);
    text-decoration: none;
  }

  &.disabled,
  &:disabled {
    --button-background-color: var(--color-warm-5);
    --button-border-color: var(--color-warm-4);
    --button-hover-background-color: var(--color-cool-5);
    --button-text-color: var(--color-light-5);
  }

  &.bright {
    --button-background-color: var(--color-warm-1);
    --button-border-color: var(--color-cool-5);
    --button-text-color: var(--color-cool-5);
    --button-hover-background-color: #fda948;
    --button-hover-border-color: var(--color-warm-2);
    --button-hover-text-color: #000000;
    text-shadow: unset;

    &.disabled,
    &:disabled {
      --button-background-color: var(--color-cool-4);
      --button-hover-background-color: var(--color-cool-4);
      --button-text-color: var(--color-light-5);
      --button-hover-text-color: var(--color-light-5);
      --button-hover-border-color: transparent;
    }

    &:not(.disabled, :disabled):hover {
      --button-hover-background-color: #cb7f27;
      --button-hover-border-color: var(--color-warm-1);
    }
  }
}

@mixin f2-button-cool {
  @include f2-button-warm;
  --button-background-color: var(--color-cool-3);
  --button-border-color: var(--color-cool-2);
  --button-text-color: var(--color-light-2);
  --button-focus-outline-color: var(--color-warm-1);
  --button-hover-background-color: var(--color-cool-2);
  --button-hover-border-color: var(--color-cool-1);
  --button-hover-text-color: var(--color-light-1);

  &:disabled {
    --button-background-color: var(--color-cool-5);
    --button-border-color: var(--color-cool-4);
    --button-hover-background-color: var(--color-cool-5);
    --button-text-color: var(--color-light-5);
  }
}

@mixin f2-input {
  --input-background-color: var(--color-cool-4);
  --input-border-color: transparent;
  --input-border-color: var(--color-cool-3);
  --input-focus-text-color: var(--color-light-2);
  --input-text-color: var(--color-light-3);
  --input-placeholder-color: var(--color-light-4);
  --input-text-selection-color: var(--color-cool-3);
  --input-focus-outline-color: var(--color-cool-3);
  --font-size: var(--font-size-14);
  --box-shadow: 0px 1px 3px 1px black;

  background: var(--input-background-color);
  border: 1px solid var(--input-border-color) !important;
  color: var(--input-text-color);
  box-shadow: var(--box-shadow) !important;
  align-items: center;
  height: var(--input-height);
  line-height: var(--input-height);
  padding: 0 0.3rem;
  border-radius: 4px;
  outline: 1px solid transparent;
  user-select: text;
  font-size: var(--font-size);
  transition: outline-color 0.5s;

  &:not(:disabled, .disabled):hover,
  &:focus {
    outline: 2px solid var(--input-focus-outline-color);
    border: 1px solid var(--input-border-color);
    color: var(--input-focus-text-color);
    box-shadow: var(--box-shadow);
  }

  &.disabled,
  &:disabled {
    --input-text-color: var(--color-light-6);
    --input-background-color: var(--color-cool-5);
    --input-border-color: var(--color-cool-4);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }

  &::selection {
    color: var(--input-text-color);
    background: var(--input-focus-outline-color);
  }

  &[type="checkbox"] {
    border: unset;
  }
}

@mixin f2-tooltip {
  @include f2-app;
  background: var(--app-background);
  border: 1px solid var(--color-warm-1);
  box-shadow: 0px 0px 6px var(--color-warm-2), 0px 2px 8px 1px var(--color-warm-3);
  backdrop-filter: blur(5px);
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: blur(5px);
  text-shadow: 0px 1px 2px black;
}
