@mixin glass {
  border: none;
  border-radius: var(--border-radius);
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
}

@mixin quick-transition {
  $transitionTime: 0.15s;
  transition: text-shadow $transitionTime ease-in-out, background-color $transitionTime ease-in-out,
    border $transitionTime ease-in-out, color $transitionTime ease-in-out, box-shadow $transitionTime ease-in-out,
    backdrop-filter $transitionTime ease-in-out, border-radius $transitionTime, outline $transitionTime;
}

@mixin gold-border {
  border: none;
  margin: 2px;
  /* prettier-ignore */
  box-shadow:
    0 0 0 1px var(--tertiary),
    0 0 0 2px var(--gold-brown);
}

@mixin gold-border-shadow {
  border: none;
  margin: 2px;
  /* prettier-ignore */
  box-shadow: 
    0 0 0 1px var(--tertiary),
    0 0 0 2px var(--gold-brown), 
    0 0 5px rgba(black, 0.8);
}

@mixin sheet {
  @include gold-border;
  background-image: var(--sheet);
  background-size: cover;
}

@mixin f2-app {
  background: var(--app-background);
  border: var(--app-border-style);
  border-color: var(--app-border-color);
  text-shadow: var(--app-text-shadow);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--color-light-3);
}

@mixin f2-grayscale {
  > img {
    filter: sepia() brightness(0.7) sepia(1) grayscale(0.7) drop-shadow(0px 1px 1px black);
  }

  &:hover > img {
    filter: sepia() grayscale(0.95) brightness(1) drop-shadow(0px 1px 1px black);
  }
}

@mixin f2-button-warm {
  @include f2-app;
  // @include quick-transition;
  background: var(--button-background-color);
  border: var(--app-border-style);
  border-color: var(--button-border-color);
  color: var(--button-text-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  cursor: pointer;
  text-shadow: var(--app-text-shadow);
  // transition: background-color 0.15s, border-color 0.15s;

  &:not(.disabled, :disabled):hover {
    background: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: var(--app-border-style);
    border-color: var(--button-hover-border-color);
    box-shadow: var(--box-shadow);
  }

  &.selected,
  &.active {
    background: var(--button-hover-background-color);
    outline: 1px solid var(--button-focus-outline-color);
    border-color: var(--button-hover-border-color);
    color: var(--button-hover-text-color);
    text-decoration: none;
    font-weight: unset;
  }

  &.empty,
  &.disabled,
  &:disabled {
    --button-background-color: var(--button-disabled-background-color);
    --button-border-color: var(--button-disabled-border-color);
    --button-hover-background-color: var(--button-disabled-background-color);
    --button-text-color: var(--color-light-5);
  }

  &.bright {
    --button-background-color: var(--accent-color);
    --button-border-color: var(--accent-color-dark);
    --button-text-color: var(--color-cool-5);
    --button-hover-background-color: var(--accent-color-light);
    --button-hover-border-color: var(--accent-color);
    --button-hover-text-color: #000000;

    // &.disabled,
    // &:disabled {
    //   --button-background-color: var(--color-cool-4);
    //   --button-hover-background-color: var(--color-cool-4);
    //   --button-text-color: var(--color-light-5);
    //   --button-hover-text-color: var(--color-light-5);
    //   --button-hover-border-color: transparent;
    // }

    // &:not(.disabled, :disabled):hover {
    //   --button-hover-background-color: #cb7f27;
    //   --button-hover-border-color: var(--color-warm-1);
    // }
  }
}

@mixin f2-button-cool {
  @include f2-button-warm;
  --button-background-color: var(--color-cool-3-75);
  --button-border-color: var(--color-cool-2);
  --button-text-color: var(--color-light-2);
  --button-focus-outline-color: var(--color-warm-1);
  --button-hover-background-color: var(--color-cool-2);
  --button-hover-border-color: var(--color-cool-1);
  --button-hover-text-color: var(--color-light-1);

  &:disabled {
    --button-background-color: var(--color-cool-5);
    --button-border-color: var(--color-cool-4);
    --button-hover-background-color: var(--color-cool-5);
    --button-text-color: var(--color-light-5);
  }
}

@mixin f2-input {
  background: var(--input-background-color);
  border: var(--app-border-style);
  border-color: var(--input-border-color) !important;
  color: var(--input-text-color);
  box-shadow: var(--box-shadow) !important;
  align-items: center;
  // height: var(--input-height);
  // line-height: var(--input-height);
  // padding: 0 0.3rem;
  border-radius: 4px;
  outline: 1px solid transparent;
  user-select: text;
  // font-size: var(--font-size);
  transition: outline-color 0.5s;

  &:not(:disabled, .disabled, [type="checkbox"]):hover,
  &:focus {
    outline: 1px solid var(--input-focus-outline-color);
    border: var(--app-border-style);
    border-color: var(--input-border-color);
    color: var(--input-focus-text-color);
    box-shadow: var(--box-shadow);
  }

  &.disabled,
  &:disabled {
    --input-text-color: var(--color-light-disabled);
    --input-background-color: var(--input-disabled-background-color);
    --input-border-color: var(--input-disabled-border-color);
    &::placeholder {
      color: color-mix(in srgb, var(--input-placeholder-color) 50%, transparent);
    }
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }

  &::selection {
    color: var(--input-text-color);
    background: var(--input-focus-outline-color);
  }

  &[type="checkbox"] {
    outline: unset !important;
    border: unset !important;
    box-shadow: unset !important;
  }
}

@mixin f2-tooltip {
  @include f2-app;
  background: var(--app-background);
  border: 1px solid var(--color-warm-1);
  box-shadow: 0px 0px 6px var(--color-warm-2), 0px 2px 8px 1px var(--color-warm-3);
  backdrop-filter: blur(5px);
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: blur(5px);
  text-shadow: 0px 1px 2px black;
}
