@import "mixins";

.chat-bubble {
    @include sheet;
}
.chat-bubble .bubble-content {
    position: relative;
    top: 0;
}
.chat-bubble.left {
    border-radius: 5px;
}
.chat-bubble.right {
    border-radius: 5px;
}
.chat-bubble.emote {
    @include sheet;
    background-image: var(--sheet-dark);
    color: var(--color-text-light-heading);
    font-style: italic;
}
.chat-bubble.chatter {
    @include glass;
    border-radius: 5px;
    color: var(--color-text-light-heading);
}