@use "sass:color";
@import "colors";
@import "mixins";

/* ----------------------------------------- */
/* Monarch                                   */
/* ----------------------------------------- */

.window-app.monarch .window-content {
    box-shadow: none;
    background: none;
}

.window-app.monarch-hand:not(.minimized).no-fade.trans,
.window-app.monarch-hand:not(.minimized):hover.trans {
    @include glass;
    backdrop-filter: blur(5px);
}

.window-app.monarch-hand .window-header,
.monarch-hand footer.sheet-footer {
    @include glass;
}

.monarch .card-hud .controls a i {
    color: var(--color-text-light-heading);
}

.monarch input[type=text], .monarch input[type=number], .monarch input[type=password], .monarch input[type=date], .monarch input[type=time] {
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: var(--color-text-light-heading);
}

.monarch-hand footer.sheet-footer {
    margin: 2px 10px;

    button {
        @include glass;
        @include quick-transition;
        color: var(--color-text-light-heading);
        text-shadow: 0px 0px 3px black;

        &:hover {
            color: var(--color-text-light-highlight);
            background-color: var(--primary);
        }
    }
}

.monarch .card-hud .badge,
.monarch .card-hud .card-controls {
    @include glass;
}

.monarch-hand .tooltip {
    @include glass;
    backdrop-filter: blur(5px);
}

/* ----------------------------------------- */
/* DF Chat Enhancements                      */
/* ----------------------------------------- */

.message.chat-message.dark-theme {
    &.dfce-cm-middle .message-delete, 
    &.dfce-cm-bottom .message-delete {
        color: white;
        top: 5px;
        text-shadow: 0px 0px 1px black;
    }
}


.message.chat-message {
    .message-delete {
        z-index: 1;
    }
    
    &.dfce-cm-top {
        border-bottom-style: none;
        margin-bottom: 0px;
        padding-bottom: 5px;
        &:hover {
            box-shadow: var(--gold-and-glow);
        }
    }

    &.dfce-cm-middle,
    &.dfce-cm-bottom {
        border-top-style: none;
        border-bottom-style: none;
        border-radius: 0px;

        &:hover {
            box-shadow: var(--gold-and-glow);
        }
        .message-content {
            padding-right: 0px;
        }

        .sender-wrapper,
        .portrait-and-name {
            display: none;
        }

        .message-header {
            background: transparent;
            box-shadow: none;
            text-shadow: 0px 0px 1px white;
            margin: 0px;
            padding: 0px;
            padding-right: 5px;
            color: var(--color-text-dark-primary);;        
        }
        .header-meta {
            display: none;
        }
    }

    &.dfce-cm-middle {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }

    &.dfce-cm-bottom {
        margin-top: 0px;
        border-radius: 0px 0px 5px 5px;
    }
}

div#scrollToBottom {
    @include quick-transition;
    @include glass;
    background-color: #ECBF41;
    color: black;
    margin-left: 6px;
    margin-right: 7px;
    top: -27px;
    z-index: 1;
    &:hover {
        background-color: lighten(#ECBF41, 10);
    }
}

#dfcp-rt-buttons {
    gap: 3px;
    button {
        @include glass;
        @include quick-transition;
        color: var(--color-text-light-heading);

        &:hover {
            color: var(--color-text-light-highlight);
        }

        &.active i {
            text-shadow: 0px 0px 3px black;
            color: var(--color-text-light-highlight);
        }
    }
}

#chat-controls {
    padding: 0px;
}

/* ----------------------------------------- */
/* Polyglot                                  */
/* ----------------------------------------- */

#polyglot {
    flex-basis: 20px;
    label {
        display: none;
    }
}

/* ----------------------------------------- */
/* Ripper's Filepicker+                      */
/* ----------------------------------------- */

.filepicker-plus-tooltip {
    @include glass; 
    border: none;
    backdrop-filter: blur(5px);
}

/* ----------------------------------------- */
/* Combat Carousel                           */
/* ----------------------------------------- */

// Needs to be marked as relative for the small caret to be positioned correctly when compact UI is enabled.
#controls ol li.scene-control[data-control="combat-carousel"] {
    position: relative;
}

/* ----------------------------------------- */
/* Speaking As                               */
/* ----------------------------------------- */

div.speaking-as--currentSpeaker+#chat-controls {
    padding: 0px;
}

.speaking-as--currentSpeaker {
    @include glass;
    padding-left: 5px;
    margin: 0px 6px;
}

.speaking-as--currentSpeaker--button {
    cursor: pointer;
    &:hover {
        color: var(--color-text-light-highlight);
    }
}

/* ----------------------------------------- */
/* PF2e Target Damage                        */
/* ----------------------------------------- */

.dark-theme #target-damage-target-name {
    color: var(--color-text-light-heading);
}

#target-damage-chat-window [data-visibility]:is(div, em, h4, p, span, strong):not([data-visibility=all])[data-visibility=gm] {
    background-color: transparent;
}

#target-damage-chat-window {
    border: none;
    margin: 0px;
    padding: 0px;
}

#target-damage-chat-window:empty {
    display:none;
}

.hidden #target-damage-hide-button {
    left: 0px;
    top: 2px;
    margin: 0px;
    padding: 0px;
    height: 14px;
    width: 14px;
}

.damage-application.hidden.right {
    padding: 0px;
}

.hidden.right #target-damage-hide-button {
    left: 0px;
    top: 2px;
    margin: 0px;
    padding: 0px;
    height: 14px;
    width: 14px;
}

/* ----------------------------------------- */
/* Dice Tray                                 */
/* ----------------------------------------- */

.dice-tray {
    display: flex;
    flex-direction: column;
    gap: 5px;

    button {
        @include glass;
        @include quick-transition;
    }
     .flexrow {
        margin-left: 6px;
        margin-right: 6px;
        gap: 5px;
     }
     > * {
        margin: 0px;
     }
}

/* ----------------------------------------- */
/* Damage Log                                */
/* ----------------------------------------- */

nav.damage-log-nav.tabs {
    flex: 0;
    margin: 0px 2px;
    box-shadow: none;
    border: none;

    .item {
        @include quick-transition;
        margin: 2px;
        color: white;
        border-radius: 3px;
        margin: 2px;
        border: none;
    
        &:hover {
            box-shadow: var(--gold-and-glow);
            background-color: var(--secondary);
            text-shadow: 0px 0px 3px black;
            border: none;
            border-radius: 3px;
        }
    
        &.active {
            box-shadow: var(--gold-and-glow);
            background-color: var(--secondary-light);
            text-shadow: 0px 0px 3px black;
            border: none;
            border-radius: 3px;
        }
    }
}

/* ----------------------------------------- */
/* Enhanced Terrain Layer                    */
/* ----------------------------------------- */

#controls ol.control-tools#terrainlayer-tools {
    margin-top: 44px;

    .control-tool {
        @include quick-transition;
        @include glass;
        &:not(#tl-defaultcost):hover {
            background-color: rgba(177, 177, 177, 0.5);
            color: black;
            button.control-btn {
                &:hover {
                    border-radius: 3px;
                    color: black;
                    text-shadow: 0 0 3px var(--color-text-light-highlight);
                    box-shadow: none;
                }
            }
        }
    }
}

/* ----------------------------------------- */
/* Monk's tokenbar                           */
/* ----------------------------------------- */

#tokenbar {
    gap: 3px;
    
    .token-list {
        gap: 5px;
        border: none;
    }

    .bar-controls {
        @include glass;
        div#tokenbar-move-handle {
            @include glass;
            border-radius: 5px 0px 0px 5px;
            margin-right: 2px;
        }
    }
    .token {
        @include glass;
        @include quick-transition;
        .token-stats {
            background: none;
            text-shadow: 0px 0px 3px black;
        }
        &:hover {
            background-color: var(--primary);
            .token-icon {
                // box-shadow: 0px 0px 10px rgba(220, 200, 100, 0.5) inset, var(--glassy);
                box-shadow: none;
                filter: drop-shadow(0px 0px 5px var(--tertiary));
            }
        }

        .token-icon {
            box-shadow: none;
            border-radius: 3px;
        }
        .tooltip {
            @include glass;
            backdrop-filter: blur(5px);
        }
    }
}

.monks-tokenbar.chat-card .card-header h3:hover {
    text-shadow: unset;
}

#tokenbar .bar-controls .tokenbar-buttons div.active:not(.disabled) i, 
#tokenbar[movement="free"] #movement-free:not(.disabled) i, 
#tokenbar[movement="none"] #movement-none:not(.disabled) i, 
#tokenbar[movement="combat"] #movement-combat:not(.disabled) i {
    @include quick-transition;
    border: none;
    margin: 2px;
    box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px var(--gold-brown);
    border-radius: 3px;
    text-shadow: 0px 0px 3px black;
    background-color: var(--primary-light);
    color: var(--color-text-light-highlight);
}

#tokenbar:not(.hidectrl) .bar-controls .tokenbar-buttons div.active:not(.disabled):hover i,
#tokenbar[movement="free"]:not(.hidectrl) #movement-free:not(.disabled):hover i,
#tokenbar[movement="none"]:not(.hidectrl) #movement-none:not(.disabled):hover i,
#tokenbar[movement="combat"]:not(.hidectrl) #movement-combat:not(.disabled):hover i {
    color: var(--color-text-light-highlight);
}

.dark-theme .monks-tokenbar .sheet .items-list .item .item-name,
.dark-theme .monks-tokenbar .sheet .items-list,
.dark-theme .monks-tokenbar.chat-card .card-header h3,
.dark-theme .monks-tokenbar .sheet .items-list .items-header h3 {
    color: var(--color-text-light-1);
    font-family: unset;
}

.dark-theme {
    .monks-tokenbar.chat-card {
        .card-header {
            border: none;
        }
        .card-footer {
            border: none;

            .flexrow {
                gap: 5px;
                .footer-button {
                    @include glass;
                    @include quick-transition;
                    color: var(--color-text-light-heading);
                    text-shadow: 0px 0px 3px black;
                    
                    &:hover {
                        color: var(--color-text-light-highlight);
                        background-color: var(--primary);
                    }
                }
            }
        }
    }
}
/* ----------------------------------------- */
/* Monk's little details                     */
/* ----------------------------------------- */

#token-hud.placeable-hud.monks-little-details .status-effects {
    grid-template-columns: 90px 90px 90px 90px !important;
    background: none;

    .effect-control {
        border: none;
        opacity: 1;

        &.active {
            border: none;
            opacity: 1;
        }
    }

    .effect-name {
        padding-right: 4px;
        font-size: var(--font-size-12);
    }
}

/* ----------------------------------------- */
/* Monk's hotbar expansion                   */
/* ----------------------------------------- */

#hotbar .action-bar.no-arrows+.bar-controls span.page-number,
#hotbar .hotbar-page .hotbar-page-row .bar-controls span.page-number,
#hotbar .hotbar-page .hotbar-page-row .bar-controls i {
    line-height: 52px;
}

#hotbar .hotbar-page .hotbar-page-row.selected .bar-controls .page-number {
    color: var(--tertiary-dark);
}

[data-tooltip="MonksHotbarExpansion.clear-row"] {
    @include quick-transition;
    &:hover {
        i {
            text-shadow: 0 0 8px var(--color-shadow-primary);
        }
    }
}

.hotbar-page .page-number{
    @include quick-transition;
    &:hover {
        text-shadow: 0 0 8px var(--color-shadow-primary);
    }
}
#hotbar {
    width: 647px;

    .hotbar-page {
        overflow: visible;
        gap: 4px;
        bottom: 56px;

        .macro-list {
            gap: 7px;
            border: none;
        }

        .action-bar {
            margin: 0px 5px 0px 3px;
        }
    }
}

/* ----------------------------------------- */
/* Custom Hotbar                             */
/* ----------------------------------------- */
:root {
    --custom-hotbar-chb-macro-size: 52px;
}

// Custom hotbar introduces a 'hotbars' div, and restyles the core hotbar div
#ui-bottom #hotbars {
    display: flex;
    flex-direction: column;
    gap: 5px;

    #hotbar {
        position: unset;
    }
}

#custom-hotbar {
    position: static;
    height: auto;
    margin-bottom: 0px;
}

@media (max-width: 1120px) {
    #custom-hotbar {
        width: 354px;
    }
}

#custom-hotbar #custom-action-bar {
    margin-left: 3px;
}

#custom-hotbar #custom-macro-list {
    gap: 5px;
    border: none;
}

#custom-hotbar .bar-controls {
    @include glass;
    height: auto;
}

#custom-hotbar .macro {
    @include glass;
    @include quick-transition;
    border-radius: 3px;

    &.active:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 10px rgba(220, 200, 100, 0.5) inset, var(--glassy);
        border-radius: 3px;
        overflow: hidden;
        pointer-events: none;
    }

    &:hover {
        background-color: var(--primary-light);
    }

    &.inactive {
        box-shadow: var(--glassy);
    }

    &.active:hover {
        box-shadow: var(--glassy);
        border: none;
        background-color: var(--primary);
    }
    .macro-key {
        background: none;
        right: 6px;
        padding: 0px;
        font-weight: initial;
        text-shadow: 0px 1px 5px black, 0px 1px 5px black;
    }
}


/* ----------------------------------------- */
/* Token Action HUD                          */
/* ----------------------------------------- */
#tah-categories {
    gap: 5px;
}

#token-action-hud {
    gap: 5px;
}

#tah-expand-hud {
    width: 32px;
    height: 32px;
}

#tah-expand-hud, .tah-title-button {
    @include quick-transition;
    color: var(--color-text-light-heading);
    padding: 3px 5px 3px 5px;
    &:hover {
        color: var(--color-text-light-highlight);
    }
}

.tah-category.hover {
    button.tah-title-button {
        background-color: var(--primary);
        color: var(--color-text-light-highlight);
    }
}

.tah-subtitle {
    width: 174px;
}

.tah-action button {
    @include quick-transition;
    color: var(--color-text-light-heading);

    &.toggle {
        background-color: var(--secondary-dark);
    }
    &:hover {
        color: var(--color-text-light-highlight);
    }
    &.active {
        color: white;
    }
}

/* ----------------------------------------- */
/* PF2e Dorako UI                            */
/* ----------------------------------------- */

#fps {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;

    label {
        display: none;
    }
}

#ui-bottom.centered {
    display: flex;
    justify-content: center;
}

#players h3 {
    border: none;
}

.chat-message {
    .dorako-header {
        padding-bottom: 5px;
        box-shadow: var(--gold-and-glow);
        background: var(--sheet-light);
        background-size: cover;
    }
}

.combat-sidebar li.combatant .token-image {
    z-index: 0;
}

.combat-sidebar li.combatant .token-name {
    z-index: 1;
}

.chat-message {
    .flavor-text {
        h4.action {
            font-weight: 700;
            line-height: 1.5em;
            margin: 0;
        }

        .target-dc-result {
            line-height: 0.75rem;
            margin-bottom: 4px;

            .target-dc, .result {
                display: block;
                margin: 1px 0;
                width: fit-content;
            }

            .unadjusted {
                text-decoration: line-through;
            }

            .adjusted {
                text-decoration: underline dotted;
                &.increased {
                    color: $degree-success-critical;
                }
                &.decreased {
                    color: $degree-failure-critical;
                }
            }

            .degree-of-success {
                .criticalSuccess {
                    color: $degree-success-critical;
                }
                .success {
                    color: $degree-success;
                }
                .failure {
                    color: $degree-failure;
                }
                .criticalFailure {
                    color: $degree-failure-critical;
                }
            }
        }
    }

    > .message-content .message-buttons {
        display: flex;
        margin: 0.35em 0 2px;
        gap: 3px;
    }
}

.dark-theme.chat-message {
    .flavor-text {
        .target-dc-result {
            .adjusted {
                &.increased {
                    $color: $degree-success-critical;
                    $adjustment: +12.5%;
                    color: color.adjust($color, $lightness: $adjustment);
                }
                &.decreased {
                    $color: $degree-failure-critical;
                    $adjustment: +12.5%;
                    color: color.adjust($color, $lightness: $adjustment);
                }
            }

            .degree-of-success {
                .criticalSuccess {
                    $color: $degree-success-critical;
                    $adjustment: +12.5%;
                    color: color.adjust($color, $lightness: $adjustment);

                }
                .success {
                    $color: $degree-success;
                    $adjustment: +12.5%;
                    color: color.adjust($color, $lightness: $adjustment);

                }
                .failure {
                    $color: $degree-failure;
                    $adjustment: +12.5%;
                    color: color.adjust($color, $lightness: $adjustment);

                }
                .criticalFailure {
                    $color: $degree-failure-critical;
                    $adjustment: +12.5%;
                    color: color.adjust($color, $lightness: $adjustment);
                }
            }
        }
    }
    > .message-content .message-buttons {
        gap: 5px;

        button {
            @include glass;
            @include quick-transition;

            text-shadow: var(--dorako-text-shadow);

            &:hover {
                background-color: var(--primary);
                color: var(--color-text-light-highlight);
            }

            &.critical-success:hover {
                    background-color: var(--primary-light);
                    color: white;    
            }

        }
    }
}

// This actually looks better just gone, regardles of dorako-header
// .chat-message>.message-header.dorako-header {
//     margin-bottom: 0px;
// }

.chat-message>.message-header {
    margin-bottom: 0px;
}

.dorako-damage-roll .flavor-text>*:nth-child(-n+3) {
    display: none;
}