@use "sass:color";
@import "colors";
@import "mixins";

/* ----------------------------------------- */
/* Glassy Buttons                            */
/* ----------------------------------------- */
.dark-theme.message.chat-message {
    .dice-roll .dice-formula, 
    .dice-roll .dice-total {
        @include glass;
    }

    .dice-roll .dice-result {
        .statuseffect-rules {
            background: var(--sheet-dark);
            background-size: cover;
        }
    }

    .pf2e.chat-card .card-buttons {
        margin: 0px;
        margin-top: 5px;

        button.with-image {
            @include glass;
            text-shadow: var(--dorako-text-shadow);
            background: var(--primary);
            color: var(--color-text-light-highlight);

            &:hover {
                color: white;
                background: var(--primary-light);
            }

            img {
                @include gold-border;
                border-radius: 3px;
                height: 1.2em;
            }
        }

        .spell-button button {
            @include glass;
            text-shadow: var(--dorako-text-shadow);
            background: var(--primary);
            color: var(--color-text-light-highlight);

            &:hover {
                color: white;
                background: var(--primary-light);
            }
        }
        .hidden-to-others {
            @include glass;
            text-shadow: var(--dorako-text-shadow);
            background: var(--secondary);
            color: var(--color-text-light-highlight);

            &:hover {
                color: white;
                background: var(--secondary-light);
            }
        }

        .spell-attack-buttons {
            gap: 5px;

            button {
                @include glass;
                @include quick-transition;
                text-shadow: var(--dorako-text-shadow);
                background: var(--secondary-dark);
                color: var(--color-text-light-highlight);

                &:hover {
                    color: white;
                    background: var(--secondary-light);
                }
            }

            button:first-child {
                background: var(--secondary);
                color: var(--color-text-light-highlight);

                &:hover {
                    color: white;
                    background: var(--secondary-light);
                }
            }
        }
    }
}


/* ----------------------------------------- */
/* Damage buttons                            */
/* ----------------------------------------- */

.dark-theme.message {
    .message-content {
        .damage-application {
            gap: 5px;
            margin-top: 5px;
            text-rendering: geometricPrecision;

            button {
                @include glass;
                @include quick-transition;
                text-shadow: var(--dorako-text-shadow);

                img {
                    filter: invert(1) brightness(0.8) sepia(1) grayscale(0.8) drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
                }


                &:hover {
                    color: white;
                    background-color: var(--primary-light);   
                    border: none; 
                    img {
                        filter: invert(1) drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
                    }
                    &.half-damage .fa-heart-broken::after {
                        color: hsla(0, 0%, 0%, 0.5);
                        text-shadow: none;
                    }
                }

                &.half-damage .fa-heart-broken::after {
                    color: hsla(0, 0%, 0%, 0.5);
                    text-shadow: none;
                }

                &.shield-block {
                    &:hover {
                        background-color: var(--secondary-light);
                        border: none;
                    }
                    &.shield-activated {
                        background-color: var(--secondary-light);
                        border: none;
                        &:hover {
                            background-color: var(--secondary-dark);
                            border: none;
                        }
                    }
                }

                &.heal-damage {
                    .fa-stack i.fa-plus {
                        color: hsla(0deg, 0%, 0%, 0.5);
                        text-shadow: none;
                    }

                    &:hover {
                        background-color: green;
                        border: none;

                        .fa-stack i.fa-plus {
                            color: green;
                            text-shadow: none;
                        }    
                    }
                }
            }
        }
    }
}


/* ----------------------------------------- */
/* Chat card                                 */
/* ----------------------------------------- */
.message.chat-message {
    &.dark-theme {
        background: var(--sheet-dark);
        background-size: cover;
        color: var(--color-text-light-1);

        &.whisper {
            background-color: var(--whisper-bg);
            background-blend-mode: luminosity;
        }
        
        &.blind {
            background-color: var(--blind-bg);
            background-blend-mode: luminosity;
        }

        .tags .tag_transparent {
            box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
        }
        [data-visibility]:not([data-visibility=all])[data-visibility=gm] {
            background: #f5eaf522; // blind
        }

        span[data-pf2-check][data-pf2-traits*=secret] {
            background: #f3ddf3; // More saturated, since the default pink doesn't look as colorful on a dark background
        }

        .message-content {  
            .pf2e-pd-card {
                // margin-top: 5px;
                margin-top: 5px;

                .apply-condition {
                    margin-top: 0px;
                    // margin-top: 5px;
                }
                
                button {
                    @include quick-transition;
                    @include glass;

                    text-shadow: var(--dorako-text-shadow);

                    &:hover {
                        background-color: var(--primary-light);
                        color: var(--color-text-light-highlight);
                    }
                }

                > div:not(.card-buttons) {
                    margin-bottom: 5px;
                }

                .flat-check-failure {
                    text-rendering: optimizeLegibility;
                    background-color: #ff4500;
                    border-radius: 2px;
                    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
                    color: white;
                    font-family: var(--sans-serif);
                    font-size: 10px;
                    font-weight: 500;
                    letter-spacing: .05em;
                    line-height: 1;
                    padding: 3px 4px;
                    text-transform: uppercase;
                }
                .flat-check-success {
                    text-rendering: optimizeLegibility;
                    background-color: blue;
                    border-radius: 2px;
                    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
                    color: white;
                    font-family: var(--sans-serif);
                    font-size: 10px;
                    font-weight: 500;
                    letter-spacing: .05em;
                    line-height: 1;
                    padding: 3px 4px;
                    text-transform: uppercase;
                }
            }
        }

        .pf2e.chat-card  {
            .card-header {            
                h4 {
                    s {
                        color: gray;
                    }
                    span.heightened {
                        color: green;
                    }
                }
            }
        
            .card-content {
                border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                 
                hr {
                    margin: 0px -10px;
                    border-color: wheat;
                    border-bottom: none;
                }
            }
        }
    }
}


/* ----------------------------------------- */
/* Damage types                              */
/* ----------------------------------------- */
.message.dark-theme {

    .message-content .damage-roll .dice-result .dice-tooltip .instance .dice .part-formula, 
    .message-content .damage-roll .dice-result .dice-tooltip .instance .dice .part-total {
        color: var(--color-text-light-5);
    }

    .dice-tooltip .part-header {
        border-bottom: 1px solid var(--color-text-dark-3);

        .part-total {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid var(--color-text-dark-3);
        }
    }

    .message-content .damage-roll {
        .dice-result {
            .instance {
                $adjustment: -12.5%;
                $physical: #acacac;
                $transparent: 0.125;
                white-space: nowrap;
    
                &.acid {
                    $color: #007300;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.bleed {
                    $color: #99001a;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.bludgeoning {
                    $color: $physical;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.chaotic {
                    $color: #a600a6;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.cold {
                    $color: #2f2fa6;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.electricity {
                    $color: darkgoldenrod;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.evil {
                    $color: rgb(97, 31, 144);
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                        text-shadow: 0px 0px 8px rgb(0 0 0 / 50%), 0px 0px 3px rgb(0 0 0 / 80%);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.fire {
                    $color: #a62f00;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.force {
                    $color: #4be3fa;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.good {
                    $color: #9d730a;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.lawful {
                    $color: #683e00;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                        text-shadow: 0px 0px 8px rgb(0 0 0 / 50%), 0px 0px 3px rgb(0 0 0 / 80%);
                    }
    
                    .icon {
                        color: $color;
                    }
    
                }
    
                &.mental {
                    $color: rgb(44, 61, 153);
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                        text-shadow: 0px 0px 8px rgb(0 0 0 / 50%), 0px 0px 3px rgb(0 0 0 / 80%);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.negative {
                    $color: #333344;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: $color;
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                        text-shadow: 0px 0px 8px rgb(0 0 0 / 50%), 0px 0px 3px rgb(0 0 0 / 80%);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.piercing {
                    $color: $physical;
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.poison {
                    $color: #5b7332;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.positive {
                    $color: #ffffe0;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                        text-shadow: 1px 1px rgba(black, 0.60);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.slashing {
                    $color: $physical;
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                &.sonic {
                    $color: darkcyan;
                    $color: color.adjust($color, $lightness: -$adjustment);
                    border-color: $color;
                    color: color.adjust($color, $lightness: $adjustment);
    
                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($color, $transparent);
                    }
    
                    .icon {
                        color: $color;
                    }
                }
    
                .splash {
                    border-color: inherit;
                    border-width: 1px;
                    border-style: dotted;
                    padding: 1px 2px;
                    line-height: 0;
                }
            }
        }
    }
}