/* ----------------------------------------- */
/* PF2e Dorako UI                            */
/* ----------------------------------------- */

section.readaloud {
  border-image-repeat: repeat;
  border-image-slice: 11;
  border-image-source: var(--ornamentation);
  border-image-width: 14px;
  border-style: double;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  margin: 0px;
  margin-left: 5px;

  background: none;
  background-color: var(--bg);
  &:before,
  &:after {
    background: none;
  }
}

.dorako-ui.chat-message {
  .message-header.dorako-header {
    padding-bottom: 5px;
    box-shadow: var(--gold-and-glow);
    background: var(--sheet-light);
    background-size: cover;
    background-color: var(--header-color);
  }
}

.combat-sidebar li.combatant .token-image {
  z-index: 0;
}

.combat-sidebar li.combatant .token-name {
  z-index: 1;
}

.chat-message .message-content .damage-roll:not(:first-child) {
  margin-top: 5px;
}

a.content-link,
[data-pf2-check],
a.entity-link,
[data-pf2-action],
span[data-pf2-effect-area],
a.inline-check .label,
a.inline-roll:not(.inline-result) {
  font-weight: 400;
  padding: 0px 4px;
  text-shadow: none !important;
}

.dorako-ui.dark-theme {
  a.content-link,
  [data-pf2-check],
  a.entity-link,
  [data-pf2-action],
  span[data-pf2-effect-area],
  a.inline-check .label,
  a.inline-roll:not(.inline-result) {
    color: black;
  }
}

// Undoes padding 1px 4px by system, which adds whitespace to the right of the repost button, and causes it to hover 1px
a.inline-check,
span[data-pf2-check],
span[data-pf2-effect-area].with-repost {
  padding: 0px;
  padding-left: 4px;
}

.dorako-ui.message.chat-message.dark-theme a.inline-roll {
  color: black;
}

i[data-pf2-repost] {
  top: 0px;
  cursor: pointer;
}

.tah-tags-wrapper .tags,
[data-dorako-ui-theme] .tags,
[data-dorako-ui-scope="limited"] .tags,
[data-dorako-ui-theme] .tags.paizo-style,
[data-dorako-ui-scope="limited"] .tags.paizo-style,
.dorako-ui .message-content .tags,
.dorako-ui .tags.paizo-style,
.dorako-ui .tags {
  gap: 1px;

  .tag {
    // height: auto;
  }

  tag,
  .tag:not(.tag_transparent) {
    border-radius: 0px;
    box-shadow: unset;
    border: 1px solid var(--tertiary);
    outline: 1px solid var(--gold-brown);
    padding: 0.33em 0.33em;
    text-shadow: none;
  }

  tag:first-of-type,
  .tag:first-child {
    border-left-width: 1px;
  }

  tag:last-of-type,
  .tag:last-child {
    border-right-width: 1px;
  }
}

// Fixes issue where hidden DC is too 'tall'
[data-visibility]:not([data-visibility="all"]) {
  padding: unset;
}

.dorako-ui.dark-theme {
  a.content-link.broken {
    background: rgba(255, 0, 0, 0.5);
    color: white;
  }
}

// system uses 500, which makes it hard to tell whether something is bolded
.app.sheet.actor p,
.pf2e p {
  font-weight: 400;
}

/* ----------------------------------------- */
/* .message-header fixes (all themes)        */
/* ----------------------------------------- */

.chat-message .dmgBtn-container {
  display: flex;
  flex-direction: row;
}

// .chat-message ul.notes {
//   padding: 0px;
// }

/* ----------------------------------------- */
/* Settings                                  */
/* ----------------------------------------- */

[data-dorako-ui-theme] {
  .tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  .tab.category.active[data-tab="pf2e-dorako-ui"] h2,
  .form-group.dorako.settings-header {
    @include f2-app;
    font-size: larger;
    margin: 2px;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--color-light-2);
    border-color: var(--color-cool-2);
    background: var(--color-cool-3);
    --box-shadow: 0px 1px 3px 1px black;
    box-shadow: var(--box-shadow);
    .notes {
      color: var(--color-light-3);
    }
  }

  .tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  .tab.category.active[data-tab="pf2e-dorako-ui"] h2 {
    font-size: var(--font-size-48);
    text-align: center;
    color: var(--color-light-2);
    background: var(--color-warm-2);
    border-color: var(--color-warm-1);
    text-shadow: 0px 1px 0px var(--color-warm-3);
  }
}
