/* ----------------------------------------- */
/* PF2e Dorako UI                            */
/* ----------------------------------------- */

section.readaloud {
  border-image-repeat: repeat;
  border-image-slice: 11;
  border-image-source: var(--ornamentation);
  border-image-width: 14px;
  border-style: double;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  margin: 0px;
  margin-left: 5px;

  background: none;
  background-color: var(--bg);
  &:before,
  &:after {
    background: none;
  }
}

#fps {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;

  label {
    display: none;
  }
}

#ui-bottom.centered {
  display: flex;
  justify-content: center;
}

#players.dorako-ui h3 {
  border: none;
}

.dorako-ui.chat-message {
  .message-header.dorako-header {
    padding-bottom: 5px;
    box-shadow: var(--gold-and-glow);
    background: var(--sheet-light);
    background-size: cover;
    background-color: var(--header-color);
  }
}

.combat-sidebar li.combatant .token-image {
  z-index: 0;
}

.combat-sidebar li.combatant .token-name {
  z-index: 1;
}

.chat-message .message-content .damage-roll:not(:first-child) {
  margin-top: 5px;
}

a.content-link,
[data-pf2-check],
a.entity-link,
[data-pf2-action],
span[data-pf2-effect-area],
a.inline-check .label,
a.inline-roll:not(.inline-result) {
  font-weight: 400;
  padding: 0px 4px;
  text-shadow: none !important;
}

.dorako-ui.dark-theme {
  a.content-link,
  [data-pf2-check],
  a.entity-link,
  [data-pf2-action],
  span[data-pf2-effect-area],
  a.inline-check .label,
  a.inline-roll:not(.inline-result) {
    color: black;
  }
}

// Undoes padding 1px 4px by system, which adds whitespace to the right of the repost button, and causes it to hover 1px
a.inline-check,
span[data-pf2-check],
span[data-pf2-effect-area].with-repost {
  padding: 0px;
  padding-left: 4px;
}

.dorako-ui.message.chat-message.dark-theme a.inline-roll {
  color: black;
}

i[data-pf2-repost] {
  top: 0px;
  cursor: pointer;
}

.tah-tags-wrapper .tags,
[data-dorako-ui-theme] .tags,
[data-dorako-ui-scope="limited"] .tags,
[data-dorako-ui-theme] .tags.paizo-style,
[data-dorako-ui-scope="limited"] .tags.paizo-style,
.dorako-ui .message-content .tags,
.dorako-ui .tags.paizo-style,
.dorako-ui .tags {
  gap: 1px;

  .tag {
    // height: auto;
  }

  tag,
  .tag:not(.tag_transparent) {
    border-radius: 0px;
    box-shadow: unset;
    border: 1px solid var(--tertiary);
    outline: 1px solid var(--gold-brown);
    padding: 0.33em 0.33em;
    text-shadow: none;
  }

  tag:first-of-type,
  .tag:first-child {
    border-left-width: 1px;
  }

  tag:last-of-type,
  .tag:last-child {
    border-right-width: 1px;
  }
}

// Fixes issue where hidden DC is too 'tall'
[data-visibility]:not([data-visibility="all"]) {
  padding: unset;
}

.dorako-ui.dark-theme {
  a.content-link.broken {
    background: rgba(255, 0, 0, 0.5);
    color: white;
  }
}

// ugly hack
.pf2e-av .journal-page-content a.inline-check > i.icon,
.pf2e-av .journal-page-content span[data-pf2-check] > i.icon,
.pf2e-av .journal-page-content [data-pf2-repost] .label,
.pf2e-av .journal-page-content [data-pf2-check] .label,
.pf2e-av .journal-page-content [data-pf2-check]:not([data-pf2-show-dc="gm"]) .label {
  color: var(--av-green-light);
}

// system uses 500, which makes it hard to tell whether something is bolded
.app.sheet.actor p,
.pf2e p {
  font-weight: 400;
}

/* ----------------------------------------- */
/* .message-header fixes (all themes)        */
/* ----------------------------------------- */

.chat-message .dmgBtn-container {
  display: flex;
  flex-direction: row;
}

.chat-message ul.notes {
  padding: 0px;
}

.chat-message .flavor-text h4.action {
  font-weight: 700;
  line-height: 1.5em;
  margin: 0;
}
.chat-message .flavor-text .target-dc-result {
  line-height: 0.75rem;
  margin-bottom: 4px;
}
.chat-message .flavor-text .target-dc-result .target-dc,
.chat-message .flavor-text .target-dc-result .result {
  display: block;
  margin: 1px 0;
  width: fit-content;
}
.chat-message .flavor-text .target-dc-result .unadjusted {
  text-decoration: line-through;
}
.chat-message .flavor-text .target-dc-result .adjusted {
  text-decoration: underline dotted;
}
.chat-message .flavor-text .target-dc-result .adjusted.increased {
  color: var(--adjusted-higher);
}
.chat-message .flavor-text .target-dc-result .adjusted.decreased {
  color: var(--adjusted-lower);
}
.chat-message .flavor-text .target-dc-result .degree-of-success .criticalSuccess {
  color: var(--degree-success-critical);
}
.chat-message .flavor-text .target-dc-result .degree-of-success .success {
  color: var(--degree-success);
}
.chat-message .flavor-text .target-dc-result .degree-of-success .failure {
  color: var(--degree-failure);
}
.chat-message .flavor-text .target-dc-result .degree-of-success .criticalFailure {
  color: var(--degree-failure-critical);
}
.chat-message .flavor-text .effect {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.chat-message .flavor-text .effect img {
  height: 32px;
  width: 32px;
}

.chat-message {
  .flavor-text {
    h4.action {
      font-weight: 700;
      line-height: 1.5em;
      margin: 0;
    }

    .target-dc-result {
      line-height: 0.75rem;
      margin-bottom: 4px;

      .target-dc,
      .result {
        display: block;
        margin: 1px 0;
        width: fit-content;
      }

      .unadjusted {
        text-decoration: line-through;
      }

      .adjusted {
        text-decoration: underline dotted;
      }
    }
  }

  > .message-content .message-buttons {
    display: flex;
    margin: 0.35em 0 2px;
    gap: 3px;
  }
}

.dorako-ui.dark-theme.chat-message {
  .flavor-text {
    .target-dc-result {
      .adjusted {
        &.increased {
          $color: $degree-success-critical;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
        &.decreased {
          $color: $degree-failure-critical;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
      }

      .degree-of-success {
        .criticalSuccess {
          $color: $degree-success-critical;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
        .success {
          $color: $degree-success;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
        .failure {
          $color: $degree-failure;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
        .criticalFailure {
          $color: $degree-failure-critical;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
      }
    }
  }
  > .message-content .message-buttons {
    gap: 5px;

    button {
      @include glass;
      @include quick-transition;
      color: var(--color-text-light-heading);
      text-shadow: 0px 0px 3px black;

      &:hover {
        background-color: var(--primary);
        color: var(--color-text-light-highlight);
      }

      &.critical-success:hover {
        background-color: var(--primary-light);
        color: white;
      }
    }
  }
}

.frosted-glass {
  #hotbar .bar-controls,
  #hotbar .macro,
  nav#navigation ol#scene-list li.nav-item,
  nav#controls ol.control-tools li.control-tool,
  nav#controls ol.control-tools li.scene-control,
  #tah-expand-hud,
  .tah-title-button,
  .tah-action button,
  #tokenbar .token,
  #tokenbar .bar-controls,
  #players,
  nav#navigation #nav-toggle,
  #fps,
  .app {
    backdrop-filter: var(--frosted-glass);
  }
  #navigation,
  .control-tools {
    backdrop-filter: unset;
  }
}

/* ----------------------------------------- */
/* Settings                                  */
/* ----------------------------------------- */

.dorako-ui {
  .tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  .tab.category.active[data-tab="pf2e-dorako-ui"] h2,
  .form-group.dorako.settings-header {
    font-size: larger;
    background-color: var(--bg);
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    border: 1px solid var(--color-border-light-primary);
    border-radius: 3px;
    margin: 2px;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--secondary-light);
    // text-shadow: 0px 0px 10px var(--secondary-light);
  }

  .tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  .tab.category.active[data-tab="pf2e-dorako-ui"] h2 {
    font-size: var(--font-size-48);
    text-align: center;
    color: var(--primary-light);
    text-shadow: 0px 1px 0px var(--primary);
  }
}

.dorako-ui.dark-theme {
  .tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  .tab.category.active[data-tab="pf2e-dorako-ui"] h2,
  .form-group.dorako.settings-header {
    @include glass;
    background: var(--glass-bg-light);
    margin-bottom: 10px;
    padding: 10px;
    color: var(--tertiary);
    text-shadow: 0px 0px 3px black;
  }
  .tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  .tab.category.active[data-tab="pf2e-dorako-ui"] h2 {
    color: var(--tertiary-dark);
  }
}

[data-dorako-ui-theme] {
  .tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  .tab.category.active[data-tab="pf2e-dorako-ui"] h2,
  .form-group.dorako.settings-header {
    @include f2-app;
    font-size: larger;
    margin: 2px;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--color-light-2);
    border-color: var(--color-cool-2);
    background: var(--color-cool-3);
    --box-shadow: 0px 1px 3px 1px black;
    box-shadow: var(--box-shadow);
    .notes {
      color: var(--color-light-3);
    }
  }

  .tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  .tab.category.active[data-tab="pf2e-dorako-ui"] h2 {
    font-size: var(--font-size-48);
    text-align: center;
    color: var(--color-light-2);
    background: var(--color-warm-2);
    border-color: var(--color-warm-1);
    text-shadow: 0px 1px 0px var(--color-warm-3);
  }
}
