h3 {
  border-bottom: none;
}

button {
  // display: flex;
  // gap: 5px;
  // align-items: center;
  // justify-content: center;

  > i {
    margin-right: 0;
  }
}

img {
  border: none;
  border-radius: 0px;
}
