# Created by https://www.toptal.com/developers/gitignore/api/macos
# Edit at https://www.toptal.com/developers/gitignore?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/macos
ignore

# From Supe:

# IDE
.idea/
.vs/
icons/\!dox/
/.vscode

/dist-example
/node_modules/
/dist/*
!/dist/packs
!/dist/icons
foundryconfig.json
package/
coverage
packs/temp-data
static/packs/*
!static/pack/Spells (SRD) - LICENSE
foundryconfig.json

dist/
docs/

jsconfig.json
foundry.js
/client
/common

vtt.novumgaming.com
vtt.novumgaming.com:2053
localhost:30000