/* Error: Undefined mixin.
 *    ,
 * 11 |   @include glass;
 *    |   ^^^^^^^^^^^^^^
 *    '
 *   sass/foundry/_app-ui.scss 11:3  @use
 *   sass/foundry/_index.scss 1:1    @use
 *   sass/dorako-ui.scss 2:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 11 \2502    @include glass;\a    \2502    ^^^^^^^^^^^^^^\a    \2575 \a   sass/foundry/_app-ui.scss 11:3  @use\a   sass/foundry/_index.scss 1:1    @use\a   sass/dorako-ui.scss 2:1         root stylesheet";
}
