// Light theme

.dorako-ui.familiar {
  .main-section {
    gap: 10px;
    margin: 0px 10px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .window-content .skills-content .skills-list .skill-name {
    @include quick-transition;
    background: rgba(255, 255, 240, 0.8);
    border: 1px solid var(--color-border-light-primary);
    &:hover {
      box-shadow: none;
      color: var(--color-text-light-highlight);
      border: 1px solid var(--gold-brown);
      background-color: var(--primary-light);
      box-shadow: 0px 0px 1px 1px var(--tertiary) inset, 0px 0px 5px var(--primary-light);

      .score {
        color: var(--tertiary);
      }
    }
  }

  .section-container {
    @include sheet;
    box-shadow: var(--gold-and-glow), 0px 5px 6px rgba(0, 0, 0, 0.5);
    padding: unset;
    border-radius: 5px;

    .section-header {
      background: var(--primary);
      border-radius: 5px 5px 0px 0px;
      border: none;
      box-shadow: var(--gold-and-glow);
    }

    .section-body {
      border: none;
    }
  }
}

// Dark theme

.dorako-ui.dark-theme.familiar {
  .detail .detail-label {
    color: var(--tertiary);
  }

  .window-content .familiar-sheet-header .header-content .details-section .hp-section .value input {
    box-shadow: none;
  }

  .window-content .skills-content .skills-list .skill-name {
    @include glass;

    .score {
      color: var(--primary-light);
    }

    &:hover {
      @include glass;
      background-color: var(--primary-light);

      .score {
        color: var(--tertiary);
      }
    }
  }
}

// Glassy

.dorako-ui.familiar.glassy-theme {
  box-shadow: unset !important;
  background: unset !important;

  .window-header {
    @include glass;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-left: 10px;
    margin-right: 18px;
  }

  .window-content {
    box-shadow: unset !important;
    background: unset !important;
    margin: unset;
  }

  .familiar-sheet-header {
    @include glass;
    --color-text-dark-primary: var(--color-text-light-heading);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-shadow: 0px 0px 3px black;

    margin-left: 10px;
    margin-right: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: var(--color-text-light-primary);

    .header-content .charname {
      color: var(--tertiary-light);
      input {
        border: unset;
        color: var(--tertiary-light);
      }
    }

    select {
      @include glass;
      @include quick-transition;
      background-color: var(--glass-bg-light) !important;
      color: var(--color-text-light-primary);

      &:hover {
        color: var(--color-text-light-highlight);
      }

      option,
      optgroup {
        background-color: rgb(37, 37, 37);
        color: var(--color-text-light-highlight);
      }
    }

    .traits {
      display: flex;
      gap: 1px;

      span {
        border-radius: 0px;
        box-shadow: unset;
        border: 1px solid var(--tertiary);
        outline: 1px solid var(--gold-brown);
        height: auto;
        padding: 0.33em 0.33em;
      }
    }
  }
  .editable > hr {
    display: none;
  }
}
