/* ----------------------------------------- */
/* UI-right                                  */
/* ----------------------------------------- */
#ui-right {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8) calc(100% - 10px), transparent 100%);
  padding-left: 10px;
  padding-top: 5px;
  // backdrop-filter: blur(5px);
  // ::before {
  //   background: linear-gradient(to left, rgba(0, 0, 0, 0.5) calc(100% - 25px), transparent 100%);
  // }
  #sidebar {
    background: none;
    // background: linear-gradient(to left, rgba(0, 0, 0, 0.8) calc(100% - 25px), transparent 100%);
    backdrop-filter: blur(5px);
    box-shadow: none;
    border: none;
    margin: 0px;
    // padding-left: 80px;
    height: 100%;
    border-radius: 0px;
  }
}

/* ----------------------------------------- */
/* Sidebar                                   */
/* ----------------------------------------- */

#chat,
[data-chat-app-theme] .chat-sidebar {
  --sidebar-gap: 4px;
  --sidebar-margin: 6px;
  gap: var(--sidebar-gap);
  padding-bottom: var(--sidebar-margin);
}

[data-chat-app-theme] section.chat-sidebar .jump-to-bottom > a {
  background: black;
  z-index: 1;
}

[data-dorako-ui-scope="sidebar"] {
  .tab {
    &:not([data-tab="chat"]) button {
      @include f2-button-warm;
    }
    input:not([type="range"]) {
      @include f2-input;
    }
  }

  ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: var(--color-scrollbar);
    border: 1px solid var(--color-scrollbar-border);
    transition: outline 0.15s;
  }

  ::-webkit-scrollbar-track {
    box-shadow: 0 0 1px var(--color-cool-3) inset;
    box-shadow: unset;
    border-radius: 4px;
  }

  // &#sidebar.collapsed #sidebar-tabs > .item.active {
  //   border-color: var(--color-warm-1);
  //   border-radius: var(--border-radius);
  //   &:first-child {
  //     border-top-left-radius: var(--border-radius);
  //     border-top-right-radius: var(--border-radius);
  //   }
  // }

  #settings ul#game-details li.system-buttons {
    gap: 5px;
    button {
      @include f2-button-warm;
    }
  }

  .compendium.directory .directory-header .compendium-name,
  .compendium-sidebar .directory-item.compendium .compendium-name,
  .compendium-sidebar .directory-item.compendium.locked .compendium-name {
    @include f2-app;
  }

  .compendium-sidebar .directory-item.compendium .compendium-footer .source {
    @include f2-app;
    border-left: unset;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
  }

  // section.chat-sidebar .jump-to-bottom {
  //   z-index: 1;
  //   > a {
  //     @include f2-app;
  //     border-radius: 0px;
  //     border-left: unset;
  //     border-right: unset;
  //     width: 100%;
  //     --app-background: var(--color-scrollbar);
  //     --app-border-color: var(--color-scrollbar-border);
  //     &:hover {
  //       --app-background: var(--color-warm-2);
  //       --app-border-color: var(--color-warm-1);
  //     }
  //   }
  // }

  // &#sidebar {
  //   border: 1px solid var(--app-border-color);

  //   // prettier-ignore
  //   --warm-background: radial-gradient(circle at bottom, color-mix(in srgb, var(--color-warm-1) 10%, transparent), transparent),
  //                        linear-gradient(to bottom, color-mix(in srgb, var(--color-warm-3) 30%, transparent), transparent),
  //                        var(--app-background);
  //   background: var(--warm-background);
  // }
}

/* ----------------------------------------- */
/* Foundry2                                  */
/* ----------------------------------------- */
[data-dorako-ui-scope="sidebar"],
[data-dorako-ui-theme] {
  .combat-sidebar li.combatant .token-name img.token-effect {
    @include f2-app;
    border: 1px solid;
    border-color: var(--icon-border-color);
  }
}

/* ----------------------------------------- */
/* Chatlog                                   */
/* ----------------------------------------- */
[data-chat-app-theme] #chat-log {
  margin-left: calc(var(--sidebar-margin) - 3px);
  &::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: var(--color-scrollbar);
    border: 1px solid var(--color-scrollbar-border);
    transition: outline 0.15s;
    &:hover {
      border: 1px solid var(--color-scrollbar);
      background: var(--color-scrollbar-hover);
    }
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
    box-shadow: unset;
    border-radius: 4px;
  }
}

[data-chat-app-theme] #chat-log ~ * {
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    accent-color: var(--accent-color);
  }

  button {
    @include f2-button-warm;
  }
  #dorako-rt-buttons button {
    @include f2-button-toggle;
  }

  &#chat-form {
    margin: 0px var(--sidebar-margin);
    textarea {
      @include f2-input;
      height: 100%;
      border-radius: var(--border-radius);
    }
  }
}

[data-chat-app-theme] {
  #sidebar-tabs {
    border: unset;
    > .item.active {
      @include f2-button-warm;
      --button-focus-outline-color: transparent;
    }
  }
}
