/* ----------------------------------------- */
/* Sidebar                                   */
/* ----------------------------------------- */

[data-dorako-ui-theme] {
  #sidebar-tabs {
    border: unset;
    --sidebar-tab-height: 22px;

    > .item {
      @include quick-transition;
      &:hover {
        color: var(--color-light-2);
      }

      &.active {
        @include f2-app;
        background-color: var(--color-warm-2);
        border: var(--window-app-border-style);
        border-color: var(--color-warm-1);
        color: var(--color-light-2);
      }
    }
  }

  &#sidebar.collapsed #sidebar-tabs > .item.active {
    border-color: var(--color-warm-1);
    border-radius: var(--border-radius);
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
  }

  #settings ul#game-details li.system-buttons {
    gap: 5px;
    button {
      @include f2-button-warm;
    }
  }

  .compendium.directory .directory-header .compendium-name,
  .compendium-sidebar .directory-item.compendium .compendium-name,
  .compendium-sidebar .directory-item.compendium.locked .compendium-name {
    @include f2-app;
  }

  .compendium-sidebar .directory-item.compendium .compendium-footer .source {
    @include f2-app;
    border-left: unset;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
  }

  &.chat-sidebar,
  .chat-sidebar {
    --sidebar-gap: 4px;
    --sidebar-margin: 6px;
    gap: var(--sidebar-gap);
    padding-bottom: var(--sidebar-margin);
  }

  section.chat-sidebar .jump-to-bottom {
    z-index: 1;
    > a {
      @include f2-app;
      @include quick-transition;
      border-radius: 0px;
      border-left: unset;
      border-right: unset;
      --app-background: var(--color-scrollbar);
      --app-border-color: var(--color-scrollbar-border);
      &:hover {
        --app-background: var(--color-warm-2);
        --app-border-color: var(--color-warm-1);
      }
    }
  }

  &#sidebar {
    border: 1px solid var(--app-border-color);

    // prettier-ignore
    --warm-background: radial-gradient(circle at bottom, color-mix(in srgb, var(--color-warm-1) 10%, transparent), transparent),
                         linear-gradient(to bottom, color-mix(in srgb, var(--color-warm-3) 30%, transparent), transparent),
                         var(--app-background);
    background: var(--warm-background);
  }
}
