[data-dorako-ui-theme] {
  &.filepicker .display-modes a {
    @include f2-button-warm;
  }

  &.filepicker .private button.privacy {
    @include f2-button-warm;
    --button-background-color: #7331ff;
  }
  &.filepicker .filepicker-header .quick-link-input-button {
    --box-shadow: none;
    --button-hover-background-color: none;
    --button-hover-border-color: transparent;
  }
}
