[data-theme] {
  &.filepicker .display-modes a {
    @include dui-button;
  }

  &.filepicker .private button.privacy {
    @include dui-button;
    --button-background: #7331ff;
  }
  &.filepicker .filepicker-header .quick-link-input-button {
    --box-shadow: none;
    --button-hover-background: none;
    --button-hover-border-color: transparent;
  }
}
