@use "sass:color";

/* ----------------------------------------- */
/* Foundry2                                  */
/* ----------------------------------------- */
.foundry2.chat-message {
  background: unset;
  // --gold-and-glow: transparent;
  @include f2-app;
  --color-text-light-6: var(--color-cool-4);
  --color-text-dark-secondary: var(--color-light-4); // 5 is too dark on colored message backgrounds

  &.whisper {
    border-color: var(--color-cool-1);
    background: var(--color-cool-3-75);
    &.blind {
      border-color: var(--color-scrollbar-border);
      background: var(--color-warm-3-75);
    }
  }
  .table-draw .table-results .table-result img.result-image {
    background-color: var(--color-light-2);
    border: 1px solid var(--color-warm-2);
    text-shadow: 0px 1px 2px black;
    border-radius: var(--border-radius);
    --box-shadow: 0px 1px 3px 1px black;
    box-shadow: var(--box-shadow);
    color: var(--color-light-3);
  }

  .message-content .damage-roll .dice-result .dice-tooltip .instance {
    border-radius: var(--border-radius);
  }

  .dice-roll .dice-formula,
  .dice-roll .dice-total {
    @include f2-app;
    button {
      text-shadow: 0px 1px 2px black;
      border-color: var(--color-cool-2);
      background: var(--color-cool-3);
      border-radius: var(--border-radius);
      &:hover {
        border-color: var(--color-cool-1);
        background: var(--color-cool-2);
        color: var(--color-light-2);
      }
    }
  }

  .dice-tooltip .part-header .part-total {
    @include f2-app;
    // Would be cool if the system defined some sort of "--relevant-damage" variables...
    box-shadow: unset;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: unset;
  }

  .pf2e.chat-card .card-header {
    border: unset;
    img {
      @include f2-app;
      border-color: var(--color-warm-1);
    }
  }

  .pf2e.chat-card .card-footer {
    border-top: 1px solid var(--app-border-color);
    margin: 0px -5px;
    padding: 0px 5px;
  }
}

/* ----------------------------------------- */
/* Damage buttons                            */
/* ----------------------------------------- */

.foundry2.chat-message {
  .flavor-text {
    hr {
      display: none;
    }
  }
  .card-content {
    hr {
      margin-left: -5px;
      margin-right: -5px;
    }
  }
  .pf2e.chat-card .card-buttons .spell-attack-buttons,
  .pf2e.chat-card .card-buttons .spell-button {
    gap: 3px;
  }
}

.foundry2.chat-message {
  .persistent-damage-recovery {
    margin-top: 4px;
    hr {
      display: none;
    }
  }
}

.foundry2.message {
  .message-content {
    .damage-application {
      gap: 3px;
      margin-top: 3px;
      text-rendering: geometricPrecision;

      button {
        margin: 0px;

        img {
          filter: invert(1) brightness(0.7) sepia(1) grayscale(0.7) drop-shadow(0px 1px 1px black);
        }

        &.half-damage {
          .transparent-half {
            display: none;
          }
          .fa-heart-broken {
            position: relative;

            &::after {
              content: "\f7a9";
              font-family: "Font Awesome 5 Free";
              color: var(--color-cool-3);
              display: block;
              z-index: 1;
              position: absolute;
              top: 0px;
              left: 2.4px;
              clip-path: polygon(45% 0%, 50% 100%, 100% 100%, 100% 4%);
            }
          }
        }

        &:hover {
          img {
            filter: invert(1) drop-shadow(0px 1px 1px black);
          }
        }

        &.shield-block {
          &:hover {
            background-color: var(--color-cool-2);
            border: 1px solid var(--color-cool-1);
          }
          &.shield-activated {
            background-color: var(--color-cool-1);
            border: 1px solid var(--color-cool-2);
            &:hover {
              background-color: var(--color-cool-2);
              border: 1px solid var(--color-cool-1);
            }
          }
        }

        &.heal-damage {
          .fa-stack i.fa-plus {
            color: var(--color-cool-5);
            text-shadow: none;
          }

          &:hover {
            background-color: var(--color-level-success);
            border-color: var(--color-level-success-border);

            .fa-stack i.fa-plus {
              color: var(--color-level-success);
              text-shadow: none;
            }
          }
        }
      }
    }
  }
}

/* ----------------------------------------- */
/* Header                                    */
/* ----------------------------------------- */

.foundry2.chat-message .message-header {
  background: none;
  padding: 5px 5px 0px 5px;
  margin: -5px -5px -0px -5px;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  gap: 5px;

  &.dorako-header {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    background: linear-gradient(to bottom, color-mix(in srgb, var(--header-color) 70%, transparent), transparent);
    text-shadow: 0px 1px 1px black;
    padding-bottom: 5px;
    margin-bottom: 2px;

    a {
      @include quick-transition;

      &:hover {
        text-shadow: 0px 1px 1px black;
        color: var(--color-light-2);
      }
    }
  }

  .message-metadata {
    flex: 2.5;
  }

  .message-timestamp,
  .header-meta {
    border-radius: 3px;
    padding: 2px;
    font-size: x-small;
    align-self: center;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
    @include f2-app;
    background-color: color-mix(in srgb, var(--header-color) 50%, transparent);
    border-color: color-mix(in srgb, var(--header-color) 50%, white);
    // box-shadow: unset;
  }

  // &.light-header-text {
  //   .header-meta {
  //     //   @include f2-app;
  //     //   background-color: var(--color-cool-3);
  //     //   border-color: var(--color-cool-2);
  //   }
  // }

  &.dark-header-text {
    color: color-mix(in srgb, var(--header-color) 20%, white);
    .message-sender {
      color: color-mix(in srgb, var(--header-color) 20%, white);
    }
    .header-meta {
      color: color-mix(in srgb, var(--header-color) 20%, white);
    }
  }

  .player-name,
  .message-sender {
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .portrait-and-name {
    flex-grow: 1;
    display: flex;
    flex-basis: 100px;
    gap: 5px;

    .portrait-wrapper {
      width: var(--avatar-size);
      display: flex;
      flex: none;
      justify-content: center;
      align-items: center;

      .portrait {
        height: var(--avatar-size);
        object-fit: contain;
        z-index: 0;

        &.actor {
          border-radius: 3px;
        }
      }
    }

    .sender-wrapper {
      display: flex;
      gap: 3px;
      flex-direction: column;
      justify-content: left;
      align-self: center;
      z-index: 1;

      .message-sender,
      .player-name {
        align-self: flex-start;
        line-height: initial;
      }
    }
  }
}

/* ----------------------------------------- */
/* System overwrites                         */
/* ----------------------------------------- */

.foundry2 {
  &.chat-message > .message-content ul.participant-conditions {
    border: unset;
    box-shadow: unset;
    li img {
      @include f2-app;
    }
  }
}

/* ----------------------------------------- */
/* Damage colors                             */
/* ----------------------------------------- */

.foundry2-pc .damage,
.foundry2 .damage {
  --color-bg-acid: rgba(0, 115, 0, 0.125);
  --color-bg-bleed: rgba(153, 0, 26, 0.125);
  --color-bg-chaotic: rgba(166, 0, 166, 0.125);
  --color-bg-cold: rgba(72, 72, 198, 0.125); // adjusted
  --color-bg-electricity: rgba(221, 167, 30, 0.125); // adjusted
  --color-bg-evil: rgba(75, 0, 130, 0.125);
  --color-bg-fire: rgba(166, 47, 0, 0.125);
  --color-bg-force: rgba(99, 0, 170, 0.125);
  --color-bg-good: rgba(157, 115, 10, 0.125); // adjusted
  --color-bg-lawful: rgba(64, 38, 0, 0.125);
  --color-bg-mental: rgba(25, 25, 112, 0.125);
  --color-bg-physical: rgba(132, 132, 132, 0.125); // adjusted
  --color-bg-poison: rgba(91, 115, 50, 0.125);
  --color-bg-sonic: rgba(0, 139, 139, 0.125);
  --color-bg-spirit: rgba(90, 85, 133, 0.125);
  --color-bg-vitality: rgba(255, 255, 224, 0.125);
  --color-bg-void: rgb(81, 21, 78, 0.125); // adjusted
  --color-border-acid: #12a812; // adjusted
  --color-border-bleed: #99001a;
  --color-border-chaotic: #a600a6;
  --color-border-cold: #2f2fa6;
  --color-border-electricity: yellow; // adjusted
  --color-border-evil: indigo;
  --color-border-fire: #a62f00;
  --color-border-force: #6300aa;
  --color-border-good: #9d730a;
  --color-border-lawful: #402600;
  --color-border-mental: midnightblue;
  --color-border-physical: #737272; // adjusted
  --color-border-poison: #5b7332;
  --color-border-sonic: darkcyan;
  --color-border-spirit: #5a5585;
  --color-border-vitality: #ffffe0;
  --color-border-void: rgb(122, 38, 117); // adjusted
  --color-text-acid: #34aa34; // adjusted
  --color-text-bleed: #59000f;
  --color-text-chaotic: #660066;
  --color-text-cold: #3a3ac5; // adjusted
  --color-text-electricity: #e7b22b; // adjusted
  --color-text-evil: #260042;
  --color-text-fire: #882700; // adjusted
  --color-text-force: #3e006a;
  --color-text-good: #614706;
  --color-text-lawful: white; // adjusted
  --color-text-mental: #0d0d3c;
  --color-text-physical: #a0a0a0; // adjusted
  --color-text-poison: #38471f;
  --color-text-sonic: #004b4b;
  --color-text-spirit: #403c5e;
  --color-text-vitality: #ffffa0;
  --color-text-void: rgb(122, 38, 117); // adjusted
}
