.chat-message[data-chat-message-theme="dnd5e2"] {
  --window-app-background: var(--dnd5e-color-parchment);
  --window-app-border-width: 1px;
  --window-app-border-color: var(--dnd5e-color-gold);
  --box-shadow: 0 0 3px var(--dnd5e-shadow-15);
  --icon-border-color: var(--dnd5e-color-gold);
  box-shadow: 0 0 6px 1px var(--dnd5e-shadow-45);

  &[data-chat-message-color-scheme="light"] {
    background: url("/systems/dnd5e/ui/texture-gray1.webp") no-repeat top left,
      url("/systems/dnd5e/ui/texture-gray2.webp") no-repeat bottom right;
    background-color: #f1ebe8;
    // background-blend-mode: multiply;
    --color-text-dark-primary: black;
    --color-text-dark-secondary: color-mix(in srgb, var(--color-text-dark-primary) 70%, transparent);
  }

  &.whisper[data-chat-message-color-scheme="light"] {
    background: url("/systems/dnd5e/ui/texture-gray1.webp") no-repeat top left,
      url("/systems/dnd5e/ui/texture-gray2.webp") no-repeat bottom right;
    background-color: #e1e1fe;
    background-blend-mode: screen;

    --window-app-border-color: #e3e3ff;
  }

  &.blind[data-chat-message-color-scheme="light"] {
    background: url("/systems/dnd5e/ui/texture-gray1.webp") no-repeat top left,
      url("/systems/dnd5e/ui/texture-gray2.webp") no-repeat bottom right;
    background-color: #f4c2f4;
    background-blend-mode: screen;

    --window-app-border-color: #a57aa5;
  }

  &[data-chat-message-color-scheme="dark"] {
    background: var(--dnd5e-color-dark) url(../../../ui/denim075.png);
    --color-text-dark-primary: var(--dnd5e-color-blue-white);
    --color-text-dark-secondary: color-mix(in srgb, var(--color-text-dark-primary) 70%, transparent);
  }

  &.whisper[data-chat-message-color-scheme="dark"] {
    background: #2b2b4e url(../../../ui/denim075.png);
    --window-app-border-color: #7b7b8c;
    // border-color: #7b7b8c;
  }

  &.blind[data-chat-message-color-scheme="dark"] {
    background: var(--dnd5e-color-sc-1) url(../../../ui/denim075.png);
    --window-app-border-color: var(--dnd5e-color-sc-2);
  }

  > header {
    z-index: 1;
  }

  .message-content {
    text-shadow: unset;
    z-index: 1;
  }

  .message-header {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: auto;
    background: url(/systems/dnd5e/ui/texture-gray1.webp) no-repeat top left, var(--header-color);
    background-color: var(--header-color);
    background-blend-mode: overlay;
    border-bottom: 1px solid var(--window-app-border-color);
  }
  .message-content footer {
    span {
      font-family: var(--dnd5e-font-roboto);
      font-weight: bold;
      font-size: var(--font-size-11); // 11
      text-transform: uppercase;
      border: 1px solid gray;
      border-radius: 3px;
      color: black;
      background: var(--dnd5e-color-card);
      display: flex;
      gap: 0.25rem;
      padding: 0.09375rem 0.1875rem;
      font-size: var(--font-size-8);
    }
  }

  &[data-chat-message-color-scheme="dark"] button {
    --button-background-color: var(--dnd5e-color-blue-gray-2);
    --button-border-color: var(--dnd5e-color-blue-gray-3);
    --button-box-shadow: 0 0 6px var(--dnd5e-shadow-15);
    --button-focus-outline-color: none;
    --button-hover-background-color: var(--dnd5e-color-blue-gray-2);
    --button-text-color: var(--color-text-dark-primary);
    --button-hover-text-color: vvar(--dnd5e-color-blue-white);
    --button-hover-border-color: var(--dnd5e-color-gold);
  }

  &[data-chat-message-color-scheme="light"] button {
    --button-background-color: var(--dnd5e-background-card);
    --button-hover-background-color: var(--dnd5e-background-card);
    --button-border-color: gray;
    --button-box-shadow: 0 0 6px var(--dnd5e-shadow-15);
    --button-focus-outline-color: none;
    --button-hover-background-color: var(--dnd5e-background-card);
    --button-text-color: var(--color-text-dark-primary);
    --button-hover-text-color: var(--color-text-dark-primary);
    --button-hover-border-color: var(--dnd5e-color-gold);
  }

  button[data-action="shield-block"]:hover,
  .damage-application button[data-action="shield-block"].shield-activated,
  .damage-application button[data-action="shield-block"].shield-activated:hover {
    background-color: var(--dnd5e-color-gold) !important;
    border-color: var(--dnd5e-color-groove) !important;
    color: white !important;
    text-shadow: 0 0 4px var(--dnd5e-highlight-45);
    > i {
      color: white;
    }
  }
  .damage-application button[data-action="apply-healing"]:hover {
    background-color: var(--dnd5e-color-hp-2) !important;
    border-color: var(--dnd5e-color-hp-3) !important;
    color: white !important;
    text-shadow: 0px 0px 0px white;
    > i {
      color: white;
    }
    .fa-plus {
      color: var(--dnd5e-color-hp-2) !important;
    }
  }
}
