:root {
    --border-width: 1px;
    --hotbar-height: 62px;
    --header-color: #fff;
    --header-bg: var(--primary);
    --body-padding: 0.25em 0.5em;
}

:root {
    --dorako-bg-glass: rgba(120, 120, 120, 0.20);
    --dorako-bg-dark: rgba(20, 20, 20, 0.60);
    --dorako-orange: rgba(255, 100, 0, 0.5);
    --dorako-bg-current: var(--dorako-bg-glass);

    --blind-bg: #A57aA5;
    --whisper-bg: #E3E3FF;

    --dorako-vibrancy: brightness(2.0) contrast(1.2) blur(5px);
    /*--dorako-vibrancy-active: brightness(1.5) contrast(1.0) blur(15px);
    --dorako-vibrancy-inactive: brightness(0.5) contrast(1.0) blur(15px);*/

    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    --paizo-red: rgb(94, 0, 0);
    --paizo-red-glass: rgba(94, 0, 0,0.5);
    --paizo-blue-dark: rgba(16, 21, 73);
    --paizo-blue:	rgb(23, 31, 105);
    --paizo-blue-bright: rgb(30, 41, 137);
    --paizo-blue-glass-inactive:rgba(23, 31, 105,0.2);
    --paizo-blue-glass:rgba(23, 31, 105,0.5);

    --img-parchment: url(/systems/pf2e/assets/sheet/parchment.webp);
    --img-red: url(/systems/pf2e/assets/sheet/nav-item.webp);
    --pf2e-nav-inactive: url(/systems/pf2e/assets/sheet/nav-item-inactive.webp);
    --pf2e-sheets-bg: url(/systems/pf2e/assets/sheet/background.webp);

    --dorako-text-shadow: 0px 0px 3px black;
    --dorako-box-shadow: 0px 0px 3px black;
    --dorako-radius: 3px;
        /*transition: backdrop-filter 0.3s ease-out;*/
    /*transition: background-color 0.3s ease-out;*/

}


.app {
    color: var(--color-text-light-1);
}

.window-app .window-resizable-handle {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: none;
    padding: 2px;
    border: none;
    text-shadow: var(--dorako-text-shadow);
}

.app.sidebar-popout {
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
}

#ui-top.offset {
    margin-left: -100px;
}

#controls ol.sub-controls .control-tool {
    margin-right: 0px;
}

#controls {
    text-shadow: var(--dorako-text-shadow);
}

#ui-top {
    margin: 0 10px 0 10px;
}


#sidebar {
    height: -webkit-fill-available;
    margin: 10px 10px 10px 0px;
}

#chat-controls i.fas,
#sidebar-tabs i.fas {
    text-shadow: var(--dorako-text-shadow);
}

#hotbar {
    height: -webkit-fill-available;
    width: auto;
    gap: 10px;
}

#hotbar .fas {
    text-shadow: var(--dorako-text-shadow);
}

#hotbar .bar-controls {
    flex: 0 0 22px;
    height: auto;
    margin: 0px;
}

#hotbar #action-bar {
    flex: 1;
    height: 100%;
    pointer-events: all;
    gap: 10px
}

#ui-bottom {
    margin-left: 9px;
}

#players {
    margin: 0px 0px 10px 10px;
}

#players h3 {
    border: none;
}

#hotbar .bar-controls span.page-number {
    text-shadow: var(--dorako-text-shadow);
}


#context-menu.expand-up {
    bottom: calc(100% + 2px);
}

#context-menu.expand-up .expand-down {
    bottom: calc(100% + 2px);
}

#chat-log .message .message-header {
    grid: "sender info"minmax(min-content, max-content) "text text"minmax(min-content, max-content) /2fr 3fr !important;
    ;
}

.whisper-to * {
    background-color: var(--whisper-bg) !important;
}

.chat-mode-indicator {
    background-color: rgba(140, 40, 40, 1) !important;
    ;
}


#logo {
    display: none;
}

#sidebar {
    --header-color: #fff;
    --header-bg: var(--primary);
    --body-padding: 0.25em 0.5em;
    /* display: inline-block; */
}

#controls ol.main-controls {
    overflow: visible;
    width: 44px;
    padding: 0px;
    margin: 0 0px 0px 15px;
}

/*

#controls .control-tool.active,
#controls .scene-control.active {
    background-color: var(--paizo-red-gl);
    border: none;
    box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 4px rgba(0, 0, 0, .25), 0 0 8px var(--tertiary);
    color: var(--tertiary);
    text-shadow: 0 0 0 1px rgba(0, 0, 0, .5);
    position: relative;
    background-image: var(--paizo-red-glass);
    background-size: contain;

}
*/
#navigation #scene-list .scene.context,
#navigation #scene-list .scene.view {
    padding: 0;
}

.scene-name{
    padding: 8px;
}

#navigation #scene-list {
    display: flex !important;
    flex-wrap: wrap;
}




#chat-log .message .message-header {
    display: grid;
    grid: "sender info"minmax(min-content, max-content) "text text"minmax(min-content, max-content) /2fr 1fr;

}

#chat-log .message .message-header .message-sender,
#chat-log .message .message-header .message-metadata {
    color: var(--header-color);
    background-color: var(--paizo-red);
    /*background-color: var(--header-bg);
    background-image: var(--img-red);*/
    background-size: 50px;

    text-shadow: 0px 1px 0px rgb(0 0 0 / 50%);
    border-bottom: 1px solid black;
}



#controls ol .control-tool.toggle,
#controls ol .control-tool.toggle:hover,
#controls ol .control-tool.toggle.active {
    background-image: var(--pf2e-nav-inactive);
    background-size: contain;
}


#chat-log .message .message-header .message-sender {
    font-size: small;
    font-weight: 400;
    grid-area: sender;
    border-radius: 3px 0px 0px 0px;
}

#chat-log .message .message-header .message-metadata {
    grid-area: info;
    padding: var(--body-padding);
    border-radius: 0px 3px 0px 0px;
    margin-left: 0px;
}


#chat-log .message .message-header .flavor-text,
#chat-log .message .message-header .whisper-to {
    grid-area: text;
    padding: var(--body-padding);
}

/*.tags {
    background-color:var(--alt);
    border:1px solid #493c31;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.5),inset 0 0 0 2px hsla(0,0%,100%,.2),inset 0 0 0 3px hsla(0,0%,100%,.1);
    padding: 2px;
   }*/

/*
   .tags .tag{
    background-color:var(--dorako-bg-current);
    border: 1px solid #493c31;
    padding: 4px;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.5),inset 0 0 0 2px hsla(0,0%,100%,.2),inset 0 0 0 3px hsla(0,0%,100%,.1);
   }
   */

#chat-log .message {
    /*padding: 10px;*/
    margin: 5px 5px 10px 10px;
}

#chat-log .message .message-content {
    padding: var(--body-padding)
}

#chat-log .message {
    background-color: white;
    background: var(--img-parchment);
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    color: var(--body);
    margin: 6px;
    padding: 0;
}

#chat-log .whisper {
    background-color: var(--whisper-bg);
    background-blend-mode: luminosity;
}

#chat-log .blind {
    background-color: var(--blind-bg);
    background-blend-mode: luminosity;
}


#sidebar-tabs {
    color: var(--color-text-light-highlight);
    border: 1px solid var(--color-border-highlight-alt);
    box-shadow: none;
    border: none;
    padding: none;
    margin: none;
}

#sidebar-tabs>.item.active {
    box-shadow: none;
    border: none;
    box-shadow: none;
    text-shadow: var(--dorako-text-shadow);
    border-bottom: none;
}

#sidebar-tabs>.item:hover {
    color: var(--dorako-orange);
}

#sidebar.collapsed #sidebar-tabs>.item,
#sidebar.collapsed #sidebar-tabs>.item.active {
    border: none;
    text-shadow: none;
}

#sidebar.app {
    background-image: none;
    /* max-height: 98%; */
}

#sidebar-tabs.tabs {
    margin: 0px;
    padding: 0px;
}

#hotbar #macro-list {
    background-color: var(--dorako-bg-current);
    border: 1px solid #493c31;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .5), inset 0 0 0 2px hsla(0, 0%, 100%, .2), inset 0 0 0 3px hsla(0, 0%, 100%, .1);
    padding: 5px;
    gap: 5px;
    margin: 0px;
    backdrop-filter: var(--dorako-vibrancy);
    flex: 1;
}

#hotbar .macrolist {
    gap: 10px;
}

#hotbar .macro .macro-key,
#custom-hotbar .macro .custom-macro-key {
    background: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: var(--dorako-text-shadow);
    font-size: large;
}

#chat-controls {
    margin-top: 5px;
}

.pf2e.chat-card .card-header {
    align-items: center;
    border: none;
    display: flex;
}

.pf2e.chat-card .card-header h3 {
    line-height: normal;
    font-family: var(--serif);
    font-weight: 500;
    font-size: x-large;
    line-height: 19px;
    font-variant: common-ligatures;
    margin-top: 4px;
    text-shadow: 0px 1px 0px rgb(255 255 255 / 50%);
}

.pf2e.chat-card .card-content {
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:%23231f20;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-image-width: 14px;
    border-style: double;
}

.pf2e.chat-card .card-content p {
    padding: .5em;
    text-shadow: 0px 1px 0px rgb(255 255 255 / 50%);
}


#navigation #scene-list .scene li.scene-player {
    text-shadow: none;
}


/* Glass - Remove prior styling */

#controls ol .scene-control,
#controls ol .control-tool,
#hotbar #macro-list,
#controls ol .control-tool.toggle, #controls ol .control-tool.toggle.active,
#controls ol .control-tool.active,
#controls ol .scene-control.active,
#hotbar .bar-controls,
#players,
#navigation .nav-item,
#controls ol .control-tool.toggle:hover,
#controls ol .control-tool:hover,
#controls ol .scene-control:hover,
#sidebar,
#sidebar-tabs,
.placeable-hud,
#token-hud .attribute,
.placeable-hud input[type="text"],
.app,
#custom-bar-toggle,
#custom-hotbar-page-controls,
#custom-hotbar .bar-controls,
#custom-hotbar #custom-macro-list,
#ui-bottom nav #custom-hotbar,
#custom-hotbar-page-controls.bar-controls.flexcol,
#custom-hotbar-directory-controls.bar-controls.flexcol,
.window-app .window-header {
    border: none;
    box-shadow: none;
    backdrop-filter: none;
    background: none;
    background-image: none;
}

/* Glass - Add new styling */

#hotbar #hotbar-directory-controls,
#hotbar #hotbar-page-controls,
#navigation #nav-toggle,
#controls .app li,
#controls ol li,
#hotbar #macro-list,
#controls ol.sub-controls .control-tool,
#controls ol.sub-controls .control-tool:hover,
#controls ol .scene-control,
#controls ol .scene-control:hover,
#controls ol .scene-control.active,
#controls ol .control-tool.toggle,
#controls ol .control-tool.toggle:hover,
#controls ol .control-tool.toggle.active,
#controls ol .control-tool.toggle.active:hover,
#sidebar.app,
#players,
#navigation #scene-list .scene.view,
#navigation #nav-toggle:hover,
#navigation #scene-list .scene,
#navigation #scene-list .scene.gm,
.placeable-hud .control-icon,
#token-hud .attribute,
.placeable-hud input[type="text"],
.sidebar-popout.app,
#dfcp-rt-buttons button,
.dice-tray button,
#custom-bar-toggle,
#custom-hotbar-page-controls,
#custom-hotbar-page-controls.bar-controls.flexcol,
#custom-hotbar #custom-macro-list.flexrow,
.window-app .window-header {
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    /*backdrop-filter: none;*/
    /*will-change: backdrop-filter;*/
    transform: translate3d(0px, 0px, 0px) !important;
    /*White inset shadow, soft dark dropshadow*/
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2) inset, var(--dorako-box-shadow);
}

.window-app .window-header {
    border-radius: var(--dorako-radius) var(--dorako-radius) 0px 0px;
    box-shadow: 0px 0px 6px -2px rgba(255, 255, 255, 0.2) inset, var(--dorako-box-shadow) !important;

}


/* Token HUD (right click token) */

#token-hud .attribute {
    flex: 0 0 40px;
}

#token-hud .attribute.elevation {
    position: relative;
    width: 40px;
    margin: unset;
    box-shadow: none;
}

#token-hud .attribute.bar1 input {
    border: none;
    background-color: #7cd00077;
    /* backdrop-filter: brightness(250%); */
}

#token-hud .attribute.bar1 input:hover,
.placeable-hud input[type="text"]:hover {
    backdrop-filter: var(--dorako-vibrancy-active);
}

.placeable-hud input[type="text"] {
    width: 100%;
    border: unset;
    color: var(--color-text-light-2);
    text-shadow: var(--dorako-text-shadow);
    height: 40px;
    line-height: 40px;
    margin: 0;
    /* border-radius: var(--dorako-radius); */
    font-size: var(--font-size-28);
    font-weight: bold;
    pointer-events: all;
}


.placeable-hud .control-icon {
    margin: 0px;
}

#token-hud .col.right {
    left: 100px;
    gap: 10px;
}

#token-hud .col.left {
    gap: 10px;
    text-shadow: var(--dorako-text-shadow);
}

.placeable-hud .control-icon.active {
    border: unset;
    background-color: var(--dorako-orange);
}

.placeable-hud .control-icon:hover {
    backdrop-filter: var(--dorako-vibrancy-active);
}

/* Navigation (Scene navigation, top)*/

#navigation #scene-list .scene.gm {
    /*background-color: var(--paizo-blue);*/
}

#navigation #scene-list .scene {
    background-color: var(--paizo-blue);
}

#navigation #scene-list .scene.active {
    background-color: var(--paizo-red);
    backdrop-filter: var(--dorako-vibrancy-active);
    /*box-shadow: var(--gold-and-glow);*/
}

#navigation #scene-list .scene.view {
    box-shadow: var(--gold-and-glow);
}

#navigation {
    text-shadow: var(--dorako-text-shadow);
}

/* Controls (top left)*/

#controls ol .scene-control,
#controls ol .control-tool {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    color: rgba(240, 240, 240, 1);
    text-shadow: var(--dorako-text-shadow);
}

#controls ol .scene-control.active,
#controls ol .scene-control:hover {
    background-color: var(--paizo-red);
    backdrop-filter: var(--dorako-vibrancy-active)
}

#controls ol.sub-controls .control-tool:hover,
#controls ol.sub-controls .control-tool.active:not(.toggle):hover,
#controls ol.sub-controls .control-tool.active:not(.toggle) {
    background-color: var(--paizo-red);
    backdrop-filter: var(--dorako-vibrancy-active);
}


#controls ol.sub-controls .control-tool.toggle {
    background-color: var(--paizo-blue-dark);
    backdrop-filter: var(--dorako-vibrancy);
}

#controls ol.sub-controls .control-tool.toggle:hover,
#controls ol.sub-controls .control-tool.toggle.active:hover {
    background-color: var(--paizo-blue);
    backdrop-filter: var(--dorako-vibrancy-active) var(--dorako-vibrancy-active);
}

#controls ol.sub-controls .control-tool.toggle.active {
    background-color: var(--paizo-blue-bright);
    backdrop-filter: brightness(1.5), var(--dorako-vibrancy-active);
}




#scene-list {
    display: flex;
    gap: 10px;
}
#controls .app,
#navigation {
    backdrop-filter: none;
}

#navigation {
    gap: 10px;
}



#navigation #nav-toggle,
#navigation .nav-item {
    line-height: unset;
    margin: 0px;
    border: var(--dorako-radius);
    flex: 0 0 34px;
    height: unset;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.scene .nav-item {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#navigation #scene-list .scene {
    float: none;
    display: flex;
    flex-direction: row;
}

/* Scrollbar */

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: var(--color-text-light-1);
    border: none;

}

::-webkit-scrollbar-track {
    box-shadow: 0 0 1px #999 inset;
    border-radius: 3px;
    padding:0px;
    margin: 0px;
}

/* Chat */

#chat-form {
    height: 50px;
    flex: 0 0 25px;
    margin: 10px 10px 10px;
}

#chat-form textarea {
    min-height: 50px;
    height: 50%;
    background-image: none;
    border: none;
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: var(--dorako-box-shadow);
}

#polyglot {
    height: 20px;
    line-height: unset;
}

/* Modules */
/* Window Control */

#minimized-bar {
    display: none !important;
}

.window-app.minimized .window-header {
    border: 1px solid transparent;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    /* box-shadow: 0 0 3px black; */
}

/* Token Action Hud TAH */

#token-action-hud {
    border: none;
    background-color: var(--dorako-bg-current) !important;
    backdrop-filter: var(--dorako-vibrancy);
    box-shadow: 0 0 3px black;
    border-radius: var(--dorako-radius);
    padding: 2px;
}

.tah-subcategory {
    display: grid;
    grid-template-columns: 150px auto;
    grid-auto-rows: unset;
    min-height: 22px;
    cursor: default;
    width: 1200px;
}

.tah-actions {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* gap: 5px; */
    width: 600px;
    row-gap: 2px;
    column-gap: 8px;
    margin-bottom: 0px;
    font-size: medium;
}

.tah-actions .stickLeft {
    width: auto;
    min-width: unset;
    min-height: unset;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
    position: relative;
    left: unset;
}

.tah-title-button>.fa {
    display: none;
}

.tah-title-button {
    border: none;
    /*background-color: rgba(200,200,200, 0.2);*/
    box-shadow: var(--dorako-box-shadow);
    color: var(--color-text-light-highlight);
    backdrop-filter: var(--dorako-vibrancy);
    text-shadow: var(--dorako-text-shadow);
}

.tah-action button {
    border: none;
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    box-shadow: var(--dorako-text-shadow);
    border-radius: var(--dorako-radius);
    color: var(--color-text-light-highlight);
    text-shadow: var(--dorako-text-shadow);
    line-height: unset;
    margin-left: unset;
    padding: 0px;
}

.tah-action button * {
    overflow: hidden;
}

.tah-title-button:hover,
.tah-action button:hover {
    background-color: var(--dorako-orange);
    border: none;
    box-shadow: var(--dorako-box-shadow);
}

.tah-action .tah-img {
    border: none;
}


#tah-hudTitle {
    display: none
}

#players,
.window-app .window-header a,
.window-app .window-header .window-title {
    text-shadow: var(--dorako-text-shadow);
}

#navigation #scene-list .scene li.scene-player {
    text-shadow: none;
}

/* Combat Tracker */


#combat #combat-round {
    border-bottom: none;
}

#combat #combat-controls {
    border: none;
}

#chat-log .message .message-header .message-metadata, #chat-log .message .message-header .message-sender {
    padding: var(--body-padding);
}

#combat li.combatant {
    border: none;
}

#combat li.combatant.active {
    background: var(--paizo-red-glass);
    box-shadow: var(--gold-and-glow);
    /*background-image: var(--img-red);*/
    background-size: 50px;
    border: none;
}

#combat li.combatant .token-image {
    margin: 5px;
}

.small-chat::after {
    content: '';
    height: 0px;
    position: absolute;
    margin: none;
    border: none;
    cursor: row-resize;
    box-shadow: var(--gold-and-glow);
}

#chat-log .message {
    margin: 0px;
}



#chat-form,
#chat-controls,
.dice-tray>*,
.dice-tray button,
.dice-tray .dice-tray__stacked,
#polyglot,
#dfcp-rt-buttons {
    margin: 0px;
    height: unset;
    line-height: unset;
}

#chat-controls {
    padding: 0px;
}

#chat {
    margin: 5px;
    margin-top: 0px;
}

.dfce-cm-middle>.message-header>.message-metadata,
.dfce-cm-bottom>.message-header>.message-metadata {
    display: none;
}

#command-menu {
    display: none;
}

/*
#chat-log > .chat-message.message.flexcol :not(.chat-message.message.flexcol.dfce-cm-middle),
#chat-log > .chat-message.message.flexcol :not(.chat-message.message.flexcol.dfce-cm-bottom){
	margin-top: 15px !important;
}
*/

#chat-log>.chat-message:not(.dfce-cm-middle, .dfce-cm-bottom) {
    margin-top: 10px;
}

#chat-log>.message {
    border: 5px solid red;
    box-shadow: none;
    border: none;
}

.message.dfce-cm-top {
    border-bottom-style: none !important;

}

.message.dfce-cm-middle {
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-radius: 0px !important;
}

.message.dfce-cm-bottom {
    border-top-style: none !important;
}

#chat-form textarea {
    overflow: visible;
}

.sidebar-tab {
    gap: 5px;
}

#dfcp-rt-buttons button {
    color: var(--color-text-light-1);
}

#dfcp-rt-buttons button.active i {
    color: var(--color-text-light-1)
}

#dfcp-rt-buttons>button :hover {
    color: var(--color-text-light-4);
}

#chat {
    padding: 2px;
}

.dice-tray button {
    padding: 0px;
}

.dice-tray,
.dice-tray .flexrow {
    gap: 5px;
}

.dice-tray {
    display: flex;
    flex-direction: column;
}

.directory {
    overflow: auto;
}

#polyglot label {
    display: flex;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    text-shadow: var(--dorako-text-shadow);
}

/* Custom hotbar */

#custom-hotbar {
    display: flex;
    align-items: center;
    /*background: pink !important;*/
    gap: 8px;
}

#custom-action-bar {
    display: flex;
    flex-direction: row;
    /*background: purple !important;*/
    width: 602px;
}

#custom-hotbar .bar-controls,
#custom-hotbar #custom-macro-list {
    gap: 5px;
    height: unset;
    margin: 0px;
}


#custom-hotbar .bar-controls {
    /*background: yellow !important;*/
    flex: 0 0 22px;
}


#ui-bottom #custom-hotbar {
    width: 670px !important;

}

#custom-action-bar {
    flex-wrap: unset;
    width: 601px;
    /*background-color: green !important;*/
    gap: 10px;
}

#ui-bottom #custom-hotbar,
#ui-bottom #custom-hotbar #custom-macro-list {
    flex: unset;
    flex-wrap: unset;
    border-radius: 5px;
    padding: 0px;
    margin-right: 9px;
    border: none;
    background: red !important;
}

#custom-hotbar #custom-macro-list.flexrow {
    border: none;
    /*background-color: yellow !important;*/
    padding: 5px;
    flex-wrap: nowrap;
    flex: 0 0 555px;
}

#custom-hotbar-page-controls.bar-controls.flexcol {
    display: flex;
    align-items: center;
    justify-content: center;
}

#custom-hotbar.flexrow {
    width: unset;
    height: unset;
    bottom: 75px;
}

#custom-hotbar {
    /*background: green;*/
    gap: 9px;
}

#custom-hotbar .bar-controls {
    text-shadow: var(--dorako-text-shadow);
}

section.effect-panel {
    right: 330px;
}