.dorako-ux {
  &.sheet.pf2e.actor.npc {
    --section-background: var(--sheet);
    --section-header: var(--primary);
    --section-border-color: var(--tertiary);
    --section-outline-color: var(--gold-brown);
    --section-header-text-color: var(--color-light-2);
    --tag-border-color: var(--alt-dark);
    --tag-background-color: transparent;
    --tag-text-color: var(--alt-dark);

    --color-border-light-highlight: var(--primary);
    --color-border-light-primary: var(--primary-light);
    --color-border-light-tertiary: var(--primary);

    --color-border-light-2: var(--color-light-5);
    --bg: var(--section-background);

    .side-bar-section-header {
      --color-text-dark-input: var(--color-light-2);
    }

    &.actor.npc.sheet form .side-bar-section.initiative select,
    &.pf2e.actor form input[type="text"],
    &.pf2e.actor form input[type="number"] {
      color: var(--color-text-dark-input);
      border-color: transparent;

      &:focus:not(disabled),
      &:hover:not(disabled) {
        box-shadow: none;
        border-color: transparent;
      }
    }

    &.pf2e.actor form .tag-legacy {
      background: var(--tag-background-color);
      border-color: var(--tag-border-color);
      color: var(--tag-text-color);
    }

    .tags .tag.tag_transparent,
    .tags .tag option.tag_transparent {
      background: var(--tag-background-color);
      border: 1px solid var(--tag-border-color);
      color: var(--tag-text-color);
      box-shadow: unset;
    }

    &.actor.npc.sheet form .adjustments {
      gap: 1px;
      .trait {
        border: 1px solid var(--tertiary);
        outline: 1px solid var(--gold-brown);
      }
    }

    &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry {
      border: 1px solid var(--section-border-color);
      outline: 1px solid var(--section-outline-color);
      .header {
        background: var(--section-header);
        border-bottom: 1px solid var(--section-border-color);
      }
    }

    .side-bar-section,
    .section-container {
      box-shadow: 0px 2px 5px black;
    }

    &.actor.npc.sheet form ol.spell-list,
    &.actor.npc.sheet form ol.spell-list > li.spell-level-header {
      border-color: transparent;
    }

    &.actor.npc.sheet form .notes .notes-section > h4 {
      color: var(--color-text-dark-input);
    }

    .tox.tox-tinymce .tox-edit-area__iframe {
      background: white;
    }

    &.actor.npc.sheet form .side-bar-section.initiative a.roll-init {
      margin-bottom: unset;
    }

    ol.spell-list > li .item-name .item-image .item-icon {
      border-radius: 3px;
    }

    form {
      .sheet-body .tab {
        padding-top: 2px;
      }

      .activity-icon {
        font-weight: 100;
      }

      input.adjustable:not(:focus).adjusted-higher,
      span.adjustable.adjusted-higher {
        color: green !important;
      }

      input.adjustable:not(:focus).adjusted-lower,
      span.adjustable.adjusted-lower {
        color: red !important;
      }

      .top-sections {
        gap: 5px;
      }

      .side-bar-section {
        background: var(--section-background);
        background-size: cover;
        border: 1px solid var(--section-border-color);
        outline: 1px solid var(--section-outline-color);
        border-radius: 3px;
        margin: 3px;
        margin-top: 0px;
        margin-bottom: 10px;

        &.initiative select {
          width: 98%;
          margin-bottom: 2px;
        }

        .side-bar-section-header {
          align-items: center;
          margin-bottom: unset;
          margin-bottom: 2px;
          padding-left: 4px;

          &.disabled {
            margin-bottom: unset;
          }
        }

        &.collapsed {
          .side-bar-section-header {
            margin-bottom: unset;
            border-bottom: unset;

            &.disabled {
              margin-bottom: unset;
            }
          }
        }

        &.collapsed {
          max-height: 26px;
          transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

          .side-bar-section-header {
            border-radius: 3px;
          }

          &:not(.empty):hover {
            max-height: 1000px;
            transition: max-height 1s ease-in-out;

            .side-bar-section-header {
              border-radius: 3px 3px 0px 0px;
              border-bottom: 1px solid var(--section-border-color);
            }

            .side-bar-section-content {
              display: block;
            }
          }

          .side-bar-section-content {
            display: none;
          }
        }
      }

      .section-container {
        padding: 0px;
        border-radius: 3px;
        margin: 3px;
        margin-top: 0px;
        margin-bottom: 10px;
        background: var(--section-background);
        border: 1px solid var(--section-border-color);
        outline: 1px solid var(--section-outline-color);
        background-size: cover;

        .section-header {
          background: var(--section-header);
          border: unset;
          border-bottom: 1px solid var(--section-border-color);
          color: var(--section-header-text-color);
        }

        .section-body {
          border: none;
          padding: 0;
          padding: 5px;
        }

        &.toggles {
          outline: none;
          border-image-repeat: repeat;
          border-image-slice: 11;
          border-image-source: var(--ornamentation);
          border-image-width: 14px;
          border-style: double;
          padding-left: 8px;
          padding-right: 8px;
          margin-left: 0px;
          font-weight: 500;
          margin-right: 0px;
          margin-top: 0px;
          margin-bottom: 0px;
          box-shadow: none;
          background: none;
          margin: 5px;
        }
      }

      .sidebar {
        .image-container {
          border: none;
        }

        .saves-section.side-bar-section {
          display: flex;
          flex-direction: column;

          &.collapsed {
            max-height: 10rem;
            &:hover {
              max-height: 1000px;
            }
          }
        }

        .saves {
          margin-top: 4px;
          width: unset;
        }

        .save-details {
          font-size: 14px;
        }
      }
    }

    .side-bar-section-header {
      background: var(--section-header);
      border-radius: 3px 3px 0px 0px;
      color: var(--section-header-text-color);
      margin-top: 0px;
      height: 24px;
      border: unset;
      border-bottom: 1px solid var(--section-border-color);

      &.disabled {
        border-radius: 3px;
      }

      .inventory-section {
        .inventory-list .item .item-image {
          border: none;
          margin: 3px 4px 3px 6px;
        }
      }

      .side-bar .image-container,
      .actions-options .actions-option {
        cursor: pointer;
      }
    }

    .side-bar-section-content {
      width: 98%;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}
