.dorako-ui.dark-theme {
  // prettier-ignore
  &#compendium-browser>section.window-content>.content-box .compendium-browser-settings form .setting-section,
  &#license-viewer>section.window-content>.content-box .compendium-browser-settings form .setting-section,
  &#compendium-browser > section.window-content > .content-box .spell-browser .filtercontainer,
  &#compendium-browser > section.window-content > .content-box .spell-browser .sortcontainer,
  &#license-viewer > section.window-content > .content-box .spell-browser .filtercontainer,
  &#license-viewer > section.window-content > .content-box .spell-browser .sortcontainer {
    @include gold-border-shadow;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
 }

  &#compendium-browser > section.window-content > .content-box .spell-browser .list-buttons button,
  &#license-viewer > section.window-content > .content-box .spell-browser .list-buttons button {
    padding: 5px;
    background-color: var(--glass-bg);
    margin-bottom: 5px;
    &:hover {
      background-color: var(--primary);
    }
  }

  &#compendium-browser > section.window-content > .content-box .spell-browser .control-area,
  &#license-viewer > section.window-content > .content-box .spell-browser .control-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: clip;
    > div:first-child {
      margin-top: 10px;
    }
  }
}
