.combat-sidebar {
  // The gap left by a combatant being dragged to a new position
  .drag-gap {
    visibility: hidden;
  }

  .hidden-name .token-name h4 {
    color: var(--color-text-light-7);
  }

  li.combatant {
    .token-image {
      margin: 2px;
    }

    .token-name {
      img.token-effect {
        border-radius: 50%;
        border: 1px solid var(--tertiary);
        box-shadow: 1px 1px 4px #222;
      }
    }

    &.defeated img {
      transform: unset; // system scales down defeated combatants, but this is the wrong selector for that, since it also scales down token effects
    }

    &.active {
      background: var(--primary);
      color: var(--color-text-light-highlight);
    }
  }
}
