#ui-middle {
  position: relative; // The panel is positioned relative to this element
}

#effects-panel.dorako-ui {
  pointer-events: initial;
  position: absolute;
  top: 5px;
  top: 0px;
  right: 3px;
  right: -3px;
  overflow: hidden scroll;
  height: calc(100% - 62px);
  height: 100%;
  padding-top: 5px;
  padding-bottom: 10%; // Make room so panel can be scrolled up to read popouts without overlapping with UI
  padding-left: 15px; // Make room for unidentified glow
  &::-webkit-scrollbar-track {
    box-shadow: none;
  }
  .effect-item {
    display: flex;
    justify-content: flex-end;
    height: 46px;
    margin-bottom: 0.2em;
    margin-right: 3px;

    &:hover {
      .effect-info {
        display: block;
      }
    }
    &[data-badge-type="formula"] .icon:hover:before {
      border-radius: 50%;
    }

    .effect-info {
      @include glass;
      display: none;
      height: min-content;
      margin: 3px; // Make space for box-shadow for overflow
      margin-right: 0.5em;
      padding: 4px 8px;
      backdrop-filter: blur(5px);
      z-index: var(--z-index-tooltip);

      .description {
        background: unset;
      }

      h1 {
        font-size: var(--font-size-16);
        color: var(--color-text-light-highlight);
        text-align: right;
        border: none;
      }

      p:last-child {
        margin-bottom: 0px;
      }

      .tags {
        justify-content: flex-end;

        .tag {
          margin-bottom: 0;
          & + .tag,
          &:first-child {
            margin-left: 3px;
            margin-right: -2px;
          }
        }
      }

      .instructions {
        color: var(--color-text-light-heading);
        font-size: 0.75em;
        text-align: right;
      }
    }

    > .icon {
      @include gold-border-shadow;
      border-radius: 50%;
      align-items: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: transparent;
      display: flex;
      justify-content: center;
      position: relative;
      height: 42px;
      width: 42px;
      margin-left: 3px; // Make room for box-shadow overflow for expired tag

      &.aura {
        border-radius: 5px;
        transform: scale(0.8);
        // prettier-ignore
        box-shadow: 
        0 0 0 1px var(--tertiary), 
        0 0 0 2px var(--gold-brown),
        0 0 10px 3px var(--tertiary);
      }

      .expired {
        position: absolute;
        left: auto;
        bottom: -1px;
        width: 80%;
        width: unset;
        padding: 2px 2px;
        color: white;
        color: var(--color-text-light-highlight);
        background-color: var(--primary-light);
        text-shadow: 0px 0px 3px black;
        box-shadow: var(--gold-and-glow);
        border-radius: 2px;
      }
      .linked {
        position: absolute;
        display: inline-block;
        bottom: -1px;
        right: -1px;
        padding: 0px 2px;
        color: white;
        color: var(--color-text-light-highlight);
        background-color: rgba(0, 0, 0, 0.75);
        background: none;
        text-shadow: 0px 1px 5px black, 0px 1px 5px black;
      }

      .value-wrapper {
        background: none;

        .value {
          // position: absolute;
          // display: inline-block;
          // bottom: -1px;
          // left: -1px;
          padding: 0px 2px;
          color: white;
          color: var(--color-text-light-highlight);
          background-color: rgba(0, 0, 0, 0.75);
          background: none;
          text-shadow: 0px 1px 5px black, 0px 1px 5px black;
        }
      }

      &.unidentified {
        filter: drop-shadow(0 0 8px var(--blind-bg));
      }
    }
  }

  hr {
    margin-right: 6;
    margin-right: 2px;
    width: 36px;
    width: 42px;
    border-top: 1px solid var(--tertiary);
    border-bottom: 1px solid var(--gold-brown);
    box-shadow: 0 0 20px rgb(0 0 0 / 80%);
  }
}
