.foundry2 {
  &.pf2e.actor form input[type="text"],
  &.pf2e.actor form input[type="number"] {
    border: 1px solid var(--color-cool-3);
    background: var(--color-cool-4);
    color: var(--color-light-2);
    &:hover,
    &:focus {
      border: 1px solid var(--color-cool-3);
      outline: 2px solid var(--color-cool-3);
      box-shadow: var(--box-shadow);
    }
  }

  &.sheet nav.sheet-tabs .item {
    @include f2-app;
    @include quick-transition;
    border-radius: 3px;
    &:hover,
    &.active {
      border-color: var(--color-warm-1);
      background: var(--color-warm-2);
      color: var(--color-light-2);
    }
    &.disabled {
      border-color: var(--color-warm-4);
      background: var(--color-cool-5);
      color: var(--color-light-5);
      &:hover {
        border-color: var(--color-warm-3);
        background: var(--color-cool-4);
        color: var(--color-light-4);
      }
    }
  }

  .tags.paizo-style .tag.rarity.common,
  .tags.paizo-style .tag.rarity[value="common"],
  .tags.paizo-style .tag.rarity > option[value="common"] {
    color: black;
  }
  .currency li > button {
    text-shadow: unset;
  }
}
