.foundry2 {
  &.sheet.party {
    --color-border: var(--color-warm-3);
    --alt-dark: var(--color-light-4);
    --sub: var(--color-cool-3);
    --text-dark: var(--color-light-2);
  }

  &.sheet.party .tag-light {
    // @include f2-app;
    // border-radius: 3px;
    background: var(--tag-color);
    border-color: var(--color-cool-4);
    color: white;
  }

  &.sheet.party nav.sub-nav {
    background: unset;
    > a {
      @include f2-app;
      &:hover,
      &.active {
        border-color: var(--color-warm-1);
        background: var(--color-warm-2);
        color: var(--color-light-2);
      }
      &.disabled {
        border-color: var(--color-warm-4);
        background: var(--color-cool-5);
        color: var(--color-light-5);
        &:hover {
          border-color: var(--color-warm-3);
          background: var(--color-cool-4);
          color: var(--color-light-4);
        }
      }
    }
  }

  &.sheet.party form > header input[type="text"],
  &.sheet.party form > header input[type="number"] {
    @include f2-input;
    height: 32px;
  }

  &.sheet.party .sidebar {
    box-shadow: unset;
    border: unset;
  }

  &.sheet.party form {
    background: unset;
  }
  &.sheet.party.window-app .window-header {
    background: #1f391f;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &.sheet.party [data-tab="overview"] .summary {
    background: var(--color-warm-4);
    border-image-source: var(--ornamentation);
  }
  &.sheet.party [data-tab="overview"] .summary nav button {
    @include f2-button-warm;
  }
  &.sheet.party [data-tab="overview"] .member > .data .main-stats > section {
    background-color: var(--color-warm-4);
    &.ac {
      background: unset;
      border: unset;
    }
  }
  &.sheet.party [data-tab="overview"] .member > .data .main-stats .ac .value {
    color: var(--color-warm-1);
  }

  &.sheet.party [data-tab="exploration"] .activities .member-activity .empty .name {
    color: var(--color-light-2);
  }

  &.sheet.party [data-tab="exploration"] .activities .member-activity {
    background-color: var(--color-warm-4);
  }

  &.sheet.party [data-tab="overview"] .member > .data header .hero-points .empty {
    border: 2px dashed var(--color-warm-2);
  }
  &.sheet.party [data-tab="overview"] .member > .data header .name {
    color: var(--color-light-2);
  }
  &.sheet.party header.content-header .buttons {
    gap: 5px;
    button {
      @include f2-button-warm;
    }
  }
  &.sheet.party [data-tab="exploration"] .activities .member-activity .empty .icon {
    background: var(--color-warm-5);
  }
}
