.dorako-ui .tox:not(.tox-tinymce-inline) .tox-editor-header {
  background: none;
  box-shadow: none;
}

/* ----------------------------------------- */
/* App UI                                    */
/* ----------------------------------------- */

#players.dorako-ui {
  @include glass;
  text-shadow: 0px 0px 3px black;

  h3 {
    cursor: pointer;
    @include quick-transition;

    &:hover {
      text-shadow: 0px 0px 8px var(--color-shadow-highlight);
    }
  }
}

#players.foundry2 {
  @include f2-app;

  h3 {
    cursor: pointer;
    @include quick-transition;

    &:hover {
      text-shadow: 0px 0px 8px var(--color-shadow-highlight);
    }
  }
}

.dorako-ui.app.journal-entry:not(.premium) {
  .window-content {
    box-shadow: none;
    margin: 0px;
    background: none;

    .journal-entry-content {
      @include sheet;
      margin-left: 4px;
      height: calc(100% - 4px);
    }
  }

  &.pf2e-av .journal-entry-content.flexcol {
    color: black;
    background: url(../../../modules/pf2e-abomination-vaults/styles/assets/parchment-av.jpg) repeat;
  }
}

.dorako-ui.window-app {
  @include glass;
  border-radius: 5px;
  box-shadow: var(--glassy), 0px 10px 30px 10px rgba(0, 0, 0, 0.5);

  .window-header {
    text-shadow: 0px 0px 3px black;
    border: none;
  }
  .window-content {
    @include sheet;
    margin: unset; // messes with box-sizing
    box-shadow: 0 0 0 1px var(--gold-brown) inset, 0 0 0 2px var(--tertiary) inset;
    border-radius: 0px 0px 3px 3px;
  }
  &.journal-entry {
    .window-content {
      background: unset;
      box-shadow: unset;
    }
  }

  &.sidebar-popout {
    border: none;

    .window-content {
      background: none;
      box-shadow: none;
      margin: 0px;
    }
  }

  &.chat-popout {
    border-radius: 5px 5px 7px 7px;
    .window-header {
      border: none;
    }
    .message.chat-message {
      margin: 1px;
    }
  }

  &.image-popout {
    backdrop-filter: blur(5px);
    .window-content {
      background: none;
      box-shadow: none;
    }
  }

  &.maximized {
    border-radius: 0;
    margin: 0px;
    box-shadow: none;
    &.hazard {
      background-color: #1c3531;
    }

    &.character {
      background-color: #5d0e08;
    }

    &.npc {
      background-color: #422d01;
    }
  }
  .window-resizable-handle {
    background: none;
    border: none;
    text-shadow: 0px 0px 3px black;
  }
}

.dorako-ui.package-configuration aside.sidebar nav.tabs {
  padding: 10px;
  margin: -10px;
  margin-bottom: 0px;
}

.dorako-ui {
  &::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 1px solid var(--gold-brown);
  }
}

/* ----------------------------------------- */
/* Context Menu                              */
/* ----------------------------------------- */

.dorako-ui #context-menu {
  @include glass;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-shadow: 0px 0px 3px black;

  &.expand-down {
    margin-top: 3px;
  }

  ol.context-items {
    border: none;
  }
}

/* ----------------------------------------- */
/* Tooltip                                   */
/* ----------------------------------------- */

// Exists in outermost scope
#tooltip[data-theme="dorako-ui"] {
  @include glass;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  min-height: 34px;
  font-size: var(--font-size-20);
  line-height: var(--font-size-20);
  text-shadow: 0px 0px 3px black;
}

/* ----------------------------------------- */
/* FPS display                               */
/* ----------------------------------------- */

#fps[data-theme="dorako-ui"] {
  @include glass;
  text-shadow: 0px 0px 3px black;
}
