/* Combat Tracker */

.combat-sidebar li.combatant .token-initiative {
    display: flex;
    align-items: center;
    justify-content: center;
}

.combat-sidebar #combat-round {
    border-bottom: none;
}

.combat-sidebar .directory .directory-header,
.combat-sidebar #combat-controls a,
.combat-sidebar #combat-round {
    text-shadow: var(--dorako-text-shadow);
}

.combat-sidebar #combat-round .encounters h4,
.combat-sidebar #combat-round .encounters a {
    color: unset;
}

.combat-sidebar #combat-controls {
    border: none;
}

.combat-sidebar li.combatant {
    border: none;
}

.combat-sidebar li.combatant.active {
    background: var(--paizo-red);
    box-shadow: var(--gold-and-glow);
    /* background-size: 50px; */
    border: none;
}

.combat-sidebar li.combatant>.token-image {
    margin: 5px;
}

.combat-sidebar li.combatant .token-name {
    text-shadow: var(--dorako-text-shadow);
    justify-content: center;
}

/* Combat Enhancements */

.combatant .ce-image-wrapper {
    margin: 5px;
}

/* Combat Focus */

.small-chat::before {
    height: 1px;
    cursor: row-resize;
}

.small-chat::after {
    content: '';
    height: 0px;
    position: absolute;
    margin: none;
    border: none;
    cursor: row-resize;
    box-shadow: var(--gold-and-glow);
}

/* Monk's little details */

.encounter-cr-row {
    --control-width: 28px;
    display: flex;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
}