/* Sidebar */

/* Glass - Remove prior styling */

#sidebar,
#sidebar-tabs {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    backdrop-filter: none;
    background: none;
    background-image: none;
}

#sidebar {
    height: -webkit-fill-available;
    margin: var(--edge-margin) var(--edge-margin) var(--edge-margin) 0px;
    --header-color: #fff;
    --header-bg: var(--primary);
    /* display: inline-block; */
}

/* Glass - Add new styling */

/* .window-content .sidebar-tab * {
    text-shadow: var(--dorako-text-shadow);
} */

/* .sidebar-popout.app */
#sidebar.app {
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    /* backdrop-filter: var(--dorako-vibrancy); */
    /*will-change: backdrop-filter;*/
    transform: translate3d(0px, 0px, 0px);
    box-shadow: var(--glassy);
}

#sidebar-tabs {
    --sidebar-tab-height: 4px;
    --sidebar-tab-width: 4px;
    color: var(--color-text-light-highlight);
    border: 1px solid var(--color-border-highlight-alt);
    box-shadow: none;
    border: none;
    padding: none;
    margin: none;
}

#sidebar-tabs>.item {
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    flex: 0 0 21px;
    line-height: 22px;
    border: none;
    border-radius: 6px;
    margin: 1px;
}


#sidebar-tabs>.item.active {
    color: white;
    box-shadow: none;
    border: none;
    box-shadow: none;
    border-bottom: none;
    /* box-shadow: 0 0 10px inset var(--paizo-blue-bright); */
    background-color: var(--paizo-red-bright);
    /* border: 1px solid wheat; */
    margin: 1px;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: var(--gold-and-glow);
}

#sidebar-tabs>.item:not(.active):hover {
    color: white;
    box-shadow: none;
    border: none;
    box-shadow: none;
    border-bottom: none;
    /* box-shadow: 0 0 10px inset var(--paizo-blue-bright); */
    background-color: var(--paizo-red);
    /* border: 1px solid wheat; */
    border-radius: 6px;
    margin: 1px;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: var(--gold-and-glow);
}

#chat-popout nav.damage-log-nav.tabs {
    flex: 0;
    margin: 0px;
    box-shadow: var(--glassy);
    background-color: var(--dorako-bg-current);
    padding: 3px;
}

#damage-log {
    gap: 3px;
    display: flex;
    flex-direction: column;
}

nav.damage-log-nav .item.active {
    box-shadow: var(--gold-and-glow);
    background-color: var(--paizo-blue-bright);
    border: none;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px;
}

nav.damage-log-nav .item {
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 2px;
    color: white;
    border-radius: 5px;
    margin: 2px;
    border: none;
}

nav.damage-log-nav .item:not(.active):hover {
    box-shadow: var(--gold-and-glow);
    background-color: var(--paizo-blue);
    border: none;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px;
}

nav.damage-log-nav.tabs {
    flex: 0;
    margin: 0px;
    border-bottom: 0px solid wheat;
    box-shadow: none;
}

.dfce-cm-top:hover, .dfce-cm-middle:hover, .dfce-cm-bottom:hover {
    box-shadow: var(--gold-and-glow);
}

#sidebar.collapsed #sidebar-tabs>.item,
#sidebar.collapsed #sidebar-tabs>.item.active {
    border: none;
    text-shadow: none;
}

#sidebar-tabs>.collapse {
    text-align: center;
    align-self: center;
}

#sidebar.app {
    background-image: none;
    /* max-height: 98%; */
}

#sidebar-tabs.tabs {
    margin: 0px;
    padding: 0px;
}

.sidebar-tab {
    gap: 5px;
}


#chat-form {
    flex: 0 0 var(--chat-input-height);
}

#chat-form textarea {
    max-height: var(--chat-input-height);
    height: 100%;
    background-image: none;
    border: none;
    background-color: rgba(200, 200, 200, 0.8);
    box-shadow: var(--glassy);
    overflow: visible;
    /* margin-left: 2px;
    margin-right: 2px; */
    width: -webkit-fill-available;
    font-size: 16px;
    font-family: var(--font-primary);
}

/* Scrollbar */

/* #chat-log::-webkit-scrollbar {
    width: unset;
    height: unset;
    display: none;
}

#chat-log::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: var(--color-text-light-1);
    border: none;
    display: none;
}

#chat-log:-webkit-scrollbar-track {
    box-shadow: 0 0 1px #999 inset;
    border-radius: 3px;
    padding:0px;
    margin: 0px;
    display: none;
} */



/* Polyglot */

#polyglot {
    /* height: 20px; */
    line-height: unset;
    flex: none;
}

#polyglot label {
    /* display: flex;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    text-shadow: var(--dorako-text-shadow); */
    display: none;
}


/* .directory .action-buttons button {
    margin: 0px;
} */

/* #sidebar.app {
    resize:horizontal;
} */

/* CGP */
#cgmp-typing-notify {
    padding: 3px;
}

#cgmp-typing-notify.hidden {
    padding: 0px;
}

/* 
#cgmp-typing-notify.hidden>* {
    display: none;
} */

#sidebar #chat {
    overflow: hidden;
}

#sidebar .bestiary-browser-btn {
    width: calc(100% - 8px);
}

/* .speaking-as--currentSpeaker+#chat-controls {
    padding: 0px;
}

.speaking-as--currentSpeaker {
    padding-left: 5px;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    box-shadow: var(--glassy);
    margin: 0px 2px;
} */

#chat-controls .undefined>i {
    margin-right: 1px;
    margin-left: -1px;
}