/* Window Control */

#minimized-bar {
    display: none !important;
}

.window-app.minimized .window-header {
    /* border: 1px solid transparent; */
    border: none;
    /* border-radius: 5px; */
    /* background-color: var(--dorako-bg-current); */
    /* backdrop-filter: var(--dorako-vibrancy); */
    /* box-shadow: 0 0 3px black; */
}

/* .window-app .window-content {
     box-shadow: var(--gold-and-glow)
 } */

.app.window-app {
    transition: background-color 0.25s;
    /* backdrop-filter: var(--dorako-vibrancy); */
    background-color: var(--dorako-bg-current);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5),
        var(--glassy);
}

.app.window-app .window-header {
    border-bottom: 1px solid #484848;
}

.app.window-app.minimized .window-header {
    border-bottom: none;
}

.app.window-app.minimized {
    /* box-shadow: none; */
}

.sheet.journal-entry {
    box-shadow: var(--glassy), 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--dorako-bg-current);
    /* backdrop-filter: var(--dorako-vibrancy); */
}

.sheet.journal-entry .window-content {
    overflow: visible;
}

.sheet.journal-entry .journal-entry-content {
    border: none;
    border-radius: 10px 0 0 0;
    margin-right: 2px;
    margin-left: 2px;
    height: calc(100% - 2px);
    box-shadow: var(--gold-and-glow), var(--glassy)
}

.sheet.window-app:not(.outlaws-wrapper, .minimized).journal-entry .window-header {
    box-shadow: none;
    border: none;
    background-color: unset;
}

.sheet.journal-entry .journal-entry-content {
    background: none;
    background-color: var(--bg);
    background-image: var(--pf2e-sheets-bg);
    background-size: cover;
}

.sheet.journal-entry:not(.bloodlords-wrapper, .outlaws-wrapper) .journal-sidebar {
    text-shadow: var(--dorako-text-shadow);
}

.sheet.journal-entry .pages-list .directory-item.active:last-of-type {
    border-bottom: 1px solid wheat;
}

.sheet.journal-entry .pages-list .directory-item:not(.active)+.active,
.sheet.journal-entry .pages-list .directory-item.active+ :not(.active),
.sheet.journal-entry .pages-list .directory-item.active:first-of-type {
    border-top: 1px solid wheat;
}

.directory .directory-item.context, .directory .directory-item.active {
    border-color: wheat;
}

/* .sheet.journal-entry .journal-entry-page * {
    text-shadow: 0px 1px 1px white;
} */

.sheet.journal-entry .journal-sidebar .directory-header .header-search input,
.sheet.journal-entry .journal-sidebar .action-buttons button.create,
.sheet.journal-entry .journal-sidebar .action-buttons button.next,
.sheet.journal-entry .journal-sidebar .action-buttons button.previous {
    border: none;
    box-shadow: var(--gold-and-glow);
}

#tooltip {
    /* position: absolute;
    width: max-content;
    max-width: 320px;
    padding: 6px 8px; */
    background: var(--pf2e-color-mono-dark);
    /* font-family: var(--font-primary);
    font-size: var(--font-size-16);
    line-height: var(--font-size-16);
    color: var(--color-text-light-highlight); */
    border: none;
    /* border-radius: 3px; */
    box-shadow: var(--glassy);
    /* z-index: var(--z-index-tooltip);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms; */
}

.app.window-app.image-popout .window-header,
.app.window-app.journal-sheet .window-header {
    border-bottom: none;
}

/* Windows Vista styling */
/* .window-app .window-content {
    border-radius: 5px;
}

.pf2e.actor .window-content,
.sheet.hazard .window-content,
section.window-content {
    margin: 0px 5px 5px 5px;
    border-radius: 3px;
    box-shadow: var(--gold-and-glow);
}

.image-popout section.window-content,
.journal-sheet section.window-content {
    margin: unset;
    box-shadow: unset;
} 

.app.window-app .window-header {
    border-bottom: unset;
}
*/