[data-theme] {
  &.pf2e.actor {
    --contrastive-transparent: rgba(255, 255, 255, 0.2);
  }

  &.actor.sheet .item-image:hover i {
    color: white;
    background: var(--color-primary-2);
    text-shadow: 0px 1px 2px black;
    border-radius: 3px;
  }

  &.actor.sheet .window-content .inventory ul.items > li > .data .item-controls > a.toggle-invested.active,
  &.actor.sheet .window-content .inventory ul.items > li > .data .item-controls > a.item-carry-type.active {
    --secondary: var(--accent-color);
    --fa-inverse: var(--accent-text-color);
  }

  &.actor.sheet .window-content .inventory ul.items > li > .data .item-controls > a.toggle-invested:not(.active),
  &.actor.sheet .window-content .inventory ul.items > li > .data .item-controls > a.item-carry-type:not(.active) {
    text-shadow: 0px 0px 0px white;
  }

  &.actor.sheet .window-content .item-summary .button-group button {
    @include dui-button-bright;
  }

  button[data-action="perform-daily-crafting"] {
    @include dui-button-bright;
  }

  // nav.sheet-tabs {
  //   background: unset;
  //   box-shadow: unset;
  //   display: flex;
  //   margin: 2px 2px;
  //   border: none;
  //   .tabs {
  //     gap: 4px;
  //   }
  //   .list-row,
  //   a.item,
  //   .tab {
  //     @include dui-button;
  //     padding: 5px 10px;
  //     flex: 1;
  //     font-family: var(--font-primary);
  //   }
  // }

  &.pf2e.item.sheet form > nav > .tabs > a:last-of-type {
    padding: 5px 10px; // unsets ugly system behaviour
  }

  &.pf2e.actor form input[type="text"],
  &.pf2e.actor form input[type="number"] {
    @include dui-input;
  }

  .tags.paizo-style .tag.rarity.common,
  .tags.paizo-style .tag.rarity[value="common"],
  .tags.paizo-style .tag.rarity > option[value="common"] {
    --input-text-color: black;
  }

  &.pf2e.actor form .tag-legacy {
    background: var(--color-secondary-4);
    border: unset;
    box-shadow: 0px 0px 0px 1px var(--contrastive-transparent) inset;
  }

  &.spellcasting-entry.preparation ol.spell-list > li .item-summary {
    border: unset;
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item.unidentified {
    color: black;
    border-radius: var(--border-radius);
  }

  &.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list > li .item-summary {
    border-top: unset; // system hardcoded color
  }
}

[data-theme],
[data-dorako-ui-scope="limited"] {
  .tags {
    --color-rarity-common: #323232;
  }

  .currency li > button {
    @include dui-button;
  }

  &.spellcasting-entry.preparation ol.spell-list > li .item-name .item-image,
  &.actor.sheet .item-image {
    @include dui-app;
    margin: 1px 2px;
    border: 1px solid;
    border-color: var(--icon-border-color);
    border-radius: 3px;
    img {
      border-radius: 3px;
    }
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .item-image.framed {
    border-radius: 3px;
    i {
      text-shadow: none;
    }
  }
}
