[data-dorako-ui-theme] {
  &.pf2e.actor {
    --contrastive-transparent: rgba(255, 255, 255, 0.2);
  }

  &.pf2e.actor form input[type="text"],
  &.pf2e.actor form input[type="number"] {
    @include f2-input;
  }

  &.sheet nav.sheet-tabs {
    border: none;
    .item {
      @include f2-button-warm;
    }
  }

  .tags.paizo-style .tag.rarity.common,
  .tags.paizo-style .tag.rarity[value="common"],
  .tags.paizo-style .tag.rarity > option[value="common"] {
    --input-text-color: black;
  }

  &.pf2e.actor form .tag-legacy {
    background: var(--color-cool-4);
    border: unset;
    box-shadow: 0px 0px 0px 1px var(--contrastive-transparent) inset;
  }

  &.spellcasting-entry.preparation ol.spell-list > li .item-summary {
    border: unset;
  }
}

[data-dorako-ui-theme],
[data-dorako-ui-scope="limited"] {
  .tags {
    --color-rarity-common: #323232;
  }

  .currency li > button {
    @include f2-button-warm;
  }

  &.spellcasting-entry.preparation ol.spell-list > li .item-name .item-image,
  &.actor.sheet .item-image {
    @include f2-app;
    margin: 1px 2px;
    border: 1px solid;
    border-color: var(--icon-border-color);
    border-radius: 3px;
    img {
      border-radius: 3px;
    }
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .item-image.framed {
    border-radius: 3px;
    i {
      text-shadow: none;
    }
  }

  &.actor.sheet .inventory .item-summary {
    background: color-mix(in srgb, var(--theme-color) 50%, transparent);
  }
}
