[data-dorako-ui-theme] {
  // prettier-ignore
  &#compendium-browser>section.window-content>.content-box .compendium-browser-settings form .setting-section,
  &#license-viewer>section.window-content>.content-box .compendium-browser-settings form .setting-section,
  &#compendium-browser > section.window-content > .content-box .spell-browser .filtercontainer,
  &#compendium-browser > section.window-content > .content-box .spell-browser .sortcontainer,
  &#license-viewer > section.window-content > .content-box .spell-browser .filtercontainer,
  &#license-viewer > section.window-content > .content-box .spell-browser .sortcontainer {
    @include f2-app;
    padding: 5px;
    cursor: pointer;
    color: var(--input-text-color);
    margin-left: 2px;
 }

  &#compendium-browser > section.window-content > .content-box .spell-browser .list-buttons button,
  &#license-viewer > section.window-content > .content-box .spell-browser .list-buttons button {
    @include f2-button-warm;
    padding: 5px;
    margin-bottom: 5px;
  }

  &#compendium-browser > section.window-content > .content-box .spell-browser .control-area,
  &#license-viewer > section.window-content > .content-box .spell-browser .control-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: clip;
    > div:first-child {
      margin-top: 10px;
    }
  }

  &#compendium-browser .spell-browser .item img {
    @include f2-app;
  }

  &#compendium-browser [data-tab="action"] .spell-browser .item img,
  &#compendium-browser [data-tab="spell"] .spell-browser .item img {
    background-color: white;
  }

  &#compendium-browser > section.window-content > .content-box .compendium-browser-settings > nav,
  &#license-viewer > section.window-content > .content-box .compendium-browser-settings > nav,
  &#compendium-browser > section.window-content > .content-box > nav,
  &#license-viewer > section.window-content > .content-box > nav {
    --secondary: var(--color-cool-3);
  }

  &#compendium-browser > section.window-content > .content-box .spell-browser ul.result-list > li:hover,
  &#license-viewer > section.window-content > .content-box .spell-browser ul.result-list > li:hover {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    color: white;
  }

  &.roll-modifiers-dialog {
    --secondary: var(--color-cool-3);
    border: none;
    .window-header {
      background: linear-gradient(90deg, var(--secondary) 0%, var(--color-cool-3) 50%, var(--secondary) 100%);
      color: var(--color-light-1) !important;
    }
  }
}
