[data-theme] {
  .window-content .journal-entry-content {
    .journal-entry-page .journal-page-content .fumble-deck,
    .journal-entry-page .journal-page-content .critical-deck {
      --text-dark: var(--text-color-2);
    }

    .journal-entry-page .journal-page-content .fumble-deck blockquote,
    .journal-entry-page .journal-page-content .critical-deck blockquote {
      color: var(--text-color-3);
      box-shadow: 0px 1px 3px 1px black;
      background: var(--color-primary-4);
    }

    .journal-entry-page .journal-page-content .fumble-deck blockquote {
      border: 1px solid var(--color-level-error);
      background-color: var(--color-level-error-bg);
    }

    .journal-entry-page .journal-page-content .critical-deck blockquote {
      border: 1px solid var(--color-level-success);
      background-color: var(--color-level-success-bg);
    }

    .journal-entry-page .journal-page-content .fumble-deck h1,
    .journal-entry-page .journal-page-content .critical-deck h1 {
      background-color: var(--color-primary-2);
      border: 1px solid var(--color-primary-1);
      color: var(--text-color-2);
      text-shadow: 0px 1px 2px black;
      box-shadow: 0px 1px 3px 1px black;
      font-family: var(--font-primary); // Dalvyn
    }

    .journal-entry-page .journal-page-content .fumble-deck code,
    .journal-entry-page .journal-page-content .critical-deck code {
      background: unset;
      box-shadow: unset;
      border-radius: 32px;
      background-color: var(--color-secondary-2);
      border: 1px solid var(--color-secondary-1);
      color: var(--text-color-2);
      text-shadow: 0px 1px 2px black;
      box-shadow: 0px 1px 3px 1px black;
      font-family: var(--font-primary); // Dalvyn
    }
  }
}
