[data-theme] {
  &#effects-panel {
    .effect-item .effect-info .description a,
    .effect-item .effect-info .description span[data-pf2-effect-area] {
      color: var(--inline-text-color);
    }

    .effect-item .effect-info {
      @include dui-tooltip;
      min-height: 34px;
      font-size: var(--font-size-20);
      line-height: var(--font-size-20);
    }

    .effect-item .effect-info .description {
      background: unset;
    }

    .effect-item[data-badge-type="formula"] > .icon:hover::before {
      border-radius: var(--border-radius);
      padding: none;
      background: var(--button-hover-background);
      text-shadow: 0px 1px 2px black;
    }

    .effect-item > .icon {
      border: var(--app-border-width) var(--icon-border-color);
      border-radius: var(--border-radius);
      --box-shadow: 0px 1px 3px 1px black;
      box-shadow: var(--box-shadow);
      color: var(--text-color-3);
      position: relative;
      &.aura {
        border-radius: 50%;
        border: 1px solid var(--color-primary-1);
        box-shadow: 0px 0px 6px var(--color-primary-2), 0px 2px 8px 1px var(--color-primary-3);
      }
      .linked {
        color: var(--text-color-2);
        background: var(--color-primary-3);
        border: 1px solid var(--color-secondary-4);
        border-radius: 4px 0px var(--border-radius) 0px;
        border-bottom: unset;
        border-right: unset;
        text-shadow: 0px 1px 2px black;
      }
      .value-wrapper {
        background: none;
        bottom: -1px;
        left: -3px;

        .value {
          padding: 2px;
          color: var(--text-color-2);
          background: var(--color-primary-3);
          border-radius: 0px 4px 0px var(--border-radius);
          border: 1px solid var(--color-secondary-4);
          border-bottom: unset;
          border-left: unset;
          text-shadow: 0px 1px 2px black;
        }
      }
      .expired {
        position: absolute;
        left: auto;
        width: 80%;
        width: unset;
        padding: 2px 1px;
        color: var(--text-color-1);
        background: var(--color-primary-2);
        border: 1px solid var(--color-primary-1);
        text-shadow: 0px 1px 2px black;
        border-radius: 0px 0px 4px 4px;
      }
    }
  }
}
