[data-theme] {
  &.sheet.familiar form {
    background: unset;
  }
  &.sheet.familiar .section-container {
    @include dui-app;
    --primary: var(--color-light-3);
    padding: unset;
    margin: 4px 6px 0;
    border: 1px solid var(--color-warm-3);
    background: var(--color-warm-4);
    border-radius: var(--border-radius);
    .section-header {
      background: unset;
      border: unset;
    }
    .section-body {
      background: unset;
      border: unset;
    }
  }

  &.sheet.familiar .familiar-sheet-header .header-content .details-section .hp-section .value input,
  &.sheet.familiar .familiar-sheet-header .header-content .charname input,
  &.sheet.familiar select,
  &.sheet.familiar .familiar-section .familiar-content input[type="text"] {
    @include dui-input;
  }

  &.sheet.familiar .familiar-sheet-header .header-content .charname input {
    font-size: 24px;
    margin-right: 100px;
  }

  &.sheet.familiar .skills-content .skills-list .skill-name {
    @include dui-button;
  }
}
