[data-theme] {
  &.sheet.hazard {
    --color-text-light: var(--text-color-2);
  }
  &.sheet.hazard.window-app .window-header {
    background: #19302c;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    color: #ffffff !important;
  }

  &.sheet.hazard.window-app.minimized .window-header {
    border-radius: var(--border-radius);
  }

  &.sheet.hazard .section-container.publication .section-body input[type="text"],
  &.sheet.hazard .container input[type="text"],
  &.sheet.hazard .container input[type="number"],
  &.sheet.hazard .container select {
    @include dui-input;
  }

  &.sheet.hazard form > header {
    --text-dark: black;
  }

  &.sheet.hazard .section-container,
  &.sheet.hazard form > header {
    --input-text-color: white;
  }

  &.sheet.hazard form > header .details {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &.sheet.hazard form > header .title {
    align-items: center;
  }

  &.sheet.hazard .sidebar .sidebar-title {
    border: unset;
  }

  &.sheet.hazard .sidebar {
    border: unset;
    box-shadow: unset;

    > section {
      gap: 3px;
      display: flex;
      flex-direction: column;
    }
  }

  &.sheet.hazard .section-container .section-header h4 {
    color: var(--text-color-2);
  }

  &.sheet.hazard .section-container {
    @include dui-app;
    padding: unset;
    margin: 4px 6px 0;
    border: 1px solid var(--color-primary-3);
    background: var(--color-primary-4);

    .section-header {
      background: unset;
      border: unset;
    }
    .section-body {
      background: unset;
      border: unset;
    }
  }
}
