[data-theme] {
  &.sheet.actor.loot section.sidebar {
    box-shadow: unset;
    border: unset;
  }

  &.sheet.actor.loot section.sidebar .image-container > img.actor-image {
    border: unset;
  }

  &.sheet.actor.loot section.sidebar .gm-settings {
    border: unset;
  }

  &.sheet.actor.loot .sheet-header {
    border: unset;
    box-shadow: unset;
  }

  &.sheet.actor.loot section.sidebar .gm-settings .loot-distribution {
    box-shadow: unset;
    background: unset;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &.sheet.actor.loot .sheet-header .tags .tag,
  &.sheet.actor.loot .sheet-header h1 > input {
    @include dui-input;
  }

  &.sheet.actor.loot form section.sidebar .gm-settings .loot-distribution button {
    @include dui-button;
  }
}
