[data-dorako-ui-theme][data-dorako-ui-scope="limited"] {
  &.sheet.pf2e.actor.npc.app {
    --section-background: var(--color-warm-5);
    --section-header: var(--color-warm-4);
    --section-border-color: var(--color-scrollbar-border);
    --section-outline-color: var(--color-cool-5);
    --section-header-text-color: var(--color-light-2);
    --tag-border-color: var(--color-light-5);
    --tag-background-color: var(--color-cool-4);
    --tag-text-color: var(--color-light-4);
    --color-text-dark-input: var(--color-light-3);

    --text-dark: var(--color-light-2);
  }

  &.actor.sheet .item-image:hover i {
    background: var(--color-warm-2);
    text-shadow: 0px 1px 2px black;
  }

  nav.sheet-tabs {
    background: unset;
    box-shadow: unset;
    a.item,
    .tab {
      @include f2-button-warm;
      padding: 5px 10px;
      font-family: var(--font-primary);
      text-shadow: 0px 1px 2px black;

      &.active {
        font-weight: unset;
        text-shadow: 0px 1px 2px black;
      }
    }
  }

  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .spell-level-header input {
    @include f2-input;
    --input-height: 18px;
  }

  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header .attribute select {
    @include f2-input;
    max-width: 60px;
  }

  &.actor.npc.sheet form ol.spell-list > li.spell-level-header input,
  &.actor.npc.sheet form ol.spell-list > li .uses input {
    @include f2-input;
    --input-height: 18px;
  }

  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header .inline-field .attack-input,
  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header .inline-field .dc-input {
    @include f2-input;
  }

  &.actor.npc.sheet form .notes .notes-section.publication .notes-text .license select {
    @include f2-input;
  }

  &.actor.npc.sheet form .spellcasting-entry select {
    @include f2-input;
  }

  &.actor.npc.sheet form .notes .notes-section.publication .notes-text input[type="text"] {
    @include f2-input;
  }

  &.actor.npc.sheet form .side-bar-section.initiative select {
    @include f2-input;
  }

  &.actor.npc.sheet form .sheet-body .actions-list li.action:not(:last-child),
  &.actor.npc.sheet form .sheet-body .attacks-list li.action:not(:last-child) {
    border-color: var(--section-border-color);
  }

  &.actor.npc.sheet form .notes .details-label {
    color: var(--color-light-2);
  }

  &.actor.npc.sheet form .notes .notes-text {
    color: var(--color-light-3);
  }

  &.actor.npc.sheet form .side-bar-section-header {
    border: unset;
  }

  &.actor.npc.sheet form .sheet-body .footer button.spellcasting-create {
    background-color: var(--color-warm-1);
    color: black;
    text-shadow: unset;
  }
}

[data-dorako-ui-theme] {
  &.app.npc-skills-editor form ol li.skill:nth-child(even) {
    background-color: color-mix(in srgb, var(--color-cool-4) 20%, transparent);
  }
  &.app.npc-skills-editor form ol li.skill:nth-child(odd) {
    background-color: color-mix(in srgb, var(--color-cool-4) 40%, transparent);
  }
  &.app.npc-skills-editor form ol li.skill.header {
    background-color: var(--color-warm-2);
  }
}
