[data-theme][data-dorako-ui-scope="limited"] {
  &.sheet.pf2e.actor.npc.app {
    --section-background: var(--color-primary-5);
    --section-header: var(--color-primary-4);
    --section-border-color: var(--scrollbar-thumb-border-color);
    --section-outline-color: var(--color-secondary-5);
    --section-header-text-color: var(--text-color-2);
    --tag-border-color: var(--text-color-5);
    --tag-background-color: var(--color-secondary-4);
    --tag-text-color: var(--text-color-4);
    --color-text-dark-input: var(--text-color-3);
    --color-pf-primary-light: var(--text-color-1);
    --color-pf-primary-dark: var(--text-color-2);
    --color-pf-primary-darker: var(--text-color-3);
    --text-dark: var(--text-color-2);
  }

  &.actor.npc.sheet form ol.spell-list > li .item-name h4 > a:hover,
  &.actor.npc.sheet form ol.spell-list > li .item-name h4:hover {
    --secondary: var(--accent-color);
    --color-pf-secondary: var(--accent-color);
  }

  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .spell-level-header input {
    @include dui-input;
  }

  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header .attribute select {
    @include dui-input;
    max-width: 60px;
  }

  &.actor.npc.sheet form ol.spell-list > li.spell-level-header input,
  &.actor.npc.sheet form ol.spell-list > li .uses input {
    @include dui-input;
  }

  &.actor.npc.sheet form .actions-options .actions-option select {
    @include dui-input;
  }

  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header .inline-field .attack-input,
  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header .inline-field .dc-input {
    @include dui-input;
  }

  &.actor.npc.sheet form .notes .notes-section.publication .notes-text .license select {
    @include dui-input;
  }

  &.actor.npc.sheet form .spellcasting-entry select {
    @include dui-input;
  }

  &.actor.npc.sheet form .notes .notes-section.publication .notes-text input[type="text"] {
    @include dui-input;
  }

  &.actor.npc.sheet form .side-bar-section.initiative select {
    @include dui-input;
  }

  &.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header h4.name input {
    --dui-input-background: transparent;
  }

  // prettier-ignore
  // &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .ammo select.linked {
  //   padding: 3px;
  // }

  &.actor.npc.sheet form .sheet-body .actions-list li.action:not(:last-child),
  &.actor.npc.sheet form .sheet-body .attacks-list li.action:not(:last-child) {
    border-color: var(--section-border-color);
  }

  &.actor.npc.sheet form .notes .notes-section > h4 {
    color: var(--text-color-2);
  }

  &.actor.npc.sheet form .notes .details-label {
    color: var(--text-color-2);
  }

  &.actor.npc.sheet form .notes .notes-text {
    color: var(--text-color-3);
  }

  &.actor.npc.sheet form .sheet-body .footer button.spellcasting-create {
    @include dui-button-bright;
  }
}

[data-theme] {
  &.app.npc-skills-editor form ol li.skill:nth-child(even) {
    background-color: color-mix(in srgb, var(--color-secondary-4) 20%, transparent);
  }
  &.app.npc-skills-editor form ol li.skill:nth-child(odd) {
    background-color: color-mix(in srgb, var(--color-secondary-4) 40%, transparent);
  }
  &.app.npc-skills-editor form ol li.skill.header {
    background-color: var(--color-primary-2);
  }
}
