[data-theme][data-dorako-ui-scope="limited"] {
  &[data-color-scheme="dark"] {
    &.sheet.party [data-tab="overview"] .member > .data header .resource .empty {
      border-color: #b9ae78;
    }
  }

  &.sheet.party {
    --color-border: var(--color-primary-3);
    --alt-dark: var(--text-color-4);
    --sub: var(--color-secondary-3);
    --text-dark: var(--text-color-2);
  }

  &.sheet.party .tag-light {
    background: var(--tag-color);
    border-color: var(--color-secondary-4);
    color: white;
  }

  &.sheet.party nav.sub-nav {
    background: unset;
    box-shadow: unset;
    gap: 5px;

    a,
    .tab {
      @include dui-button;
      font-family: var(--font-primary);

      &.active {
        font-weight: unset;
      }
    }
  }

  &.sheet.kingdom .tab.active[data-tab="activities"] .skills .control-dc .mod,
  &.sheet.kingdom .tab.active[data-tab="features"] .feat-item .item-name .feat-slot-title {
    --secondary: var(--accent-color);
  }

  &.sheet.party .sidebar {
    box-shadow: unset;
    border: unset;
  }

  &.sheet.party form {
    background: unset;
  }
  &.sheet.party.window-app .window-header {
    background: #1f391f;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  &.sheet.party.window-app.minimized .window-header {
    border-radius: var(--border-radius);
  }

  &.sheet.party [data-tab="overview"] .summary {
    background: var(--color-primary-4);
    border-image-source: var(--ornamentation);
  }
  &.sheet.party [data-tab="overview"] .summary nav button {
    @include dui-button;
  }
  &.sheet.party [data-tab="overview"] .member > .data .main-stats > section {
    background-color: var(--color-primary-4);
    &.ac {
      background: unset;
      border: unset;
    }
  }
  &.sheet.party [data-tab="overview"] .member > .data .main-stats .ac .value {
    color: var(--color-primary-1);
  }

  &.sheet.party [data-tab="aftermath"] .activities .member-activity .empty .name,
  &.sheet.party [data-tab="exploration"] .activities .member-activity .empty .name {
    color: var(--text-color-2);
  }

  &.sheet.party [data-tab="aftermath"] .activities .member-activity,
  &.sheet.party [data-tab="exploration"] .activities .member-activity {
    background-color: var(--color-primary-4);
  }

  &.sheet.party [data-tab="aftermath"] .member > .data header .hero-points .empty,
  &.sheet.party [data-tab="overview"] .member > .data header .hero-points .empty {
    border: 2px dashed var(--color-primary-2);
  }

  &.sheet.party [data-tab="aftermath"] .member > .data header .name,
  &.sheet.party [data-tab="overview"] .member > .data header .name {
    color: var(--text-color-2);
  }

  &.sheet.party header.content-header .buttons {
    gap: 5px;
    button {
      @include dui-button;
    }
  }

  &.sheet.party [data-tab="aftermath"] .activities .member-activity .empty .icon,
  &.sheet.party [data-tab="exploration"] .activities .member-activity .empty .icon {
    background: var(--color-primary-5);
  }

  &.sheet.party [data-tab="aftermath"] .activities .member-activity .activity-entries .activity .activity-name {
    overflow: unset;
  }

  &.sheet.party [data-tab="aftermath"] .activities .member-activity .activity-entries .activity .icon img {
    @include dui-app;
    filter: unset;
    border-color: var(--color-primary-2);
  }
}

[data-theme] {
  &.sheet.party [data-tab="aftermath"] .activities .member-activity .activity-entries .activity .time .time-options {
    @include dui-input;
  }
  &.sheet.party [data-tab="aftermath"] .activities .member-activity .activity-entries .activity .run-actions button {
    @include dui-button;
  }
}
