[data-theme] {
  // prettier-ignore
  &.actor.sheet .crb-style .sheet-body .sheet-content ul.option-toggles,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .item-summary,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .item-summary,
  &.sheet.party [data-tab=overview] .summary,
  &.sheet.party [data-tab=exploration] .activities .member-activity,
  &.sheet.party [data-tab=aftermath] .activities .member-activity,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .attributes .attribute h3.modifier,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action.expanded .item-summary,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels .actions-options,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .crafting-options,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane .skills-list .skill,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane .lores-list .skill,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane .combat-list .skill,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability h3.ability-mod,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .attribute-modifiers .attribute,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .attribute-modifiers .attribute h3.attribute-mod {
    border-image-source: var(--ornamentation);
  }
}

/* ----------------------------------------- */
/* PC Sheet Theme                            */
/* ----------------------------------------- */
[data-theme][data-theme-color] {
  --ornamentation: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1%7Bstroke:%23231f20;stroke-miterlimit:10%7D.st1,.st2%7Bfill:none%7D%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cg%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zM3.6 3.6h3.1v3.1H3.6zM6.8 3.6h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zM3.6 6.8H.5V13M13 .5H6.8v3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4.5h3.1v3.1h-3.1zM26.3 3.6h3.1v3.1h-3.1zM26.3 6.8h3.1v3.1h-3.1zM23.1 3.6h3.1v3.1h-3.1zM26.3 3.6V.5H20'/%3E%3Cpath class='st1' d='M32.5 13V6.8h-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zM23.1 26.3h3.1v3.1h-3.1zM26.3 23.1h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zM3.6 26.3h3.1v3.1H3.6zM3.6 23.1h3.1v3.1H3.6zM6.8 26.3h3.1v3.1H6.8z'/%3E%3Cpath class='st1' d='M6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  &.actor.sheet .crb-style .sheet-body .sheet-content ol.directory-list .action-header {
    background: var(--theme-color);
  }
  &.actor.sheet .inventory .container-metadata .container-capacity .container-capacity-bar,
  &.actor.sheet .inventory .encumbrance .encumbrance-bar {
    background: var(--theme-color);
  }
  &.actor.sheet .inventory .encumbrance.over-limit .encumbrance-bar {
    background: var(--theme-text-color) !important; // system important
  }
  &.actor.sheet .blue-button {
    background: var(--theme-text-color) !important;
  }

  // Vehicle Sheet
  &.actor.sheet .crb-style .stroke-header svg {
    fill: none;
  }
}

[data-theme] {
  &.actor.sheet[data-theme-color] {
    .crb-style aside select {
      background-color: var(--theme-color);
    }
    .crb-style .sheet-body .sheet-content ol.spell-list > li .item-summary,
    .window-content .inventory ul.items > li .item-summary,
    .inventory .item-summary {
      background: color-mix(in srgb, var(--theme-color) 25%, transparent);
    }
    aside {
      .logo {
        filter: grayscale(0.6);
      }
      .sidebar {
        .hitpoints .hp-big .container.current-hp {
          background-image: linear-gradient(
            90deg,
            var(--theme-color) 0%,
            var(--theme-text-color) 50%,
            var(--theme-color) 100%
          );
          background-color: var(--secondary);
        }
      }
    }
    nav.sheet-navigation {
      background: var(--theme-text-color);
    }
  }

  &.actor.sheet[data-theme-color="red"] {
    --theme-text-color: var(--primary-light);
    --theme-color: var(--primary);
    --theme-color-dark: var(--primary-dark);

    .crb-style {
      --header: url("../img/red-header.webp");
      background-image: url("../img/red-header.webp"), var(--sheet);
    }
  }

  &.actor.sheet[data-theme-color="blue"] {
    --scrollbar-thumb-background: var(--secondary-light);
    --scrollbar-thumb-border-color: var(--tertiary);
    --color-scrollbar-hover: var(--theme-text-color);
    --theme-color-dark: var(--secondary-dark);
    --theme-color: var(--secondary);
    --theme-text-color: var(--secondary-light);
    .crb-style {
      --header: url("../img/blue-header.webp");
      background-image: url("../img/blue-header.webp"), var(--sheet);

      aside {
        background-image: url("../img/blue-sidebar-top.webp"), url("../img/blue-sidebar-bottom.webp");
        .sidebar {
          .armor-class .shield.hp {
            background: url("../img/blue-shield.webp") no-repeat top center;
          }
        }
      }

      header.char-header .char-level .level {
        background: url("../img/blue-level-badge.webp") no-repeat;
      }

      nav.sheet-navigation {
        .item:hover,
        .item.active {
          background-image: url("../img/blue-nav-item.webp");
        }
      }
    }
  }

  &.actor.sheet[data-theme-color="green"] {
    --scrollbar-thumb-background: var(--remaster-light);
    --scrollbar-thumb-border-color: var(--tertiary);
    --color-scrollbar-hover: var(--theme-text-color);
    --theme-color-dark: var(--remaster-dark);
    --theme-color: var(--remaster);
    --theme-text-color: var(--remaster-light);
    .crb-style {
      --header: url("../img/green-header.webp");
      background-image: url("../img/green-header.webp"), var(--sheet);

      aside {
        background-image: url("../img/green-sidebar-top.webp"), url("../img/green-sidebar-bottom.webp");
        .armor-class .shield.hp {
          background: url("../img/blue-shield.webp") no-repeat top center;
        }
      }
    }

    header.char-header .char-level .level {
      background: url("../img/blue-level-badge.webp") no-repeat;
    }

    nav.sheet-navigation {
      .item:hover,
      .item.active {
        background-image: url("../img/green-nav-item.webp");
      }
    }
  }

  &.actor.sheet[data-theme-color="purple"] {
    --theme-color-dark: #3b0062;
    --theme-color: #520982;
    --theme-text-color: rgb(107, 29, 137);
    --color-scrollbar-hover: var(--theme-text-color);
    --scrollbar-thumb-background: var(--theme-color);
    --scrollbar-thumb-border-color: var(--tertiary);
    .crb-style {
      --header: url("../img/purple-header.webp");
      background-image: url("../img/purple-header.webp"), var(--sheet);

      aside {
        background-image: url("../img/purple-sidebar-top.webp"), url("../img/purple-sidebar-bottom.webp");
        .armor-class .shield.hp {
          background: url("../img/blue-shield.webp") no-repeat top center;
        }
      }

      header.char-header .char-level .level {
        background: url("../img/blue-level-badge.webp") no-repeat;
      }

      nav.sheet-navigation {
        .item:hover,
        .item.active {
          background-image: url("../img/blue-nav-item.webp");
        }
      }
    }
  }

  &.actor.sheet[data-theme-color="black"] {
    --theme-color-dark: black;
    --theme-color: #111;
    --theme-text-color: #222;
    --scrollbar-thumb-background: var(--theme-color);
    --scrollbar-thumb-border-color: var(--tertiary);
    --color-scrollbar-hover: var(--theme-text-color);
    .crb-style {
      --header: url("../img/black-header.webp");
      background-image: url("../img/green-header.webp"), var(--sheet);

      aside {
        background-image: url("../img/black-sidebar-top.webp"), url("../img/black-sidebar-bottom.webp");
        .armor-class .shield.hp {
          background: url("../img/blue-shield.webp") no-repeat top center;
        }
      }

      header.char-header .char-level .level {
        background: url("../img/blue-level-badge.webp") no-repeat;
      }

      nav.sheet-navigation {
        .item:hover,
        .item.active {
          background-image: url("../img/blue-nav-item.webp");
        }
      }
    }
  }
}

[data-theme][data-dorako-ui-scope="limited"] {
  &.actor.sheet .crb-style {
    background: unset;
    background: var(--header), transparent !important;
    background-repeat: repeat-x, no-repeat !important;
    background-size: auto 89px, cover !important;
    background-attachment: local !important;
  }

  &:not([data-theme-color]).sheet.actor.window-app.character .window-header,
  &:not([data-theme-color]).sheet.actor.window-app.vehicle .window-header,
  &[data-theme-color="red"].sheet.actor.window-app.vehicle .window-header,
  &[data-theme-color="red"].sheet.actor.window-app.character .window-header {
    background: #5a0c02;
  }

  &[data-theme-color="green"].sheet.actor.window-app.vehicle .window-header,
  &[data-theme-color="green"].sheet.actor.window-app.character .window-header {
    background: #0e2a1a;
  }

  &[data-theme-color="blue"].sheet.actor.window-app.vehicle .window-header,
  &[data-theme-color="blue"].sheet.actor.window-app.character .window-header {
    background: #1a1e5f;
  }

  &[data-theme-color="purple"].sheet.actor.window-app.vehicle .window-header,
  &[data-theme-color="purple"].sheet.actor.window-app.character .window-header {
    background: #340c5b;
  }

  &[data-theme-color="black"].sheet.actor.window-app.vehicle .window-header,
  &[data-theme-color="black"].sheet.actor.window-app.character .window-header {
    background: #151515;
  }

  &[data-theme-color].sheet.actor.window-app.vehicle .window-header,
  &[data-theme-color].sheet.actor.window-app.character .window-header {
    color: white;
  }

  &.sheet.actor.window-app.minimized .window-header {
    border-radius: var(--border-radius);
  }
}

[data-theme] {
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .skills-list .skill .skill-score,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .lores-list .skill .skill-score,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .combat-list .skill .skill-score {
    color: var(--accent-color);
  }
}

/* ----------------------------------------- */
/* Theme                                     */
/* ----------------------------------------- */
[data-theme][data-dorako-ui-scope="limited"]:not([data-theme^="crb"][data-color-scheme="light"]) {
  --color-text-dark-4: var(--text-color-4);
  --color-text-dark-3: var(--text-color-5);
  --color-text-dark-2: var(--text-color-2);
  --color-pf-primary: var(--color-primary-1);
  --color-pf-alternate: red;
  --color-pf-alternate-dark: var(--text-color-2);

  .tags.light > .tag,
  .tags > .tag.light {
    --tag-color: var(--text-color-2);
  }

  &.actor.sheet .crb-style .sheet-body {
    background: unset;

    input[type="number"] {
      @include dui-input;
    }
    // select:not(.pf-rank, .modular) {
    //   @include dui-input;
    // }

    section.major > header,
    .details-label,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      --primary: var(--text-color-2);
    }
  }

  button.daily-crafting {
    @include dui-button-bright;
  }

  // prettier-ignore
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .abcd img.deity-emblem,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .pc_deity img.symbol {
    background: var(--color-primary-4);
    border: 1px solid var(--color-primary-3);
    box-shadow: 0px 0px 0px 1px var(--color-primary-3), var(--box-shadow);
  }

  &.sheet.actor .crb-style nav.sub-nav {
    background: unset;
    box-shadow: unset;
    a,
    .tab {
      @include dui-button;
      font-family: var(--font-primary);

      &.active {
        font-weight: unset;
      }
    }
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .item-image:hover i {
    background: var(--color-primary-2);
    color: var(--text-color-1);
    text-shadow: 0px 1px 2px black;
    border-radius: 2px;
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies ul.lores-list input,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .lores-list .skill input,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .combat-list .skill input {
    @include dui-input;
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.biography {
    section input {
      @include dui-input;
    }
    .editor {
      @include dui-input;
      height: auto;
      .tox.tox-tinymce {
        background: white;
      }
    }
  }

  &.actor.sheet.character .crb-style.locked.limited .sheet-body .sheet-content .tab.biography {
    section input,
    .editor {
      --input-text-color: var(--text-color-3);
      --input-focus-text-color: var(--text-color-3);
      --input-background: transparent;
      --input-border-color: transparent;
      --input-focus-outline-color: transparent;
      --box-shadow: transparent;

      &:hover {
        outline-color: transparent;
      }
    }
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.feats li.feat-item .item-name .feat-slot-title {
    --color-pf-secondary: var(--accent-color);
  }

  &.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list > li.spell-level-header input,
  &.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list > li .uses input {
    @include dui-input;
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .pc h3 {
    @include dui-input;
    padding: 0.5em 0.25em;
    &:hover {
      outline: 0px transparent !important;
    }
  }

  .crb-style .details-input {
    @include dui-input;
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions button.activate,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions button.activate {
    @include dui-button;
  }

  &.actor.sheet .crb-style aside .sidebar .tags .tag.edit-btn {
    background: #dad8cc;
  }

  //prettier-ignore
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .rollable .d20-svg {
    filter: invert(1);
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment select {
    --input-text-color: black;
    --input-background: transparent;
    --input-border-color: transparent;
    --box-shadow: transparent;
    color: black;
  }
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .attributes .attribute .label {
    opacity: unset;
    color: var(--text-color-5);
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li .modifier,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li .dc,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li .modifier {
    --primary: var(--accent-color);
  }

  //prettier-ignore
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li a.skill-name:hover, 
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li a.modifier:hover{
    --primary: var(--accent-color-light);
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike {
    border-image: linear-gradient(90deg, transparent, var(--color-primary-2) 20%, transparent) 1;
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike {
    --text-dark: black;
    --primary: var(--color-primary-2);
    .button-group {
      button {
        --color-pf-primary: var(--system-primary);
        --color-pf-secondary: var(--system-secondary);
      }
    }
  }

  .attack-popout {
    select {
      @include dui-input;
    }
  }

  &.actor.sheet.character .attack-popout.actions ol.actions-list li.strike .item-name .item-image {
    flex: 0 0 32px;
  }
}

[data-theme][data-color-scheme="dark"] {
  // prettier-ignore
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .alt-usage .alt-usage-icon[src$="svg"] {
    filter: invert(1);  
  }
}

[data-theme],
[data-dorako-ui-scope="limited"] {
  &.spellcasting-entry.preparation ol.spell-list > li.spell-level-header,
  &.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list > li.spell-level-header {
    background: var(--color-secondary-5-75);
  }
  &.spellcasting-entry.preparation {
    --color-border-light-2: var(--color-secondary-4);
  }
}

[data-theme] {
  &.attribute-builder .window-content .title {
    --primary: var(--accent-color);
  }
  &.attribute-builder .window-content .summary-row .hint-container h3 {
    --color-pf-primary: var(--text-color-1);
  }
}
