/* ----------------------------------------- */
/* Theme colors                              */
/* ----------------------------------------- */
@layer variables.themes.specific {
  :root {
    --bg3-middle-brown: #9d7b53;
    --bg3-border-color: #5f5244;
    --bg3-background-1: #433c36;
    --bg3-background-2: #423c36;
    --bg3-background-3: #2a2522;
    --bg3-background-4: #292421;
    --bg3-text-1: #fafafa;
    --bg3-text-2: #d1c9b9;
    --bg3-text-3: #b0947b;
    --bg3-text-4: #e8dea8;
    --bg3-text-5: #e1d48f;
    --bg3-accent-color-light: #ff7ba2;
    --bg3-accent-color: #ea4a72;
    --bg3-accent-color-dark: #912737;
    --bg3-color-scrollbar-highlight: #fff7d3;
    --bg3-scrollbar-thumb-background: #ecc090;
    --bg3-scrollbar-thumb-border-color: #6c5842;
    --bg3-blue-light: #0c93bd;
    --bg3-blue: #183541;
    --bg3-blue-dark: #1b2a30;
    --bg3-ba-orange: #ab5623;
    --bg3-action-green: #019740;
    --bg3-pactslot-pink: #f950f9;
    --bg3-spellslot-blue: #79ffff;
    --bg3-bardic-yellow: #cfad00;
    --bg3-icon-green-stroke: #95aaa5;
    --bg3-icon-green-light: #1c4137;
    --bg3-icon-green-dark: #1d3733;
    --bg3-attention: #fe265d;

    --bg3-alliance-ally-yellow: #c09e05;
    --bg3-alliance-opposition-red: #de1847;
    --bg3-alliance-companion-blue: #08c6e4;
    --bg3-alliance-ally-green: #52fead;

    --bg3-rarity-legendary: #dfa633;
    --bg3-rarity-very-rare: #d1017b;
    --bg3-rarity-quest: #cd5f21;
    --bg3-rarity-rare: #00bffd;
    --bg3-rarity-uncommon: #01b638;
    --bg3-rarity-common: #ffe6cb;

    --bg3-info-overlay-light: rgba(255, 255, 255, 0.25);
    --bg3-info-overlay-dark: rgba(0, 0, 0, 0.25);

    /* Brown variant */
    --bg3-bg-inner: #241d16;
    --bg3-bg-outer: #1b1a19;
    --bg3-border-inner: #ab7743;
    --bg3-border-outer: #7b542e;
    --bg3-ui-purple: #4e3061;
    /* Blue variant */
    // --bg3-border-inner: #a16a37;
    // --bg3-border-outer: #4a2e18;
    // --bg3-border-internal: #304248;
    // --bg3-bg-inner: #182830;
    // --bg3-bg-outer: #151e29;

    --bg3-inspect-background: #2a2a2a;
    --bg3-inspect-border-color: #aca493;

    --bg3-healing: #49cbc1;

    --bg3-border-background: linear-gradient(
      to right,
      var(--bg3-border-outer) 0%,
      var(--bg3-border-inner) 50%,
      var(--bg3-border-outer) 100%
    );
    --bg3-tooltip-window-background: linear-gradient(
      to right,
      var(--bg3-bg-outer) 0,
      var(--bg3-bg-inner) 50%,
      var(--bg3-bg-outer) 100%
    );
    --bg3-ui-purple-background: linear-gradient(
      to top,
      color-mix(in srgb, var(--bg3-ui-purple) 50%, transparent) 0,
      transparent 15%
    );
    --top-color: transparent;
  }
}

@layer blocks.base {
  [data-interface-theme="bg3"] {
    --control-box-shadow: 0px 0px 5px black, 0px 1px 2px black;
    --control-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    --control-button-bg-color: radial-gradient(circle, var(--remaster) 0, black 100%);
    --control-bg-color: radial-gradient(circle, #363534 0, black 100%);
    --control-border-color: #594537;
    --control-active-bg-color: radial-gradient(circle, var(--bg3-alliance-opposition-red) 0, black 100%);

    .ui-control {
      --control-bg-color: radial-gradient(circle, #363534 0, black 100%);
      --control-border-color: #594537;
      --control-icon-color: var(--color-light-2);
      --control-hover-bg-color: radial-gradient(circle, var(--bg3-alliance-opposition-red) 0, black 100%);
      --control-hover-border-color: #d3b87c;
      --control-hover-icon-color: var(--color-light-1);
      --control-active-bg-color: radial-gradient(circle, var(--bg3-alliance-opposition-red) 0, black 100%);
      --control-active-border-color: rgb(211, 184, 124);
      --control-active-icon-color: white;
      --control-button-border-color: var(--remaster-light);
      --control-button-hover-bg-color: var(--remaster-dark);
      --control-button-hover-border-color: #edd5a2;
      --toggle-bg-color: radial-gradient(circle, #175868 0, black 100%);
      --toggle-border-color: rgb(211, 184, 124);
      --toggle-active-bg-color: radial-gradient(circle, var(--bg3-blue-light) 0, var(--bg3-blue) 100%);
      --toggle-active-border-color: #edd5a2;
      --toggle-icon-color: white;
    }
  }
}

/* ----------------------------------------- */
/* Tooltip                                   */
/* ----------------------------------------- */

[data-interface-theme^="bg3"] :is(#tooltip.pf2e.themed, aside.locked-tooltip.pf2e.themed, #tooltip) {
  --border-radius: 12px;
  --bg3-border-inner: #a16a37;
  --bg3-border-outer: #4a2e18;
  --bg3-border-internal: #304248;
  --bg3-bg-inner: #182830;
  --bg3-bg-outer: #151e29;

  --bg3-border-background: linear-gradient(
    to right,
    var(--bg3-border-outer) 0%,
    var(--bg3-border-inner) 50%,
    var(--bg3-border-outer) 100%
  );
  --bg3-tooltip-window-background: linear-gradient(
    to right,
    var(--bg3-bg-outer) 0,
    var(--bg3-bg-inner) 50%,
    var(--bg3-bg-outer) 100%
  );
  box-shadow: 0px 0px 30px black, 0px 0px 20px black, 0px 0px 10px black, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
  backdrop-filter: none;
  text-shadow: none;
  border-radius: var(--border-radius);
  color: var(--bg3-text-3);
  background: var(--bg3-tooltip-window-background) padding-box,
    linear-gradient(to right, var(--bg3-border-outer) 0%, var(--bg3-border-inner) 50%, var(--bg3-border-outer) 100%)
      border-box;
  border: 2px solid transparent;
  --color-text-primary: var(--bg3-text-3);
  --color-text-emphatic: var(--bg3-text-2);

  &:not(.pf2e) {
    padding: 1em 1em;
    font-family: var(--serif);
  }
  &.pf2e {
    padding: 0.5em 1em;
  }
}

[data-interface-theme="bg3"] {
  #smalltime-app,
  #players #players-active,
  #players #players-inactive {
    background: var(--app-background);
    border: var(--app-border-width) solid var(--app-border-color);

    --app-background: var(--bg3-tooltip-window-background) padding-box,
      linear-gradient(to right, var(--bg3-border-outer) 0%, var(--bg3-border-inner) 50%, var(--bg3-border-outer) 100%)
        border-box;
    --app-border-color: transparent;
    --app-border-width: 2px;
    box-shadow: 0px 0px 20px black, 0px 0px 10px black, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
  }
}

// [data-interface-theme="bg3"] {
//   #tooltip.pf2e.themed,
//   aside.locked-tooltip.pf2e.themed {
//     --color-text-primary: var(--bg3-text-3);
//     --color-text-emphatic: var(--bg3-text-2);
//     background: var(--app-background);
//     border: var(--app-border-width) solid var(--app-border-color);
//     --app-background: var(--bg3-tooltip-window-background) padding-box,
//       linear-gradient(to right, var(--bg3-border-outer) 0%, var(--bg3-border-inner) 50%, var(--bg3-border-outer) 100%)
//         border-box;
//     --app-border-color: transparent;
//     --app-border-width: 2px;
//     box-shadow: 0px 0px 20px black, 0px 0px 10px black, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
//     margin: 5px;
//   }
// }
