/* ----------------------------------------- */
/* FPS display                               */
/* ----------------------------------------- */

#fps[data-theme="foundry2"] {
  @include f2-app;
}

/* ----------------------------------------- */
/* Tooltip                                   */
/* ----------------------------------------- */

#tooltip[data-theme="foundry2"] {
  background: var(--app-background);
  border: 1px solid var(--color-warm-1);
  box-shadow: 0px 0px 6px var(--color-warm-2), 0px 2px 8px 1px var(--color-warm-3);
  backdrop-filter: blur(5px);
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: blur(5px);
  font-size: var(--font-size-16);
  line-height: var(--font-size-16);
  text-shadow: 0px 1px 2px black;
  padding: 0.4em 0.6em;
}

/* ----------------------------------------- */
/* Players                                   */
/* ----------------------------------------- */

#players.foundry2 {
  @include f2-app;

  h3 {
    cursor: pointer;
    @include quick-transition;
    color: var(--color-light-3);

    &:hover {
      color: var(--color-light-1);
      text-shadow: 0px 0px 8px var(--color-shadow-highlight);
    }
  }
}

/* ----------------------------------------- */
/* Context menu                              */
/* ----------------------------------------- */

.foundry2 #context-menu {
  @include f2-tooltip;
  li.context-item {
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
    &:last-child {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
    &:hover {
      box-shadow: 0px 0px 0px 1px var(--color-warm-1);
      background: var(--color-warm-2);
      text-shadow: 0px 1px 2px black;
    }
  }
}

/* ----------------------------------------- */
/* Map v1 styling to v2 values               */
/* ----------------------------------------- */

[data-theme="foundry2"],
.foundry2-pc,
.foundry2 {
  --color-shadow-primary: transparent;
  --color-shadow-highlight: transparent;
  --color-border-light-highlight: var(--color-cool-3);
  --color-border-light-primary: var(--color-cool-4);
  --color-border-light-secondary: var(--color-cool-4);
  --color-border-light-tertiary: var(--color-cool-4);
  --color-border-dark-1: var(--color-cool-4); // darkest
  --color-border-dark-2: var(--color-cool-4);
  --color-border-dark-3: var(--color-cool-4);
  --color-border-dark-4: var(--color-cool-3);
  --color-border-dark-5: var(--color-cool-2);
  --color-border-dark-primary: var(--color-cool-4);
  --color-border-dark-secondary: var(--color-cool-5);
  --color-underline-header: var(--color-warm-2);
  --color-underline-active: var(--color-warm-1);
  --color-text-hyperlink: var(--color-warm-1);
  --color-border-highlight: var(--color-warm-1);
  --color-border-highlight-alt: var(--color-warm-2);
  --color-border-light-tertiary: var(--color-cool-4);
  --color-bg-btn-minor-inactive: var(--app-background);
  --color-bg-btn-minor-active: var(--color-warm-2);
  --color-text-dark-primary: var(--color-light-3);
  --color-text-dark-secondary: var(--color-light-5);
  --color-bg-option: var(--color-cool-4);
}

/* ----------------------------------------- */
/* .foundry2-pc specific                     */
/* ----------------------------------------- */

.foundry2-pc {
  --color-rarity-common: #efeadc;
  --color-rarity-uncommon: #c45500;
  --color-rarity-rare: #5362ff;
  --color-rarity-unique: #e127e1;
  --rarity-common: #e1d8cf;
  --rarity-uncommon: #c45500;
  --rarity-rare: #5362ff;
  --rarity-unique: #e127e1;
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* ----------------------------------------------------- */
/* Generalized style choices (inclusive of .foundry2-pc) */
/* ----------------------------------------------------- */

.foundry2-pc,
[data-theme="foundry2"],
.foundry2 {
  // Dark theme
  --color-rarity-common: #efeadc;
  --color-rarity-uncommon: #c45500;
  --color-rarity-rare: #5362ff;
  --color-rarity-unique: #e127e1;
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  /* Degrees of success */
  --degree-success-critical: rgb(107, 255, 0);
  --degree-success: rgb(0, 241, 255);
  --degree-failure: rgb(255, 129, 0);
  --degree-failure-critical: rgb(255, 0, 0);

  /* Value adjustments (e.g. weak/elite) */
  --adjusted-higher: #009988;
  --adjusted-lower: #cc3311;

  --input-height: 24px;

  --input-background-color: var(--color-cool-4);
  --input-border-color: transparent;
  --input-border-color: var(--color-cool-3);
  --input-focus-text-color: var(--color-light-2);
  --input-text-color: var(--color-light-3);
  --input-placeholder-color: var(--color-light-4);
  --input-text-selection-color: var(--color-cool-3);
  --input-focus-outline-color: var(--color-cool-3);

  // --color-warm-1: var(--tertiary);
  // --color-warm-2: var(--primary-light);
  // --color-cool-2: var(--secondary-light);
  // --color-cool-3: var(--secondary);
  // --color-cool-3-75: var(--secondary-dark);
  // --input-border-color: var(--color-cool-4);
  // --app-border-color: var(--tertiary);

  ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: var(--color-scrollbar);
    border: 1px solid var(--color-scrollbar-border);
    transition: outline 0.15s;
  }

  ::-webkit-scrollbar-track {
    box-shadow: 0 0 1px var(--color-cool-3) inset;
    box-shadow: unset;
    border-radius: 4px;
  }

  a.content-link,
  [data-pf2-check],
  a.entity-link,
  [data-pf2-action],
  span[data-pf2-effect-area],
  a.inline-check .label,
  a.inline-roll {
    background: var(--color-cool-4);
    border: 1px solid var(--color-cool-3);
    color: var(--color-light-2);

    &::before,
    i,
    i.icon {
      color: var(--color-light-1);
    }
  }

  i[data-pf2-repost] {
    @include quick-transition;
    cursor: pointer;
    background: unset;
    border-left: unset;
    &:hover::before {
      color: var(--color-warm-2);
    }
  }
}

/* ---------------------------------------------------- */
/* Generalized style choices (exlusive of .foundry2-pc) */
/* ---------------------------------------------------- */

[data-theme="foundry2"],
.foundry2 {
  color: var(--color-light-3);

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  input[type="search"] {
    min-width: 24px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    box-shadow: unset;
    border-radius: 3px;
    background: var(--color-cool-5);
    border: 1px solid var(--color-cool-4);
  }

  input[type="range"]::-webkit-slider-thumb {
    border-radius: 50%;
    box-shadow: unset;
  }

  input[type="range"]:disabled::-webkit-slider-thumb {
    background: var(--color-cool-3);
    border: 1px solid var(--color-cool-4);
    background: var(--color-cool-4);
    border: 1px solid var(--color-cool-3);
  }

  input[type="range"]:not(:disabled)::-webkit-slider-thumb {
    background: var(--color-cool-3);
    border: 1px solid var(--color-cool-4);
    background: var(--color-warm-2);
    border: 1px solid var(--color-warm-1);
    transition: outline 0.15s;
    &:hover {
      outline: 4px solid var(--color-warm-1);
    }
  }

  input[type="color" i]::-webkit-color-swatch {
    border-color: var(--color-cool-4);
  }

  input[type="range"] + .range-value {
    flex: none;
    height: 24px;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: var(--color-warm-2);
    border: 1px solid var(--color-warm-1);
    color: var(--color-light-1);
    text-shadow: 0px 1px 2px black;
    border-radius: 3px;
    font-size: var(--font-size-12);
  }

  a.button,
  button {
    @include f2-button-warm;
  }

  &.dialog .dialog-buttons button {
    @include f2-button-warm;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  input[type="search"],
  select:not(.tag) {
    @include f2-input;
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    accent-color: var(--color-warm-2);
  }

  fieldset {
    border: 1px solid var(--color-cool-3);
    border-radius: var(--border-radius);
    > legend {
      color: var(--color-light-2);
      text-shadow: unset;
    }
  }

  textarea {
    color: var(--color-light-2);
    background: var(--color-cool-4);
    border: 1px solid var(--color-cool-3);
  }

  hr {
    border: none;
    border-top: 1px solid var(--app-border-color);
    border-bottom: 1px solid var(--color-cool-5);
  }

  h1 {
    color: var(--color-light-1);
  }
  h2 {
    color: var(--color-light-1);
  }
  h3 {
    color: var(--color-light-1);
  }
  h4 {
    color: var(--color-light-2);
  }
  h5 {
    color: var(--color-light-2);
  }
  h6 {
    color: var(--color-light-2);
  }

  &.dialog .dialog-buttons button.default {
    @include f2-button-warm;
  }

  [data-visibility]:not([data-visibility="all"]) {
    outline: 1px dashed var(--color-scrollbar-border);
  }

  form .form-group .form-fields button {
    height: var(--form-field-height);
  }

  &.sheet header.sheet-header img {
    @include f2-app;
  }

  &.sheet header.sheet-header h1 input {
    --font-size: inherit;
  }
}

/* ----------------------------------------- */
/* App and Window-app                        */
/* ----------------------------------------- */

[data-theme="foundry2"],
.foundry2 {
  &.app {
    border-radius: var(--border-radius);
    background: unset;

    // warm inside
    // prettier-ignore
    // --warm-background: radial-gradient(circle at top, color-mix(in srgb, var(--color-warm-1) 20%, transparent), transparent),
    //                    radial-gradient(ellipse at bottom, color-mix(in srgb, var(--color-warm-3) 30%, transparent), transparent),
    //                    var(--app-background);
    // background: var(--warm-background);
    // border: 1px solid var(--color-warm-1);

    // cool
    background: var(--app-background);
    border: 1px solid var(--color-cool-3);

    // warm borders, no transparency
    // background: linear-gradient(var(--app-background), var(--app-background)) padding-box,
    //   linear-gradient(to bottom, var(--color-warm-1), var(--color-warm-3)) border-box;
    // border: 1px solid transparent;
  }

  &.window-app {
    backdrop-filter: blur(4px);
    // prettier-ignore
    box-shadow: 0px 5px 20px 3px black,
              0px 0px 50px 30px color-mix(in srgb, var(--color-warm-3) 10%, transparent),
              0px 0px 30px 20px color-mix(in srgb, var(--color-warm-2) 20%, transparent),
              0px 0px 10px 05px color-mix(in srgb, var(--color-warm-1) 40%, transparent);

    .window-header {
      border: unset;
    }

    .window-content {
      background: unset !important; // Stops modules from adding their own background
      box-shadow: unset;
    }

    .window-resizable-handle {
      background: var(--color-warm-4);
      border: 1px solid var(--app-border-color);
      border-radius: 4px 0px var(--border-radius) 0px;
      border-bottom-color: var(--color-warm-3);
      border-right-color: var(--color-warm-3);
      bottom: -1px;
      right: -1px;
    }
  }
}

/* ----------------------------------------- */
/* Application specific                      */
/* ----------------------------------------- */

.foundry2-pc,
[data-theme="foundry2"],
.foundry2 {
  // System compat mode
  // --alt: var(--color-cool-3);
  --bg: var(--color-warm-3);
  --visibility-gm-bg: var(--color-warm-3);
  --blind-roll: var(--color-warm-3);

  &.token-sheet,
  &.dialog {
    height: auto !important;
  }

  .inline-roll .dice-tooltip {
    background: var(--app-background);
    border: 1px solid var(--color-warm-1);
    box-shadow: 0px 0px 6px var(--color-warm-2), 0px 2px 8px 1px var(--color-warm-3);
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    -webkit-backdrop-filter: blur(5px);
    font-size: var(--font-size-16);
    line-height: var(--font-size-16);
    text-shadow: 0px 1px 2px black;
    padding: 0.4em 0.6em;
  }

  &.filepicker .favorites .paths {
    box-shadow: unset;
    border: 1px solid var(--color-cool-3);
    background: var(--color-cool-5-50);
    .path {
      @include f2-button-cool;
      border-radius: 3px;
    }
  }

  &.filepicker .current-dir button {
    height: 32px;
  }

  &.package-configuration aside.sidebar nav.tabs {
    gap: 5px;
    .category-tab {
      padding: 4px 8px;
    }
  }

  &.sheet nav.sheet-tabs {
    border: none;
  }

  .directory .action-buttons button {
    --box-shadow: 0px 1px 3px 1px black;
    box-shadow: var(--box-shadow);
  }

  .directory .directory-header .header-search input {
    background: var(--color-cool-4);
    --box-shadow: 0px 1px 3px 1px black;
    box-shadow: var(--box-shadow);
  }

  .directory .action-buttons button,
  .settings-sidebar button {
    --box-shadow: 0px 1px 3px 1px black;
    box-shadow: var(--box-shadow);
  }

  #chat-form {
    textarea {
      @include f2-input;
      height: 100%;
      border-radius: var(--border-radius);
    }
    margin: 0px var(--sidebar-margin);
  }
}

/* ----------------------------------------- */
/* Core overwrites                           */
/* ----------------------------------------- */

.foundry2 {
  &.window-app .tabs .item {
    @include f2-button-warm;
    padding: 4px 8px;
  }

  &.app.token-sheet .tab.active[data-tab="appearance"] fieldset {
    border-color: var(--color-cool-3);
    > legend {
      color: var(--color-light-2);
    }
  }
  &.sheet nav.sheet-tabs {
    gap: 5px;
  }
  &.sheet nav.sheet-tabs .item {
    // --button-border-color: transparent; // bad foundry default
    --button-border-color: var(--color-cool-4);
  }
}

/* ----------------------------------------- */
/* Journals                                  */
/* ----------------------------------------- */

.foundry2 {
  &.sheet.journal-entry .journal-entry-content {
    background: unset;
    border: unset;
  }

  &.journal-sheet .journal-header .title {
    background: var(--color-cool-4);
  }

  .editor-edit {
    @include f2-button-warm;
    border-radius: 3px;
    padding: 2px 5px;
  }

  table:not(.pf2-table) tr:nth-child(even) {
    background: color-mix(in srgb, var(--color-cool-3) 20%, transparent);
  }
}

/* ----------------------------------------- */
/* Tagify and tags                           */
/* ----------------------------------------- */

.foundry2 {
  .tagify,
  tags.tagify.pf2e-tagify {
    --tags-disabled-bg: #f1f1f1;
    --tags-border-color: #ddd;
    --tags-hover-border-color: #ccc;
    --tags-focus-border-color: #3595f6;
    --tag-border-radius: 3px;
    --tag-bg: #e5e5e5;
    --tag-hover: #d3e2e2;
    --tag-text-color: black;
    --tag-text-color--edit: black;
    --tag-pad: 0.3em 0.5em;
    --tag-inset-shadow-size: 1.1em;
    --tag-invalid-color: #d39494;
    --tag-invalid-bg: rgba(211, 148, 148, 0.5);
    --tag-remove-bg: rgba(211, 148, 148, 0.3);
    --tag-remove-btn-color: black;
    --tag-remove-btn-bg: none;
    --tag-remove-btn-bg--hover: #c77777;
    --input-color: inherit;
    --tag-hide-transition: 0.3s;
    --placeholder-color: rgba(0, 0, 0, 0.4);
    --placeholder-color-focus: rgba(0, 0, 0, 0.25);

    --tag-bg: var(--color-warm-2);
    --tags-border-color: var(--color-cool-3);
    --tags-hover-border-color: var(--color-cool-3);
    --tag-color: var(--color-light-2);

    --tag-bg: var(--color-cool-4);
    --tag-border-color: var(--color-cool-3);
    --tags-border-color: var(--color-cool-3);

    border: 1px solid var(--tag-border-color);
    border-radius: 3px;

    &.tagify--empty .tagify__input::before {
      color: var(--color-light-5);
    }

    background: var(--color-cool-4);
    &:hover {
      box-shadow: unset;
    }
    select.tag {
      border-width: 1px 1px 1px 1px;
      height: var(--font-size-23);
    }

    tag {
      border-radius: 4px;
      border: 1px solid var(--tag-border-color);
    }
    tag .tagify__tag__removeBtn {
      width: 12px;
      height: 12px;
      font: 12px/1 Arial;
    }
    tag .tagify__tag__removeBtn,
    tag > div .tagify__tag-text {
      color: var(--tag-color);
    }
  }

  tags.paizo-style {
    select {
      width: auto;
    }
  }

  .tags .tag {
    height: auto;
    padding: 3px 3px;
  }

  .tags,
  .tags.paizo-style {
    gap: 1px;

    // doesn't work due to whitespace
    &:empty {
      display: none;
    }

    tag {
      height: auto;
    }

    select.tag,
    .tag:not(.tag_transparent),
    tag:not(.tag_transparent) {
      border-radius: 0px;
      box-shadow: unset;
      border: 1px solid var(--tertiary);
      outline: 1px solid var(--gold-brown);
      padding: 0.33em 0.33em;
    }
    .tag:first-child,
    select.tag:first-child,
    tag:first-child {
      border-left-width: 1px;
    }
    .tag:first-child,
    select.tag:last-child,
    tag:last-child {
      border-right-width: 1px;
    }
  }
}

/* ----------------------------------------- */
/* System overwrites                         */
/* ----------------------------------------- */

.foundry2 {
  &.pf2e.item.sheet {
    --color-text-dark-2: var(--color-light-3);
    --color-text-dark-4: var(--color-light-3);
    --color-text-dark-input: var(--color-light-3);
    --color-border-dark: var(--color-light-2);
    --color-border-medium: var(--color-cool-3);

    input:disabled {
      --button-background-color: var(--color-cool-5);
      --button-border-color: var(--color-cool-4);
      --button-hover-background-color: var(--color-cool-5);
      --button-text-color: var(--color-light-5);
      background: var(--button-background-color);
      border: 1px solid var(--button-border-color);
      color: var(--button-text-color);
      border-radius: 3px;
    }
  }

  &#generate-check-prompt {
    nav h4 a {
      @include f2-button-warm;
      padding: 4px 8px;
    }

    .dialog-content tags.tagify {
      --tags-disabled-bg: #f1f1f1;
      --tags-border-color: #ddd;
      --tags-hover-border-color: #ccc;
      --tags-focus-border-color: #3595f6;
      --tag-border-radius: 3px;
      --tag-bg: #e5e5e5;
      --tag-hover: #d3e2e2;
      --tag-text-color: black;
      --tag-text-color--edit: black;
      --tag-pad: 0.3em 0.5em;
      --tag-inset-shadow-size: 1.1em;
      --tag-invalid-color: #d39494;
      --tag-invalid-bg: rgba(211, 148, 148, 0.5);
      --tag-remove-bg: rgba(211, 148, 148, 0.3);
      --tag-remove-btn-color: black;
      --tag-remove-btn-bg: none;
      --tag-remove-btn-bg--hover: #c77777;
      --input-color: inherit;
      --tag-hide-transition: 0.3s;
      --placeholder-color: rgba(0, 0, 0, 0.4);
      --placeholder-color-focus: rgba(0, 0, 0, 0.25);

      --tag-bg: var(--color-warm-2);
      --tags-border-color: var(--color-cool-3);
      --tags-hover-border-color: var(--color-cool-3);
      --tag-color: var(--color-light-2);

      --tag-bg: var(--color-cool-4);
      --tag-border-color: var(--color-cool-3);
      --tags-border-color: var(--color-cool-3);

      border: 1px solid var(--tag-border-color);
      border-radius: 3px;
    }
  }

  &.pf2e.item.sheet form .form-list,
  &.pf2e.item.sheet form section.sheet-body fieldset {
    border-color: var(--color-cool-3);
    > legend {
      color: var(--color-light-2);
    }
    &.basics {
      border-color: transparent;
    }
  }

  &.pf2e.item.sheet form .sheet-body .tab.active.description .editor a.add-gm-notes {
    @include f2-button-warm;
    border-radius: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
    right: 40px;
    height: 28px;
    width: 28px;
    background-color: var(--color-warm-4);
    border-color: var(--color-warm-3);
    > i {
      margin-top: 3px;
    }
  }

  &.pf2e.item.sheet form .sheet-body .tab.active.description .editor a.editor-edit {
    @include f2-button-cool;
    border-radius: 3px;
    // display: flex;
    align-content: center;
    justify-content: center;
    height: 28px;
    width: 28px;
  }

  &.pf2e.item.sheet form .sheet-content section.sidebar .item-summary,
  &.pf2e.item.sheet form .sheet-content section.sheet-sidebar .item-summary {
    color: var(--color-light-2);
  }

  .tags .tag.tag_transparent,
  .tags .tag option.tag_transparent {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset;
    background: var(--color-cool-4);
    color: var(--color-light-3);
  }

  &.pf2e.item.sheet form .sheet-content input[type="text"],
  &.pf2e.item.sheet form .sheet-content input[type="number"],
  &.pf2e.item.sheet form .sheet-content select,
  &.pf2e.item.sheet .sheet-header input[type="text"],
  &.pf2e.item.sheet .sheet-header input[type="number"],
  &.pf2e.item.sheet form section.sheet-body input[type="text"],
  &.pf2e.item.sheet form section.sheet-body input[type="number"] {
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    &:focus {
      outline: 2px solid var(--input-focus-outline-color);
    }
  }

  &.pf2e.item.sheet form .sheet-content button:hover:not(:disabled),
  &.pf2e.item.sheet form .sheet-content button:focus {
    border: 1px solid var(--button-border-color);
    box-shadow: unset;
  }

  &.pf2e.item.sheet form .sheet-content input:not([type="range"]):hover:not(:disabled),
  &.pf2e.item.sheet form .sheet-content input:not([type="range"]):focus,
  &.pf2e.item.sheet form .sheet-content select:hover:not(:disabled),
  &.pf2e.item.sheet form .sheet-content select:focus {
    border: 1px solid var(--input-border-color);
    box-shadow: unset;
  }

  &.pf2e.item.sheet.action form .drop-zone a.content-link,
  &.pf2e.item.sheet.action form .drop-zone picture,
  &.pf2e.item.sheet.action form .drop-zone img {
    background: var(--color-cool-4);
    border: 1px solid var(--color-cool-3);
  }

  &.pf2e.item.sheet .sheet-header {
    border: unset;
  }

  &.pf2e.item.sheet form > nav {
    border: unset;
  }

  &.pf2e.item.sheet form > nav .sheet-tabs {
    gap: 5px;
    margin: 2px;
    > a {
      @include f2-button-warm;
    }
  }

  &.pf2e.item.sheet form .effects-container,
  &.pf2e.item.sheet form .details-container,
  &.pf2e.item.sheet form .dice-data {
    gap: 5px;
    align-items: center;
  }

  &.pf2e.item.sheet form section.sheet-body .item-mystification.active .mystification-status label {
    color: var(--color-text-dark-4); // System using hardcoded color
  }

  &.pf2e.item.sheet form .sheet-body .tab.active.description .gm-notes,
  &.pf2e.item.sheet form section.sheet-body .item-description .descriptions .gm-notes {
    @include f2-app;
    background-color: var(--visibility-gm-bg);
    border-style: dashed;
    border-color: var(--color-warm-4);
  }

  &.pf2e.item.sheet form section.sheet-body .item-description .descriptions .editor a.add-gm-notes,
  &.pf2e.item.sheet form section.sheet-body .item-description .descriptions .editor a.editor-edit {
    background: var(--color-cool-4);
    border: 1px solid var(--color-cool-3);
    color: var(--color-light-2);
  }

  &.pf2e.item.sheet .sheet-header img {
    border: 1px solid var(--color-cool-3);
    border-radius: 3px;
  }

  &.pf2e.item.sheet form .tab.active.rules .rule-form .attached-input .attachment,
  &.pf2e.item.sheet form .item-rules .rule-form .attached-input .attachment {
    --button-border-color: var(--color-warm-2);
    --button-background-color: var(--color-warm-3);
    --button-hover-border-color: var(--color-warm-4);
    --button-hover-background-color: var(--color-warm-5);
    z-index: 1;
  }

  &.pf2e.item.sheet form .tab.active.rules select {
    height: var(--input-height);
  }

  &.pf2e.item.sheet form .item-rules .rule-form .attached-input input,
  &.pf2e.item.sheet form .item-rules .rule-form .attached-input tags {
    border-left: unset;
    &:hover {
      border-left: unset;
    }
  }

  .tox .tox-sidebar-wrap {
    background-color: white;
  }
}
