[data-application-theme="bg3"] [data-theme] {
  --color-form-label: var(--color-text-dark-primary);
  --color-form-hint: var(--color-text-dark-secondary);
  --color-text-dark-primary: var(--bg3-text-1);
  --color-text-dark-secondary: var(--bg3-text-2);
  --color-text-dark-5: var(--color-text-light-6);

  --window-app-background: radial-gradient(circle at bottom right, #2c282433 0%, #2c2824ff 50%, #0c0804ee 100%),
    radial-gradient(circle at center, transparent 0, #0c0804ee 100%);
  --window-app-border-width: 2px;
  --window-app-border-color: var(--bg3-middle-brown);
  --icon-border-color: var(--bg3-middle-brown);

  --color-scrollbar: var(--bg3-scrollbar-thumb-background);

  /* Fieldset variables */
  --fieldset-border-color: transparent;
  --fieldset-background-color: rgba(0, 0, 0, 0.2);
  --fieldset-legend-color: var(--bg3-text-4);

  &:is(.app, .application) {
    :is(input, select):not([type="range"]):disabled {
      background: var(--bg3-bg-outer);
    }
  }

  input {
    --range-thumb-background-color: var(--bg3-accent-color);
    --range-thumb-border-color: var(--bg3-accent-color-light);
  }

  input,
  select:not(.tag),
  textarea,
  code-mirror {
    --input-background-color: color-mix(in srgb, var(--alt) 50%, transparent);
    --input-border-color: transparent;
    --input-text-color: var(--color-light-2);
    --input-focus-outline-color: var(--tertiary);
  }

  input[type="checkbox"],
  input[type="radio"] {
    --checkbox-checked-color: var(--bg3-accent-color);
    --checkbox-disabled-color: dimgray;
    --checkbox-background-color: white;
    --checkbox-checkmark-color: white;
    --checkbox-font-weight: bold;
  }

  --bg3-ui-top-background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--top-color) 40%, transparent) 0,
    transparent 40%
  );

  &[data-rarity="common"] {
    --rarity: var(--rarity-common);
  }
  &[data-rarity="uncommon"] {
    --rarity: var(--rarity-uncommon);
  }
  &[data-rarity="rare"] {
    --rarity: var(--rarity-rare);
  }
  &[data-rarity="unique"] {
    --rarity: var(--rarity-unique);
  }
  &[data-rarity] {
    &.window-app {
      --top-color: var(--rarity);
      --icon-border-color: color-mix(in srgb, var(--top-color) 60%, transparent);
      --window-app-border-color: transparent;
      --window-app-background: var(--bg3-ui-top-background) padding-box, var(--bg3-ui-purple-background),
        var(--bg3-tooltip-window-background) padding-box, var(--bg3-border-background) border-box;
      box-shadow: 0 0 20px black, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;

      .sheet-header input {
        margin-right: 2px;
        box-shadow: 0px 0px 0px 2px color-mix(in srgb, var(--top-color) 60%, transparent);
      }
    }
  }
}

[data-application-theme="bg3"] [data-theme].themed {
  [nav-item],
  a.button,
  button {
    --button-border-color: #403b2d;
    --button-background-color: #161511aa;
  }
}

@layer blocks.base {
  [data-application-theme="bg3"] [data-theme]:is(.app, .application) button:not(.control, .plain) {
    --button-background-color: linear-gradient(
      to right,
      var(--bg3-bg-outer) 0,
      var(--bg3-bg-inner) 50%,
      var(--bg3-bg-outer) 100%
    );
    --button-border-color: var(--bg3-border-outer);
    --button-box-shadow: 0 0 6px var(--dnd5e-shadow-15);
    --button-focus-outline-color: none;
    --button-hover-background-color: linear-gradient(
      to right,
      var(--bg3-bg-inner) 0,
      var(--bg3-bg-outer) 50%,
      var(--bg3-bg-inner) 100%
    );
    --button-text-color: var(--color-text-dark-primary);
    --button-hover-text-color: var(--bg3-text-1);
    --button-hover-border-color: var(--bg3-border-inner);

    &:not(disabled, .disabled):hover {
      // box-shadow: 0 0 8px var(--dnd5e-shadow-15), 0 0 3px 1px var(--dnd5e-shadow-45) inset;
      box-shadow: 0 0 5px var(--color-shadow-primary);
    }
  }
}
