<li class="chat-message message flexcol {{cssClass}} {{baseTheme}} " data-message-id="{{message._id}}">
    {{#if (getTitleStyle message)}}
    <header class="message-header flexrow {{playerId message}}" style="background-color: {{getUserColor message}}">
    {{else}}
    <header class="message-header flexrow {{playerId message}}">
    {{/if}}
        {{#if (showSpeakerImage message)}}
        <div class="portrait-and-name" style="display: flex; gap:5px">
            <div class="portrait-wrapper">
            <img class="portrait {{determineImageKind message}}" src="{{getSpeakerImage message}}" />
        </div>
        {{/if}}
        <div class="sender-wrapper {{determineImageKind message}}">
            <h4 class="message-sender">{{alias}}</h4>
        </div>
        </div>
        <span class="message-metadata">
            <time class="message-timestamp">{{timeSince message.timestamp}}</time>
            {{#if user.isGM}}
            <a class="button message-delete"><i class="fas fa-trash"></i></a>
            {{/if}}
        </span>
        </header>

        {{#if isWhisper}}
        <div class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</div>
        {{/if}}

    <div class="message-content">
        {{#if message.flavor}}
        <span class="flavor-text">{{{message.flavor}}}</span>
        {{/if}}
        {{{message.content}}}
    </div>
</li>
