/* ----------------------------------------- */
/* Custom Hotbar                             */
/* ----------------------------------------- */
:root {
  --custom-hotbar-chb-macro-size: 52px;
}

// Custom hotbar introduces a 'hotbars' div, and restyles the core hotbar div
#ui-bottom #hotbars {
  display: flex;
  flex-direction: column;
  gap: 5px;

  #hotbar {
    position: unset;
  }
}

@media (max-width: 1120px) {
  #custom-hotbar {
    width: 354px;
  }
}

.dorako-ui {
  &#custom-hotbar {
    position: static;
    height: auto;
    margin-bottom: 0px;
  }
  &#custom-hotbar #custom-action-bar {
    margin-left: 3px;
  }

  &#custom-hotbar #custom-macro-list {
    gap: 5px;
    border: none;
  }

  &#custom-hotbar .bar-controls {
    @include glass;
    height: auto;
  }

  &#custom-hotbar .macro {
    @include glass;
    @include quick-transition;
    border-radius: 3px;

    &.active:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 10px rgba(220, 200, 100, 0.5) inset, var(--glassy);
      border-radius: 3px;
      overflow: hidden;
      pointer-events: none;
    }

    &:hover {
      background-color: var(--primary-light);
    }

    &.inactive {
      box-shadow: var(--glassy);
    }

    &.active:hover {
      box-shadow: var(--glassy);
      border: none;
      background-color: var(--primary);
    }
    .macro-key {
      background: none;
      right: 6px;
      padding: 0px;
      font-weight: initial;
      text-shadow: 0px 1px 5px black, 0px 1px 5px black;
    }
  }
}
