/* ----------------------------------------- */
/* DF Chat Enhancements                      */
/* ----------------------------------------- */

.message.chat-message.dorako-ui.dark-theme {
  &.dfce-cm-middle .message-delete,
  &.dfce-cm-bottom .message-delete {
    color: white;
    top: 5px;
    text-shadow: 0px 0px 1px black;
  }
}

.message.chat-message {
  .message-delete {
    z-index: 1;
  }

  &.dfce-cm-top {
    border-bottom-style: none;
    margin-bottom: 0px;
    padding-bottom: 5px;
    &:hover {
      box-shadow: var(--gold-and-glow);
    }
  }

  &.dfce-cm-middle,
  &.dfce-cm-bottom {
    border-top-style: none;
    border-bottom-style: none;
    border-radius: 0px;

    &:hover {
      box-shadow: var(--gold-and-glow);
    }
    .message-content {
      padding-right: 0px;
    }

    .sender-wrapper,
    .portrait-and-name {
      display: none;
    }

    .message-header {
      background: transparent;
      box-shadow: none;
      // text-shadow: 0px 0px 1px white;
      margin: 0px;
      padding: 0px;
      padding-right: 5px;
      // color: var(--color-text-dark-primary);
    }
    .header-meta {
      display: none;
    }
  }

  &.dfce-cm-middle {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
  }

  &.dfce-cm-bottom {
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 0px 0px 5px 5px;
  }
}

// div#scrollToBottom {
//   @include quick-transition;
//   @include glass;
//   background-color: #ecbf41;
//   text-shadow: none;
//   color: black;
//   margin-left: 6px;
//   margin-right: 7px;
//   top: -27px;
//   z-index: 1;
//   &:hover {
//     background-color: lighten(#ecbf41, 10);
//   }
// }

#chat-controls {
  padding: 0px;
}

#dorako-nonrt-buttons {
  flex-grow: 0;
}

#chat-controls .buttons {
  display: flex;
  gap: 2.5px;

  button {
    @include glass;
    @include quick-transition;
    color: var(--color-text-light-heading);
    background-color: var(--glass-bg-light);
    text-shadow: 0px 0px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    flex: 1 1 32px;
    width: 32px;

    &:hover {
      color: var(--color-text-light-highlight);
      background-color: var(--primary-light);
    }

    &.toggle {
      &:hover {
        background-color: var(--secondary);
      }
      &.active {
        color: var(--color-text-light-highlight);

        background-color: var(--secondary-light);
      }
    }
  }
}

// #chat-controls .control-buttons {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 5px;

//   a {
//     @include glass;
//     @include quick-transition;
//     color: var(--color-text-light-heading);
//     background-color: var(--glass-bg-light);
//     text-shadow: 0px 0px 3px black;
//     padding: 3px;
//   }
// }

/* ----------------------------------------- */
/* DFCE Chat Merge                           */
/* ----------------------------------------- */

.dfce-cm-middle header,
.dfce-cm-bottom header {
  display: none;
}
