/* ----------------------------------------- */
/* PF2e Dorako UI                            */
/* ----------------------------------------- */

#chat-controls.no-chat-control-icon {
  .chat-control-icon {
    display: none;
  }

  #dfcp-rt-buttons {
    margin-left: 0px !important;
  }
}

#fps {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;

  label {
    display: none;
  }
}

#ui-bottom.centered {
  display: flex;
  justify-content: center;
}

#chat-form {
  flex: 0 0 var(--chat-input-height) !important; // Inline style overwrite
}

#players.dorako-ui h3 {
  border: none;
}

.chat-message {
  .dorako-header {
    padding-bottom: 5px;
    box-shadow: var(--gold-and-glow);
    background: var(--sheet-light);
    background-size: cover;
  }
}

.combat-sidebar li.combatant .token-image {
  z-index: 0;
}

.combat-sidebar li.combatant .token-name {
  z-index: 1;
}

.chat-message .message-content .damage-roll:not(:first-child) {
  margin-top: 5px;
}

.chat-message {
  .flavor-text {
    h4.action {
      font-weight: 700;
      line-height: 1.5em;
      margin: 0;
    }

    .target-dc-result {
      line-height: 0.75rem;
      margin-bottom: 4px;

      .target-dc,
      .result {
        display: block;
        margin: 1px 0;
        width: fit-content;
      }

      .unadjusted {
        text-decoration: line-through;
      }

      .adjusted {
        text-decoration: underline dotted;
        &.increased {
          color: $degree-success-critical;
        }
        &.decreased {
          color: $degree-failure-critical;
        }
      }

      .degree-of-success {
        .criticalSuccess {
          color: $degree-success-critical;
        }
        .success {
          color: $degree-success;
        }
        .failure {
          color: $degree-failure;
        }
        .criticalFailure {
          color: $degree-failure-critical;
        }
      }
    }
  }

  > .message-content .message-buttons {
    display: flex;
    margin: 0.35em 0 2px;
    gap: 3px;
  }
}

.dorako-ui.dark-theme.chat-message {
  .flavor-text {
    .target-dc-result {
      .adjusted {
        &.increased {
          $color: $degree-success-critical;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
        &.decreased {
          $color: $degree-failure-critical;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
      }

      .degree-of-success {
        .criticalSuccess {
          $color: $degree-success-critical;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
        .success {
          $color: $degree-success;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
        .failure {
          $color: $degree-failure;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
        .criticalFailure {
          $color: $degree-failure-critical;
          $adjustment: +12.5%;
          color: color.adjust($color, $lightness: $adjustment);
        }
      }
    }
  }
  > .message-content .message-buttons {
    gap: 5px;

    button {
      @include glass;
      @include quick-transition;
      color: var(--color-text-light-heading);
      text-shadow: 0px 0px 3px black;

      &:hover {
        background-color: var(--primary);
        color: var(--color-text-light-highlight);
      }

      &.critical-success:hover {
        background-color: var(--primary-light);
        color: white;
      }
    }
  }
}

.chat-message > .message-header {
  margin-bottom: 0px;
}

.dorako-damage-roll .flavor-text > *:nth-child(-n + 3) {
  display: none;
}

.frosted-glass {
  #hotbar .bar-controls,
  #hotbar .macro,
  nav#navigation ol#scene-list li.nav-item,
  nav#controls ol.control-tools li.control-tool,
  nav#controls ol.control-tools li.scene-control,
  #tah-expand-hud,
  .tah-title-button,
  .tah-action button,
  #tokenbar .token,
  #tokenbar .bar-controls,
  #players,
  nav#navigation #nav-toggle,
  #fps,
  .app {
    backdrop-filter: var(--frosted-glass);
  }
  #navigation,
  .control-tools {
    backdrop-filter: unset;
  }
}
// .dorako-ui {
//   .tab.category.active[data-tab="pf2e-dorako-ui"] h2,
//   .form-group.dorako-ui.settings-header {
//     font-size: larger;
//     background-color: var(--bg);
//     box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
//     border: 1px solid var(--color-border-light-primary);
//     border-radius: 3px;
//     margin: 2px;
//     margin-bottom: 10px;
//     padding: 10px;
//     color: var(--secondary-light);
//     // text-shadow: 0px 0px 10px var(--secondary-light);
//   }

//   .tab.category.active[data-tab="pf2e-dorako-ui"] h2 {
//     font-size: var(--font-size-48);
//     text-align: center;
//     color: var(--primary-light);
//     text-shadow: 0px 1px 0px var(--primary);
//   }
// }

// .dorako-ui.dark-theme {
//   .tab.category.active[data-tab="pf2e-dorako-ui"] h2,
//   .form-group.dorako-ui.settings-header {
//     @include glass;
//     background: var(--glass-bg-light);
//     margin-bottom: 10px;
//     padding: 10px;
//     color: var(--tertiary);
//     text-shadow: 0px 0px 3px black;
//     // text-shadow: 0px 0px 10px var(--tertiary);
//   }
//   .tab.category.active[data-tab="pf2e-dorako-ui"] h2 {
//     color: var(--tertiary-dark);
//   }
// }

.dorako-ui.settings-header:hover > .dorako-ui.settings-header::after {
  opacity: 1;
  border: 1px solid white;
}

.dorako-ui.settings-header {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
  border: 1px solid gray;
}

.dorako-ui.settings-header:hover::before {
  opacity: 1;
}

.dorako-ui.settings-header::before,
.dorako-ui.settings-header::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.dorako-ui.settings-header::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.dorako-ui.settings-header::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  z-index: 1;
}

.dorako-ui.settings-header > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

//////////
///
///
///

#controls:hover > .card::after {
  opacity: 1;
}

#controls ol.control-tools > li.card {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  // height: 260px;
  // flex-direction: column;
  position: relative;
  // width: 300px;
}

#controls ol.control-tools > li.card::before,
#controls ol.control-tools > li.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

#controls ol.control-tools > li.card::before {
  opacity: 1;
}

#controls ol.control-tools > li.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

#controls ol.control-tools > li.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  z-index: 1;
}
