@use "sass:color";
@import "../colors";
@import "cautious-gamemasters-pack", "combat-carousel", "custom-hotbar", "damage-log", "dfce", "dice-tray", "dorako-ui",
  "enhancen-terrain-layer", "filepicker-plus", "koboldworks-turn-announcer", "macros", "monarch", "monks", "polyglot",
  "scene-preview", "speaking-as", "target-damage", "token-action-hud", "workbench", "party-overview", "pf2e-dailies",
  "dalvyn-journal", "swade", "chat-reactions", "card-hand-mini-toolbar", "module-management-plus", "misc", "item-piles",
  "pf2e-idle-hud", "pf2e-utility-buttons", "window-tabs";
