/* ----------------------------------------- */
/* Macros                                    */
/* ----------------------------------------- */

// Condition Manager
.dorako-ui.window-app .window-content .dialog-content .cond-cont {
  background: none;
}

.foundry2.window-app .window-content .dialog-content .cond-cont {
  background: none;
  .cond-butt-set {
    display: flex;
  }
  button {
    box-shadow: unset;
  }
  .cond-buttons,
  .cond-buttons:focus {
    width: 100%;
  }
  .cond-buttons-small,
  .cond-buttons-small:focus {
    width: 13%;
  }
}

// Basic Action Macros
.dorako-ui.window-app .action-list button {
  &.action-btn img {
    border-radius: 3px;
    box-shadow: var(--gold-and-glow);
  }
  &:hover {
    filter: brightness(1.3);
  }
  &.glow {
    box-shadow: var(--gold-and-glow), var(--glassy);
    animation: unset;
    filter: brightness(1.1);
    color: var(--tertiary);
  }
}
