#module-credits-copy-export {
  background: none !important;
}

#module-management.dorako-ui.dark-theme .package-list .package .package-overview .tag.expand {
  color: inherit;
  background: inherit;
  border: none;
  margin-bottom: unset;
  margin-top: unset;
  &:hover {
    background-color: var(--primary);
  }
}

#module-credits-dialog.dorako-ui.dark-theme {
  .journal-entry-content {
    background: unset;
    box-shadow: unset;
  }
}

/* ----------------------------------------- */
/* Foundry2                                  */
/* ----------------------------------------- */

.foundry2 {
  &#module-management .package-list .package .package-overview .tag.expand {
    background: var(--color-cool-4);
    border: 1px solid var(--color-cool-3);
    color: var(--color-light-2);
  }

  .package-list .package .tag {
    background: var(--color-cool-4);
    border: 1px solid var(--color-cool-3);
    color: var(--color-light-2);
  }
}
