#pf2e-token-hud.dorako-ui {
  --color: white;
  --rarity-common: #e1d8cf;
  --rarity-uncommon: #c45500;
  --rarity-rare: #5362ff;
  --rarity-unique: #e127e1;

  .sidebar.skills {
    --color-rank-0: #a6a6a6;
    --color-rank-1: #3f4dcd;
    --color-rank-2: #a828f0;
    --color-rank-3: #cf931d;
    --color-rank-4: #bf1c1c;
  }

  .sidebar.skills .skill .header .rank,
  .sidebar.skills .lore .rank {
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;
  }

  .sidebar .header {
    background: rgba(96, 88, 86, 0.5);
  }

  .sidebar.skills .skill .header .modifier,
  .sidebar.skills .lore .modifier {
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;
    color: var(--primary-light);
  }

  .sidebar.spells .entry .spell .details .extras .actions {
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;
  }

  .distance,
  .status,
  .popup,
  .sidebar,
  .inner {
    border: none;
    border-radius: 3px;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    backdrop-filter: blur(5px);

    hr {
      border: none;
    }
  }

  .popup .header:before {
    background: unset;
  }

  .sidebar .details .extras .actions a i.greyed {
    text-shadow: 0px 1px 15px white;
  }

  .sidebar .item-img img {
    border-color: wheat;
  }

  .rarity {
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;

    &.common {
      color: var(--rarity-common);
    }

    &.uncommon {
      color: var(--rarity-uncommon);
    }

    &.rare {
      color: var(--rarity-rare);
    }

    &.unique {
      color: var(--rarity-unique);
    }
  }
}

#pf2e-token-hud.dorako-ui input,
#pf2e-token-hud.dorako-ui select option {
  background-color: var(--glass-bg);
}

// Recall Knowledge
.chat-message.message.dorako-ui.dark-theme .pf2e-token-hud {
  --color-rank-0: #a6a6a6;
  --color-rank-1: #3f4dcd;
  --color-rank-2: #a828f0;
  --color-rank-3: #cf931d;
  --color-rank-4: #bf1c1c;
  --color: white;
  --rarity-common: #e1d8cf;
  --rarity-uncommon: #c45500;
  --rarity-rare: #5362ff;
  --rarity-unique: #e127e1;

  .rk,
  .rk-skills,
  .rk-lores,
  .rk-lores-rolls {
    background: repeating-linear-gradient(
      #dddddd70 0 var(--row-height),
      transparent var(--row-height) calc(var(--row-height) * 2)
    );
    .header {
      color: white;
    }

    .rank {
      //   text-shadow: 0px 1px 1px black, 0px 1px 15px white;
      font-weight: bold;
    }
  }
}

.chat-message.message.dorako-ui.light-theme .pf2e-token-hud {
  --color-rank-0: #a6a6a6;
  --color-rank-1: #3f4dcd;
  --color-rank-2: #a828f0;
  --color-rank-3: #cf931d;
  --color-rank-4: #bf1c1c;

  .rk,
  .rk-skills,
  .rk-lores,
  .rk-lores-rolls {
    background: repeating-linear-gradient(
      #dddddd70 0 var(--row-height),
      transparent var(--row-height) calc(var(--row-height) * 2)
    );
    .rank {
      //   text-shadow: 0px 1px 1px black, 0px 1px 15px white;
      font-weight: bold;
    }
  }
}

/* Symon Custom CSS */
#pf2e-token-hud.dorako-ui .inner i {
  text-shadow: 0px 0px 35px white, 0px 1px 1px black;
  &.fa-solid.fa-circle-h {
    color: darkgoldenrod;
  }
  &.fa-solid.fa-user-graduate {
    color: rebeccapurple;
  }
  &.fa-solid.fa-heart-half-stroke {
    color: orangered;
  }
  &.fa-solid.fa-heart {
    color: darkred;
  }
  &.fa-regular.fa-helmet-battle {
    color: darkslategray;
  }
  &.fa-duotone.fa-eye-slash {
    color: #9e9eff;
  }
  &.fa-regular.fa-shield {
    color: darkslategray;
  }
  &.fa-solid.fa-hand-fist {
    color: purple;
  }
  &.fa-solid.fa-person-running {
    color: rgb(61, 61, 255);
  }
  &.fa-solid.fa-brain {
    color: deeppink;
  }
  &.fa-solid.fa-skull {
    color: black;
  }
  &.fa-solid.fa-tombstone {
    color: brown;
  }
  &.fa-solid.fa-shoe-prints {
    color: green;
  }
  &.fa-solid.fa-chevrons-down::before {
    content: "\f713";
    font: (--fa-font-solid);
    color: saddlebrown;
  }
  &.fa-solid.fa-feather {
    color: white;
  }
  &.fa-solid.fa-person-swimming {
    color: dodgerblue;
  }
  &.fa-solid.fa-spider {
    color: #b7346f;
  }
}
