/* ----------------------------------------- */
/* Token Action HUD (TAH)                    */
/* ----------------------------------------- */
:root {
  --dorako-bg-current: var(--glass-bg);
  --dorako-vibrancy: var(--frosted-glass);
}
.dorako-ui {
  #tah-categories {
    gap: 5px;
  }

  &#token-action-hud {
    gap: 5px;
  }

  #tah-expand-hud {
    width: 32px;
    height: 32px;
  }

  #tah-expand-hud,
  .tah-title-button {
    @include quick-transition;
    color: var(--color-text-light-heading);
    padding: 3px 5px 3px 5px;
    &:hover {
      color: var(--color-text-light-highlight);
    }
  }

  .tah-category.hover {
    button.tah-title-button {
      background-color: var(--primary);
      color: var(--color-text-light-highlight);
    }
  }

  .tah-subtitle {
    width: 174px;
  }

  .tah-action button {
    @include quick-transition;
    color: var(--color-text-light-heading);

    &.toggle {
      background-color: var(--secondary-dark);
    }
    &:hover {
      color: var(--color-text-light-highlight);
    }
    &.active {
      color: white;
    }
  }
}
