/* ----------------------------------------- */
/* Token Action HUD (TAH)                    */
/* ----------------------------------------- */
#token-action-hud.dorako-ui {
  --dorako-bg-current: var(--glass-bg);
  --dorako-vibrancy: var(--frosted-glass);
  --paizo-blue: var(--secondary);
  --paizo-blue-bright: var(--secondary-light);
  --paizo-red-bright: var(--primary-light);
  --pazio-red: var(--primary);
  --tah-border-radius: var(--border-radius);
  --tah-button-background-color: var(--glass-bg);
  --tah-button-text-color: var(--color-text-light-highlight);

  #tah-categories {
    gap: 5px;
  }

  &#token-action-hud {
    gap: 5px;
  }

  #tah-expand-hud {
    width: 32px;
    height: 32px;
  }

  #tah-expand-hud,
  .tah-title-button {
    // @include quick-transition;
    transition: unset;

    color: var(--color-text-light-heading);
    padding: 3px 5px 3px 5px;
    &:hover {
      color: var(--color-text-light-highlight);
    }
  }

  .tah-category.hover {
    button.tah-title-button {
      background-color: var(--primary);
      color: var(--color-text-light-highlight);
    }
  }

  .tah-subtitle {
    width: 174px;
  }

  .tah-tab-group,
  .tah-action {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .tah-action button {
    // @include quick-transition;
    transition: unset;

    &.toggle {
      background-color: var(--secondary-dark);
      &:hover {
        background-color: var(--secondary);
      }
      &.active {
        background-color: var(--secondary-light);
      }
    }
    &:hover {
      color: var(--color-text-light-highlight);
    }
    &.active {
      color: white;
    }
  }
}

.locked-tooltip.tah-tooltip :is(a.content-link, a.inline-roll),
.tah-tooltip :is(a.content-link, a.inline-roll),
#tooltip.active:has(.tah-tooltip-wrapper) :is(a.content-link, a.inline-roll) {
  background: #ddd;
  padding: 1px 4px;
  border: 1px solid var(--color-border-dark-tertiary);
  color: var(--color-text-dark-primary);
  margin: 3px;
}

.tah-tooltip .tags {
  .tag.tag_transparent {
    background: rgba(255, 255, 255, 0.5);
    color: var(--glass-bg-dark);
    margin-left: 2px;
    margin-bottom: 2px;
    &:first-child {
      margin-left: 0px;
    }
  }
}

.tah-tooltip .tag,
.tah-tooltip table {
  text-shadow: none;
}

.dorako-ui.dark-theme.tah-dialog {
  .tagify.tah-dialog-tagify {
    background: white;
  }
}
