[data-theme] {
  &:is(.familiar, .army, .party).sheet form {
    background: none;
  }

  &.sheet.party [data-tab="exploration"] .activities .member-activity,
  &.party.sheet [data-tab="overview"] .summary {
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: var(--ornamentation);
    border-image-width: 14px;
    border-style: double;
  }

  &.actor .effects-list .item,
  &.actor ol.spell-list {
    border-bottom: unset;
  }

  .item-image:hover i {
    --text-dark: black;
  }

  &.actor.sheet .item-controls {
    --text-dark: var(--color-text-dark-secondary);
  }

  &.actor.sheet .item-summary {
    background: var(--fieldset-background-color);
  }

  &.sheet.party {
    --color-border: var(--fieldset-border-color);

    .blurb {
      --alt-dark: var(--color-text-dark-secondary);
    }

    .resource .empty {
      border-color: #d8c88b;
      background: var(--fieldset-background-color);
    }

    [data-tab="overview"] .member > .data .main-stats > section:not(.ac) {
      background: var(--fieldset-background-color);
    }

    .sidebar {
      border-right: unset;
      box-shadow: unset;
      .box-list {
        --alt-dark: var(--color-text-dark-secondary);
        .box {
          background: var(--fieldset-background-color);
          border: 1px solid var(--fieldset-border-color);
          header {
            color: var(--color-text-dark-primary);
            border: 1px solid var(--fieldset-border-color);
            border-bottom: unset;
            --sub: var(--fieldset-background-color);
          }
        }
      }
    }
  }

  &.sheet.familiar .header-content {
    input,
    select {
      @include input;
    }
  }

  &.sheet.hazard section.window-content .sidebar {
    --color-shadow-dark: var(--color-text-dark-secondary);
    --primary: var(--color-text-dark-primary);
    --color-pf-primary-light: var(--color-text-dark-primary);
    --color-pf-primary: var(--color-text-dark-primary);
    --color-pf-primary-darker: var(--color-text-dark-secondary);
    border-right: unset;
    box-shadow: unset;
    select {
      @include input;
    }
  }

  &.sheet.npc {
    .sidebar,
    .sheet-body {
      --color-pf-primary-lighter: var(--color-text-dark-primary);
      --color-pf-primary-light: var(--color-text-dark-primary);
      --color-pf-primary: var(--color-text-dark-primary);
      --color-pf-primary-dark: var(--color-text-dark-secondary);
      --color-pf-primary-darker: var(--color-text-dark-secondary);
    }

    :is(select, input):not(.tag, [data-item-id="rituals"]) {
      @include input;
    }

    button.use-action:not(.disabled) {
      background: var(--bg-dark);
      align-items: center;
      border-radius: 2px;
      border: none;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 2px rgba(0, 0, 0, 0.2);
      display: flex;
      flex: 0;
      font: 500 var(--font-size-10) var(--sans-serif);
      gap: 0.25em;
      height: 2em;
      justify-content: space-evenly;
      letter-spacing: 0.05em;
      margin: 0;
      max-width: fit-content;
      padding: 0.5em;
      text-rendering: optimizeLegibility;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  &.sheet.npc .sidebar {
    .subsection {
      margin-left: 4px;
      padding: var(--space-4) var(--space-6);
      background: var(--fieldset-background-color);
      border: 1px solid var(--fieldset-border-color);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
      box-shadow: 0 0 6px var(--dnd5e-shadow-45);
      border-radius: 4px;
      header {
        padding: unset;
        border: none;
      }
    }
  }

  &.actor.npc.sheet form .sheet-body .actions-list li.action {
    border-color: var(--fieldset-border-color);
  }

  &.actor.npc.sheet form .notes.active .notes-section > h4 {
    --color-pf-primary: var(--color-text-dark-primary);
  }

  &.actor.npc.sheet form .notes.active .notes-section > .notes-text {
    --text-dark: var(--color-text-dark-secondary);
  }

  .section-container.headerless .section-body {
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: var(--ornamentation);
    border-image-width: 14px;
    border-style: double;
    padding-left: 15px;
  }

  &.sheet.npc section.window-content .section-container:not(.headerless),
  &.sheet.familiar section.window-content .section-container,
  &.sheet.hazard section.window-content .section-container {
    // system is using padding as margin
    padding: unset;
    margin: var(--space-4) var(--space-6) 0;
    background: var(--fieldset-background-color);
    border: 1px solid var(--fieldset-border-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 6px var(--dnd5e-shadow-45);
    border-radius: 4px;
    --primary: var(--color-text-dark-primary);

    .section-header {
      background: unset;
      border: unset;
      color: var(--color-text-dark-primary);
      border-bottom: unset;
      --sub: var(--dnd5e-background-card);
    }

    .section-body {
      border: unset;
    }

    .skills-content .skills-list a {
      @include button;
    }

    input,
    select {
      @include input;
    }

    .button {
      .mod {
        --primary: var(--button-hover-text-color);
      }
    }
  }

  .spellcasting-entry .header,
  .subsection.damage button {
    --color-pf-primary: var(--system-primary);
  }

  .crb-style .details-input {
    @include input;
  }
}

@layer compatibility.base {
  .theme-dark [data-theme].sheet.party button {
    background: rgba(255, 255, 255, 0.1);
  }
}

.theme-dark [data-theme].actor.npc.sheet form .sheet-body .effects .effects-list .item.unidentified {
  background: var(--visibility-gm-bg);
  color: black;
}

.theme-dark [data-theme].army.sheet {
  --text-dark: var(--color-text-dark-primary);
  .army-sidebar header {
    --primary: var(--color-text-dark-primary);
  }
}

.theme-dark [data-theme].sheet.party {
  --color-proficiency-untrained: #777777;
  --color-proficiency-trained: #3b4bd3;
  --color-proficiency-expert: #6000a0;
  --color-proficiency-master: #9c6800;
  --color-proficiency-legendary: #9e0000;
  .tag-light {
    color: color-mix(in srgb, var(--tag-color) 25%, white);
    background: color-mix(in srgb, var(--tag-color) 25%, transparent);
    &.perception {
      color: white;
      background: var(--tag-color);
    }
  }
}
