.theme-dark [data-theme].app {
  --color-text-dark-2: var(--color-text-dark-primary);
  --color-text-dark-3: var(--color-text-dark-secondary);
}

.theme-light [data-theme].app:not(.actor) .window-header {
  color: black;
  a.control:hover {
    color: black;
  }
}

.pf2e.item.sheet {
  header img {
    border: 2px solid var(--icon-border-color);
    // height: calc(100% - 4px);
  }
  .tab.active.rules .rule-form {
    border-bottom: unset;
  }

  select:not(.tag) {
    @include input;
  }

  textarea,
  input[type="number"],
  input[type="text"] {
    @include input;
  }
  fieldset {
    margin-top: 1rem;
  }
  sheet-tabs .tabs {
    gap: 5px;
    margin-inline: 5px;
    [data-tab] {
      @include button;
    }
  }

  .attached-input {
    .attachment {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    input {
      border-left: unset;
    }
  }

  &.pf2e.item.sheet.spell form .tab.details.active fieldset.heightening .add {
    gap: 5px;
  }

  .drop-zone {
    background: var(--fieldset-background-color);
    border-color: var(--fieldset-border-color);
    border-radius: 4px;
    --color-border-dark: var(--icon-border-color);
  }

  form > nav > .tabs {
    gap: 5px;
    margin: 5px;
    margin-bottom: 0px;
    > a {
      @include button;
    }
  }

  .sheet-content button:hover:not(:disabled),
  .sheet-content button:focus,
  .sheet-content input:not([type="range"]):hover:not(:disabled),
  .sheet-content input:not([type="range"]):focus,
  .sheet-content select:hover:not(:disabled),
  .sheet-content select:focus {
    --color-pf-secondary: var(--input-focus-outline-color);
    transition: box-shadow 0.25s;
  }
}

.pf2e.item.sheet form .sheet-body .tab.active.description .gm-notes {
  border: unset;
  --visibility-gm-bg: rgba(232, 232, 239, 0.0862745098);
  outline: 1px dotted rgba(75, 74, 68, 0.5) inset !important;
}
