.foundry2 {
  .monks-active-tiles.sheet .items-list .items-header,
  &.monks-active-tiles.sheet .items-list .items-header {
    background: unset;
    border: unset;
    // @include f2-app;
    // border-color: var(--color-cool-3);
    .item-controls {
      color: var(--color-light-3);
    }
  }

  .monks-active-tiles.sheet .items-list .items-header h3,
  &.monks-active-tiles.sheet .items-list .items-header h3 {
    font-family: Signika, sans-serif;
  }

  &#trigger-action .files-list .items-header .item-controls,
  &#trigger-action .buttons-list .items-header .item-controls,
  &.monks-active-tiles .files-list .items-header .item-controls {
    color: var(--color-light-2);
  }

  &.monks-active-tiles .file-list {
    color: var(--color-light-3);
  }

  &.monks-active-tiles.sheet .items-list,
  &#trigger-action .items-list li a,
  &.monks-active-tiles .file-list li a {
    color: var(--color-light-3);
  }
  &#trigger-action .file-list li,
  &.monks-active-tiles.sheet .file-list li.item {
    border-color: var(--color-cool-3);
  }

  &.action-sheet .display-value {
    @include f2-input;
  }

  &.monks-active-tiles.sheet .items-list .item-controls a {
    @include f2-button-warm;
  }

  &.monks-active-tiles.sheet .items-list .item .item-name {
    color: var(--color-light-3);
  }

  &.monks-active-tiles div[data-tab="triggers"] .action-items .action-style {
    color: #fafafa;
  }

  &.monks-active-tiles div[data-tab="triggers"] .action-items .filter-style {
    color: #f73458;
  }

  &.monks-active-tiles div[data-tab="triggers"] .action-items .logic-style {
    color: #2b40f8;
  }

  &.monks-active-tiles div[data-tab="triggers"] .action-items .entity-style {
    color: #a9a9a9;
  }

  &.monks-active-tiles div[data-tab="triggers"] .action-items .details-style {
    color: #a326fc;
  }

  &.monks-active-tiles div[data-tab="triggers"] .action-items .value-style {
    color: #515151;
  }

  &.monks-active-tiles div[data-tab="triggers"] .action-items .tag-style {
    color: #063d68;
  }
}
