/* ----------------------------------------- */
/* Theme colors                              */
/* ----------------------------------------- */
:root {
  --bg3-middle-brown: #9d7b53;
  --bg3-border-color: #5f5244;
  --bg3-background-1: #433c36;
  --bg3-background-2: #423c36;
  --bg3-background-3: #2a2522;
  --bg3-background-4: #292421;
  --bg3-text-1: #fafafa;
  --bg3-text-2: #d1c9b9;
  --bg3-text-3: #b0947b;
  --bg3-text-4: #e8dea8;
  --bg3-accent-light: #fc7e9e;
  --bg3-accent: #ea4a72;
  --bg3-accent-dark: #c13155;
  --bg3-color-scrollbar: #ecc090;
  --bg3-color-scrollbar-border: #6c5842;
}

/* ----------------------------------------- */
/* Map v1 styling to v2 values               */
/* ----------------------------------------- */
[data-dorako-ui-theme="bg3"] {
  // --color-shadow-primary: transparent;
  // --color-shadow-highlight: transparent;
  // --color-border-light-highlight: var(--color-cool-3);
  // --color-border-light-primary: var(--color-cool-4);
  // --color-border-light-secondary: var(--color-cool-4);
  // --color-border-light-tertiary: var(--color-cool-4);
  // --color-border-dark-1: var(--color-cool-4); // darkest
  // --color-border-dark-2: var(--color-cool-4);
  // --color-border-dark-3: var(--color-cool-4);
  // --color-border-dark-4: var(--color-cool-3);
  // --color-border-dark-5: var(--color-cool-2);
  // --color-border-dark-primary: var(--color-cool-4);
  // --color-border-dark-secondary: var(--color-cool-5);
  // --color-border-light-1: var(--color-cool-3);
  // --color-border-light-2: var(--color-cool-4);
  // --color-underline-header: var(--color-warm-2);
  // --color-underline-active: var(--color-warm-1);
  --color-text-hyperlink: var(--accent-color);
  // --color-border-highlight: var(--color-warm-1);
  // --color-border-highlight-alt: var(--color-warm-2);
  // --color-border-light-tertiary: var(--color-cool-4);
  --color-border-divider: var(--bg3-border-color);
  // --color-bg-btn-minor-inactive: var(--app-background);
  // --color-bg-btn-minor-active: var(--color-warm-2);
  --color-text-dark-primary: var(--color-light-3);
  --color-text-dark-secondary: var(--color-light-5);
  // --color-bg-option: var(--color-cool-4);

  // System rarities
  --color-rarity-common: #e1d8cf;
  --color-rarity-uncommon: #c45500;
  --color-rarity-rare: #5362ff;
  --color-rarity-unique: #e127e1;
}

/* ----------------------------------------- */
/* Light color scheme                        */
/* ----------------------------------------- */
[data-dorako-ui-theme="bg3"][data-dorako-ui-scope="limited"][data-color-scheme="light"],
[data-dorako-ui-theme="bg3"][data-color-scheme="light"] {
  --window-app-background: linear-gradient(to top, #533e65ff 0, #533e65ff 3px, #533e6544 30px, #533e6500 100px),
    radial-gradient(circle at top, #6c5842 0, var(--bg3-background-2) 50%, var(--bg3-background-3) 100%);
  --window-app-box-shadow: 0px 5px 20px 3px black;
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* ----------------------------------------- */
/* DUI variables                             */
/* ----------------------------------------- */
[data-dorako-ui-theme="bg3"] {
  /* Base colors */
  --color-warm-1: var(--tertiary);
  --color-warm-2: var(--primary);
  --color-warm-3: var(--remaster-light);
  // --color-warm-3-75: color-mix(in srgb, var(--color-warm-3) 75%, transparent);
  // --color-warm-4-75: color-mix(in srgb, var(--color-warm-4) 75%, transparent);
  --color-warm-4: var(--remaster);
  --color-warm-5: var(--remaster-dark);
  --color-cool-1: var(--bg3-accent-light);
  --color-cool-2: var(--bg3-accent);
  --color-cool-3: var(--bg3-accent-dark);
  // --color-cool-3-75: color-mix(in srgb, var(--color-cool-3) 75%, transparent);
  --color-cool-4: #26231f;
  /* Misc variables */
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --box-shadow: 0px 1px 2px black;
  --icon-border-color: var(--tertiary);
  /* Window app variables */
  --window-app-background: radial-gradient(circle at bottom right, #2c282433 0%, #2c2824ff 50%, #0c0804ee 100%),
    radial-gradient(circle at center, transparent 0, #0c0804ee 100%);
  --window-app-border-color: var(--bg3-middle-brown);
  --window-app-border-style: 1px solid;
  /* App variables */
  --app-background: #161511aa;
  --app-border-color: var(--bg3-border-color);
  --app-border-style: 1px solid;
  /* Inline variables */
  --inline-bg: #21201c;
  --inline-border-color: #403b2d;
  --inline-text-color: var(--bg3-text-2);
  --inline-icon-color: var(--bg3-text-1);
  /* Input variables */
  --input-border-color: var(--brown-2);
  --input-disabled-background-color: var(--bg3-background-4);
  --input-disabled-border-color: var(--bg3-background-3);
  --input-border-color: var(--brown-2);
  --input-background-color: var(--alt-dark);
  --input-focus-outline-color: var(--tertiary);
  /* Button variables */
  --button-background-color: var(--app-background);
  --button-border-color: #403b2d;
  --button-text-color: var(--color-light-3);
  --button-focus-outline-color: var(--color-warm-1);
  --button-hover-background-color: var(--color-warm-2);
  --button-hover-border-color: var(--color-warm-1);
  --button-hover-text-color: var(--color-light-1);
  --button-disabled-background-color: var(--color-warm-5);
  --button-disabled-border-color: var(--color-warm-4);
  /* Fieldset variables */
  --fieldset-border-color: transparent;
  --fieldset-background-color: rgba(0, 0, 0, 0.2);
  --fieldset-legend-color: var(--bg3-text-4);
  /* Scrollbar and accent variables */
  --color-scrollbar: var(--bg3-color-scrollbar);
  --color-scrollbar-border: var(--bg3-color-scrollbar-border);
  --accent-color: #ea4a72;
}

/* ----------------------------------------- */
/* System variables                          */
/* ----------------------------------------- */
[data-dorako-ui-theme="bg3"] {
  --color-text-dark-primary: var(--color-light-2);
  --bg: rgba(0, 0, 0, 0.5);
  --sub: var(--bg3-middle-brown);
  --text-dark: var(--bg3-text-1);
  --color-border-light-1: var(--color-text-light-highlight);
  --color-border-light-primary: var(--brown-1);
  --color-border-light-highlight: var(--brown-2);
  --color-underline-header: var(--bg3-middle-brown);
}

/* ----------------------------------------- */
/* Specifics                                 */
/* ----------------------------------------- */
[data-dorako-ui-theme="bg3"] {
  &.spellcasting-entry.preparation .item-name {
    --secondary: var(--bg3-text-4);
  }

  &.app.window-app {
    box-shadow: var(--window-app-box-shadow), 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
  }

  &.pf2e.item.sheet {
    --color-border-medium: var(--bg3-border-color);
  }

  &.actor.sheet .crb-style .sheet-body {
    --color-border-medium: var(--brown-1);
    --color-border-divider: var(--color-scrollbar-border);
    --text-dark: var(--bg3-text-2);
  }
  &.actor.sheet .inventory .list-row .item-controls {
    --secondary: var(--bg3-text-1);
  }

  &.actor.sheet.character {
    --color-border-light-2: var(--bg3-border-color);
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike {
    border-image: linear-gradient(90deg, transparent, var(--bg3-text-2) 20%, transparent) 1 !important;
  }

  // prettier-ignore
  &.actor.sheet .inventory .list-row .item-controls,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.feats .feat-item .item-name .feat-slot-title,
  &.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list > li .item-name h4:hover,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .spell-ability-data .skill-score {
      --secondary: var(--bg3-text-1);
      --fa-inverse: black;
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .lores-list .skill,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .combat-list .skill,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .skills-list .skill {
    --primary: var(--tertiary);
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike {
    border-image: linear-gradient(90deg, transparent, var(--tertiary) 20%, transparent) 1;
  }

  &.message.chat-message {
    background: var(--window-app-background);
    background-position: top;
    background-size: cover;
    &.whisper {
      background: var(--window-app-background);
      background-color: var(--whisper-bg);
      background-blend-mode: luminosity;
      &.blind {
        background: var(--window-app-background);
        background-color: var(--blind-bg);
        background-blend-mode: luminosity;
      }
    }
  }
}
