[data-chat-app-theme="crb"] #sidebar-tabs,
[data-chat-app-theme="crb"] #chat-log ~ *,
[data-dorako-ui-theme="crb"] {
  --icon-border-color: var(--tertiary);
  --color-scrollbar: var(--tertiary);
  --color-scrollbar-border: color-mix(in srgb, var(--tertiary) 50%, black);
  --color-scrollbar-hover: color-mix(in srgb, var(--tertiary) 50%, white);

  --window-app-border-color: var(--tertiary);
  --window-app-border-style: 1px solid;
  --box-shadow: var(--glassy);
  --accent-color: var(--tertiary);
  --inline-box-shadow: none;

  --inline-bg: #ddd;
  --inline-border-color: black;
  --inline-text-color: black;
  --inline-icon-color: var(--color-text-dark-inactive);

  --input-border-color: var(--color-text-light-5);
  --input-text-color: var(--color-text-dark-input);
  --input-focus-text-color: var(--color-text-dark-input);
  --input-background-color: rgba(255, 255, 255, 0.5);
  --input-focus-outline-color: var(--primary-light);
  --input-placeholder-color: rgba(0, 0, 0, 0.5);

  --button-background-color: var(--app-background);
  --button-border-color: var(--app-border-color);
  --button-text-color: var(--color-light-3);
  --button-focus-outline-color: var(--color-warm-1);
  --button-hover-background-color: var(--color-warm-2);
  --button-hover-border-color: var(--color-warm-1);
  --button-hover-text-color: var(--color-light-1);
  --button-disabled-background-color: var(--color-warm-5);
  --button-disabled-border-color: var(--color-warm-4);

  --button-toggle-border-color: var(--secondary-light);
  --button-toggle-background: var(--secondary-dark);
  --button-toggle-hover-background: var(--secondary-light);

  --color-warm-1: var(--tertiary);
  --color-warm-2: var(--primary-light);
  --color-warm-3: var(--primary-dark);
  --color-warm-3-75: color-mix(in srgb, var(--color-warm-3) 75%, transparent); //custom
  --color-warm-4-75: color-mix(in srgb, var(--color-warm-4) 75%, transparent); //custom
  --color-cool-1: var(--secondary-light);
  --color-cool-2: var(--secondary);
  --color-cool-3: var(--secondary-dark);
  --color-cool-3-75: color-mix(in srgb, var(--color-cool-3) 75%, transparent); //custom

  --color-border-light-1: #ddd;
  --color-border-light-2: #999;
}

[data-chat-app-theme="crb"] #chat-log ~ *,
[data-dorako-ui-theme="crb"]:not([data-color-scheme]) {
  --color-light-2: var(--color-text-light-highlight);
  --color-light-3: var(--color-text-light-heading);
  --input-text-color: black;
  --input-focus-text-color: black;
  --input-focus-outline-color: var(--tertiary);
  --button-background-color: var(--glass-bg-light);
  --app-background: var(--glass-bg);
  --app-border-color: transparent;
  --app-border-style: none;

  &#token-hud,
  &#tile-hud {
    --button-background-color: var(--glass-bg);
    --input-text-color: var(--color-light-2);
  }
}

[data-dorako-ui-theme="crb"] {
  button {
    --color-light-1: white;
    --color-light-2: var(--color-text-light-highlight);
    --color-light-3: var(--color-text-light-heading);
  }

  &.app.window-app {
    outline: 1px solid var(--gold-brown);
    &.sidebar-popout {
      outline: none;
    }
  }

  &.app.window-app.journal-sheet.journal-entry {
    --window-app-background: var(--glass-bg);
  }

  &#controls,
  &#navigation {
    --button-background-color: var(--glass-bg);
  }

  &.sheet.journal-entry .journal-entry-content {
    background-image: var(--sheet);
    background-size: cover;
    border: var(--window-app-border-style);
    border-color: var(--window-app-border-color);
    box-shadow: 0px 0px 0px 1px var(--gold-brown);
    border-bottom: unset;
    border-right: unset;
    margin: unset;
  }

  &.spellcasting-entry.preparation ol.spell-list > li .item-name .item-image,
  &.actor.sheet .item-image {
    --box-shadow: 0px 0px 0px 1px var(--gold-brown);
  }

  &.chat-message .message-header.dorako-header {
    background-image: var(--sheet-light);
    background-size: cover;
    background-color: var(--header-color);
    background-blend-mode: multiply;
    border-bottom: 1px solid var(--tertiary);
    box-shadow: 0px 1px 0px 0px var(--gold-brown);
    margin-bottom: 5px;

    .message-timestamp,
    .header-meta {
      border: none;
      background: none;
      padding: unset;
      --box-shadow: none;
    }
  }

  &.chat-message[data-header-text-color-scheme="dark"] .message-header {
    --color-text-dark-secondary: var(--color-light-1);
    --color-light-1: black;
    --color-light-2: black;
    --color-light-3: black;
    --app-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    text-shadow: var(--app-text-shadow);
  }

  &.chat-message[data-header-text-color-scheme="light"] .message-header {
    // --color-text-dark-secondary: var(--color-light-1);
    // --color-light-1: var(--color-text-light-highlight);
    // --color-light-2: var(--color-text-light-highlight);
    // --color-light-3: var(--color-text-light-heading);
    --color-text-dark-secondary: white;
    --color-light-1: white;
    --color-light-2: white;
    --color-light-3: white;
    --app-text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    text-shadow: var(--app-text-shadow);
  }

  &.chat-message.whisper .message-header.dorako-header {
    border-bottom: 1px solid var(--whisper-bg);
  }
  &.chat-message.whisper.blind .message-header.dorako-header {
    border-bottom: 1px solid var(--blind-bg);
  }

  &.chat-message {
    outline: 1px solid var(--gold-brown);
    .card-content {
      --app-border-color: var(--tertiary);
      border-image-repeat: repeat;
      border-image-slice: 11;
      border-image-source: var(--ornamentation);
      border-image-width: 14px;
      border-style: double;
      padding: 3px 10px;
      font-weight: 500;
      margin: 0px;
      margin-top: 5px;

      hr {
        margin: 0px -10px;
        border-bottom: none;
      }
    }
    .card-footer {
      border: none;

      span {
        border-right: 1px solid gray;
        padding-right: 5px; // Undoes 0px set by system
      }
    }
  }

  hr {
    border-top: none;
  }

  &#hotbar .macro {
    border: 1px solid black;
  }

  &.sidebar-popout {
    background: var(--app-background) !important;
  }

  &.message.chat-message {
    background: var(--window-app-background);
    background-position: top;
    background-size: cover;
    &.whisper {
      background: var(--window-app-background);
      background-color: var(--whisper-bg);
      background-blend-mode: luminosity;
      &.blind {
        background: var(--window-app-background);
        background-color: var(--blind-bg);
        background-blend-mode: luminosity;
      }
    }
  }

  &#effects-panel .effect-item > .icon {
    --box-shadow: var(--gold-and-glow);
    --border-radius: 50%;
    &.aura {
      border-radius: 33%;
      transform: scale(0.8);
    }
  }
}

/* ----------------------------------------- */
/* Modules                                   */
/* ----------------------------------------- */
[data-dorako-ui-theme="crb"] {
  &#token-action-hud {
    button {
      --button-background-color: var(--glass-bg);
    }
    .hover > button {
      --button-background-color: var(--button-hover-background-color);
    }
  }

  &#pf2e-token-hud {
    --color-warm-2: var(--tertiary);
    --color-cool-4: var(--glass-bg-light);

    hr {
      display: none;
    }
  }
}

/* ----------------------------------------- */
/* Navigation                                */
/* ----------------------------------------- */
[data-dorako-ui-scope="navigation"][data-dorako-ui-theme="crb"] {
  .scene {
    --button-toggle-focus-outline-color: #d3b87c;
  }

  .scene:not(.gm) {
    --button-toggle-background: var(--app-background);
    --button-toggle-hover-background: var(--primary-light);
  }

  .scene.gm {
    &.active:not(.view) {
      --button-toggle-focus-outline-color: transparent;
    }
  }
}

/* ----------------------------------------- */
/* Chatlog                                   */
/* ----------------------------------------- */
[data-chat-app-theme="crb"] {
  --color-scrollbar: var(--tertiary);
  --color-scrollbar-border: color-mix(in srgb, var(--tertiary) 50%, black);
  --color-scrollbar-hover: color-mix(in srgb, var(--tertiary) 50%, white);
}
