[data-chat-interface-theme^="crb"] #sidebar-tabs,
[data-chat-interface-theme^="crb"] #chat-log ~ *,
[data-theme^="crb"] {
  --icon-border-color: var(--tertiary);
  --scrollbar-thumb-background: var(--tertiary);
  --scrollbar-thumb-border-color: color-mix(in srgb, var(--tertiary) 50%, black);
  --color-scrollbar-hover: color-mix(in srgb, var(--tertiary) 50%, white);

  --window-app-border-color: var(--tertiary);
  --window-app-border-width: 1px;
  --box-shadow: var(--glassy);
  --accent-color: var(--tertiary);
  --inline-box-shadow: none;

  --inline-background: #ddd;
  --inline-border-color: black;
  --inline-text-color: black;
  --inline-icon-color: var(--color-text-dark-inactive);

  --input-box-shadow: none;
  --input-border-color: var(--color-text-light-5);
  --input-text-color: var(--color-text-dark-input);
  --input-focus-text-color: var(--color-text-dark-input);
  --input-background: rgba(255, 255, 255, 0.5);
  --input-focus-outline-color: var(--primary-light);
  --input-placeholder-color: rgba(0, 0, 0, 0.5);

  --button-background: var(--app-background);
  --button-border-color: var(--app-border-color);
  --button-text-color: var(--text-color-3);
  --button-focus-outline-color: var(--color-primary-1);
  --button-hover-background: var(--color-primary-2);
  --button-hover-border-color: var(--color-primary-1);
  --button-hover-text-color: var(--text-color-1);
  --button-disabled-background: var(--color-primary-5);
  --button-disabled-border-color: var(--color-primary-4);

  --button-toggle-border-color: var(--secondary-light);
  --button-toggle-background: var(--secondary-dark);
  --button-toggle-hover-background: var(--secondary-light);

  --color-primary-1: var(--tertiary);
  --color-primary-2: var(--primary-light);
  --color-primary-3: var(--primary-dark);
  --color-primary-3-75: color-mix(in srgb, var(--color-primary-3) 75%, transparent); //custom
  --color-primary-4-75: color-mix(in srgb, var(--color-primary-4) 75%, transparent); //custom
  --color-secondary-1: var(--secondary-light);
  --color-secondary-2: var(--secondary);
  --color-secondary-3: var(--secondary-dark);
  --color-secondary-3-75: color-mix(in srgb, var(--color-secondary-3) 75%, transparent); //custom

  --color-border-light-1: #ddd;
  --color-border-light-2: #999;
}

[data-chat-interface-theme^="crb"] #chat-log ~ *,
[data-theme^="crb"]:not([data-color-scheme]) {
  --text-color-2: var(--color-text-light-highlight);
  --text-color-3: var(--color-text-light-heading);
  --input-text-color: black;
  --input-focus-text-color: black;
  --input-focus-outline-color: var(--tertiary);
  --button-background: var(--glass-bg-light);
  --app-background: var(--glass-bg);
  --app-border-color: transparent;
  --app-border-width: 0px;

  &#token-hud,
  &#tile-hud {
    --button-background: var(--glass-bg);
    --input-text-color: var(--text-color-2);
  }
}

[data-theme^="crb"] {
  button {
    --text-color-1: white;
    --text-color-2: var(--color-text-light-highlight);
    --text-color-3: var(--color-text-light-heading);
  }

  &.app.window-app {
    outline: 1px solid var(--gold-brown);
    &.sidebar-popout {
      outline: none;
    }
  }

  &.app.window-app.journal-sheet.journal-entry {
    --window-app-background: var(--glass-bg);
  }

  &#controls,
  &#navigation {
    --button-background: var(--glass-bg);
  }

  &.sheet.journal-entry .journal-entry-content {
    background-image: var(--sheet);
    background-size: cover;
    border: var(--window-app-border-width) solid;
    border-color: var(--window-app-border-color);
    box-shadow: 0px 0px 0px 1px var(--gold-brown);
    border-bottom: unset;
    border-right: unset;
    margin: unset;
  }

  &.spellcasting-entry.preparation ol.spell-list > li .item-name .item-image,
  &.actor.sheet .item-image {
    --box-shadow: 0px 0px 0px 1px var(--gold-brown);
  }

  // &.dorako-header {
  //   border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  //   background: linear-gradient(to bottom, color-mix(in srgb, var(--header-color) 70%, transparent), transparent);
  //   text-shadow: 0px 1px 1px black;
  //   padding-bottom: 5px;
  //   margin-bottom: 2px;
  //   box-shadow: none;
  // }

  // .message-timestamp,
  // .header-meta {
  //   @include dui-app;
  //   background-color: color-mix(in srgb, var(--header-color) 50%, transparent);
  //   border-color: color-mix(in srgb, var(--header-color) 50%, white);
  //   color: var(--text-color-2);
  // }

  // &[data-header-text-color-scheme="dark"] {
  //   color: color-mix(in srgb, var(--header-color) 20%, black);
  //   text-shadow: none;
  //   .message-sender:not([data-visibility="gm"]) {
  //     color: color-mix(in srgb, var(--header-color) 20%, black);
  //     text-shadow: none;
  //   }
  //   .header-meta {
  //     color: color-mix(in srgb, var(--header-color) 20%, black);
  //     text-shadow: none;
  //   }
  // }

  // &.chat-message .message-header.dorako-header {
  //   background-image: var(--sheet-light);
  //   background-size: cover;
  //   background-color: var(--header-color);
  //   background-blend-mode: multiply;
  //   border-bottom: 1px solid var(--tertiary);
  //   box-shadow: 0px 1px 0px 0px var(--gold-brown);
  //   margin-bottom: 5px;

  //   .message-timestamp,
  //   .header-meta {
  //     border: none;
  //     background: none;
  //     padding: unset;
  //     --box-shadow: none;
  //   }
  // }

  // &.chat-message[data-header-text-color-scheme="dark"] .message-header {
  //   --color-text-dark-secondary: var(--text-color-1);
  //   --text-color-1: black;
  //   --text-color-2: black;
  //   --text-color-3: black;
  //   --app-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  //   text-shadow: var(--app-text-shadow);
  // }

  // &.chat-message[data-header-text-color-scheme="light"] .message-header {
  //   --color-text-dark-secondary: white;
  //   --text-color-1: white;
  //   --text-color-2: white;
  //   --text-color-3: white;
  //   --app-text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
  //   text-shadow: var(--app-text-shadow);
  // }

  // &.chat-message.whisper .message-header.dorako-header {
  //   border-bottom: 1px solid var(--whisper-bg);
  // }
  // &.chat-message.whisper.blind .message-header.dorako-header {
  //   border-bottom: 1px solid var(--blind-bg);
  // }

  &.chat-message {
    outline: 1px solid var(--gold-brown);
    &[data-has-header] {
      .message-header {
        background-image: var(--sheet-light);
        background-size: cover;
        background-color: var(--header-color);
        background-blend-mode: multiply;
        border-bottom: 1px solid var(--tertiary);
        box-shadow: 0px 1px 0px 0px var(--gold-brown);
        margin-bottom: 5px;
        padding-bottom: 5px;
      }
      &[data-header-text-color-scheme="light"] .message-header {
        color: white !important;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) !important;
        .message-sender:not([data-visibility="gm"]) {
          color: white !important;
        }
        .header-meta {
          background: rgba(255, 255, 255, 0.2);
          border-color: rgba(255, 255, 255, 0.5);
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        }
      }
      &[data-header-text-color-scheme="dark"] .message-header {
        color: black !important;
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) !important;
        .header-meta {
          background: rgba(0, 0, 0, 0.2);
          border-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .card-content {
      --app-border-color: var(--tertiary);
      border-image-repeat: repeat;
      border-image-slice: 11;
      border-image-source: var(--ornamentation);
      border-image-width: 14px;
      border-style: double;
      padding: 3px 10px;
      font-weight: 500;
      margin: 0px;
      margin-top: 5px;

      hr {
        margin: 0px -10px;
        border-bottom: none;
      }
    }
    .card-footer {
      border: none;

      span {
        border-right: 1px solid gray;
        padding-right: 5px; // Undoes 0px set by system
      }
    }
  }

  hr {
    border-top: none;
  }

  &#hotbar .macro {
    border: 1px solid black;
  }

  &.sidebar-popout {
    background: var(--app-background) !important;
  }

  &.message.chat-message {
    background: var(--window-app-background);
    background-position: top;
    background-size: cover;
    &.whisper {
      background: var(--window-app-background);
      background-color: var(--whisper-bg);
      background-blend-mode: luminosity;
      background-size: cover;
      border-color: var(--tertiary);
      &.blind {
        background: var(--window-app-background);
        background-color: var(--blind-bg);
        background-blend-mode: luminosity;
        background-size: cover;
        border-color: var(--tertiary);
      }
    }
  }

  &#effects-panel .effect-item .effect-info {
    box-shadow: var(--glassy), var(--window-app-box-shadow);
  }

  &#effects-panel .effect-item > .icon {
    --box-shadow: var(--gold-and-glow);
    --border-radius: 50%;
    &.aura {
      border-radius: 33%;
      transform: scale(0.8);
    }
  }
}

/* ----------------------------------------- */
/* Modules                                   */
/* ----------------------------------------- */
[data-theme^="crb"] {
  &#token-action-hud {
    button {
      --button-background: var(--glass-bg);
    }
    .hover > button {
      --button-background: var(--button-hover-background);
    }
  }

  &#pf2e-token-hud {
    --color-primary-2: var(--tertiary);
    --color-secondary-4: var(--glass-bg-light);

    hr {
      display: none;
    }
  }
}

/* ----------------------------------------- */
/* Navigation                                */
/* ----------------------------------------- */
[data-dorako-ui-scope="navigation"][data-theme^="crb"] {
  .scene {
    --button-toggle-focus-outline-color: #d3b87c;
  }

  .scene:not(.gm) {
    --button-toggle-background: var(--app-background);
    --button-toggle-hover-background: var(--primary-light);
  }

  .scene.gm {
    &.active:not(.view) {
      --button-toggle-focus-outline-color: transparent;
    }
  }
}

/* ----------------------------------------- */
/* Chatlog                                   */
/* ----------------------------------------- */
[data-chat-interface-theme^="crb"] {
  --scrollbar-thumb-background: var(--tertiary);
  --scrollbar-thumb-border-color: color-mix(in srgb, var(--tertiary) 50%, black);
  --color-scrollbar-hover: color-mix(in srgb, var(--tertiary) 50%, white);
}

/* ----------------------------------------- */
/* Placeable HUD                             */
/* ----------------------------------------- */
[data-theme^="crb"] [data-dorako-ui-scope="placeable-hud"] {
  // Space is intentional
  --button-background: var(--glass-bg);
}
