/* ----------------------------------------- */
/* Theme colors                              */
/* ----------------------------------------- */
:root {
  --discord-border-color: transparent;

  --discord-background-1: #383a3f;
  --discord-background-2: #313338;
  --discord-background-3: #2b2d31;
  --discord-background-4: #1e1f22;
  // --discord-background-1: #272732;
  // --discord-background-2: #262731;
  // --discord-background-3: #1c1d27;
  // --discord-background-4: #121318;
  --discord-text-1: #ffffff;
  --discord-text-2: #dcdee1;
  --discord-text-3: #b6bac0;
  --discord-text-4: #959ba3;
  --discord-text-5: #79818a;
  --discord-accent-text-color: #8e97fe;
  --discord-accent-color: #5a65ea;
  --discord-accent-color-dark: #4952bd;
  --discord-scrollbar-thumb-background: #1a1b1e;
  --discord-scrollbar-thumb-border-color: transparent;
  --discord-green: #417e4c;
  --discord-attention: #e6b44e;
  --discord-red: #df4f4a;
}

/* ----------------------------------------- */
/* Map v1 styling to v2 values               */
/* ----------------------------------------- */
[data-theme^="discord"] {
  // --color-shadow-primary: transparent;
  // --color-shadow-highlight: transparent;
  --color-border-light-highlight: var(--discord-background-1);
  --color-border-light-primary: var(--discord-background-2);
  // --color-border-light-secondary: var(--color-secondary-4);
  // --color-border-light-tertiary: var(--color-secondary-4);
  // --color-border-dark-1: var(--color-secondary-4); // darkest
  // --color-border-dark-2: var(--color-secondary-4);
  // --color-border-dark-3: var(--color-secondary-4);
  // --color-border-dark-4: var(--color-secondary-3);
  // --color-border-dark-5: var(--color-secondary-2);
  // --color-border-dark-primary: var(--color-secondary-4);
  // --color-border-dark-secondary: var(--color-secondary-5);
  // --color-border-light-1: var(--color-secondary-3);
  // --color-border-light-2: var(--color-secondary-4);
  // --color-underline-header: var(--color-primary-2);
  // --color-underline-active: var(--color-primary-1);
  --color-text-hyperlink: var(--accent-color);
  --color-text-light-highlight: var(--text-color-2);
  --color-border-highlight: var(--accent-color);
  --color-border-highlight-alt: var(--accent-color-dark);
  // --color-border-light-tertiary: var(--color-secondary-4);
  --color-border-divider: var(--discord-border-color);
  // --color-bg-btn-minor-inactive: var(--app-background);
  // --color-bg-btn-minor-active: var(--color-primary-2);
  --color-text-dark-primary: var(--discord-text-3);
  --color-text-dark-secondary: var(--discord-text-5);
  // --color-bg-option: var(--color-secondary-4);
}

/* ----------------------------------------- */
/* Light color scheme                        */
/* ----------------------------------------- */
[data-theme^="discord"][data-dorako-ui-scope="limited"][data-color-scheme="light"],
[data-theme^="discord"][data-color-scheme="light"] {
  --discord-scrollbar-thumb-background: #c5c9cd;
  --app-background: #f2f3f5;
  --window-app-background: #ffffff;
  --input-background: #ebedef;
  --input-text-color: #4e5057;
  --button-background: #c5c9cd;
  --button-text-color: black;
  --fieldset-legend-color: black;
  --text-color-1: var(--discord-text-5);
  --text-color-2: var(--discord-text-4);
  --text-color-2: black;
  --text-color-3: var(--discord-text-3);
  --text-color-4: var(--discord-text-2);
  --text-color-5: var(--discord-text-1);
  // --inline-background: color-mix(in srgb, var(--accent-color) 15%, transparent);
  --inline-background: #e6e8fc;
  --inline-text-color: var(--accent-color);
  --inline-icon-color: var(--accent-color);

  &.sheet.pf2e.actor.npc.app {
    --section-background: var(--window-app-background);
    --section-header: var(--discord-accent-color);
    --section-border-color: var(--discord-accent-text-color);
    --section-outline-color: var(--discord-accent-color-dark);
    --section-header-text-color: white;
    --tag-border-color: transparent;
    --tag-background-color: white;
    --tag-text-color: black;
    --color-text-dark-input: black;
    --input-placeholder-color: var(--discord-text-5);
    --color-border-light-highlight: var(--discord-background-1);
    --color-border-light-primary: var(--discord-background-2);
    --color-border-light-tertiary: var(--discord-green);
    --text-dark: black;
  }

  ::-webkit-scrollbar-track {
    background: #ebedef;
  }

  &.actor.sheet.character {
    --text-color-5: var(--discord-text-4);
  }

  &.actor.sheet .crb-style .sheet-body {
    --color-border-divider: var(--discord-background-1);
  }

  .tagify {
    --text-color-2: white;
  }

  &.chat-message {
    --text-color-1: black;
    --text-color-2: black;
    --text-color-3: black;
  }
}

/* ----------------------------------------- */
/* Dark color scheme                        */
/* ----------------------------------------- */
[data-theme^="discord"][data-dorako-ui-scope="limited"][data-color-scheme="dark"],
[data-theme^="discord"][data-color-scheme="dark"] {
  &.sheet.pf2e.actor.npc.app {
    --section-background: var(--discord-background-4);
    --section-header: var(--discord-accent-color);
    --section-border-color: var(--discord-accent-text-color);
    --section-outline-color: var(--discord-accent-color-dark);
    --section-header-text-color: var(--text-color-2);
    --tag-border-color: var(--discord-green);
    --tag-background-color: var(--discord-background-3);
    --tag-text-color: var(--discord-text-3);
    --color-text-dark-input: var(--discord-text-2);
    --input-placeholder-color: var(--discord-text-5);
    --color-border-light-highlight: var(--discord-background-1);
    --color-border-light-primary: var(--discord-background-2);
    --color-border-light-tertiary: var(--discord-green);
    --text-dark: var(--text-color-2);
  }
  &.chat-message {
    // --text-color-1: black;
    // --text-color-2: black;
    // --text-color-3: black;
  }

  &.actor.sheet .crb-style .sheet-body {
    // --color-border-medium: var(--brown-1);
    --color-border-divider: var(--discord-background-1);
    --text-dark: var(--discord-text-2);
  }
}

/* ----------------------------------------- */
/* App UI                                    */
/* ----------------------------------------- */
[data-theme^="discord"]:not([data-color-scheme]) {
  --app-border-width: 1px;
  --app-background: var(--discord-background-3);
  --app-border-color: var(--discord-background-2);
  --window-app-border-color: #4b4c4f;
  --button-background: var(--discord-background-4);
  --button-border-color: var(--discord-background-1);
  --button-focus-outline-color: var(--accent-color);
  --input-box-shadow: none;
  --input-background: var(--discord-background-1);
  --input-text-color: var(--discord-text-3);
  --input-focus-text-color: var(--discord-text-2);
  --box-shadow: 0px 0px 10px black, 0px 0px 5px black;
}

/* ----------------------------------------- */
/* DUI variables                             */
/* ----------------------------------------- */
[data-chat-interface-theme^="discord"] #sidebar-tabs,
[data-chat-interface-theme^="discord"] #chat-log ~ *,
[data-theme^="discord"] {
  /* Base colors */
  // --color-primary-1: var(--tertiary);
  // --color-primary-2: #ba4521;
  // --color-primary-3: var(--remaster-light);
  // --color-primary-3-75: color-mix(in srgb, var(--color-primary-3) 75%, transparent);
  // --color-primary-4-75: color-mix(in srgb, var(--color-primary-4) 75%, transparent);
  --color-primary-4: var(--accent-color-dark);
  // --color-primary-5: var(--remaster-dark);
  --color-primary-1: var(--discord-accent-text-color);
  --color-primary-2: var(--discord-accent-color);
  --color-primary-3: var(--discord-accent-color-dark);
  --color-secondary-1: color-mix(in srgb, var(--discord-green) 90%, white);
  --color-secondary-2: var(--discord-green);
  --color-secondary-3: color-mix(in srgb, var(--discord-green) 90%, black);
  --color-secondary-3-75: var(--color-secondary-3);
  --color-secondary-4: color-mix(in srgb, var(--discord-green) 50%, black);
  --color-secondary-5-75: #4e5057;
  --text-color-1: var(--discord-text-1);
  --text-color-2: var(--discord-text-2);
  --text-color-3: var(--discord-text-3);
  --text-color-4: var(--discord-text-4);
  --text-color-5: var(--discord-text-5);
  /* Misc variables */
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --box-shadow: none;
  --icon-border-color: var(--discord-attention);
  /* Window app variables */
  --window-app-background: var(--discord-background-3);
  // --window-app-background: #313338;
  // --window-app-background: #1c1d27;
  --window-app-border-color: #4b4c4f;
  // --window-app-border-color: #373847;
  --window-app-border-width: 1px;
  --window-app-box-shadow: 0px 5px 20px 3px black, 0px 3px 10px 3px rgba(0, 0, 0, 0.5);
  /* App variables */
  --app-background: #161511aa;
  // --app-background: #121318aa;
  --app-border-color: var(--discord-border-color);
  --app-border-width: 0px;
  --app-text-shadow: none;
  /* Inline variables */
  --inline-box-shadow: none;
  --inline-background: #3d426e;
  --inline-border-color: transparent;
  --inline-text-color: #cacdf7;
  --inline-icon-color: #cacdf7;
  /* Input variables */
  --input-border-color: transparent;
  --input-disabled-background: #494b51;
  --input-disabled-border-color: transparent;
  --input-border-color: transparent;
  --input-background: var(--discord-background-1);
  --input-focus-outline-color: var(--discord-accent-color);
  --input-placeholder-color: color-mix(in srgb, var(--button-text-color) 50%, transparent);
  /* Button variables */
  --button-background: var(--app-background);
  --button-border-color: transparent;
  --button-text-color: var(--discord-text-2);
  --button-focus-outline-color: transparent;
  --button-hover-background: var(--discord-background-1);
  --button-hover-border-color: transparent;
  --button-hover-text-color: var(--discord-text-1);
  --button-disabled-background: #494b51;
  --button-disabled-border-color: transparent;
  --button-toggle-border-color: var(--discord-green);
  --button-toggle-hover-border-color: color-mix(in srgb, var(--discord-green) 50%, white 50%);
  --button-toggle-background: color-mix(in srgb, var(--discord-green) 50%, black 50%);
  --button-toggle-hover-background: var(--discord-green);
  --button-bright-text-color: white;
  /* Fieldset variables */
  --fieldset-border-color: transparent;
  --fieldset-background-color: color-mix(in srgb, var(--discord-attention) 15%, transparent);
  --fieldset-legend-color: var(--discord-text-4);
  /* Scrollbar and accent variables */
  --scrollbar-thumb-background: #1a1b1e;
  --scrollbar-thumb-border-color: var(--discord-scrollbar-thumb-border-color);
  --accent-text-color: var(--discord-text-1);
  --accent-color-light: var(--discord-accent-text-color);
  --accent-color: var(--discord-accent-color);
  --accent-color-dark: var(--discord-accent-color-dark);

  &.window-app button.bright {
    --button-background: var(--accent-color);
    --button-border-color: var(--accent-color-dark);
    --button-text-color: white !important;
    --button-hover-text-color: white !important;
    --app-text-shadow: none;
  }

  ::-webkit-scrollbar-track {
    background: #2b2d31;
  }
}

/* ----------------------------------------- */
/* System variables                          */
/* ----------------------------------------- */
[data-theme^="discord"] {
  --color-text-dark-primary: var(--text-color-2);
  --bg: rgba(0, 0, 0, 0.25);
  // --sub: var(--bg3-middle-brown);
  // --text-dark: var(--bg3-text-1);
  // --color-border-light-1: var(--color-text-light-highlight);
  // --color-border-light-primary: var(--brown-1);
  // --color-border-light-highlight: var(--brown-2);
  --color-underline-header: var(--discord-green);
}

/* ----------------------------------------- */
/* Specifics                                 */
/* ----------------------------------------- */
[data-theme^="discord"] {
  &.window-app .window-header {
    text-shadow: none;
    color: var(--text-color-2);
  }

  &#effects-panel .effect-item > .icon {
    --border-radius: 50%;
    &.aura {
      border-radius: 33%;
      transform: scale(0.8);
    }
  }

  section.tab.category.active[data-tab="pf2e-dorako-ux"] h2,
  section.tab.category.active[data-tab="pf2e-dorako-ui"] h2,
  section .form-group.dorako.settings-header {
    color: white;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.25) inset;
  }

  &.spellcasting-entry.preparation .item-name {
    --secondary: var(--discord-text-4);
  }

  &.pf2e.item.sheet.app {
    --color-border-medium: var(--discord-border-color);
  }

  &.actor.sheet .inventory .list-row .item-controls {
    --secondary: var(--discord-text-1);
  }

  &.actor.sheet.character {
    --color-border-light-2: var(--discord-border-color);
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike {
    border-image: linear-gradient(90deg, transparent, var(--bg3-text-2) 20%, transparent) 1 !important;
  }

  // prettier-ignore
  &.actor.sheet .inventory .list-row .item-controls,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.feats .feat-item .item-name .feat-slot-title,
  &.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list > li .item-name h4:hover,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .spell-ability-data .skill-score {
      --secondary: var(--discord-green);
      --color-pf-secondary: var(--discord-green);
      --fa-inverse: white;
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .lores-list .skill,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .combat-list .skill,
  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .skills-list .skill {
    --primary: var(--accent-color);
  }

  &.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action,
  &.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike {
    border-image: linear-gradient(90deg, transparent, var(--discord-green) 20%, transparent) 1;
  }
}

/* ----------------------------------------- */
/* Controls                                  */
/* ----------------------------------------- */
[data-dorako-ui-scope="controls"][data-theme^="discord"] {
  --button-hover-background: var(--accent-color);
  --button-focus-outline-color: var(--accent-color-dark);
  --button-hover-border-color: var(--accent-text-color);
}

/* ----------------------------------------- */
/* Navigation                                */
/* ----------------------------------------- */
[data-dorako-ui-scope="navigation"][data-theme^="discord"] {
  .scene {
    --button-toggle-focus-outline-color: var(--discord-attention);
  }

  .scene:not(.gm) {
    --button-toggle-border-color: var(--discord-green);
    --button-toggle-hover-border-color: color-mix(in srgb, var(--discord-green) 50%, white 50%);
    --button-toggle-background: color-mix(in srgb, var(--discord-green) 50%, black 50%);
    --button-toggle-hover-background: var(--discord-green);
  }

  .scene.gm {
    --button-toggle-border-color: var(--discord-accent-color);
    --button-toggle-hover-border-color: color-mix(in srgb, var(--discord-accent-color) 50%, white 50%);
    --button-toggle-background: color-mix(in srgb, var(--discord-accent-color) 50%, black 50%);
    --button-toggle-hover-background: var(--discord-accent-color);

    &.active:not(.view) {
      --button-toggle-focus-outline-color: transparent;
    }
  }
}

/* ----------------------------------------- */
/* Placeable HUD                             */
/* ----------------------------------------- */
[data-theme="discord"] [data-dorako-ui-scope="placeable-hud"] {
  // Space is intentional
  --button-hover-background: var(--accent-color);
  --button-focus-outline-color: var(--accent-color-dark);
  --button-hover-border-color: var(--accent-text-color);
}

/* ----------------------------------------- */
/* Chat message                              */
/* ----------------------------------------- */
[data-theme^="discord"].chat-message {
  background: var(--discord-background-3);
  --button-background: var(--discord-background-2);
  --button-hover-background: #35373b;
  --app-border-width: 1px;
  --color-text-dark-secondary: rgba(255, 255, 255, 0.66);
  --button-hover-border-color: rgba(122, 122, 122, 0.66);
  --button-border-color: rgba(122, 122, 122, 0.33);
  --button-text-color: var(--discord-text-3);
  --button-hover-text-color: var(--discord-text-2);
  --color-level-success: var(--discord-green);
  --color-level-success-border: color-mix(in srgb, var(--discord-green) 50%, white 50%);

  &.whisper {
    border-color: color-mix(in srgb, var(--discord-background-2) 50%, var(--whisper-bg));
    background: color-mix(in srgb, var(--discord-background-2) 80%, var(--whisper-bg));
    .message-header .message-sender,
    .message-header {
      color: var(--whisper-bg) !important;
    }
    &.blind {
      border-color: var(--blind-bg);
      background: color-mix(in srgb, var(--discord-background-2) 80%, var(--blind-bg));
      .message-header .message-sender,
      .message-header {
        color: var(--blind-bg) !important;
      }
    }
  }

  .message-header .header-meta.rolltype {
    &.blind {
      color: var(--blind-bg);
    }
    &.whisper {
      color: var(--whisper-bg);
    }
  }

  .message-header,
  .message-header h4 {
    color: color-mix(in srgb, var(--player-color) 80%, white 20%) !important;
    text-shadow: none !important;
    background: none !important;
  }

  .message-content {
    text-shadow: none;
  }

  .dice-roll .dice-formula,
  .dice-roll .dice-total {
    --app-background: rgba(122, 122, 122, 0.33);
    button {
      --button-text-color: var(--discord-text-1);
      --button-hover-text-color: var(--discord-text-1);
    }
  }
  .part-total {
    --app-background: transparent;
    --app-border-color: var(--color-text-light-6);
  }

  .chat-card button:hover,
  .message-buttons button:hover,
  .card-buttons button:hover,
  .damage-application button:hover {
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }

  button[data-action="shield-block"]:hover {
    --color-secondary-2: var(--discord-accent-color);
    --color-secondary-1: var(--accent-text-color);
  }

  .message-timestamp,
  .message-header .header-meta {
    background: none !important;
    border: none !important;
    color: #959ba3;
    text-shadow: none;
    padding: 0px;
  }

  .tags .tag.tag_transparent,
  .tags .tag option.tag_transparent {
    background-color: color-mix(in srgb, var(--player-color) 20%, transparent);
    box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--player-color) 50%, rgba(255, 255, 255, 0.5));
  }
}

[data-theme^="discord"][data-color-scheme="light"].chat-message {
  background: #ffffff;
  --button-background: #ffffff;
  --button-hover-background: #ebebed;
  --app-border-width: 1px;
  --color-text-dark-secondary: rgba(0, 0, 0, 0.66);
  --button-hover-border-color: rgba(122, 122, 122, 0.66);
  --button-border-color: rgba(122, 122, 122, 0.33);
  --button-text-color: #4e5057;
  --button-hover-text-color: #303237;
  --color-level-success: var(--discord-green);
  --color-level-success-border: color-mix(in srgb, var(--discord-green) 50%, white 50%);

  .message-timestamp,
  .message-header .header-meta {
    color: #313338;
  }

  &.whisper {
    border-color: var(--whisper-bg);
    background: color-mix(in srgb, #ffffff 50%, var(--whisper-bg));
    &.blind {
      border-color: var(--blind-bg);
      background: color-mix(in srgb, #ffffff 50%, var(--blind-bg));
    }
  }

  .message-header h4,
  .message-header {
    color: color-mix(in srgb, var(--player-color) 80%, black) !important;
    text-shadow: none !important;
    background: none !important;
  }
  .message-content {
    text-shadow: none;
  }
}

/* ----------------------------------------- */
/* Chatlog                                   */
/* ----------------------------------------- */
[data-chat-interface-theme^="discord"] {
  --scrollbar-thumb-background: var(--discord-color-scrollbar);
  --scrollbar-thumb-border-color: var(--discord-scrollbar-thumb-border-color);
  --color-scrollbar-hover: var(--discord-color-scrollbar-highlight);
  #chat-log ~ * {
    --button-border-color: var(--discord-background-1);
    --app-border-width: 1px;
    --button-background: var(--discord-background-3);
  }
}

[data-chat-interface-theme^="discord"] #dorako-rt-buttons button {
  --button-toggle-border-color: color-mix(in srgb, var(--discord-green) 75%, white);
  --button-toggle-hover-border-color: color-mix(in srgb, var(--discord-attention) 50%, white);
}

[data-theme^="discord"][data-color-scheme="light"] .damage {
  --color-bg-physical: rgba(132, 132, 132, 0.125);
  --color-border-physical: #939292;
  --color-text-physical: black;
}

[data-theme^="discord"][data-color-scheme="dark"] .damage {
  --color-bg-physical: rgba(132, 132, 132, 0.125);
  --color-border-physical: #939292;
  --color-text-physical: #bab9b9;
}
