/* ----------------------------------------- */
/* Theme colors                              */
/* ----------------------------------------- */
:root {
  --color-warm-1: #ee9b3a;
  --color-warm-1-40: color-mix(in srgb, var(--color-warm-1) 40%, transparent);
  --color-warm-2: #c9593f;
  --color-warm-2-20: color-mix(in srgb, var(--color-warm-2) 20%, transparent);
  --color-warm-3: #5d142b;
  --color-warm-3-10: color-mix(in srgb, var(--color-warm-3) 10%, transparent);
  --color-warm-3-75: color-mix(in srgb, var(--color-warm-3) 75%, transparent);
  --color-warm-4: #420418;
  --color-warm-4-75: color-mix(in srgb, var(--color-warm-4) 75%, transparent);
  --color-warm-5: #26020d;

  --color-cool-1: #b1a0d4;
  --color-cool-2: #79689c;
  --color-cool-3: #584a75;
  --color-cool-3-75: color-mix(in srgb, var(--color-cool-3) 75%, transparent);
  --color-cool-4: #302831;
  --color-cool-5: #0b0a13;

  --color-cool-5-25: rgba(11, 10, 19, 0.25);
  --color-cool-5-50: rgba(11, 10, 19, 0.5);
  --color-cool-5-75: rgba(11, 10, 19, 0.75);
  --color-cool-5-90: rgba(11, 10, 19, 0.9);

  --color-light-1: #f7f3e8;
  --color-light-2: #efe6d8;
  --color-light-3: #e7d1b1;
  --color-light-4: #d0b8a3;
  --color-light-5: #9f8475;
  --color-light-disabled: #aaa;

  --color-level-error: #ce0707;
  --color-level-error-bg: rgba(105, 0, 8, 0.8);
  --color-level-error-border: #750003;
  --color-level-info: #59a1f6;
  --color-level-info-bg: rgba(47, 80, 132, 0.8);
  --color-level-info-border: #5c87b9;
  --color-level-success: #26b231;
  --color-level-success-bg: rgba(26, 107, 34, 0.8);
  --color-level-success-border: #1b8f23;
  --color-level-warning: #ee9b3a;
  --color-level-warning-bg: rgba(214, 150, 0, 0.8);
  --color-level-warning-border: #b18404;

  --color-level-green-bg: rgba(138, 211, 4, 0.4); // custom from website
  --color-level-green-border: #8ad304; // custom from website
  --color-level-yellow-bg: rgba(211, 192, 4, 0.4); // custom from website
  --color-level-yellow-border: #d3c004; // custom from website
  --color-level-orange-bg: rgba(211, 119, 4, 0.4); // custom from website
  --color-level-orange-border: #d37704; // custom from website
  --color-level-red-bg: rgba(211, 20, 4, 0.4); // custom from website
  --color-level-red-border: #d31404; // custom from website

  --color-scrollbar: #5d142b;
  --color-scrollbar-border: #8d151b;
}

/* ----------------------------------------- */
/* Map v1 styling to v2 values               */
/* ----------------------------------------- */

[data-dorako-ui-theme="foundry2"] {
  --color-shadow-primary: transparent;
  --color-shadow-highlight: transparent;
  --color-border-light-highlight: var(--color-cool-3);
  --color-border-light-primary: var(--color-cool-4);
  --color-border-light-secondary: var(--color-cool-4);
  --color-border-light-tertiary: var(--color-cool-4);
  --color-border-dark-1: var(--color-cool-4); // darkest
  --color-border-dark-2: var(--color-cool-4);
  --color-border-dark-3: var(--color-cool-4);
  --color-border-dark-4: var(--color-cool-3);
  --color-border-dark-5: var(--color-cool-2);
  --color-border-dark-primary: var(--color-cool-4);
  --color-border-dark-secondary: var(--color-cool-5);
  --color-border-light-1: var(--color-cool-3);
  --color-border-light-2: var(--color-cool-4);
  --color-underline-header: var(--color-warm-2);
  --color-underline-active: var(--color-warm-1);
  --color-text-hyperlink: var(--color-warm-1);
  --color-border-highlight: var(--color-warm-1);
  --color-border-highlight-alt: var(--color-warm-2);
  --color-border-light-tertiary: var(--color-cool-4);
  --color-bg-btn-minor-inactive: var(--app-background);
  --color-bg-btn-minor-active: var(--color-warm-2);
  --color-text-dark-primary: var(--color-light-3);
  --color-text-dark-secondary: var(--color-light-5);
}

/* ----------------------------------------- */
/* Light color scheme                        */
/* ----------------------------------------- */
[data-dorako-ui-theme="foundry2"][data-color-scheme="light"] {
  --window-app-background: color-mix(in srgb, var(--color-cool-5-90) 90%, var(--color-warm-1));
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  &.pf2e.item.sheet {
    --color-border-medium: var(--color-cool-3);
  }
}

/* ----------------------------------------- */
/* DUI variables                             */
/* ----------------------------------------- */
[data-dorako-ui-theme="foundry2"],
[data-dorako-ui-theme="foundry2"][data-dorako-ui-scope="unlimited"] {
  --icon-border-color: var(--color-warm-1);

  --input-disabled-background-color: var(--color-cool-5);
  --input-disabled-border-color: var(--color-cool-4);

  --fieldset-border-color: var(--color-cool-3);
  --fieldset-background-color: transparent;
  --fieldset-legend-color: var(--color-light-2);

  --button-border-color: var(--color-cool-3);
  --app-border-style: 1px solid;

  --button-background-color: var(--app-background);
  --button-border-color: var(--app-border-color);
  --button-text-color: var(--color-light-3);
  --button-focus-outline-color: var(--color-warm-1);
  --button-hover-background-color: var(--color-warm-2);
  --button-hover-border-color: var(--color-warm-1);
  --button-hover-text-color: var(--color-light-1);
  --button-disabled-background-color: var(--color-warm-5);
  --button-disabled-border-color: var(--color-warm-4);

  --app-background: var(--color-cool-5-90);
  --app-border-color: var(--color-cool-4);
  --window-app-background: var(--color-cool-5-90);
  --window-app-border-color: var(--color-cool-4);

  --accent-color: var(--color-warm-2);

  --inline-bg: var(--color-cool-4);
  --inline-border-color: var(--color-cool-3);
  --inline-text-color: var(--color-light-2);
  --inline-icon-color: var(--color-light-1);
  --inline-box-shadow: 0px 1px 2px black;
}

/* ----------------------------------------- */
/* System variables                          */
/* ----------------------------------------- */
[data-dorako-ui-theme="foundry2"],
[data-dorako-ui-theme="foundry2"][data-dorako-ui-scope="unlimited"] {
  --bg: var(--color-warm-3);
  --text-dark: var(--color-light-2);
}

/* ----------------------------------------- */
/* Specifics                                 */
/* ----------------------------------------- */
[data-dorako-ui-theme="foundry2"],
[data-dorako-ui-theme="foundry2"][data-dorako-ui-scope="unlimited"] {
  &.chat-message {
    border: 1px solid var(--border-tint);
  }

  &.actor.sheet .crb-style .sheet-body {
    --primary: var(--color-warm-2);
    --secondary: var(--color-cool-3);
    --text-dark: var(--color-light-2);
    --color-border-light-2: var(--color-cool-4);
    --color-border-light-primary: var(--color-warm-1);
    --color-border-light-highlight: var(--color-warm-2);
    --color-border-divider: var(--color-cool-3);
    --sub: var(--color-light-disabled);
    --alt: var(--color-light-5);
    --bg: var(--color-cool-5-90);
  }

  &.spellcasting-entry {
    --primary: var(--color-warm-2);
    --secondary: var(--color-cool-3);
    --text-dark: var(--color-light-2);
    --color-border-divider: var(--color-cool-3);
    --sub: var(--color-light-disabled);
    --alt: var(--color-light-5);
    --bg: var(--color-cool-5-90);
  }

  &.actor.sheet .inventory .list-row .item-controls {
    --secondary: var(--color-cool-2);
  }

  .tags .tag.tag_transparent,
  .tags .tag option.tag_transparent {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset;
    background: var(--color-cool-4);
    color: var(--color-light-3);
    text-shadow: none;
  }

  &.sheet.kingdom-builder,
  &.sheet.kingdom {
    --primary: var(--color-warm-2);
    --secondary: var(--color-cool-3);
    --text-dark: var(--color-light-2);
    --color-border-divider: var(--color-cool-3);
    --sub: var(--color-light-disabled);
    --alt: var(--color-light-5);
    --alt-dark: var(--color-light-4);
    --bg: var(--color-cool-5-90);
    --paper-bg: var(--color-cool-4);
  }
}
