[data-dorako-ui-theme="foundry2"] {
  --bg: var(--color-warm-3);
  --visibility-gm-bg: var(--color-warm-3);
  --blind-roll: var(--color-warm-3);

  --input-disabled-background-color: var(--color-cool-5);
  --input-disabled-border-color: var(--color-cool-4);

  --fieldset-border-color: var(--color-cool-3);
  --fieldset-background-color: transparent;
  --fieldset-legend-color: var(--color-light-2);

  &.actor.sheet .crb-style .sheet-body {
    --primary: var(--color-warm-2);
    --secondary: var(--color-cool-3);
    --text-dark: var(--color-light-2);
    --color-border-light-2: var(--color-cool-4);
    --color-border-light-primary: var(--color-warm-1);
    --color-border-light-highlight: var(--color-warm-2);
    --color-border-divider: var(--color-cool-3);
    --sub: var(--color-light-disabled);
    --alt: var(--color-light-5);
    --bg: var(--color-cool-5-90);
  }

  &.actor.sheet .inventory .list-row .item-controls {
    --secondary: var(--color-cool-2);
  }

  .tags .tag.tag_transparent,
  .tags .tag option.tag_transparent {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset;
    background: var(--color-cool-4);
    color: var(--color-light-3);
    text-shadow: none;
  }
}
