/* ----------------------------------------- */
/* Theme colors                              */
/* ----------------------------------------- */

/* ----------------------------------------- */
/* Map v1 styling to v2 values               */
/* ----------------------------------------- */

[data-theme="foundry2"] {
  --color-shadow-primary: transparent;
  --color-shadow-highlight: transparent;
  // --color-border-light-highlight: var(--color-cool-3);
  // --color-border-light-primary: var(--color-cool-4);
  // --color-border-light-secondary: var(--color-cool-4);
  // --color-border-light-tertiary: var(--color-cool-4);
  // --color-border-dark-1: var(--color-cool-4); // darkest
  // --color-border-dark-2: var(--color-cool-4);
  // --color-border-dark-3: var(--color-cool-4);
  // --color-border-dark-4: var(--color-cool-3);
  // --color-border-dark-5: var(--color-cool-2);
  // --color-border-dark-primary: var(--color-cool-4);
  // --color-border-dark-secondary: var(--color-cool-5);
  // --color-border-light-1: var(--color-cool-3);
  // --color-border-light-2: var(--color-cool-4);
  --color-underline-header: var(--color-warm-2);
  --color-underline-active: var(--color-warm-1);
  // --color-text-hyperlink: var(--color-warm-1);
  // --color-border-highlight: var(--color-warm-1);
  // --color-border-highlight-alt: var(--color-warm-2);
  // --color-border-light-tertiary: var(--color-cool-4);
  // --color-bg-btn-minor-inactive: var(--app-background);
  // --color-bg-btn-minor-active: var(--color-warm-2);
  --color-text-dark-primary: var(--color-light-3);
  --color-text-dark-secondary: var(--color-light-5);
}

/* ----------------------------------------- */
/* Light color scheme                        */
/* ----------------------------------------- */
[data-theme="foundry2"][data-color-scheme="light"] {
  --window-app-background: color-mix(in srgb, var(--color-cool-5-90) 90%, var(--color-warm-1));
  --ornamentation: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  &.pf2e.item.sheet {
    --color-border-medium: var(--color-cool-3);
  }
}

/* ----------------------------------------- */
/* DUI variables                             */
/* ----------------------------------------- */
[data-chat-interface-theme="foundry2"] #sidebar-tabs,
[data-chat-interface-theme="foundry2"] #chat-log ~ *,
[data-theme="foundry2"] {
  --icon-border-color: var(--color-warm-1);

  --input-disabled-background: var(--color-cool-5);
  --input-disabled-border-color: var(--color-cool-4);

  --fieldset-border-color: var(--color-cool-3);
  --fieldset-background-color: transparent;
  --fieldset-legend-color: var(--color-light-2);

  --button-border-color: var(--color-cool-3);
  --app-border-style: 1px solid;

  --button-background: var(--app-background);
  --button-border-color: var(--app-border-color);
  --button-text-color: var(--color-light-3);
  --button-focus-outline-color: var(--color-warm-1);
  --button-hover-background: var(--color-warm-2);
  --button-hover-border-color: var(--color-warm-1);
  --button-hover-text-color: var(--color-light-1);
  --button-disabled-background: var(--color-warm-5);
  --button-disabled-border-color: var(--color-warm-4);

  --button-toggle-border-color: var(--color-cool-2);
  --button-toggle-background: var(--color-cool-3-75);
  --button-toggle-hover-background: var(--color-cool-2);
  --button-toggle-hover-border-color: var(--color-cool-1);
  --button-toggle-focus-outline-color: var(--color-warm-1);

  --button-bright-text-color: var(--color-light-1);

  --app-background: var(--color-cool-5-90);
  --app-border-color: var(--color-cool-4);
  --window-app-background: var(--color-cool-5-90);
  --window-app-border-color: var(--color-cool-4);

  --accent-color-light: var(--color-warm-1);
  --accent-color: var(--color-warm-2);
  --accent-color-dark: var(--color-warm-3);

  --inline-bg: var(--color-cool-4);
  --inline-border-color: var(--color-cool-3);
  --inline-text-color: var(--color-light-2);
  --inline-icon-color: var(--color-light-1);
  --inline-box-shadow: 0px 1px 2px black;
}

/* ----------------------------------------- */
/* System variables                          */
/* ----------------------------------------- */
[data-theme="foundry2"] {
  --bg: var(--color-warm-3);
  --text-dark: var(--color-light-2);
}

/* ----------------------------------------- */
/* Specifics                                 */
/* ----------------------------------------- */
[data-theme="foundry2"] {
  &.message.chat-message {
    border: 1px solid var(--player-color);
    background: var(--window-app-background);
    background-position: top;
    background-size: cover;
    &.whisper {
      background: var(--window-app-background);
      background-color: color-mix(in srgb, var(--whisper-bg) 30%, var(--app-background));
      background-blend-mode: luminosity;
      &.blind {
        background: var(--window-app-background);
        background-color: color-mix(in srgb, var(--blind-bg) 30%, var(--app-background));
        background-blend-mode: luminosity;
      }
    }

    background: linear-gradient(to bottom, color-mix(in srgb, var(--player-color) 40%, transparent) 0, transparent 40%),
      var(--window-app-background);

    .message-timestamp,
    .header-meta {
      @include dui-app;
      background-color: color-mix(in srgb, var(--player-color) 33%, transparent);
      border: 1px solid color-mix(in srgb, var(--player-color) 50%, rgba(255, 255, 255, 0.5));
      color: var(--color-light-1);
      text-shadow: 0px 1px 1px black;
    }
  }

  &.window-app.sidebar-popout {
    border: none;
  }

  &.actor.sheet .crb-style .sheet-body {
    --primary: var(--color-warm-2);
    --secondary: var(--color-cool-3);
    --text-dark: var(--color-light-2);
    --color-border-light-2: var(--color-cool-4);
    --color-border-light-primary: var(--color-warm-1);
    --color-border-light-highlight: var(--color-warm-2);
    --color-border-divider: var(--color-cool-3);
    --sub: var(--color-light-disabled);
    --alt: var(--color-light-5);
    --bg: var(--color-cool-5-90);
  }

  &.spellcasting-entry {
    --primary: var(--color-warm-2);
    --secondary: var(--color-cool-3);
    --text-dark: var(--color-light-2);
    --color-border-divider: var(--color-cool-3);
    --sub: var(--color-light-disabled);
    --alt: var(--color-light-5);
    --bg: var(--color-cool-5-90);
  }

  &.actor.sheet .inventory .list-row .item-controls {
    --secondary: var(--color-cool-2);
  }

  .tags .tag.tag_transparent,
  .tags .tag option.tag_transparent {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset;
    background: var(--color-cool-4);
    color: var(--color-light-3);
    text-shadow: none;
  }

  &.sheet.kingdom-builder,
  &.sheet.kingdom {
    --primary: var(--color-warm-2);
    --secondary: var(--color-cool-3);
    --text-dark: var(--color-light-2);
    --color-border-divider: var(--color-cool-3);
    --sub: var(--color-light-disabled);
    --alt: var(--color-light-5);
    --alt-dark: var(--color-light-4);
    --bg: var(--color-cool-5-90);
    --paper-bg: var(--color-cool-4);
  }
}

/* ----------------------------------------- */
/* Controls                                  */
/* ----------------------------------------- */
[data-dorako-ui-scope="controls"][data-theme="foundry2"] {
}

/* ----------------------------------------- */
/* Navigation                                */
/* ----------------------------------------- */
[data-dorako-ui-scope="navigation"][data-theme="foundry2"] {
  .scene {
  }

  .scene:not(.gm) {
    --button-toggle-background: var(--app-background);
    --button-toggle-border-color: var(--color-cool-4);
    --button-toggle-hover-border-color: var(--color-warm-1);
    --button-toggle-hover-background: var(--color-warm-2);
  }

  .scene.gm {
    --button-toggle-background: var(--color-cool-3-75);
    --button-toggle-border-color: var(--color-cool-2);
    --button-toggle-hover-border-color: var(--color-cool-1);
    --button-toggle-hover-background: var(--color-cool-2);

    &.active:not(.view) {
      --button-toggle-focus-outline-color: transparent;
    }
  }
}
