[data-dorako-ui-theme="opaque"]:not([data-color-scheme]) {
  //   --color-light-2: var(--color-text-light-highlight);
  //   --color-light-3: var(--color-text-light-heading);
  --button-background-color: rgb(30, 30, 30);
  --app-background: rgb(30, 30, 30);
  --app-border-color: rgb(80, 80, 80);
  --app-border-style: 1px solid;
  --input-border-color: var(--button-border-color); // intentional
  --input-text-color: black;
  --input-focus-text-color: black;
  --input-background-color: rgba(255, 255, 255, 0.5);
  --input-focus-outline-color: var(--primary-light);
  --input-placeholder-color: rgba(0, 0, 0, 0.5);

  --color-warm-1: var(--tertiary);
  --color-warm-2: var(--primary-light);
  --color-warm-3: var(--primary-dark);
  --color-warm-3-75: var(--color-warm-3);
  --color-warm-4-75: var(--color-warm-4);
  --color-cool-1: var(--secondary-light);
  --color-cool-2: var(--secondary);
  --color-cool-3: var(--secondary-dark);
  --color-cool-3-75: var(--color-cool-3); //custom

  --button-background-color: var(--app-background);
  --button-border-color: var(--app-border-color);
  --button-text-color: var(--color-light-3);
  --button-focus-outline-color: var(--tertiary);
  --button-hover-background-color: var(--primary-light);
  --button-hover-border-color: var(--tertiary);
  --button-hover-text-color: var(--color-light-1);
  --button-disabled-background-color: var(--color-warm-5);
  --button-disabled-border-color: var(--color-warm-4);

  /* Inline variables */
  --inline-bg: #1e1e1e;
  --inline-border-color: #404040;
  --inline-text-color: var(--color-light-2);
  --inline-icon-color: var(--color-light-1);
  --inline-box-shadow: 0px 1px 2px black;

  --accent-color: var(--primary-light);
  --icon-border-color: var(--tertiary);

  &#token-hud {
    --input-text-color: var(--color-light-2);
    .attribute i.fas {
      color: var(--color-light-2);
    }
  }

  &.sidebar-popout {
    background: var(--app-background);
    border: var(--app-border-style);
    border-color: var(--app-border-color);
  }
}

/* ----------------------------------------- */
/* Controls                                  */
/* ----------------------------------------- */
[data-dorako-ui-scope="controls"][data-dorako-ui-theme="opaque"] {
  --button-toggle-border-color: var(--secondary-light);
  --button-toggle-hover-border-color: color-mix(in srgb, var(--secondary) 50%, white 50%);
  --button-toggle-background: color-mix(in srgb, var(--secondary) 50%, black 50%);
  --button-toggle-hover-background: var(--secondary-light);
}

/* ----------------------------------------- */
/* Navigation                                */
/* ----------------------------------------- */
[data-dorako-ui-scope="navigation"][data-dorako-ui-theme="opaque"] {
  .scene {
    --button-toggle-focus-outline-color: var(--discord-attention);
  }

  .scene:not(.gm) {
    --button-toggle-border-color: var(--app-border-color);
    --button-toggle-hover-border-color: color-mix(in srgb, var(--primary-light) 50%, white 50%);
    --button-toggle-background: var(--app-background);
    --button-toggle-hover-background: var(--primary-light);
  }

  .scene.gm {
    --button-toggle-border-color: var(--secondary-light);
    --button-toggle-hover-border-color: color-mix(in srgb, var(--secondary) 50%, white 50%);
    --button-toggle-background: color-mix(in srgb, var(--secondary) 50%, black 50%);
    --button-toggle-hover-background: var(--secondary-light);

    &.active:not(.view) {
      --button-toggle-focus-outline-color: transparent;
    }
  }
}
