:root {
  --brown-1: rgb(223, 207, 153);
  --brown-2: rgb(163, 141, 109);
  --brown-3: rgb(117, 81, 29);
  --brown-4: rgb(115, 78, 50);

  --table-header: rgb(51, 47, 36);
  --table-odd: rgb(38, 35, 27);
  --table-even: rgb(33, 31, 24);

  --dark-20: rgb(20, 20, 20);
  --dark-15: rgb(15, 15, 15);

  --link-color: #f2c462;
  --link-active-color: #f2dcae;
  --red-link-color: #f25749;
  --red-link-active-color:#f2b4ae

  --trade-exact-price: rgb(163, 141, 109);
  --trade-currency-text: rgb(170, 158, 130);
  --trade-button-text-color: rgb(233, 207, 159);
  --trade-color-light-1: rgb(255, 248, 225);
  --trade-color-light-2: rgb(163, 141, 109);
  --trade-color-light-3: rgb(130, 120, 106);

  --poe-color-default: rgb(127, 127, 127);
  --poe-color-valuedefault: rgb(255, 255, 255);
  --poe-color-pink: rgb(255, 192, 203);
  --poe-color-dodgerblue: rgb(30, 144, 255);
  --poe-color-fire: rgb(150, 0, 0);
  --poe-color-cold: rgb(54, 100, 146);
  --poe-color-lightning: rgb(255, 215, 0);
  --poe-color-chaos: rgb(208, 32, 144);
  --poe-color-augmented: rgb(136, 136, 255);
  --poe-color-crafted: rgb(184, 218, 242);
  --poe-color-fractured: rgb(162, 145, 98);
  --poe-color-enchanted: rgb(184, 218, 242);
  --poe-color-hellscaped: rgb(255, 110, 37);
  --poe-color-unmet: rgb(210, 0, 0);
  --poe-color-uniqueitem: rgb(175, 96, 37);
  --poe-color-unique: rgb(175, 96, 37);
  --poe-color-rareitem: rgb(255, 255, 119);
  --poe-color-rare: rgb(255, 255, 119);
  --poe-color-magicitem: rgb(136, 136, 255);
  --poe-color-magic: rgb(136, 136, 255);
  --poe-color-whiteitem: rgb(200, 200, 200);
  --poe-color-normal: rgb(200, 200, 200);
  --poe-color-gemitem: rgb(27, 162, 155);
  --poe-color-gem: rgb(27, 162, 155);
  --poe-color-currencyitem: rgb(170, 158, 130);
  --poe-color-currency: rgb(170, 158, 130);
  --poe-color-questitem: rgb(74, 230, 58);
  --poe-color-quest: rgb(74, 230, 58);
  --poe-color-nemesismod: rgb(255, 200, 0);
  --poe-color-nemesismodoutline: rgb(219, 34, 0); /* 220,255,40,0 */
  --poe-color-talismanmod: rgb(141, 241, 79);
  --poe-color-talismanmodoutline: rgb(0, 0, 0); /* 220,0,0,0 */
  --poe-color-title: rgb(231, 180, 120);
  --poe-color-corrupted: rgb(210, 0, 0);
  --poe-color-favour: rgb(170, 158, 130);
  --poe-color-supporterpacknewitem: rgb(180, 96, 0);
  --poe-color-supporterpackitem: rgb(163, 141, 109);
  --poe-color-bloodlinemod: rgb(210, 0, 220);
  --poe-color-bloodlinemodoutline: rgb(58, 0, 125); /* 200,74,0,160 */
  --poe-color-tormentmod: rgb(50, 230, 100);
  --poe-color-tormentmodoutline: rgb(0, 78, 117); /* 200,0,100,150 */
  --poe-color-canttradeormodify: rgb(210, 0, 0);
  --poe-color-lockedtoaccount: rgb(210, 0, 0);
  --poe-color-divination: rgb(14, 186, 255);
  --poe-color-prophecy: rgb(181, 75, 255);
  --poe-color-essencemod: rgb(164, 210, 255);
  --poe-color-essencemodoutline: rgb(0, 41, 82); /* 210,0,50,100 */
  --poe-color-premiumchat: rgb(253, 242, 126);
  --poe-color-premiumchatoutline: rgb(209, 46, 46);
  --poe-color-uniquefoil: rgb(130, 173, 106);
  --poe-color-legacy: rgb(212, 145, 63);
  --poe-color-bestiarymod: rgb(255, 255, 255);
  --poe-color-bestiarymodoutline: rgb(219, 34, 0); /* 220,255,40,0 */
  --poe-color-blightmod: rgb(255, 255, 255);
  --poe-color-blightmodoutline: rgb(215, 0, 0); /* 255,215,0,0 */
  --poe-color-afflictionmod: rgb(22, 25, 28);
  --poe-color-afflictionmodoutline: rgb(151, 164, 181); /* 200,193,210,232 */
  --poe-color-stackitemlevel: rgb(255, 255, 255);
  --poe-color-harvestprimary: rgb(100, 111, 73);
  --poe-color-harvestsecondary: rgb(83, 130, 161);
  --poe-color-craftingcaster: rgb(179, 248, 254);
  --poe-color-craftingphysical: rgb(199, 157, 147);
  --poe-color-craftingfire: rgb(255, 154, 119);
  --poe-color-craftingcold: rgb(147, 216, 255);
  --poe-color-craftinglightning: rgb(248, 203, 118);
  --poe-color-craftingchaos: rgb(216, 167, 211);
  --poe-color-craftingspeed: rgb(207, 238, 165);
  --poe-color-craftingcrit: rgb(178, 167, 214);
  --poe-color-craftingred: rgb(200, 103, 110);
  --poe-color-craftingblue: rgb(162, 207, 251);
  --poe-color-craftinggreen: rgb(134, 189, 163);
  --poe-color-craftinglife: rgb(201, 110, 110);
  --poe-color-craftingdefences: rgb(168, 143, 103);
  --poe-color-craftingattack: rgb(218, 129, 77);
  --poe-color-heist: rgb(25, 30, 25);
  --poe-color-heiststolenitem: rgb(210, 0, 0);
  --poe-color-atlasmaven: rgb(182, 12, 169);
  --poe-color-ultimatumnumber: rgb(254, 92, 81);
  --poe-color-incursionunreachable: rgb(90, 90, 90);
  --poe-color-lockedinplaceitem: rgb(127, 127, 127);
  --poe-color-craftaffectremove: rgb(254, 153, 0);
  --poe-color-craftaffectwarning: rgb(235, 200, 80);
  --poe-color-craftaffectreroll: rgb(254, 153, 0);
  --poe-color-skillpopuptitle: rgb(249, 230, 202);
  --poe-color-disabledstats: rgb(150, 150, 167);
  --poe-color-skillextrainfo: rgb(255, 192, 119);
  --poe-color-fakeitemcount: rgb(200, 200, 200);

  .c-cblock {
    border: 1px solid #2c2b2b;
    background-color: #141414;
  }
  .c-cblock--violet {
      border-color: #585477;
      background-color: #151517;
  }
  .c-cblock--gold {
      border-color: #75693c;
      background-color: #1c1b19;
  }

  .c-mbox--warning {
    border-color: #781c1c;
    background-color: #241515;
  }
  .c-mbox--action {
      border-color: #693a1e;
      background-color: #26211f;
  }
  .c-mbox--content {
      border-color: #664c1e;
      background-color: #26231f;
  }
  .c-mbox--style {
      border-color: #75693c;
      background-color: #24231f;
  }
  .c-mbox--info {
      border-color: #4b5e6a;
      background-color: #191b1c;
  }
  .c-mbox--legal {
      border-color: #403b2d;
      background-color: #21201c;
  }
  .c-mbox--proposal {
      border-color: #585477;
      background-color: #19191c;
  }
  .c-mbox--lock {
      border-color: #59534e;
      background-color: #211f1d;
  }

  #catlinks {
    border: 1px solid #503a1e;
    background-color: #130f0a;
    }
}


[data-dorako-ui-theme="poe-wiki"],
[data-dorako-ui-theme="poe-wiki"][data-dorako-ui-scope="limited"] {
  --color-warm-1: var(--tertiary);
  --color-warm-2: var(--poe-color-unique);
  --color-warm-3: var(--primary-dark);
  --color-warm-3-75: color-mix(in srgb, var(--color-warm-3) 75%, transparent); //custom
  --color-warm-4-75: color-mix(in srgb, var(--color-warm-4) 75%, transparent); //custom
  --color-cool-1: var(--secondary-light);
  --color-cool-2: var(--secondary);
  --color-cool-3: var(--secondary-dark);
  --color-cool-3-75: color-mix(in srgb, var(--color-cool-3) 75%, transparent); //custom
  --color-cool-4: #26231f;

  --window-app-background: var(--dark-15);
  --window-app-border-color: var(--brown-4);
  --window-app-border-style: 1px solid;
  --app-background: var(--glass-bg);
  --app-border-color: var(--alt);
  --app-border-style: 1px solid;
  --color-scrollbar: var(--brown-1);
  --color-scrollbar-border: var(--brown-2);
  --box-shadow: 0px 1px 2px black;
  --accent-color: var(--tertiary);

  --inline-bg: transparent;
  --inline-border-color: transparent;
  --inline-text-color: var(--poe-color-magic);
  --inline-icon-color: var(--poe-color-gem);

  --input-border-color: var(--brown-2);

  --color-border-light-primary: var(--brown-1);
  --color-border-light-highlight: var(--brown-2);
  &.actor.sheet .crb-style .sheet-body {
    --color-border-medium: var(--brown-1);
    --color-border-divider: var(--brown-1);
    --secondary: var(--poe-color-gem);
  }
  &.actor.sheet .inventory .list-row .item-controls {
    --secondary: var(--poe-color-gem);
  }
}

[data-dorako-ui-theme="poe-wiki"] {
  select,
  input,
  button {
    --button-background-color: #21201c;
    --button-border-color: #403b2d;
    --input-border-color: var(--brown-2);
    --input-background-color: var(--alt-dark);
    --input-focus-outline-color: var(--tertiary);
  }

  &#hotbar .macro {
    border: 1px solid black;
  }

  &#sidebar {
    background: var(--app-background) !important;
    box-shadow: var(--box-shadow);
  }

  &.sidebar-popout {
    background: var(--app-background) !important;
  }

  &.message.chat-message {
    background: var(--window-app-background);
    background-position: top;
    background-size: cover;
    &.whisper {
      background: var(--window-app-background);
      background-color: var(--whisper-bg);
      background-blend-mode: luminosity;
      &.blind {
        background: var(--window-app-background);
        background-color: var(--blind-bg);
        background-blend-mode: luminosity;
      }
    }
  }
}
