/* --------------------------------------------------------- */
/* The original styling has been overruled by system changes */
/* --------------------------------------------------------- */
.pf2e-av.sheet.journal-entry .journal-entry-content {
  background: url("../../pf2e-abomination-vaults/styles/assets/parchment-av.jpg") repeat;
  border-color: var(--av-green-light);
}

.pf2e-av .journal-page-content a.inline-check > i.icon,
.pf2e-av .journal-page-content span[data-pf2-check] > i.icon,
.pf2e-av .journal-page-content [data-pf2-repost] .label,
.pf2e-av .journal-page-content [data-pf2-check] .label,
.pf2e-av .journal-page-content [data-pf2-check]:not([data-pf2-show-dc="gm"]) .label {
  color: var(--av-green-light);
}
