/* ----------------------------------------- */
/* Combat Carousel                           */
/* ----------------------------------------- */

// Needs to be marked as relative for the small caret to be positioned correctly when compact UI is enabled.
#controls ol li.scene-control[data-control="combat-carousel"] {
  position: relative;
}

.dorako-ui {
  &#combat-carousel .splide__track {
    overflow: visible;
  }

  &#combat-carousel:hover {
    background: none;
  }

  &#combat-carousel .card {
    background: none;
    border: none;
  }

  &#combat-carousel .drag-handle {
    text-shadow: 0px 0px 3px black;
    color: var(--color-text-light-heading);
  }

  &#combat-carousel .splide__slide:hover meter::after {
    top: -17px;
    text-shadow: 0px 0px 3px black;
    background: none;
  }

  &#combat-carousel .splide__slide:hover .fa-dice-d20 {
    color: var(--color-text-light-highlight);
  }

  &#combat-carousel .initiative {
    @include glass;
    @include quick-transition;
    text-shadow: 0px 0px 3px black;

    .fa-dice-d20 {
      color: var(--color-text-light-heading);
    }
    &:hover {
      background-color: var(--primary);
      .fa-dice-d20 {
        color: var(--color-text-light-highlight);
      }
    }
  }

  &#combat-carousel .is-active-combatant.card {
    .avatar {
      overflow: visible;
      img {
        @include quick-transition;
        filter: drop-shadow(0px 0px 10px var(--tertiary));
      }
    }
  }

  &#combat-carousel .initiative input.fa-stack-1x {
    font-size: 24px;
    text-shadow: 0px 0px 3px black, 0px 1px 0px black;
  }

  &#combat-carousel .splide__slide:hover:not(.combat-round) {
    transform: scale(1);
    margin: 0px;
    .avatar {
      overflow: visible;
      img {
        @include quick-transition;
        filter: drop-shadow(0px 0px 10px var(--tertiary));
      }
    }
  }

  &#combat-carousel .splide__slide:hover .name {
    @include glass;
    color: var(--color-text-light-heading);
    text-shadow: 0px 0px 3px black;
    backdrop-filter: blur(5px);
    min-height: 34px;
    min-width: 100px;
    font-size: var(--font-size-14);
    line-height: var(--font-size-14);
    top: -40px;
    left: unset;
    text-shadow: 0px 0px 3px black;
    height: unset;
    overflow: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 5px 8px;
    h3 {
      margin: 0px;
    }
  }

  &#combat-carousel .encounter-info,
  &#combat-carousel .encounter-controls {
    @include glass;
    text-shadow: 0px 0px 3px black;
    color: var(--color-text-light-heading);
  }

  &#combat-carousel:hover .combat-controls a {
    @include glass;
    @include quick-transition;
    color: var(--color-text-light-heading);
    text-shadow: 0px 0px 3px black;
    &:hover {
      background-color: var(--primary);
      color: var(--color-text-light-highlight);
    }
  }
}
