.dalvyn-journal:not(.premium) {
  /* By Dalvyn */
  /* Custom CSS - PF2 STYLE v2.1 */
  /* TITRES
====================================================== */
  --red: var(--primary);
  --blue: var(--secondary);
  --brown: #ad6f59;

  &.journal-header .title,
  .journal-header .title {
    color: var(--red) !important;
    font-family: "Taroca Regular";
  }

  &.journal-entry-page h1,
  .journal-entry-page h1 {
    color: var(--blue) !important;
    font-family: "Taroca Regular";
    line-height: 100%;
    border-bottom: 0;
  }

  &.journal-entry-page h1:hover,
  .journal-entry-page h1:hover {
    background-image: linear-gradient(#02256e00, #02256e00, #02256e44);
  }

  &.journal-entry-page h2,
  .journal-entry-page h2 {
    color: var(--red) !important;
    font-family: "Gin-Regular";
    text-transform: uppercase;
    line-height: 100%;
    border-bottom: 0;
  }

  &.journal-entry-page h2:hover,
  .journal-entry-page h2:hover {
    background-image: linear-gradient(#4e070700, #4e070700, #4e070744);
  }

  &.journal-entry-page h3,
  .journal-entry-page h3 {
    color: var(--brown) !important;
    font-family: "Gin-Regular";
    text-transform: uppercase;
    line-height: 100%;
    border-bottom: 0;
  }

  &.journal-entry-page h3:hover,
  .journal-entry-page h3:hover {
    background-image: linear-gradient(#ad6f5900, #ad6f5900, #ad6f5900, #ad6f5944);
  }

  &.journal-entry-page .journal-page-content h4,
  .journal-entry-page .journal-page-content h4 {
    color: var(--blue) !important;
    font-family: "Gin-Regular";
    font-variant: small-caps;
    font-size: 132%;
    line-height: 100%;
    border-bottom: 0;
  }

  &.journal-entry-page .journal-page-content h4:hover,
  .journal-entry-page .journal-page-content h4:hover {
    background-image: linear-gradient(#02256e00, #02256e00, #02256e00, #02256e44);
  }

  &.journal-entry-page h5,
  .journal-entry-page h5 {
    line-height: 100%;
    font-variant: small-caps;
    font-size: var(--font-size-14);
    border-bottom: 0;
    margin-bottom: 0;
  }

  &.journal-entry-page h5:hover,
  .journal-entry-page h5:hover {
    background-image: linear-gradient(#02256e00, #02256e00, #02256e00, #02256e44);
  }

  /* TEXTE
====================================================== */

  &.journal-entry-content, // MEJ
  &.journal-entry-page .window-content,
  .journal-entry-page .window-content {
    font-family: "Gelasio";
  }

  /* SYMBOLES PF2
====================================================== */

  &.journal-entry-page code,
  .journal-entry-page code {
    font-family: "pathfinder2eactions";
    font-style: normal;
    font-size: 150%;
    line-height: 66%;
  }

  /* TABLES
====================================================== */

  &.journal-entry-page table,
  .journal-entry-page table {
    font-family: "roboto condensed";
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
  }

  &.journal-entry-page table th,
  .journal-entry-page table th {
    color: white;
    background-color: var(--red);
  }

  &.journal-entry-page tr:nth-child(2n),
  .journal-entry-page tr:nth-child(2n) {
    background-color: #f5efe0;
    color: black;
  }

  &.journal-entry-page tr:nth-child(2n + 1),
  .journal-entry-page tr:nth-child(2n + 1) {
    background-color: #efe3c8;
    color: black;
  }

  &.journal-entry-page tr:hover,
  .journal-entry-page tr:hover {
    background-color: #e9d7b0;
    color: black;
  }

  &.journal-entry-page table td,
  &.journal-entry-page table th,
  .journal-entry-page table td,
  .journal-entry-page table th {
    padding: 4px 6px;
  }

  /* TEXTES À LIRE
====================================================== */

  &.journal-entry-page
    .journal-page-content
    blockquote:not(h6 + p + ul + blockquote, h6 + p + blockquote, h6 + ul + blockquote, h6 + blockquote),
  .journal-entry-page
    .journal-page-content
    blockquote:not(h6 + p + ul + blockquote, h6 + p + blockquote, h6 + ul + blockquote, h6 + blockquote) {
    border-left-width: 0;
    border-top: 2px solid #cfbf80;
    border-bottom: 2px solid #cfbf80;
    background-color: var(--red);
    border-radius: 8px;
    color: #cfbf80;
    padding: 4px 12px;
    margin-left: 0;
    margin-right: 0;
  }

  &.journal-entry-page
    .journal-page-content
    blockquote:not(h6 + p + ul + blockquote, h6 + p + blockquote, h6 + ul + blockquote, h6 + blockquote):hover,
  .journal-entry-page
    .journal-page-content
    blockquote:not(h6 + p + ul + blockquote, h6 + p + blockquote, h6 + ul + blockquote, h6 + blockquote):hover {
    color: #efdfa2;
  }

  /* BLOCS DESCRIPTIFS (via h6)
====================================================== */

  &.journal-entry-page
    .journal-page-content
    :is(h6, h6 + p, h6 + p + ul, h6 + p + blockquote, h6 + p + ul + blockquote),
  .journal-entry-page
    .journal-page-content
    :is(h6, h6 + p, h6 + p + ul, h6 + p + blockquote, h6 + p + ul + blockquote) {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f5efe0aa;
  }

  &.journal-entry-page .journal-page-content :is(h6, h6 + p),
  .journal-entry-page .journal-page-content :is(h6, h6 + p) {
    font-family: "Tauri-Regular";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.15em;
  }

  &.journal-entry-page .journal-page-content h6,
  .journal-entry-page .journal-page-content h6 {
    border-bottom: 1px solid black;
    padding: 4px 12px;
  }

  &.journal-entry-page .journal-page-content h6 + p,
  .journal-entry-page .journal-page-content h6 + p {
    text-align: right;
    position: relative;
    bottom: 24px;
    right: 12px;
    height: 0;
    margin: 0;
    overflow: visible;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul,
  .journal-entry-page .journal-page-content h6 + p + ul {
    clear: both;
    display: flex;
    font-family: "roboto condensed";
    font-size: 94%;
    list-style-type: none;
    padding: 4px 12px;
  }

  /* Alignment (bold) */

  &.journal-entry-page .journal-page-content h6 + p + ul li strong,
  .journal-entry-page .journal-page-content h6 + p + ul li strong {
    font-weight: normal;
  }

  /* Size (italics) */

  &.journal-entry-page .journal-page-content h6 + p + ul li em,
  .journal-entry-page .journal-page-content h6 + p + ul li em {
    font-style: normal;
  }

  /* Rarity (sub = uncommon, sup = rare, strikethrough = unique) */

  &.journal-entry-page .journal-page-content h6 + p + ul li sub,
  .journal-entry-page .journal-page-content h6 + p + ul li sub {
    vertical-align: baseline;
    font-size: 100%;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li sup,
  .journal-entry-page .journal-page-content h6 + p + ul li sup {
    vertical-align: baseline;
    font-size: 100%;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li s,
  .journal-entry-page .journal-page-content h6 + p + ul li s {
    text-decoration: none;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li p,
  .journal-entry-page .journal-page-content h6 + p + ul li p {
    margin: 0;
  }

  /* Dorako */

  &.journal-entry-page .journal-page-content h6 + p + ul li p,
  .journal-entry-page .journal-page-content h6 + p + ul li p {
    color: white;
    border: 3px solid #dac68a;
    border-left-width: 4px;
    border-right-width: 4px;
    text-transform: uppercase;
    margin: 0;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li p,
  .journal-entry-page .journal-page-content h6 + p + ul li p {
    background-color: #58180d;
    padding: 2px 3px;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li p > strong,
  .journal-entry-page .journal-page-content h6 + p + ul li p > strong {
    background-color: #576293;
    padding: 2px 3px;
    margin: -2px -3px;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li p > em,
  .journal-entry-page .journal-page-content h6 + p + ul li p > em {
    background-color: #3b7b59;
    padding: 2px 3px;
    margin: -2px -3px;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li p > sub,
  .journal-entry-page .journal-page-content h6 + p + ul li p > sub {
    background-color: #98513d;
    padding: 2px 3px;
    margin: -2px -3px;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li p > sup,
  .journal-entry-page .journal-page-content h6 + p + ul li p > sup {
    background-color: #002664;
    padding: 2px 3px;
    margin: -2px -3px;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul li p > s,
  .journal-entry-page .journal-page-content h6 + p + ul li p > s {
    background-color: #54166e;
    padding: 2px 3px;
    margin: -2px -3px;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul + blockquote,
  .journal-entry-page .journal-page-content h6 + p + ul + blockquote {
    border: 0;
    padding: 0 12px 4px 12px;
  }

  &.journal-entry-page .journal-page-content h6 + p + blockquote,
  .journal-entry-page .journal-page-content h6 + p + blockquote {
    border: 0;
    padding: 4px 12px 4px 12px;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul + blockquote p,
  &.journal-entry-page .journal-page-content h6 + p + blockquote p,
  .journal-entry-page .journal-page-content h6 + p + ul + blockquote p,
  .journal-entry-page .journal-page-content h6 + p + blockquote p {
    font-family: "roboto condensed";
    font-style: normal;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul + blockquote em,
  &.journal-entry-page .journal-page-content h6 + p + blockquote em,
  .journal-entry-page .journal-page-content h6 + p + ul + blockquote em,
  .journal-entry-page .journal-page-content h6 + p + blockquote em {
    font-style: italic;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul + blockquote p:has(strong:first-child),
  &.journal-entry-page .journal-page-content h6 + p + blockquote p:has(strong:first-child),
  .journal-entry-page .journal-page-content h6 + p + ul + blockquote p:has(strong:first-child),
  .journal-entry-page .journal-page-content h6 + p + blockquote p:has(strong:first-child) {
    text-indent: -1em;
    margin-left: 1em;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul + blockquote p *,
  &.journal-entry-page .journal-page-content h6 + p + blockquote p *,
  .journal-entry-page .journal-page-content h6 + p + ul + blockquote p *,
  .journal-entry-page .journal-page-content h6 + p + blockquote p * {
    text-indent: 0;
  }

  &.journal-entry-page .journal-page-content h6 + p + ul + blockquote p:first-child,
  &.journal-entry-page .journal-page-content h6 + p + blockquote p:first-child,
  .journal-entry-page .journal-page-content h6 + p + ul + blockquote p:first-child,
  .journal-entry-page .journal-page-content h6 + p + blockquote p:first-child {
    margin-top: 0;
  }

  &.journal-entry-page .journal-page-content h6 + p + blockquote hr,
  &.journal-entry-page .journal-page-content h6 + p + ul + blockquote hr,
  .journal-entry-page .journal-page-content h6 + p + blockquote hr,
  .journal-entry-page .journal-page-content h6 + p + ul + blockquote hr {
    border-top: 0;
    border-bottom: 1px solid black;
    margin: 0;
  }
}

.foundry2 .dalvyn-journal:not(.premium),
.dalvyn-journal.dark-theme:not(.premium),
.dalvyn-journal:not(.premium) .dark-theme {
  --red: var(--primary-light);
  --blue: var(--secondary-light);
  --brown: #ad6f59;

  color: var(--color-text-light-heading);

  tbody {
    color: black;
  }

  &.journal-entry-page
    .journal-page-content
    :is(h6, h6 + p, h6 + p + ul, h6 + p + blockquote, h6 + p + ul + blockquote),
  .journal-entry-page
    .journal-page-content
    :is(h6, h6 + p, h6 + p + ul, h6 + p + blockquote, h6 + p + ul + blockquote) {
    color: black;
  }
}

.dalvyn-journal:not(.premium).journal-entry-page {
  .journal-header .title {
    color: var(--blue) !important;
    font-family: "Taroca Regular";
  }
}
