[data-theme][data-color-scheme="dark"] {
  .dalvyn-journal:not(.premium) {
    --red: var(--primary-light);
    --blue: var(--secondary-light);
    --brown: #ad6f59;
  }

  &.sheet.journal-entry .journal-entry-page :is(h1, h2, h3, h4, h5) {
    text-shadow: 0px 1px 1px black;
  }
}
