[data-theme] {
  &#forien-quest-log nav.tabs,
  &.window-app.forien-quest-preview nav.tabs {
    background: unset;
  }

  &#forien-quest-log nav.tabs .item.active,
  &#forien-quest-log nav.tabs .item.active:hover,
  &.window-app.forien-quest-preview nav.tabs .item.active,
  &.window-app.forien-quest-preview nav.tabs .item.active:hover {
    font-weight: unset;
    color: var(--text-color-1);
    text-shadow: 0px 1px 2px black;
  }

  &#forien-quest-log nav.tabs .item:hover,
  &.window-app.forien-quest-preview nav.tabs .item:hover {
    text-shadow: 0px 1px 2px black;
  }

  &#forien-quest-log .quest-log.bookmarks nav.log-tabs .item {
    @include dui-app;
    background: var(--app-background) !important;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-right: 1px solid transparent;
    margin: 0 6px 8px;
    &:hover,
    &.active {
      font-weight: unset;
      border-right: 1px solid transparent;
      border-color: var(--color-primary-1);
      background: var(--color-primary-2) !important;
      color: var(--text-color-1);
    }
  }

  &.window-app.forien-quest-preview .quest-body .management .quest-splash .delete-splash,
  &.window-app.forien-quest-preview .quest-body .management .quest-splash .change-splash-pos,
  &.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .deleteQuestGiver {
    @include dui-button;
  }

  &#forien-quest-log .editor,
  &.window-app.forien-quest-preview .editor {
    background: var(--color-secondary-4);
    border: 1px solid var(--color-secondary-3);
    .editor-content {
      color: var(--text-color-3);
    }
    .tox.tox-tinymce {
      background: white;
    }
  }

  &#forien-quest-log .quest-log .table ul li.drag-quest,
  &.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .drop-info,
  &.window-app.forien-quest-preview .quest-body .management .quest-splash .drop-info,
  &.window-app.forien-quest-preview .quest-body .details-header .quest-setup section,
  &.window-app.forien-quest-preview .quest-body .management .subquests .subquests-box li,
  &.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards ul li,
  &.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks ul li {
    @include dui-app;
    border-color: var(--color-scrollbar-border);
    background: var(--color-primary-3);
  }

  &#forien-quest-log .actions i,
  &.window-app.forien-quest-preview .actions i {
    color: var(--text-color-2);
    &:hover {
      color: var(--color-primary-1);
    }
  }
}
