[data-theme] {
  &.clock-panel {
    z-index: 1;
    right: 5px;

    .clock-entry {
      @include dui-app;
    }

    [data-action="add-clock"] {
      @include dui-button;
      margin: unset;
    }
  }
}
