[data-theme] {
  &.clock-panel {
    // z-index: 1;
    right: 5px;

    .clock-list {
      overflow: unset; // auto crops box shadows
    }

    .clock-entry {
      @include dui-app;
    }

    [data-action="add-clock"] {
      @include dui-button;
      margin: unset;
    }
  }

  .add-clock-form .dropdown-wrapper {
    @include dui-input;
    input {
      --input-box-shadow: none !important;
      --dui-input-background: none !important;
      --dui-input-border-color: transparent !important;
      --dui-input-focus-outline-color: transparent !important;
    }
    .dropdown {
      color: black;
    }
  }
  &[data-theme^="crb"][data-color-scheme="light"] .add-clock-form .dropdown-wrapper {
    --dui-input-background: rgba(0, 0, 0, 0.05);
  }
  &[data-theme^="crb"].clock-panel [data-action="add-clock"] {
    --dui-button-background: var(--app-background);
  }
}
