.item-piles-player-list-trade-button {
  @include glass;
  @include quick-transition;
  background-color: var(--glass-bg-light);
  &:hover {
    @include glass;
  }
}

.item-piles-img-container {
  @include gold-border;
  border-radius: 3px;
  margin: 3px;
}

.item-piles-app {
  --item-piles-even-color: #7a79717a;
  --item-piles-shadow-primary: var(--color-shadow-primary);
}

.dorako-ui.dark-theme {
  --color-text-dark-secondary: #a9a798;
  --item-piles-minor-inactive: rgb(15, 15, 15);
  --item-piles-text-light-highlight: rgb(70, 70, 70);
  .item.active.underscore.item-piles-flexrow.item-piles-clickable-link {
    border-bottom: 2px solid var(--tertiary-dark);
  }
}

[data-dorako-ui-theme] {
  --item-piles-minor-inactive: var(--color-warm-3);
  --item-piles-even-color: color-mix(in srgb, var(--color-cool-3) 20%, transparent);
  --item-piles-border-light-primary: var(--color-cool-3);

  .item-piles-img-container {
    @include f2-app;
    border-color: var(--color-warm-1);
  }

  .item-piles-player-list-trade-button {
    @include f2-button-warm;
  }

  .item-piles-config-container nav {
    margin-top: 2px;
  }
}
