/* ----------------------------------------- */
/* Condition Manager                         */
/* ----------------------------------------- */

.window-app[data-theme] .window-content .dialog-content .cond-cont {
  background: none;
  .cond-butt-set {
    display: flex;
  }
  button {
    box-shadow: unset;
  }
  .cond-buttons,
  .cond-buttons:focus {
    width: 100%;
  }
  .cond-buttons-small,
  .cond-buttons-small:focus {
    width: 13%;
  }
}

/* ----------------------------------------- */
/* Basic Action Macros (BAM)                 */
/* ----------------------------------------- */

[data-theme] .action-list button {
  --dui-button-text-color: white !important;
  // @include dui-button;
  img {
    border: 1px solid var(--icon-border-color);
    border-radius: var(--border-radius);
  }
  &:hover {
    text-shadow: 0px 1px 2px black;
  }
  &.glow {
    filter: brightness(1.1);
  }
}

/* ----------------------------------------- */
/* Spelltrike                                */
/* ----------------------------------------- */

[data-theme][data-dorako-ui-scope="macro-dialog"] {
  .window-header {
    color: var(--color-text-dark-primary) !important;
  }
}

.spellstrike-macro[data-theme][data-dorako-ui-scope="macro-dialog"] {
  .dialog-content p select {
    @include dui-input;
  }
  &[data-color-scheme="dark"] {
    --text-dark: #1c1c1c;
    li.strike .alt-usage .alt-usage-icon[src$="svg"] {
      filter: invert(1);
    }
  }
}
