[data-theme="bg3"],
[data-theme="foundry2"],
[data-theme][data-color-scheme="dark"] {
  &.dorako-ux.sheet.pf2e.actor.npc {
    .pf2e-see-simple-scale-statistics-Extreme-color-primary {
      color: #6cd8ff !important;
    }
    .pf2e-see-simple-scale-statistics-High-color-primary {
      color: #3cff00 !important;
    }

    .pf2e-see-simple-scale-statistics-Moderate-color-primary {
      color: #ffff54 !important;
    }

    .pf2e-see-simple-scale-statistics-Low-color-primary {
      color: #ff8000 !important;
    }

    .pf2e-see-simple-scale-statistics-Terrible-color-primary {
      color: #ff0000 !important;
    }
  }
}

[data-theme^="discord"][data-color-scheme="light"],
[data-theme^="dnd5e2"][data-color-scheme="light"],
[data-theme^="crb"][data-color-scheme="light"] {
  &.dorako-ux.sheet.pf2e.actor.npc {
    .sidebar header {
      .pf2e-see-simple-scale-statistics-Extreme-color-primary {
        color: #6cd8ff !important;
      }
      .pf2e-see-simple-scale-statistics-High-color-primary {
        color: #3cff00 !important;
      }

      .pf2e-see-simple-scale-statistics-Moderate-color-primary {
        color: #ffff54 !important;
      }

      .pf2e-see-simple-scale-statistics-Low-color-primary {
        color: #ff8000 !important;
      }

      .pf2e-see-simple-scale-statistics-Terrible-color-primary {
        color: #ff0000 !important;
      }
    }
  }
}
