[data-theme] {
  &[id^="pf2e-hud"] {
    --color-disabled: var(--text-color-disabled);
    --highlight-color: var(--accent-color-light);
    // --color-active: var(--accent-color-light);
  }

  &[id^="pf2e-hud"] {
    --color: var(--text-color-1);
  }

  &[id^="pf2e-hud-persistent"].app,
  &[id^="pf2e-hud-persistent"] .app {
    @include dui-app;
  }

  &#pf2e-hud-persistent-menu {
    height: 100%;
    place-items: center;
  }

  &[data-theme^="bg3"]#pf2e-hud-persistent-effects .effect-item .effect-info {
    background: var(--bg3-tooltip-window-background) padding-box,
      linear-gradient(to right, var(--bg3-border-outer) 0%, var(--bg3-border-inner) 50%, var(--bg3-border-outer) 100%)
        border-box;
    border: 2px solid transparent;
    box-shadow: 0px 0px 30px black, 0px 0px 20px black, 0px 0px 10px black, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
    backdrop-filter: none;
    border-radius: var(--border-radius);
    text-shadow: none;
    color: var(--bg3-text-3);
  }

  &[data-theme^="bg3"]#pf2e-hud-persistent #hotbar #macro-list > li {
    @include dui-app;
    background: rgba(0, 0, 0, 0.37) !important;
    border: 1px solid var(--bg3-border-outer) !important;
    border-top-color: var(--bg3-border-inner) !important;
    border-bottom-color: var(--bg3-border-inner) !important;
    --box-shadow: 0px 1px 2px black;
    box-shadow: var(--box-shadow), 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset !important;
    &.inactive {
      outline: 1px dashed rgb(122, 122, 122);
      outline-offset: -1px;
    }
  }

  &#pf2e-hud-persistent-effects .effect-item > .icon {
    --border-radius: 50%;
    --icon-border-color: #d3b87c;
    outline: 1px solid #9a8860;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 2px 1px black;
    &:hover::before {
      border-radius: var(--border-radius);
    }
  }

  &#pf2e-hud-persistent-effects .effect-item .effect-info {
    @include dui-app;

    > .description {
      background: unset;
    }
  }

  &#pf2e-hud-persistent #hotbar #macro-list > li:not(:last-child) {
    border: unset;
  }

  &#pf2e-hud-persistent #hotbar #macro-list {
    background: unset;
    box-shadow: unset;
    border: unset;
    margin-left: 2px;
  }

  &#pf2e-hud-tooltip > div {
    @include dui-app;
    &.status {
      color: hsl(var(--hue), 75%, 40%);
    }
  }

  &#pf2e-hud-sidebar > .inner {
    @include dui-app;
  }

  &#pf2e-hud-sidebar .inner.persistent::before {
    --arrow-color: var(--app-background);
  }

  &#pf2e-hud-tracker {
    @include dui-app;
  }

  &#pf2e-hud-persistent-portrait .top .name {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &#pf2e-hud-persistent-portrait .bottom {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  &#pf2e-hud-persistent-main #hotbar #macro-list {
    background: unset;
    box-shadow: unset;
  }

  &#pf2e-hud-persistent-main #hotbar #macro-list > li:not(:last-child) {
    border: unset;
  }

  &#pf2e-hud-persistent-main #hotbar #macro-list > li {
    @include dui-app;
  }

  &#pf2e-hud-persistent-main #hotbar #hotbar-page-controls {
    @include dui-app;
  }
}

.game #interface:has(#pf2e-hud-tracker) #sidebar {
  box-shadow: unset;
  padding-left: 5px; // --panel-gap from PF2e HUD
}

.game [data-theme][id^="pf2e-hud-token"] {
  #pf2e-hud-token-main.exploded .panel {
    @include dui-app;
  }
}

#pf2e-hud-persistent-main[data-theme] .group.stretch .bottom .shortcuts .shortcut-group .shortcut.empty {
  // border-style: dashed !important;
  // border: 1px solid transparent !important;
  outline: 1px dashed rgba(122, 122, 122, 1);
  outline-offset: -1px;
  background: rgba(0, 0, 0, 0.37) !important;
}

#pf2e-hud-persistent + div #hotbar[data-theme] #macro-list {
  background: unset;
  box-shadow: unset;
  margin-left: 41px;
  .macro {
    height: calc(var(--macro-size) + 2px);
    width: calc(var(--macro-size) + 2px);
    background: var(--app-background);
    border: var(--app-border-width) solid var(--app-border-color);
    text-shadow: var(--app-text-shadow);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--text-color-3);
  }
}
