[data-dorako-ui-scope="limited"] {
  &.sheet.actor.character
    .sheet-body
    .sheet-content
    [data-tab="actions"]
    .tab-content
    .actions-panels
    [data-tab="encounter"]
    ol.actions-list.heroActions-list
    .action
    .item-controls
    > button {
    color: black;
    &:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    }
  }
  .heroActions-list > button {
    @include dui-button;
    margin-top: 5px;
  }
}

[data-theme] {
  &.chat-message [data-action="spell-template-clear"] {
    --button-background: var(--accent-color);
    --button-border-color: var(--accent-color-light);
    --button-text-color: var(--color-cool-5);
    --button-hover-background: #fda948;
    --button-hover-border-color: var(--color-warm-2);
    --button-hover-text-color: #000000;
    text-shadow: none;

    &.disabled,
    &:disabled {
      --button-background: var(--color-cool-4);
      --button-hover-background: var(--color-cool-4);
      --button-text-color: var(--color-light-5);
      --button-hover-text-color: var(--color-light-5);
      --button-hover-border-color: transparent;
    }

    &:not(.disabled, :disabled):hover {
      --button-hover-background: var(--accent-color-light);
      --button-hover-border-color: var(--accent-color);
    }
  }

  &.chat-message .message-content + .pf2e-toolbelt-target-damage .target-damage-application button {
    &::after {
      border-radius: var(--border-radius);
    }
    &[data-action="target-shield-block"] {
      &:hover {
        background-color: var(--color-cool-2);
        border: var(--app-border-style);
        border-color: var(--color-cool-1);
      }
      &.shield-activated {
        background-color: var(--color-cool-1);
        border: var(--app-border-style);
        border-color: var(--color-cool-2);
        &:hover {
          background-color: var(--color-cool-2);
          border: var(--app-border-style);
          border-color: var(--color-cool-1);
        }
      }
    }

    &[data-action="target-apply-healing"] {
      .fa-stack i.fa-plus {
        color: var(--color-cool-5);
        text-shadow: none;
      }

      &:hover {
        background-color: var(--color-level-success);
        border-color: var(--color-level-success-border);

        .fa-stack i.fa-plus {
          color: var(--color-level-success);
          text-shadow: none;
        }
      }
    }
  }
}
