[data-dorako-ui-scope="limited"] {
  &.sheet.actor.character
    .sheet-body
    .sheet-content
    [data-tab="actions"]
    .tab-content
    .actions-panels
    [data-tab="encounter"]
    ol.actions-list.heroActions-list
    .action
    .item-controls
    > button {
    color: black;
    &:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    }
  }

  button[data-action="hero-actions-trade"],
  .heroActions-list > button {
    @include dui-button;
    margin-top: 5px;
  }
}

[data-theme] {
  &.chat-message [data-action="spell-template-clear"] {
    @include dui-button-bright;
  }

  &.chat-message .message-content + .pf2e-toolbelt-target-damage .target-damage-application button {
    &::after {
      border-radius: var(--border-radius);
    }
    &[data-action="target-shield-block"] {
      &:hover {
        background-color: var(--color-secondary-2);
        border: var(--app-border-width) solid;
        border-color: var(--color-secondary-1);
      }
      &.shield-activated {
        background-color: var(--color-secondary-1);
        border: var(--app-border-width) solid;
        border-color: var(--color-secondary-2);
        &:hover {
          background-color: var(--color-secondary-2);
          border: var(--app-border-width) solid;
          border-color: var(--color-secondary-1);
        }
      }
    }

    &[data-action="target-apply-healing"] {
      .fa-stack i.fa-plus {
        color: var(--color-secondary-5);
        text-shadow: none;
      }

      &:hover {
        background-color: var(--color-level-success);
        border-color: var(--color-level-success-border);

        .fa-stack i.fa-plus {
          color: var(--color-level-success);
          text-shadow: none;
        }
      }
    }
  }
}
