body.pf2e-hud-colorized {
  .pf2e-hud [data-section] i,
  #pf2e-hud-persistent span:not(.expired),
  #pf2e-hud-persistent input,
  #pf2e-hud-persistent [data-section] i,
  #pf2e-hud-tooltip i {
    text-shadow: 0 0 3px #000, 0 0 2px #000, 0 0 1px #000;
  }

  i.fa-mask {
    --icon-color: rgb(35, 68, 118);
  }
  i.fa-solid.fa-circle-h {
    --icon-color: rgb(250, 198, 67);
  }
  i.fa-solid.fa-user-graduate {
    --icon-color: rgb(212, 183, 69);
  }
  i.fa-solid.fa-heart-half-stroke {
    --icon-color: rgb(159, 226, 240);
  }
  i.fa-notes-medical {
    --icon-color: rgb(155, 39, 39);
  }
  i.fa-solid.fa-heart {
    --icon-color: rgb(192, 1, 1);
  }
  i.fa-helmet-battle {
    --icon-color: rgb(134, 212, 230);
  }
  i.fa-regular.fa-helmet-battle {
    --icon-color: rgb(162, 230, 245);
  }
  i.fa-light.fa-block-brick {
    --icon-color: deepskyblue;
  }
  i.fa-solid.fa-shield,
  i.fa-regular.fa-shield {
    --icon-color: rgb(103, 235, 213);
  }
  i.fa-solid.fa-hand-fist {
    --icon-color: rgb(170, 72, 19);
  }
  i.fa-solid.fa-person-running {
    --icon-color: rgb(77, 209, 108);
  }
  i.fa-solid.fa-brain {
    --icon-color: deeppink;
  }
  i.fa-solid.fa-tombstone {
    --icon-color: rgb(83, 68, 68);
  }
  i.fa-solid.fa-shoe-prints {
    --icon-color: rgb(93, 123, 93);
  }
  i.fa-solid.fa-chevrons-down::before {
    content: "\f713";
    font: (--fa-font-solid);
    --icon-color: rgb(175, 87, 24);
  }
  i.fa-solid.fa-feather {
    --icon-color: white;
  }
  i.fa-solid.fa-person-swimming {
    --icon-color: dodgerblue;
  }
  i.fa-solid.fa-spider {
    --icon-color: #b7346f;
  }
  i.fa-duotone.fa-clipboard {
    --icon-color: rgb(234, 193, 150);
  }
  i.fa-solid.fa-tag {
    --icon-color: rgb(255, 188, 117);
  }
  i.fa-solid.fa-book {
    --icon-color: rgb(187, 22, 195);
  }
  i.fa-solid.fa-face-meh {
    --icon-color: gray;
  }
  i.fa-solid.fa-face-smile-halo {
    --icon-color: rgb(163, 209, 255);
  }
  i.fa-solid.fa-face-angry-horns {
    --icon-color: rgb(202, 0, 0);
  }
  i.fa-solid.fa-eye {
    --icon-color: cadetblue;
  }
  i.fa-solid.fa-chess-rook {
    --icon-color: rgb(110, 143, 54);
  }
}

/**
v13
**/

[data-interface-color-scheme] {
  &[data-interface-color-scheme="light"] {
    .pf2e-hud-element {
      --color-disabled: #00000085;
      --color-rank-0: #3f3f3f;
      --color-rank-1: #0016df;
      --color-rank-2: #7d00c5;
      --color-rank-3: #a56e00;
      --color-rank-4: #af0101;
      --color-rarity-uncommon: #a55641;
      --color-rarity-rare: #2c65c1;
      --color-rarity-unique: #942dc0;
    }
    #pf2e-hud-persistent [data-panel="name"],
    #pf2e-hud-persistent [data-panel="stats"] {
      background: rgba(0, 0, 0, 0.374);
      border-radius: unset;
    }
    #pf2e-hud-persistent [data-panel="shortcuts"] .shortcut {
      background: rgba(255, 255, 255, 0.169);
    }
    #pf2e-hud-persistent {
      --icon-color: var(--control-icon-color);
      --color: black;
    }
    #pf2e-hud-sidebar {
      --color: black;
      --header-background: rgba(255, 255, 255, 0.5);
    }

    #pf2e-hud-sidebar .item .variants .variant,
    #pf2e-hud-sidebar .item + .variants .variant,
    #pf2e-hud-sidebar select {
      color: white;
      --color: white;
    }

    [data-panel="name"],
    [data-panel="stats"],
    .encumbrance {
      --icon-color: white;
      --color: white;
      color: white;
    }
  }

  #pf2e-hud-persistent #hotbar #action-bar li {
    .slot-icon {
      border-radius: var(--outer-border-radius);
    }
    .key {
      border-top-left-radius: var(--outer-border-radius);
    }
  }

  #pf2e-hud-persistent {
    --icon-color: var(--control-icon-color);
  }

  #pf2e-hud-persistent {
    --panel-background: var(--control-bg-color);
    --outer-border: 1px solid var(--control-border-color);
    --sidebar-arrow-color: var(--control-bg-color);
  }

  #pf2e-hud-persistent
    [data-panel]:not(
      [data-panel="shortcuts"],
      [data-panel="menu"],
      [data-panel="name"],
      [data-panel="stats"],
      [data-panel="effects"]
    ),
  #pf2e-hud-persistent [data-panel="menu"] .group,
  #hotbar-page-controls {
    box-shadow: var(--control-box-shadow);
    backdrop-filter: blur(4px);
    padding: var(--panel-gap);
    background: var(--panel-background);
    border: var(--outer-border);
    border-radius: var(--outer-border-radius);
  }

  [data-panel="effects"] {
    --icon-color: var(--text-light);
  }

  #pf2e-hud-time,
  #pf2e-hud-dice {
    box-shadow: var(--control-box-shadow);
    border: 1px solid var(--control-border-color);
    background: var(--control-bg-color);
    &#pf2e-hud-time {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  #pf2e-hud-tracker,
  #pf2e-hud-sidebar .inner,
  #pf2e-hud-token[data-mode="exploded"] [data-panel] {
    --outer-background: var(--control-bg-color);
    --outer-border: 1px solid var(--control-border-color);
    backdrop-filter: blur(4px);
  }

  .pf2e-hud-shortcut-tooltip {
    padding: 0 !important;
  }

  #tooltip.pf2e-hud-element {
    --tooltip-color: var(--control-icon-color);
  }
}

[data-interface-theme="bg3"] {
  #pf2e-hud-tracker,
  #pf2e-hud-persistent {
    --outer-border: 1px solid transparent;
    background: var(--app-background);
    --panel-background: var(--bg3-tooltip-window-background) padding-box,
      linear-gradient(to right, var(--bg3-border-outer) 0%, var(--bg3-border-inner) 50%, var(--bg3-border-outer) 100%)
        border-box;
  }

  #pf2e-hud-persistent
    [data-panel]:not(
      [data-panel="shortcuts"],
      [data-panel="menu"],
      [data-panel="name"],
      [data-panel="stats"],
      [data-panel="effects"]
    ),
  #pf2e-hud-persistent [data-panel="menu"] .group,
  #hotbar-page-controls {
    box-shadow: var(--control-box-shadow);
    backdrop-filter: blur(4px);
    padding: var(--panel-gap);
    background: var(--panel-background);
    border: var(--outer-border);
    border-radius: var(--outer-border-radius);
  }

  #pf2e-hud-sidebar .inner,
  #pf2e-hud-token[data-mode="exploded"] [data-panel] {
    --outer-background: blue;
    --outer-border: 1px solid var(--control-border-color);
    background: var(--bg3-tooltip-window-background) padding-box,
      linear-gradient(to right, var(--bg3-border-outer) 0%, var(--bg3-border-inner) 50%, var(--bg3-border-outer) 100%)
        border-box;
    border: 2px solid transparent;
    --border-radius: 12px;
    --bg3-border-inner: #a16a37;
    --bg3-border-outer: #4a2e18;
    --bg3-border-internal: #304248;
    --bg3-bg-inner: #182830;
    --bg3-bg-outer: #151e29;

    --bg3-border-background: linear-gradient(
      to right,
      var(--bg3-border-outer) 0%,
      var(--bg3-border-inner) 50%,
      var(--bg3-border-outer) 100%
    );
    --bg3-tooltip-window-background: linear-gradient(
      to right,
      var(--bg3-bg-outer) 0,
      var(--bg3-bg-inner) 50%,
      var(--bg3-bg-outer) 100%
    );
    box-shadow: 0px 0px 30px black, 0px 0px 20px black, 0px 0px 10px black, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
  }
}
