.foundry2-restricted {
  &.sheet.actor.character
    .sheet-body
    .sheet-content
    [data-tab="actions"]
    .tab-content
    .actions-panels
    [data-tab="encounter"]
    ol.actions-list.heroActions-list
    .action
    .item-controls
    > button {
    color: black;
    &:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    }
  }
  .heroActions-list > button {
    @include f2-button-warm;
    margin-top: 5px;
  }
}
