#pf2e-token-hud.dorako-ui {
  --color: white;
  --rarity-common: #e1d8cf;
  --rarity-uncommon: #c45500;
  --rarity-rare: #5362ff;
  --rarity-unique: #e127e1;
  --color-rarity-common: #e1d8cf;
  --color-rarity-uncommon: #c45500;
  --color-rarity-rare: #5362ff;
  --color-rarity-unique: #e127e1;

  .sidebar.skills {
    --color-rank-0: #a6a6a6;
    --color-rank-1: dodgerblue; // Symon recommended
    --color-rank-2: #bf4fdb;
    --color-rank-3: #cf931d;
    --color-rank-4: red; // Symon recommended
  }

  .popup .notes-header {
    border: 1px solid var(--color-border-light-2);
    color: var(--color);
    font-size: var(--font-size);
    border-left: 0;
    border-right: 0;
    background: rgba(96, 88, 86, 0.5);
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;
    margin: 0px -5px;
  }

  a.content-link,
  [data-pf2-check],
  a.entity-link,
  [data-pf2-action],
  span[data-pf2-effect-area],
  a.inline-check .label,
  a.inline-roll:not(.inline-result) {
    color: black;
  }

  .sidebar.actions .sidebar-content .toggles .toggle select {
    @include glass;
    background-color: var(--glass-bg-light);
  }

  .sidebar.skills .skill .header .rank,
  .sidebar.skills .lore .rank {
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;
  }

  .sidebar .header {
    background: rgba(96, 88, 86, 0.5);
    margin: 0px -5px;
  }

  .sidebar.skills .sidebar-content .skill .header .modifier,
  .sidebar.skills .sidebar-content .lore .modifier,
  .sidebar.skills .skill .header .modifier,
  .sidebar.skills .lore .modifier {
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;
    // color: var(--primary-light);
    // color: var(--tertiary);
    color: #24ff00; // Symon recommended
  }

  .sidebar.spells .entry .spell .details .extras .actions {
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;
    color: #f8f8f8;
  }

  .distance,
  .status,
  .popup,
  .sidebar,
  .inner {
    @include glass;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    hr {
      border: none;
    }
  }

  .popup .header:before {
    background: unset;
  }

  .sidebar .details .extras .actions a i.greyed {
    text-shadow: 0px 1px 15px white;
  }

  .sidebar .item-img img {
    border-color: wheat;
  }

  .rarity {
    text-shadow: 0px 1px 1px black, 0px 1px 15px white;

    &.common {
      color: var(--rarity-common);
    }

    &.uncommon {
      color: var(--rarity-uncommon);
    }

    &.rare {
      color: var(--rarity-rare);
    }

    &.unique {
      color: var(--rarity-unique);
    }
  }
}

#pf2e-token-hud.dorako-ui input,
#pf2e-token-hud.dorako-ui select option {
  background-color: var(--glass-bg);
}

// Recall Knowledge
.chat-message.message.dorako-ui.dark-theme .pf2e-token-hud {
  --color-rank-0: #a6a6a6;
  --color-rank-1: #3f4dcd;
  --color-rank-2: #a828f0;
  --color-rank-3: #cf931d;
  --color-rank-4: #bf1c1c;
  --color: white;
  --rarity-common: #e1d8cf;
  --rarity-uncommon: #c45500;
  --rarity-rare: #5362ff;
  --rarity-unique: #e127e1;
  --color-rarity-common: #e1d8cf;
  --color-rarity-uncommon: #c45500;
  --color-rarity-rare: #5362ff;
  --color-rarity-unique: #e127e1;

  .rk,
  .rk-skills,
  .rk-lores,
  .rk-lores-rolls {
    background: repeating-linear-gradient(
      #dddddd70 0 var(--row-height),
      transparent var(--row-height) calc(var(--row-height) * 2)
    );
    .header {
      color: white;
    }

    .rank {
      //   text-shadow: 0px 1px 1px black, 0px 1px 15px white;
      font-weight: bold;
    }
  }
}

.chat-message.message.dorako-ui.light-theme .pf2e-token-hud {
  --color-rank-0: #a6a6a6;
  --color-rank-1: #3f4dcd;
  --color-rank-2: #a828f0;
  --color-rank-3: #cf931d;
  --color-rank-4: #bf1c1c;

  .rk,
  .rk-skills,
  .rk-lores,
  .rk-lores-rolls {
    background: repeating-linear-gradient(
      #dddddd70 0 var(--row-height),
      transparent var(--row-height) calc(var(--row-height) * 2)
    );
    .rank {
      font-weight: bold;
    }
  }
}

/* ----------------------------------------- */
/* Foundry 2                                 */
/* ----------------------------------------- */

[data-dorako-ui-theme] {
  &.chat-message.message .pf2e-token-hud .rk {
    --text-dark: var(--color-light-2);
    --rarity-common: #e1d8cf;
    --rarity-uncommon: #c45500;
    --rarity-rare: #5362ff;
    --rarity-unique: #e127e1;
    --color-rarity-common: #e1d8cf;
    --color-rarity-uncommon: #c45500;
    --color-rarity-rare: #5362ff;
    --color-rarity-unique: #e127e1;
    --color-rank-0: #a6a6a6;
    --color-rank-1: dodgerblue; // Symon recommended
    --color-rank-2: #bf4fdb;
    --color-rank-3: #cf931d;
    --color-rank-4: red; // Symon recommended
    background: repeating-linear-gradient(
      color-mix(in srgb, var(--color-cool-3) 20%, transparent) 0 var(--row-height),
      transparent var(--row-height) calc(var(--row-height) * 2)
    );
  }
}

[data-dorako-ui-theme] {
  &#pf2e-token-hud {
    // --primary: var(--color-warm-2);
    --rarity-common: #e1d8cf;
    --rarity-uncommon: #c45500;
    --rarity-rare: #5362ff;
    --rarity-unique: #e127e1;
    --color-rarity-common: #e1d8cf;
    --color-rarity-uncommon: #c45500;
    --color-rarity-rare: #5362ff;
    --color-rarity-unique: #e127e1;
    --color-rank-0: #a6a6a6;
    --color-rank-1: dodgerblue; // Symon recommended
    --color-rank-2: #bf4fdb;
    --color-rank-3: #cf931d;
    --color-rank-4: red; // Symon recommended
    --color-disabled: var(--color-light-disabled);
    padding-bottom: 0px;
  }

  &#pf2e-token-hud .sidebar .sidebar-header input {
    @include f2-input;
  }

  &#pf2e-token-hud .sidebar .sidebar-content .item-img img {
    border: 1px solid;
    border-color: var(--icon-border-color);
    border-radius: var(--border-radius);
  }

  &#pf2e-token-hud .sidebar .sidebar-content .details input {
    @include f2-input;
    padding: 1px;
  }

  &#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .actions .uses {
    input:last-child {
      --input-background-color: transparent;
      --input-border-color: transparent;
      --box-shadow: transparent;
    }
  }

  &#pf2e-token-hud .sidebar.extras .sidebar-content .row select {
    @include f2-input;
  }

  &#pf2e-token-hud .sidebar.items .sidebar-content .hud-bulk .over-max {
    color: var(--color-level-red-border);
  }

  &#pf2e-token-hud a:hover {
    color: var(--color-warm-2);
  }

  &#pf2e-token-hud .sidebar .sidebar-content .item-img.hover i {
    background: var(--color-warm-2);
    border-color: var(--color-warm-1);
    color: var(--color-light-1);
    text-shadow: 0px 1px 2px black;
  }

  &#pf2e-token-hud .sidebar .sidebar-content .details .extras .actions a i.greyed {
    color: var(--color-light-disabled);
  }

  &#pf2e-token-hud .sidebar .sidebar-content .header {
    background: var(--color-cool-4);
    border-color: var(--color-cool-5);
    margin: 0px -5px;
  }

  &#pf2e-token-hud .sidebar.doubled .sidebar-content .header {
    margin: 0px 0px;
  }

  &.pf2e-token-hud .no-macro,
  &#pf2e-token-hud .no-macro {
    @include f2-app;
    background: var(--color-warm-3);
    border: 1px solid var(--color-scrollbar-border);
  }

  &#pf2e-token-hud .sidebar.spells .expended img {
    filter: saturate(0);
  }

  &#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .actions {
    a:not(.disabled) {
      color: var(--color-light-3);
      :hover {
        color: var(--color-warm-2);
      }
    }
    span {
      color: var(--color-light-4);
    }
  }

  &#pf2e-token-hud .sidebar,
  &#pf2e-token-hud .inner,
  &#pf2e-token-hud .popup {
    background: unset;
    @include f2-app;
    backdrop-filter: blur(4px);
  }

  &#pf2e-token-hud .popup .item-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    button {
      @include f2-button-warm;
    }
  }

  &#pf2e-token-hud .inner .group .section input[type="number"] {
    @include f2-app;
    border-radius: 3px;
  }

  &#pf2e-token-hud .sidebar .sidebar-content .action-icon img {
    filter: invert(1);
    mix-blend-mode: plus-lighter;
  }

  &#pf2e-token-hud .free {
    background: unset;
    @include f2-app;
    backdrop-filter: blur(4px);
    &.status {
      bottom: 0px;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
      border-top: unset;
    }
    &.distance {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
      border-bottom: unset;
    }
  }

  &#pf2e-token-hud .popup .header:before {
    background: unset;
    color: var(--color-light-2);
  }

  &#pf2e-token-hud .sidebar.actions .sidebar-content .toggles .toggle select {
    @include f2-app;
    margin: unset;
  }

  &#pf2e-token-hud .sidebar.skills .sidebar-content .skill .header .modifier,
  &#pf2e-token-hud .sidebar.skills .sidebar-content .lore .modifier {
    color: var(--color-warm-1);
  }
}

[data-dorako-ui-theme] {
  &[id^="pf2e-perception-"] {
    height: auto !important;
    .window-content {
      max-height: 100%;
    }
  }
  &[id^="pf2e-perception-"] .window-content .tokens section .token[data-token-id]:is(:hover, .hover) {
    background: color-mix(in srgb, var(--color-warm-2) 80%, transparent);
  }
  &[id^="pf2e-perception-"] .window-content .buttons button {
    @include f2-button-warm;
    box-shadow: unset;
  }
  &[id^="pf2e-perception-"] .window-content .tokens section .token.ui-selected .name,
  &[id^="pf2e-perception-"] .window-content .tokens section .token.ui-selecting .name {
    color: var(--color-warm-1);
    text-shadow: 0px 0px 5px var(--color-warm-2);
  }
}

/* ----------------------------------------- */
/* Symon Custom CSS                          */
/* ----------------------------------------- */

#pf2e-token-hud.colorized .inner {
  i.fa-solid.fa-circle-h {
    color: darkgoldenrod;
  }
  i.fa-solid.fa-user-graduate {
    color: rgb(141, 69, 212);
  }
  i.fa-solid.fa-heart-half-stroke {
    color: orangered;
  }
  i.fa-solid.fa-heart {
    color: rgb(192, 1, 1);
  }
  i.fa-regular.fa-helmet-battle {
    color: #cdcdcd;
  }
  i.fa-light.fa-block-brick {
    color: deepskyblue;
  }
  i.fa-solid.fa-shield,
  i.fa-regular.fa-shield {
    color: rgb(103, 235, 213);
  }
  i.fa-solid.fa-hand-fist {
    color: rgb(201, 4, 201);
  }
  i.fa-solid.fa-person-running {
    color: blue;
  }
  i.fa-solid.fa-brain {
    color: deeppink;
  }
  i.fa-solid.fa-tombstone {
    color: brown;
  }
  i.fa-solid.fa-shoe-prints {
    color: green;
  }
  i.fa-solid.fa-chevrons-down::before {
    content: "\f713";
    font: (--fa-font-solid);
    color: rgb(175, 87, 24);
  }
  i.fa-solid.fa-feather {
    color: white;
  }
  i.fa-solid.fa-person-swimming {
    color: dodgerblue;
  }
  i.fa-solid.fa-spider {
    color: #b7346f;
  }
  i.fa-solid.fa-eye {
    color: cadetblue;
  }
  i.fa-solid.fa-chess-rook {
    color: rgb(110, 143, 54);
  }
}

#pf2e-token-hud.dorako-ui .sidebar.actions .section .action-icon {
  background-color: #ffffffb5;
}
#pf2e-token-hud.dorako-ui .sidebar.hazard .section .action-icon {
  background-color: #ffffffb5;
}
#pf2e-token-hud.dorako-ui .sidebar .sidebar-content .action-icon {
  background-color: #ffffffb5;
}
