[data-dorako-ui-scope="limited"] {
  &.sheet.actor.character
    .sheet-body
    .sheet-content
    [data-tab="actions"]
    .tab-content
    .actions-panels
    [data-tab="encounter"]
    ol.actions-list.heroActions-list
    .action
    .item-controls
    > button {
    color: black;
    &:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    }
  }

  button[data-action="hero-actions-trade"],
  .heroActions-list > button {
    @include dui-button-bright;
    margin-top: 5px;
  }
}

[data-theme] {
  &.chat-message [data-action="spell-template-clear"] {
    @include dui-button-bright;
  }

  #interface.has-hud-tracker #effects-panel[data-theme] .effect-item .effect-info {
    background: var(--app-background);
  }

  &.chat-message .message-content .card-buttons .pf2e-toolbelt-target-wrapper .pf2e-toolbelt-target-rollSaves,
  &.chat-message .message-content .card-buttons .pf2e-toolbelt-target-wrapper .pf2e-toolbelt-target-setTargets {
    // @include dui-button-bright;
  }

  &.chat-message .message-content + .pf2e-toolbelt-target-targetRows .target-damage-application button.half-damage i {
    -webkit-text-fill-color: unset;
  }

  &.chat-message .message-content + .pf2e-toolbelt-target-damage .target-damage-application button {
    &::after {
      border-radius: var(--border-radius);
    }
    &[data-action="target-shield-block"] {
      &:hover {
        background-color: var(--color-secondary-2);
        border: var(--app-border-width) solid;
        border-color: var(--color-secondary-1);
      }
      &.shield-activated {
        background-color: var(--color-secondary-1);
        border: var(--app-border-width) solid;
        border-color: var(--color-secondary-2);
        &:hover {
          background-color: var(--color-secondary-2);
          border: var(--app-border-width) solid;
          border-color: var(--color-secondary-1);
        }
      }
    }

    &[data-action="target-apply-healing"] {
      .fa-stack i.fa-plus {
        color: var(--color-secondary-5);
        text-shadow: none;
      }

      &:hover {
        background-color: var(--color-level-success);
        border-color: var(--color-level-success-border);

        .fa-stack i.fa-plus {
          color: var(--color-level-success);
          text-shadow: none;
        }
      }
    }
  }

  &.chat-message .message-content + .pf2e-toolbelt-target-targetRows:not(.pf2e-toolbelt-target-damage) hr:first-child {
    border-bottom: var(--app-border-width) solid var(--app-border-color);
  }
}

#pf2e-toolbelt-rolls-tracker[data-theme] {
  .controls button {
    @include dui-button;
  }
}

[data-theme][data-color-scheme="light"] {
  &#pf2e-toolbelt-rolls-tracker,
  &[id="pf2e-toolbelt.rollsTracker.clear.dialog"] {
    input[type="date"] {
      &::-webkit-calendar-picker-indicator {
        filter: revert;
      }
    }
  }

  &#pf2e-toolbelt-rolls-tracker {
    --select-0: #d94141;
    --select-1: #2192d5;
    --select-2: #1b9b1a;
    --select-3: #c99a44;
    --select-4: #d040d0;

    --list-highlight: #00000029;
    --columns-background: #0000000a;
    --column-highlight: #0000001c;

    .body .graph .center .section .value:hover {
      filter: brightness(0.7);
    }
  }
}

#pf2e-toolbelt-resource-tracker {
  background: unset;
  border: unset;
}
