[data-theme] {
  .pf2e-chances-chatcard-container {
    background: none !important;
    outline: none !important;
  }
}

[data-theme][data-color-scheme="dark"] {
  .pf2e-chances-chatcard-line.critical-failure {
    color: var(--degree-failure-critical);
  }

  .pf2e-chances-chatcard-line.failure {
    color: var(--degree-failure);
  }

  .pf2e-chances-chatcard-line.success {
    color: var(--degree-success);
  }

  .pf2e-chances-chatcard-line.critical-success {
    color: var(--degree-success-critical);
  }
}
