/* ----------------------------------------- */
/* Polyglot                                  */
/* ----------------------------------------- */

[data-chat-interface-theme] {
  #polyglot {
    label {
      display: none;
    }
  }

  .polyglot-lang-select input {
    margin: unset;
  }

  .polyglot-lang-select span.select2-selection {
    @include dui-input;
  }

  .polyglot-lang-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--dui-input-text-color);
  }

  .polyglot-lang-select .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--dui-input-text-color) transparent transparent transparent;
  }

  .polyglot-user-list div {
    box-shadow: 0px 0px 0px 1px rgba(white, 0.5) inset;
    width: 14px;
    height: 14px;
  }
}

a.polyglot-message-language.unclickable > i {
  text-shadow: 0px 1px black;
}
