[data-theme] {
  &.quick-insert-app {
    background: none;
    @include dui-app;
    backdrop-filter: blur(5px);
    .quick-insert-result li img {
      border: 1px solid var(--color-primary-1);
      border-radius: var(--border-radius);
      background-color: var(--color-secondary-2);
    }
  }
  &.quick-insert-app .search-selected a,
  .quick-insert-result li a:hover {
    background: var(--color-primary-2);
    text-shadow: 0px 1px 2px black !important;
    border-radius: var(--border-radius);
    span.sub {
      color: var(--text-color-4);
    }
  }
  &.quick-insert-app .search-editable-input {
    @include dui-input;
    outline: none !important;
    text-shadow: none;
  }
  .quick-insert-hint {
    background: none;
  }

  .quick-insert-result {
    background: none;
  }
  .quick-insert-result li a i.action-icon {
    opacity: 1;
    color: var(--text-color-3);
    background: #fff2;
  }
  .quick-insert-result li span.sub {
    color: var(--text-color-5);
  }
}

.dorako-ui {
  &.quick-insert-app {
    background: none;
    @include glass;
    backdrop-filter: blur(5px);
    color: var(--text-color-1);
    text-shadow: 0px 1px 2px black;
    .quick-insert-result li img {
      border: 1px solid var(--tertiary);
      border-radius: var(--border-radius);
      background-color: var(--alt);
    }
  }
  &.quick-insert-app .search-selected a,
  .quick-insert-result li a:hover {
    background: var(--primary);
    text-shadow: 0px 1px 2px black !important;
    border-radius: var(--border-radius);
    span.sub {
      color: var(--text-color-4);
    }
  }
  &.quick-insert-app .search-editable-input {
    background: none;
  }
  .quick-insert-hint {
    background: none;
  }

  .quick-insert-result {
    background: none;
  }
  .quick-insert-result li a i.action-icon {
    opacity: 1;
    color: var(--text-color-3);
    background: #fff2;
  }
  .quick-insert-result li span.sub {
    color: var(--text-color-5);
  }
}
