[data-theme] {
  &#smalltime-app #displayContainer {
    background: unset;
    box-shadow: unset;
  }

  &#smalltime-app #dragHandle {
    background: unset;
  }

  &#smalltime-app #slideContainer {
    max-height: 24px;
  }
  &#smalltime-app #dateDisplay {
    text-shadow: 0px 1px 2px black;
    background: unset;
    box-shadow: unset;
  }

  &#smalltime-app {
    // @include dui-app;
    @include ui-control;
    outline: none;
  }

  &#smalltime-app .arrow,
  &#smalltime-app .arrow-left,
  &#smalltime-app.arrow-right {
    @include button;
    // @include dui-button;
  }
}
