/* ----------------------------------------- */
/* Speaking As                               */
/* ----------------------------------------- */

div.speaking-as--currentSpeaker + #chat-controls {
  padding: 0px;
}

.chat-sidebar .speaking-as--currentSpeaker {
  @include glass;
  background-color: var(--glass-bg-light);
  padding-left: 5px;
  margin: 0px 5px;
  text-shadow: 0px 0px 3px black;
  padding-left: 8px;
}

.speaking-as--currentSpeaker--button {
  cursor: pointer;
  &:hover {
    color: var(--color-text-light-highlight);
  }
}

.foundry2 {
  .speaking-as--currentSpeaker {
    @include f2-app;
    margin: 0px var(--sidebar-margin);
  }
}
