/* ----------------------------------------- */
/* PF2e Target Damage                        */
/* ----------------------------------------- */
.pf2e-td.name {
  font-size: var(--font-size-9);
}

[data-theme] .pf2e-td .damage-application {
  margin-top: unset;
}

[data-theme] {
  .pf2e-td.small-button.target-button {
    @include dui-button-toggle;
  }
}

[data-theme].message.chat-message .message-content .pf2e.chat-card .card-buttons .save.pf2e-td {
  &.criticalSuccess {
    --dui-button-background: var(--degree-success-critical);
    --button-hover-background: var(--degree-success-critical);
    --dui-button-text-color: white;
  }

  &.success {
    --dui-button-background: var(--degree-success);
    --button-hover-background: var(--degree-success);
    --dui-button-text-color: white;
  }

  &.failure {
    --dui-button-background: var(--degree-failure);
    --button-hover-background: var(--degree-failure);
    --dui-button-text-color: white;
  }

  &.criticalFailure {
    --dui-button-background: var(--degree-failure-critical);
    --button-hover-background: var(--degree-failure-critical);
    --dui-button-text-color: white;
  }
}

.chat-message .message-content .pf2e-td.damage-application button .label {
  font-size: var(--font-size-8);
}

wrapper.pf2e-td.name-top .pf2e-td.name {
  // System styling
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset;
  width: 100%;
}
