[data-theme] {
  &#token-action-hud-core-settings input {
    @include dui-input;
  }
}

#tooltip[data-theme] {
  &.locked-tooltip.tah-tooltip :is(a.content-link, a.inline-roll),
  &.tah-tooltip :is(a.content-link, a.inline-roll),
  &.active:has(.tah-tooltip-wrapper) :is(a.content-link, a.inline-roll) {
    background: var(--inline-background);
    border: 1px solid var(--inline-border-color);
    color: var(--inline-text-color) !important;
    box-shadow: var(--inline-box-shadow);

    &.broken {
      border: 1px dashed red;
      background: rgba(255, 0, 0, 0.05);
    }

    &.gmroll {
      background: #e8e8ef;
      border-color: #545469;
    }
    &.blindroll {
      background: #f5eaf5;
      border-color: #6b476b;
    }

    &::before,
    i,
    i.icon {
      color: var(--inline-icon-color);
    }

    [data-visibility]:not([data-visibility="all"]) {
      color: var(--inline-text-color) !important;
      outline: 1px dashed var(--inline-text-color);
    }
  }
}

// [data-theme] {
//   &#token-action-hud-app #token-action-hud {
//     .tah-button-box.tah-group-button {
//       @include dui-button;
//     }
//     button {
//       background: red;
//       @include dui-button;
//     }
//   }
// }

[data-theme] {
  &#token-action-hud-app #token-action-hud {
    .tah-action-button,
    .tah-action-button:focus,
    .tah-group-button,
    .tah-group-button:focus,
    .tah-button-box.tah-group-button {
      @include dui-button;
      --tah-button-background: var(--dui-button-background);
    }

    .tah-subtitle-text {
      color: var(--text-color-1);
    }

    .tah-info1,
    .tah-info2,
    .tah-info3 {
      color: var(--text-color-4);
      font-size: x-small;
    }

    button {
      transition: unset !important;
    }

    #tah-expand-hud {
      @include dui-app;
      justify-content: center;
      width: 32px;
      > i {
        color: var(--text-color-3);
        text-shadow: 0px 1px 2px black;
      }
    }

    #tah-collapse-hud,
    #tah-unlock {
      --box-shadow: none !important;
      box-shadow: none !important;
    }

    .tah-action-button.toggle {
      @include dui-button-toggle;
    }

    .tah-button-image {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    .tah-group[data-level="3"] > .tah-list-image {
      @include dui-app;
    }

    .tah-action button.tah-pf2e-skill-rank-1 {
      --dui-button-background: #171f69;
      --button-hover-background: #3a47ba;
      --dui-button-border-color: #3a47ba;
    }

    .tah-action button.tah-pf2e-skill-rank-2 {
      --dui-button-background: #3c005e;
      --button-hover-background: #630e94;
      --dui-button-border-color: #630e94;
    }

    .tah-action button.tah-pf2e-skill-rank-3 {
      --dui-button-background: #640;
      --button-hover-background: rgb(153, 107, 14);
      --dui-button-border-color: rgb(153, 107, 14);
    }

    .tah-action button.tah-pf2e-skill-rank-4 {
      --dui-button-background: #5e0000;
      --button-hover-background: #960b0b;
      --dui-button-border-color: #960b0b;
    }

    .tah-action button.tah-pf2e-skill-rank-1,
    .tah-action button.tah-pf2e-skill-rank-2,
    .tah-action button.tah-pf2e-skill-rank-3,
    .tah-action button.tah-pf2e-skill-rank-4 {
      --dui-button-text-color: var(--text-color-2);
    }
  }
}
