[data-theme] {
  #tokenizer div.avatar div.view > div > canvas,
  #tokenizer div.token div.view > div > canvas {
    @include dui-app;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
      linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%),
      linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }

  #tokenizer div.menu,
  #tokenizer div.view-layer-control {
    background: unset;
  }

  #tokenizer div.view-layer-control {
    border: unset;
  }

  #tokenizer div.view-layer-control canvas,
  #tokenizer div.view-layer-control .section.move-control button {
    border-radius: var(--border-radius);
  }

  #tokenizer button .fa-regular::before,
  #tokenizer button .fas::before,
  #tokenizer button .button-fas::before {
    margin-top: unset;
  }

  #tokenizer div.view-layer-control .section,
  #tokenizer .section {
    @include dui-app;
    border-color: var(--color-secondary-3);
    button {
      @include dui-button;
      align-items: center;
    }
  }

  #tokenizer button.menu-button {
    @include dui-button;
    align-items: center;
  }

  &.tokenizer .title .box-button {
    @include dui-button;
    --dui-button-background: var(--color-secondary-2);
    --dui-button-border-color: var(--color-primary-1);
    --dui-button-text-color: var(--text-color-1);
    --dui-button-focus-outline-color: var(--color-primary-1);
    --button-hover-background: var(--color-secondary-3);
    --button-hover-border-color: var(--color-secondary-2);
    --dui-button-hover-text-color: var(--text-color-2);

    &.deselected {
      --dui-button-background: var(--color-secondary-3);
      --dui-button-border-color: var(--color-secondary-2);
      --dui-button-text-color: var(--text-color-2);
      --dui-button-focus-outline-color: var(--color-primary-1);
      --button-hover-background: var(--color-secondary-2);
      --button-hover-border-color: var(--color-secondary-1);
      --dui-button-hover-text-color: var(--text-color-1);
    }

    > i:before {
      margin-top: 50% !important;
    }
  }
}
