[data-theme] .vauxs-archive {
  // Would be cool, but does not include an "active" class when depressed
  //   button {
  //     @include dui-button-toggle;
  //   }
  input {
    @include dui-input;
  }
}
