#window-tabs-journal.dorako-ui {
  > .window-content {
    border: unset;
    margin: unset;
    box-shadow: unset;
    background: unset;
  }

  > header.window-header .window-tabs {
    height: 37px;
    padding-top: 5px;

    a.window-tabs--tab {
      border-radius: 5px;
      margin-bottom: 3px;
    }
  }
}
