/* ----------------------------------------- */
/* PF2e Workbench                            */
/* ----------------------------------------- */

// required to have higher specificity than Workbench
html {
  .xdy-pf2e-workbench-rarity-common {
    color: var(--rarity-common) !important;
    border-color: var(--rarity-common) !important;
  }

  .xdy-pf2e-workbench-rarity-uncommon {
    color: var(--rarity-uncommon) !important;
    border-color: var(--rarity-uncommon) !important;
  }

  .xdy-pf2e-workbench-rarity-rare {
    color: var(--rarity-rare) !important;
    border-color: var(--rarity-rare) !important;
  }

  .xdy-pf2e-workbench-rarity-unique {
    color: var(--rarity-unique) !important;
    border-color: var(--rarity-unique) !important;
  }
}

[data-theme] {
  .roll-app-nav button {
    @include dui-button;
  }

  .roll-app .roll-app-table tbody button {
    @include dui-button;
  }
  .roll-app .roll-app-table tbody tr.selected {
    background: var(--color-warm-2);
    border-radius: var(--border-radius);
    button.rollable {
      color: var(--color-light-2);
    }
  }
}
