 /* App UI */

 /* Glass - Remove prior styling */

 #players,
 .app,
 .window-app .window-header,
 .window-app.minimized .window-header {
     border: none;
     border-radius: 0px;
     box-shadow: none;
     background: none;
     background-image: none;
 }

 /* Glass - Add new styling */

 #players {
     background-color: var(--dorako-bg-current);
 }

 #players,
 .window-app:not(.outlaws-wrapper, .journal-entry) .window-header,
 .window-app.minimized .window-header {
     border: none;
 }

 #ui-top.offset {
     margin-left: -100px;
     margin-left: unset;
     left: -90px;
     position: relative;
 }


 #ui-top {
     margin: 0 var(--edge-margin) 0 var(--edge-margin);
 }



 #players {
     margin: 0px 0px var(--edge-margin) var(--edge-margin);
 }

 #players h3 {
     border: none;
 }

 .window-app .window-header {
     border-radius: 5px 5px 0px 0px;
     /* box-shadow: var(--glassy); */
     margin-bottom: 0px;
 }

 .window-app .window-content {
     /* box-shadow: 0px 0px 10px black; */
     /* box-shadow: var(--glassy); */
     background: none;
     background-color: var(--bg);
     background-image: var(--pf2e-sheets-bg);
     background-size: cover;
 }

 #players,
 .window-app .window-header a,
 .window-app .window-header .window-title {
     text-shadow: var(--dorako-text-shadow), var(--dorako-text-shadow);
 }

 .editable .crb-style {
     text-rendering: geometricPrecision;
 }

 #compendium-browser>section.window-content>.content-box>nav, #license-viewer>section.window-content>.content-box>nav {
     box-shadow: none;
 }

 #compendium-browser>section.window-content>.content-box>section.content, #license-viewer>section.window-content>.content-box>section.content {
     /* height: calc(100% - 40px); */
     margin-top: 5px;
 }

 .window-app .window-content {
     padding: 5px;
     border-radius: 0px 0px 5px 5px;
 }


 .app {
     color: var(--color-text-light-1);
 }

 .window-app .window-resizable-handle {
     position: absolute;
     bottom: -5px;
     right: -5px;
     background: none;
     padding: 2px;
     border: none;
     text-shadow: var(--dorako-text-shadow);
 }

 .app.sidebar-popout {
     border: none;
     border-radius: 5px;
     /* min-width: 300px; */
     overflow: hidden;
     /* background-color: var(--dorako-bg-current); */
 }

 /* .window-content * {
    text-shadow: 0px 1px rgb(255 255 255 / 50%);
} */

 .window-content .sidebar-tap * {
     text-shadow: 0px 1px rgb(0 0 0 / 50%);
 }

 #context-menu {
     border: none;
     background: var(--pf2e-color-mono-dark);
     box-shadow: var(--glassy);
 }

 #context-menu ol.context-items {
     /* background: var(--pf2e-color-mono-dark);
    box-shadow: var(--glassy); */
     border-radius: 3px;
     position: static;
     z-index: -1;
 }

 #context-menu li.context-item {
     cursor: pointer;
     text-shadow: var(--pf2e-shadow-is-dark);
 }

 #context-menu li.context-item:hover {
     color: wheat;
 }

 #hotbar .macro .tooltip {
     display: block;
     min-width: 148px;
     height: 26px;
     padding: 2px 4px;
     position: absolute;
     top: -40px;
     left: -50px;
     background: var(--pf2e-color-mono-dark);
     box-shadow: var(--glassy);
     border: none;
     border-radius: 3px;
     color: white;
     line-height: 22px;
     text-align: center;
     white-space: nowrap;
     word-break: break-all;
 }

 #fps {
     /* width: 85px; */
     margin: 0px;
     align-self: space-evenly;
     font-family: var(--font-mono);
     background: var(--dorako-bg-current);
     line-height: 24px;
     color: white;
     border: none;
     border-radius: 5px;
     box-shadow: var(--glassy);
     justify-content: space-between;
     flex-direction: row;
     margin-bottom: var(--edge-margin);
     margin-right: 10px;
     padding-left: 5px;
     padding-right: 5px;
     text-shadow: var(--dorako-text-shadow);
     font-weight: 900;
     position: absolute;
     right: 0px;
     width: 55px;
     justify-content: center;
 }

 #fps label {
     display: none;
 }



 .window-app.image-popout .window-content {
     background: unset;
     padding: 0px;
 }

 .window-app.image-popout .lightbox-image {
     background-size: contain;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     flex: auto;
 }

 .app.sidebar-popout .window-content {
     /* background-color: var(--dorako-bg-current); */
     overflow: hidden;
 }

 .sidebar-popout {
     overflow: auto;
     resize: both;
     /* box-shadow: var(--glassy); */
 }

 #players {
     bottom: unset;
     left: unset;
     font-size: var(--playerfsize);
     visibility: var(--playervis);
     opacity: var(--opacity);
     box-shadow: var(--glassy);
     position: unset;
     border: none;
     border-radius: 3px;
 }




 /* Monarch */
 .window-app.monarch .window-content {
     background-color: transparent;
     box-shadow: none;
     transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out;
 }


 .window-app.monarch-deck .window-content,
 .window-app.monarch-hand:not(.minimized):hover .window-content,
 .window-app.monarch .window-content:hover {
     background-color: var(--dorako-bg-current);
     box-shadow: var(--glassy);
     transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out;
 }

 .app.window-app.monarch.monarch-hand.sheet.hand .window-content {
     border-radius: 5px;

 }


 .window-app.monarch.pile .window-content {
     background-color: var(--dorako-bg-current);
     box-shadow: var(--glassy);
 }


 .window-app.monarch-deck,
 .window-app.monarch-deck:hover,
 .window-app.monarch-pile:hover {
     background-color: transparent;
     box-shadow: none;
 }

 .monarch button {
     border-radius: 3px;
     background-color: hsla(0, 0%, 20%, 50%);
     box-shadow: var(--glassy);
 }

 .window-app.monarch-pile {
     background-color: transparent;
     box-shadow: none;
 }

 .monarch-hand footer.sheet-footer {

     background: none;
     padding: 0.5em;
     margin: 0 8px;
     border-radius: 8px;
     box-shadow: var(--glassy);
     display: flex;
     flex-direction: row;
     align-items: stretch;
     gap: 4px;
     margin-bottom: 5px;
     background-color: var(--dorako-bg-current);
     line-height: unset;
 }

 .window-app.monarch-hand:not(.minimized):hover {
     background-color: transparent;
     box-shadow: none;
 }

 .monarch-deck .cards,
 .monarch-pile .cards {
     margin: 0px;
     gap: 10px;
 }

 .window-app.monarch-hand .window-header,
 .monarch-hand .tooltip,
 .monarch .card-hud .badge,
 .monarch .card-hud .card-controls {
     background: none;
     background-color: var(--dorako-bg-current);
     border: none;
     border-radius: 5px;
     box-shadow: var(--glassy);
 }

 .window-app.monarch-hand:not(.minimized) .window-header {
     margin-top: 0px;
     margin-left: 5px;
 }

 .monarch-deck .card,
 .monarch-pile .card {
     box-shadow: 0px 0px 10px black;
     transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
 }

 .monarch-deck .card:hover,
 .monarch-pile .card:hover {
     box-shadow: 0px 0px 20px black;
     transform: scale(1.0);
     transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
 }

 #notifications .notification {
     border: none;
     box-shadow: var(--glassy);
     text-shadow: var(--pf2e-shadow-is-dark);
     background: none;
 }

 #notifications .notification.info {
     background-color: var(--paizo-blue-bright);
     background-color: #222C8CDD;
 }

 #notifications .notification.error {
     background-color: var(--paizo-red-bright);
     background-color: #83180FDD;
     /* background: hsla(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) + 10%), 80%); */
 }

 #notifications .notification.warning,
 #notifications .notification.alert {
     background-color: #ECBF41DD;
     color: black;
     text-shadow: var(--pf2e-shadow-is-light);
 }

 #tokenbar .bar-controls,
 #tokenbar .token {
     background: none;
     background-color: var(--dorako-bg-current);
     border-radius: var(--dorako-radius);
     box-shadow: var(--glassy);
     border: none;
 }

 #tokenbar .bar-controls div#tokenbar-move-handle {
     background: none;
     box-shadow: var(--glassy);
     border-radius: 3px 0px 0px 3px;
     cursor: grab;
 }

 #tokenbar .token-list {
     border: none;
     gap: 3px;
 }

 #tokenbar .token .token-stats {
     background: none;
     justify-content: center;
 }

 /* #tokenbar .token:hover .token-icon {
     box-shadow: var(--gold-and-glow);
     border-radius: 50%;
 } */

 #tokenbar .token .tooltip {
     background: none;
     background-color: var(--pf2e-color-mono-dark);
     border: none;

 }

 #tokenbar .token .token-icon {
     box-shadow: none;
 }

 #tokenbar .bar-controls {
     margin: 0px;
     margin-right: 1px;
 }

 #tokenbar .bar-controls .tokenbar-buttons div.active:not(.disabled) i,
 #tokenbar[movement="free"] #movement-free:not(.disabled) i,
 #tokenbar[movement="none"] #movement-none:not(.disabled) i,
 #tokenbar[movement="combat"] #movement-combat:not(.disabled) i {
     color: white;
     border: none;
     background-color: var(--paizo-red-bright);
     margin: 1px;
     transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
     box-shadow: var(--gold-and-glow);
 }

 /* Storyteller module */
 .window-app.story-sheet .window-content,
 .window-app.story-sheet .window-header {
     box-shadow: none;
     background-color: transparent;
 }

 .fa-battlemaps.app.window-app .window-content {
     background: #141414;
 }

 /* Ripper's filepicker+ fix, maybe */
 :root {
     --filepickerplus-text-color: var(--color-text-dark-primary);
     --filepickerplus-background-color: var(--bg);
 }