 /* App UI */

/* Glass - Remove prior styling */

#players,
.app,
.window-app .window-header,
.window-app.minimized .window-header
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    backdrop-filter: none;
    background: none;
    background-image: none;
}



/* Glass - Add new styling */

#players,
.window-app .window-header,
.window-app.minimized .window-header
{
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    /*will-change: backdrop-filter;*/
    transform: translate3d(0px, 0px, 0px);
    box-shadow: var(--glassy);
}

#ui-top.offset {
    margin-left: -100px;
    margin-left: unset;
    left: -90px;
    position: relative;
}


#ui-top {
    margin: 0 var(--edge-margin) 0 var(--edge-margin);
}

/* Hotbar */
#ui-bottom {
    /* margin-left: 9px; */
    margin-left: var(--hotbar-margin-left);
}


#players {
    margin: 0px 0px var(--edge-margin) var(--edge-margin);
}

#players h3 {
    border: none;
}

.window-app .window-header {
    border-radius: var(--dorako-radius) var(--dorako-radius) 0px 0px;
    box-shadow: var(--glassy);
}

.window-app .window-content {
    /* box-shadow: 0px 0px 10px black; */
    box-shadow: var(--glassy);
    background: none;
    background-color: var(--bg);
    background-image: var(--pf2e-sheets-bg);
    background-size: cover;
}

#players,
.window-app .window-header a,
.window-app .window-header .window-title {
    text-shadow: var(--dorako-text-shadow);
}

.editable .crb-style {
    text-rendering: geometricPrecision;
}

#compendium-browser>section.window-content>.content-box>nav, #license-viewer>section.window-content>.content-box>nav {
    box-shadow: none;
}

#compendium-browser>section.window-content>.content-box>section.content, #license-viewer>section.window-content>.content-box>section.content {
    height: 100%;
    margin-top: 5px;
}

.window-app .window-content {
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
}

.window-app .window-header {
    margin-bottom: 0px;
}

.app {
    color: var(--color-text-light-1);
}

.window-app .window-resizable-handle {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: none;
    padding: 2px;
    border: none;
    text-shadow: var(--dorako-text-shadow);
}

.app.sidebar-popout {
    border: none;
    border-radius: var(--dorako-radius);
    /* background-color: var(--dorako-bg-current); */
}

/* .window-content * {
    text-shadow: 0px 1px rgb(255 255 255 / 50%);
} */

.window-content .sidebar-tap * {
    text-shadow: 0px 1px rgb(0 0 0 / 50%);
}

#context-menu {
    border: none;
    background: none;
    box-shadow: none;
}

#context-menu ol.context-items {
    background: var(--pf2e-color-mono-dark);
    box-shadow: var(--glassy);
    border-radius: 3px;
    position: static;
    z-index: -1;
}

#context-menu li.context-item {
    cursor: pointer;
    text-shadow: var(--pf2e-shadow-is-dark);
}

#context-menu li.context-item:hover {
    color:wheat;
}

#hotbar .macro .tooltip {
    display: block;
    min-width: 148px;
    height: 26px;
    padding: 2px 4px;
    position: absolute;
    top: -40px;
    left: -50px;
    background: var(--pf2e-color-mono-dark);
    box-shadow: var(--glassy);
    border: none;
    border-radius: 3px;
    color: white;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;
}

#fps {
    /* width: 85px; */
    margin: 0px;
    align-self: space-evenly;
    display: none;
    font-family: var(--font-mono);
    background: var(--dorako-bg-current);
    line-height: 24px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: var(--glassy);
    justify-content: space-between;
    display: flex !important;
    flex-direction: row;
    margin-bottom: var(--edge-margin);
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: var(--dorako-text-shadow);
    font-weight: 900;
    position:absolute;
    right:0px;
    backdrop-filter: var(--dorako-vibrancy);
    width: 55px;
    justify-content: center;
}

#fps label {
    display: none;
}



.window-app.image-popout .window-content {
    background: var(--dorako-bg-current);
    padding: 0px;
}

.window-app.image-popout .lightbox-image {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    flex: auto;
}

.app.sidebar-popout .window-content{
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    overflow: hidden;
}

.sidebar-popout {
    overflow: auto;
    resize: both;
}

#players {
    bottom: unset;
    left: unset;
    font-size: var(--playerfsize);
    visibility: var(--playervis);
    opacity: var(--opacity);
    box-shadow: var(--glassy);
    position: unset;
    border: none;
}