:root {
    --bg-current: var(--bg-dark);
    --pf2e-body-primary: hsl(0, 0%, 100%);
    --pf2e-body-secondary: hsl(0, 0%, 60%);
    --pf2e-body-inverse: hsl(0, 0%, 00%);

    --pf2e-shadow-dynamic: var(--pf2e-half-transparent-dark);
    --pf2e-color-ornament: var(--pf2e-color-ornament-for-dark);
    --pf2e-translucent-middle: var(--pf2e-translucent-middle-for-dark);
    --pf2e-translucent-very: var(--pf2e-translucent-very-for-dark);
    --filter-img: var(--filter-dark);
}

#chat-log select,
#chat-log button,
#chat-log form button,
.dice-roll .dice-formula,
.dice-total:not(.statuseffect-message),
.message-content .chat-damage-buttons button {
    box-shadow: var(--glassy);
    background-color: hsla(0, 0%, 0%,0.0);
    border: none;
    color: white;
}

.pf2e.chat-card .card-content {
    border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dmgBtn-container {
    display: flex;
    gap: 3px;
}

.chat-message .table-draw .table-results .table-result img.result-image {
    filter: var(--filter-dark);
}