/* Chat */


.message.emote p {
    text-align: center;
}


.message .message-header .message-metadata {
    margin-left: 0px;
}

.message .tag {
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-shadow: none;
}

.message-content .chat-damage-buttons button>i.fas {
    left: 0px;
    top: 0px;
}

.message .message-header .whisper-to {
    margin-bottom: 0px;
}

#chat-controls {
    margin-top: 5px;
}

.message .message-content {
    padding: 5px;
}

#chat-form,
#chat-controls,
.dice-tray>*,
.dice-tray button,
.dice-tray .dice-tray__stacked,
#polyglot,
#dfcp-rt-buttons {
    margin: 0px;
    height: unset;
    line-height: unset;
}

#dfcp-rt-buttons button {
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    transform: translate3d(0px, 0px, 0px);
    box-shadow: var(--glassy);
}

#polyglot,
#chat-controls {
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    width: -webkit-fill-available;
}


#chat {
    margin: 2px;
    padding-bottom: 2px;
}

.message-sender {
    white-space: pre-wrap;
    place-self: center;
}

.message-content .dice-roll .dice-result .dice-total.statuseffect-message,
.message-content .dice-roll .dice-result .dice-total.statuseffect-message:hover {
    border: 0px;
    margin-top: 5px;
    box-shadow: none;
    background: none;
}

.message-content .dice-roll .statuseffect-message ul {
    padding: 0px;
}

.message-content h3.chat-portrait-text-size-name {
    display: flex;
    align-items: center;
    justify-content: left;
}

.message .message-header img.message-portrait {
    margin: 0px;
}

#chat-log .message .message-header .flavor-text>img.message-portrait {
    display: none;
}

.tags {
    margin-bottom: 0px;
}

.dice-checks .window-content {
    border-image: none;
    border-style: none;
    border-width: 0px;
}

.pf2e.chat-card .card-header {
    align-items: center;
    border: none;
    display: flex;
}

.pf2e.chat-card .card-header h3 {
    line-height: normal;
    font-family: var(--serif);
    font-weight: 500;
    font-size: 21px;
    line-height: unset;
    font-variant: common-ligatures;
    text-shadow: var(--pf2e-text-shadow);
}

.pf2e.chat-card .card-content {
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:%23231f20;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:gray;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-image-width: 14px;
    border-style: double;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0px;
    font-weight: 500;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pf2e.chat-card .card-content p {
    padding: .2em;
    text-shadow: 0px 1px 0px rgb(255 255 255 / 50%);
    margin: 0px;
}


.pf2e.chat-card {
    text-rendering: geometricPrecision;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pf2e.chat-card .card-header {
    padding: 0px;
    gap: 5px;
}

.pf2e.chat-card .card-header img {
    flex: 0 0 34px;
    height: 34px;
    margin-right: 0px;
    width: 34px;
    border-radius: 0px;
    box-shadow: var(--gold-and-glow);
    border: none;
    margin: 1px;
}

.pf2e.chat-card .tags {
    margin: 0px;
}


#chat-log .flavor-text>hr {
    margin-top: 0px;
    margin-bottom: 3px;
    border: 0px none red;
}

.pf2e.chat-card .card-buttons .hidden-to-others {
    border: 1px dotted;
}

#chat-log {
    padding-bottom: 3px;
    gap: 8px;
}

.message-content .flavor-text {
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.message-content .flavor-text hr {
    display: none;
}

.message-content .chat-damage-buttons button .label {
    font-size: 0.5em;
}

.dice-roll .dice-result .dice-tooltip .damage-type {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.message-content .chat-damage-buttons button {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px #fff inset;
    border: 1px solid var(--color-border-light-2);
}

#chat-controls .control-buttons {
    color: rgba(255, 255, 245, 0.8);
}

.message-header {
    color: var(--pf2e-body-primary);
}

.pf2e.chat-card .card-buttons .spell-attack-buttons {
    gap: 5px;
}

.dice-roll .dice-formula {
    margin-bottom: 3px;
    margin-top: 0px;
}

.message-content .chat-damage-buttons {
    gap: 3px;
    margin-top: 0px;
}

.dfce-cm-middle .dfce-simple-timestamp,
.dfce-cm-bottom .dfce-simple-timestamp,
.dfce-cm-middle>.message-header .sender-wrapper,
.dfce-cm-bottom>.message-header .sender-wrapper,
.dfce-cm-middle>.message-header>.message-metadata,
.dfce-cm-bottom>.message-header>.message-metadata {
    display: none;
}

#command-menu {
    display: none;
}

.message {
    box-shadow: var(--gold-and-glow);
    border: none;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 3px;
}

.chat-message>.message-content .chat-damage-buttons button.half-damage .transparent-half {
    background: #DCD8D6;
    left: 50%;
}

.message-content .chat-damage-buttons button .plus {
    color: #DCD8D6;
}

.message .message-header img.message-portrait {
    display: flex;
}

.message .message-header .message-sender {
    display: flex;
}

.message .message-header .message-metadata {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.message.dfce-cm-bottom .message-header,
.message.dfce-cm-middle .message-header {
    background: transparent;
    box-shadow: none;
    text-shadow: 0px 0px 1px white;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
}

.message.dfce-cm-top {
    border-bottom-style: none !important;
}

.message.dfce-cm-middle {
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-radius: 0px !important;
}

.message.dfce-cm-bottom {
    border-top-style: none !important;
}

#dfcp-rt-buttons button {
    color: var(--color-text-light-1);
}

#dfcp-rt-buttons button.active i {
    color: var(--color-text-light-1)
}

#dfcp-rt-buttons>button :hover {
    color: var(--color-text-light-4);
}

.directory {
    overflow: auto;
}



































/* DARK MODE */

:root {


    --pf2e-body-primary: hsl(0, 0%, 10%);
    --pf2e-body-secondary: hsl(0, 0%, 25%);
    --pf2e-body-inverse: hsl(0, 0%, 100%);

    --pf2e-shadow-dynamic: var(--pf2e-half-transparent-light);
    --pf2e-color-ornament: var(--pf2e-color-ornament-for-light);
    --pf2e-translucent-middle: var(--pf2e-translucent-middle-for-light);
    --pf2e-translucent-very: var(--pf2e-translucent-very-for-light);
    --filter-img: var(--filter-light);

    --header-text-shadow: var(--pf2e-shadow-is-dark);
    --pf2e-header-text-color: var(--pf2e-body-primary);
    --bg-current: var(--sheet-light);

    /* --bg-current: var(--sheet-light);
    --pf2e-body-primary: hsl(0, 0%, 100%);
    --pf2e-body-secondary: hsl(0, 0%, 60%);
    --pf2e-body-inverse: hsl(0, 0%, 00%);

    --pf2e-shadow-dynamic: var(--pf2e-half-transparent-dark);
    --pf2e-color-ornament: var(--pf2e-color-ornament-for-dark);
    --pf2e-translucent-middle: var(--pf2e-translucent-middle-for-dark);
    --pf2e-translucent-very: var(--pf2e-translucent-very-for-dark);
    --filter-img: var(--filter-dark); */

    /* --chat-portrait-size: 40px; */

    --filter-dark: invert(100%) drop-shadow(0px 1px 1px black);
    --filter-light: drop-shadow(0px 1px 0px white);
    --pf2e-half-transparent-light: hsla(0, 0%, 100%, 0.5);
    --pf2e-half-transparent-dark: hsla(0, 0%, 0%, 0.5);
    --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
    --pf2e-shadow-is-light: 0px 1px var(--pf2e-half-transparent-light);
    --pf2e-text-shadow: 0px 1px var(--pf2e-shadow-dynamic);
    --pf2e-translucent-middle-for-light: hsla(0, 0%, 80%, 0.5);
    --pf2e-translucent-middle-for-dark: hsla(0, 0%, 80%, 0.5);
    --pf2e-transcluent-very-for-light: hsla(0, 0%, 60%, 0.2);
    --pf2e-transcluent-very-for-dark: hsla(0, 0%, 80%, 0.3);
    --pf2e-color-mono-dark: hsl(0, 0%, 15%);
    --pf2e-color-ornament-for-dark: wheat;
    --pf2e-color-ornament-for-light: #808080;




}

/* .chat-message .message-header {
    color: var(--pf2e-body-secondary);
} */

.pf2e.chat-card .card-footer {
    border-top: none;
    color: var(--pf2e-body-secondary);
    /* padding-left: 5px;
    padding-right: 5px; */
    padding-top: 0px;
}


.message-content .chat-damage-buttons button {
    padding-left: 1px;
    padding-right: 1px;
}

.message-content .chat-damage-buttons button,
.dice-tooltip .dice-rolls .roll,
.pf2e.chat-card .card-content p,
.pf2e.chat-card .card-header h3,
.pf2e.chat-card .card-header h4 {
    color: var(--pf2e-body-primary);
    text-shadow: var(--pf2e-text-shadow);
}

.pf2e.chat-card .card-header h4 {
    margin: 0px;
}

/* .pf2e.chat-card .card-header h3 {
    color: var(--pf2e-color-ornament);
} */

/* DARK LIGHT BUTTON TOGGLE */

/* #chat-log select,
#chat-log button,
#chat-log form button,
.dice-roll .dice-formula,
.dice-total:not(.statuseffect-message),
.message-content .chat-damage-buttons button {
    box-shadow: var(--glassy);
    background-color: hsla(0, 0%, 0%,0.0);
    border: none;
} */

#chat-log select,
#chat-log form button,
.dice-roll .dice-formula,
.dice-total:not(.statuseffect-message),
message-content .chat-damage-buttons button {
    box-shadow: none;
    border: 1px solid var(--alt);
    background: hsla(0, 0%, 20%, 0.1);
}

#chat-log .message.emote p.action-content img {
    float: left;
    height: unset;
    margin-right: .5em;
    width: 36px;
    /* border-radius: 0px 0px 0px 3px; */
    margin-left: 2px;
    box-shadow: var(--gold-and-glow);
}

.message-header {
    background: none;
    padding: 5px 5px 0px 5px;
    gap: 5px;
    align-items: center;
}

.portrait-wrapper {
    width: var(--avatar-size);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}

.portrait {
    height: var(--avatar-size);
    z-index: 1;
    object-fit: contain;
}

.portrait.actor {
    border-radius: 3px;
}

.chat-message>.message-content .chat-damage-buttons button.half-damage .transparent-half {
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    height: 18px;
    opacity: .6;
    width: 12px;
}

.chat-message>.message-content .chat-damage-buttons button.half-damage .transparent-half {
    display: none;
}

.chat-message>.message-content .chat-damage-buttons.includes-fumble span.plus {
    left: unset;
}





.message-content .chat-damage-buttons button>img {
    filter: var(--filter-img);
    height: 18px;
    top: 1px;
}

.damage-tag-base {
    background: var(--pf2e-translucent-middle);
    color: var(--pf2e-body-primary);
}

.damage-tag-modifier {
    background: var(--pf2e-translucent-very);
}

.message-content .chat-damage-buttons button {
    /* box-shadow: var(--glassy); */
    /* border:none; */
    /* transition: box-shadow 0.5s ease-in-out; */
}

[data-visibility=owner]:is(div, em, p, span, strong) {
    /* background: #818181; */
    background: none;
    background: var(--pf2e-translucent-very);
    /* border: 1px dashed var(--pf2e-body-primary); */
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 5px;
}

.message [data-pf2-effect-area],
.message [data-pf2-check],
.message a.entity-link,
.message a.content-link,
.message a.inline-roll {
    text-shadow: none;
    /* color: black; */
    border-radius: 3px;
    text-shadow: none;
    width: fit-content;
}

.message button {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.pf2e.chat-card .card-buttons button {
    margin: 0px;
    background-color: var(--paizo-red);
    color: white;
    text-shadow: var(--pf2e-shadow-is-dark);
    line-height: 20px;
}

.pf2e.chat-card .card-buttons button:hover {
    background-color: var(--paizo-red-bright);
}

.pf2e.chat-card [data-visibility=owner] button {
    background-color: var(--pf2e-color-mono-dark);
}

.pf2e.chat-card [data-visibility=owner] button:hover {
    background-color: var(--paizo-red);
    color: white;
    text-shadow: var(--pf2e-shadow-is-dark);
}


.pf2e.chat-card .card-buttons .hidden-to-others {
    border: none;
    background-color: var(--paizo-blue);
}

.pf2e.chat-card .card-buttons .hidden-to-others:hover {
    border: none;
    background-color: var(--paizo-blue-bright);
}




.dice-total:not(.statuseffect-message):hover,
.dice-roll .dice-formula:hover,
.message button:hover {
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, filter 0.15s ease-in-out;
    color: white;
    /* box-shadow: 0px 0px 10px rgba(245,222,179,0.2) inset, var(--glassy); */
    background-color: var(--paizo-red);
    cursor: pointer;
}

.chat-message>.message-content .chat-damage-buttons button:hover>img {
    filter: invert(1);
}

.dice-total:not(.statuseffect-message):hover,
.dice-roll .dice-formula:hover {
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    color: white;
    /* box-shadow: 0px 0px 10px rgba(245,222,179,0.2) inset, var(--glassy); */
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}

/* .message button:hover img {
    filter: var(--filter-dark);
} */

.pf2e.chat-card .card-footer span {
    border-right: 1px groove #fff;
}

.pf2e.chat-card .card-buttons {
    display: flex;
    gap: 5px;
}

/* .chat-message .message-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
} */

button.half-damage .fa-heart-broken::after {
    content: "\f7a9";
    font-family: "Font Awesome 5 Free";
    color: hsla(0, 0%, 50%, 0.5);
    display: block;
    z-index: 1;
    position: absolute;
    top: 1px;
    left: 28%;
    width: 22%;
    overflow: hidden;
}

.message .message-content .chat-damage-buttons button:hover {
    text-shadow: var(--pf2e-shadow-is-dark);
}


.message .message-content .chat-damage-buttons button.shield-block .fa-shield-alt {
    color: #868686;
    transition: color 0.15s;
}

.message .message-content .chat-damage-buttons button.shield-block.shield-activated .fa-shield-alt,
.message .message-content .chat-damage-buttons button.shield-block:hover .fa-shield-alt {
    color: white;
}

.message .message-content .chat-damage-buttons button.shield-block:hover {
    color: white;
    transition: color 0.15s;
    background-color: var(--paizo-blue-bright);
}

.message .message-content .chat-damage-buttons button.shield-block.shield-activated {
    color: white;
    transition: color 0.15s;
    background-color: var(--paizo-blue-bright);
}

.chat-message>.message-content .chat-damage-buttons button>i {
    margin-right: 0px;
}

.message .message-content .chat-damage-buttons button.shield-block.shield-activated:hover {
    color: white;
    background-color: var(--paizo-blue);
    left: 0%;
}


.message .message-content .chat-damage-buttons button.heal-damage .plus {
    color: var(--pf2e-body-inverse);
    text-shadow: none;
}

.message .message-content .chat-damage-buttons button.heal-damage:hover {
    color: white;
    background-color: darkgreen;
}

.message .message-content .chat-damage-buttons button.heal-damage:hover .fa-plus {
    color: darkgreen;

}

.message .message-content .chat-damage-buttons button.heal-damage:hover .plus {
    color: darkgreen;
}

/* .message-content .chat-damage-buttons button.heal-damage .label,
.message-content .chat-damage-buttons button>i.fa-heart {
    color: var(--pf2e-body-primary);
} */








.message .card-content hr {
    margin-top: 2px;
    border: none;
    border-top: none;
    border-bottom: 1px solid var(--pf2e-color-ornament);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 1px;
}


.message-portrait {
    border-radius: 50%;
    box-shadow: var(--gold-and-glow), var(--glassy);
    background-color: var(--pf2e-color-mono-dark);
}

[data-visibility]:is(div, em, h4, p, span, strong):not([data-visibility=all]) {
    border-radius: 3px;
}

[data-visibility=gm]:is(div, em, h4, p, span, strong) {
    /* border: 1px dotted; */
    border: none;
    cursor: help;
}

[data-visibility=gm]:is(div, em, h4, p, span, strong) {
    background: hsla(0, 0%, 50%, 0.25);
    /* color: var(--pf2e-body-primary);
    text-shadow: var(--pf2e-text-shadow); */
}

[data-visibility=gm]:is(div, em, h4, p, span, strong) {
    /* width: 100%; */
    margin-bottom: 0px;
}

[data-visibility]:is(div, em, h4, p, span, strong):not([data-visibility=all])[data-visibility=owner] {
    background: none;
    background-color: #1f1fa830;
    outline: 1px dashed #a6a6ffd0;

}

[data-visibility]:is(div, em, h4, p, span, strong):not([data-visibility=all])[data-visibility=gm] {
    background: none;
    background-color: hsla(0, 0%, 50%, 0.25);
    /* outline: 1px dotted black; */
}

[data-visibility]:is(div, em, h4, p, span, strong):not([data-visibility=all])[data-visibility=owner] [data-visibility=owner] {
    background: none;
    background-color: none;
}

[data-visibility]:is(div, em, h4, p, span, strong):not([data-visibility=all]) {
    outline: 1px dashed;
}

.message-header [data-visibility]:is(div, em, h4, p, span, strong):not([data-visibility=all]) {
    outline: 1px dashed var(--pf2e-body-primary);
}

.message .message-header.dark-header-text [data-visibility=gm]:is(div, em, h4, p, span, strong) {
    background: hsla(0, 0%, 50%, 0.25);
    outline: 1px dashed black;
    color: black;
    /* mix-blend-mode: color-dodge; */
}

.message .result[data-visibility] {
    padding: 3px;
    margin-top: 3px;
}

.message .message-header.light-header-text .message-sender[data-visibility=gm]:is(div, em, h4, p, span, strong) {
    background: hsla(0, 0%, 50%, 0.25);
    color: white;
    outline-color: white;
    /* mix-blend-mode: color-dodge; */
}

[data-visibility]:is(div, em, h4, p, section, span, strong):not([data-visibility=all]) {
    /* outline: none; */
    outline: 1px dashed rgba(75, 74, 68, 0.5);
}

.flavor-text [data-visibility=gm] {
    margin-top: 0px;
}

.chat-message>.message-content .chat-damage-buttons button>i.fas {
    left: 0px;
}

.flavor-text br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 0;
    /* change this to whatever height you want it */
}


.whisper-to {
    display: flex;
    justify-content: space-between;
}


/* Cautious Gamemaster heal message */
#chat-log .message.emote .message-content {
    color: unset;
}

.message-content .dice-roll .statuseffect-message li img {
    border-radius: 50%;
    box-shadow: var(--gold-and-glow);
}

.message-content .dice-roll .statuseffect-rules {
    background: none;
    background-color: var(--pf2e-color-mono-dark);
    color: white;
    text-shadow: var(--pf2e-text-shadow-dark);
    box-shadow: var(--glassy);
    border: none;
    border-radius: 3px;
    bottom: 110%;
    font-size: 14px;
    font-weight: 400;
    left: -30px;
    padding: 12px;
    transition: opacity 0.25s ease-in-out;
    width: 286px;
    z-index: 1;
}

.chat-message.blind,
.chat-message.whisper,
.chat-message.emote,
.message.damage-log.damage,
.message.damage-log.healing,
.message.damage-log.reverted.damage,
.message.damage-log.reverted.healing {
    background: var(--bg-current);
    background-image: var(--bg-current);
    background-size: cover;
    background-blend-mode: luminosity;
    border: none;
}

.message.damage-log.healing {
    background-color: green;
}

.message.damage-log.reverted.healing {
    background-color: #002000;
}

.message.damage-log.reverted.damage {
    background-color: #202020;
}

.message.emote {
    border: none !important;
}


/* Weird hacks to make hover-popup consistent */
.message-content .dice-roll .statuseffect-li-text {
    /* color: var(--pf2e-body-primary);
    text-shadow: var(--pf2e-text-shadow); */
    display: inline-block;
    width: 285px;
    font-size: medium;
    margin-left: -30px;
    padding-left: 35px;
    font-weight: 500;
    cursor: help;
}

#chat-log .message.round-marker .message-header .flavor-text {
    width: 100px;
}

.flavor-text .chat-portrait-image-size-name {
    display: none;
}

.pf2e.chat-card .card-header h3 {
    display: flex;
    margin-top: 2px;
    line-height: 17px;
}

/* Chat Attack Buttons */
.pf2e.action-card .card-buttons {
    /* padding-left: 5px;
    padding-right: 5px; */
    margin: 0px;
    /* margin-left: 5px;
    margin-right: 5px; */
}

.message .message-header .message-metadata {
    font-size: xx-small;
    display: flex;
    gap: 5px;
    /* flex:none; */
}

.window-app.chat-popout .window-content {
    box-shadow: none;
    background-color: transparent;
    background-image: none;
}

.window-app.chat-popout .window-header {
    border-radius: 5px;
}

/* Red footer */
/* .pf2e.chat-card .card-footer {
    border-top: none;
    color: white;
    text-shadow: var(--pf2e-text-shadow-is-dark);
    background-color: var(--paizo-red);
    margin: -5px;
    padding: 5px;
    padding-top: 0px;
    margin-top: 3px;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid wheat;
} */

.message .message-header {
    grid: unset;
    display: flex;
    border-radius: 5px 5px 0px 0px;
}


/* background-image: linear-gradient(to bottom right, rgba(0, 47, 75, .5), var(--paizo-red)), var(--bg-current); */
/* box-shadow: 0px 1px 0px rgba(0, 0, 0, .5); */
/* border-bottom: 1px solid wheat; */

/* Card background */
.message {
    background-color: white;
    background: var(--bg-current);
    background-size: cover;
    border: none;
    box-shadow: var(--gold-and-glow);
    color: var(--pf2e-body-primary);
    padding: 0;
    text-shadow: var(--pf2e-shadow-dynamic);
}



/* HEADER */


/* Todo */
#navigation #scene-list .scene.context {
    /* color: unset; */
    border: none;
    /* background: unset;
    border-bottom: unset; */
    box-shadow: var(--glassy);
}

#navigation #scene-list .scene.context {
    background-color: var(--paizo-red);
}

#navigation #scene-list .scene.gm.context {
    background-color: var(--paizo-blue-bright);
}

.chat-message .table-draw .table-description {
    border-top: none;
    color: var(--pf2e-body-secondary);
    font-size: unset;
    padding: 0px
}

table.pf2-table td, table.pf2-table th {
    border: 1px solid gray;
    padding: 1px;
    text-align: center;
}

#dfcp-rt-buttons {
    gap: 3px;
}

.chat-control-icon {
    margin-left: 3px;
}

#chat-log .message.dfce-cm-top {
    border-radius: 5px 5px 0px 0px;
    clip-path: inset(-10px -10px 1px -10px);
}

#chat-log .message.dfce-cm-middle {
    border-radius: 0px;
    clip-path: inset(1px -10px 1px -10px)
}

#chat-log .message.dfce-cm-bottom {
    border-radius: 0px 0px 5px 5px;
    clip-path: inset(1px -10px -10px -10px)
}


#chat-log .message.dfce-cm-middle,
#chat-log .message.dfce-cm-bottom {
    margin-top: -11px;
    background-position: left 0px top -100px;
}

#chat-log .message.dfce-cm-middle .message-header .portrait-and-name,
#chat-log .message.dfce-cm-bottom .message-header .portrait-and-name {
    display: none;
}

.dfce-cm-middle .message-delete, .dfce-cm-bottom .message-delete {
    top: 12px;
}

.chat-message .message-header .message-sender {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
    /*flex-direction: column; */
}

.message-metadata {
    flex: none
}

div#scrollToBottom {
    padding: 4px;
    flex: 0;
    display: flex;
    border: none;
    background-color: var(--paizo-blue);
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--glassy);
    top: 0px;
    margin: 0px 2px;
    justify-content: center;
    transition: background-color 0.15s ease-in-out;
}

div#scrollToBottom:hover {
    transition: background-color 0.15s ease-in-out;
    background-color: var(--paizo-blue-bright);
}

.chat-damage-buttons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.chat-message>.message-content .chat-damage-buttons button.half-damage .transparent-half {
    display: none;
}


.flavor-text>strong,
.flavor-text>b {
    text-shadow: var(--pf2e-text-shadow);
    color: var(--pf2e-body-primary);
}

/* .pf2e.chat-card .card-buttons[data-visibility=owner],
.pf2e.chat-card .card-buttons .spell-attack-buttons {
    flex-direction: row;
} */

.pf2e.chat-card .card-buttons-two-column {
    display: flex;
    gap: 3px;
    flex-direction: row;
    width: 100%;
}

.chat-message .message-header {
    line-height: normal;
}



#chat-log .message .message-header .message-sender {
    flex: 0 1 auto;
}

.portrait-wrapper+.sender-wrapper {
    /* flex-direction: column; */
}

.sender-wrapper.no-img {
    flex-direction: row;
}

.sender-wrapper {
    display: flex;
    gap: 3px;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: left;
    align-self: center;
    z-index: 2;
}

.sender-wrapper .message-sender,
.sender-wrapper .player-name {
    align-self: flex-start;
}

/* Persistent Damage */

.pf2e-pd-card .card-content, .pf2e-pd-card .persistent-header {
    font-weight: 500;
}

.pf2e-pd-card .flat-check-failure {
    text-rendering: optimizeLegibility;
    background-color: #ff4500;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
    color: white;
    font-family: var(--sans-serif);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 1;
    padding: 3px 4px;
    text-transform: uppercase;
}

.pf2e-pd-card .flat-check-success {
    text-rendering: optimizeLegibility;
    background-color: blue;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
    color: white;
    font-family: var(--sans-serif);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 1;
    padding: 3px 4px;
    text-transform: uppercase;
}


.chat-message .degree-of-success .criticalFailure,
.chat-message .degree-of-success .failure {
    color: red;
}

.chat-message .degree-of-success .success {
    color: blue;
}

.chat-message .degree-of-success .criticalSuccess {
    color: green;
}


.chat-message .degree-of-success .success:not([data-visibility=gm]) {
    color: #8080FF;
}

.chat-message .target-dc-result .adjusted-dc.decreased {
    color: red;
}

.chat-message .target-dc-result .adjusted-dc.increased {
    color: green;
}

.chat-message .target-dc-result .preadjusted-dc {
    text-decoration: line-through;
}

.chat-message .result,
.chat-message .target-dc {
    width: 100%;
}

/* Monk's little details */
#chat-log .message.round-marker .message-header {
    display: none;
}

#chat-log .message.round-marker .message-content {
    display: flex;
    color: white;
    text-shadow: var(--dorako-text-shadow);
    border-bottom: 1px solid wheat;
}

#chat-log .message.round-marker {
    border-bottom: none;
}

#chat h2 {
    border-bottom: 1px solid var(--pf2e-color-ornament);
}

.message [data-pf2-action] {
    background: #ddd;
    color: black;
    border: 1px solid #4b4a44;
    text-shadow: none;
}

.dfce-simple-timestamp,
.header-meta {
    border-radius: 3px;
    padding: 2px;
    /* text-shadow: var(--pf2e-text-shadow); */
    font-size: x-small;
    align-self: center;
    text-align: center;
    text-shadow: none;
    /* mix-blend-mode: color-dodge; */
    /* line-height: normal; */
}

.chat-message button:hover,
.chat-message button:focus {
    box-shadow: 0px 0px 10px rgba(245, 222, 179, 0.2) inset;
}

.message .message-header.dark-text {
    background-blend-mode: multiply;
}

.message .message-header.dark-header-text {
    color: black;
    text-shadow: var(--pf2e-shadow-is-light);
    background-blend-mode: multiply;
}

.message .message-header.light-header-text {
    color: white;
    text-shadow: var(--pf2e-shadow-is-dark);
    background-blend-mode: multiply;
}

.message.dfce-cm-middle .message-header.light-header-text,
.message.dfce-cm-bottom .message-header.light-header-text {
    color: var(--pf2e-body-primary);
    text-shadow: var(--pf2e-shadow-is-light);
}

.message .message-header {
    text-shadow: var(--pf2e-shadow-is-light);
    color: black;
}

.message .message-header.dark-header-text .message-sender[data-visibility=gm]:is(div, em, h4, p, span, strong) {
    text-shadow: var(--pf2e-shadow-is-light);
    background-color: hsla(0, 0%, 50%, 50%);
    /* mix-blend-mode: lighten; */
}

.message .message-header.light-header-text .message-sender[data-visibility=gm]:is(div, em, h4, p, span, strong) {
    text-shadow: var(--pf2e-shadow-is-dark);
    background-color: hsla(0, 0%, 50%, 50%);
    /* mix-blend-mode: lighten; */
    color: white;
}

.message-header.light-header-text .dfce-simple-timestamp,
.message-header.light-header-text .header-meta {
    color: white;
    background-color: hsla(0, 0%, 50%, 40%);
    border: 1px solid hsla(0, 0%, 100%, 30%);
    mix-blend-mode: screen;
}

.header-meta,
.dfce-simple-timestamp,
.message-header.dark-header-text .header-meta {
    color: hsla(0, 0%, 20%, 100%);
    background-color: hsla(0, 0%, 90%, 50%);
    border: 1px solid hsla(0, 0%, 30%, 40%);
}

.message.dark-theme .dice-roll .dice-result .dice-tooltip .damage-type {
    mix-blend-mode: screen;
}

#chat-log .message.koboldworks .message-header {
    display: none;
}

.chat-message.koboldworks.turn-announcer {
    background-color: wheat;
    background-blend-mode: overlay;
}

.chat-message.koboldworks.turn-announcer .portrait {
    overflow: hidden;
}

/* Confetti */
/* .confetti-buttons {
    display: flex;
}

.confetti-buttons {
    overflow: hidden;
    right: 8px;
    top: calc(100% - 45px);
}

.confetti-buttons:hover {
    min-width: 340px;
} */

.portrait-and-name {
    flex-grow: 1;
}

#sidebar {
    overflow: visible;
}

.chat-message .message-header .message-metadata {
    align-content: center;
    flex-grow: 0.8;
}

.chat-message>.message-content .message-buttons {
    gap: 3px;
}

.message button {
    line-height: 20px;
    border: 1px solid var(--alt);
    background: hsla(0, 0%, 20%, 0.1);
}



/* .dice-roll .dice-result {
    margin-top: 5px;
} */

.form-group .dice-result {
    margin-top: 0px;
}

.chat-message h4 {
    margin: 0px;
}


.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: var(--pf2e-color-mono-dark);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 0.5s ease-in-out;
    box-shadow: var(--glassy);
    position: absolute;
    z-index: 1;
    right: 110%;
    bottom: -5px;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.portrait-and-name {
    display: flex;
    gap: 5px;
}

.flavor-text+.dice-roll {
    margin-top: 5px;
}

.target-lock-chat-window .chat-damage-buttons {
    gap: 3px;
    margin: 0px 5px;
}

[data-visibility].owner-buttons:is(div, em, h4, p, section, span, strong):not([data-visibility=all])[data-visibility=gm] {
    background: none;
}

.pf2e.chat-card .card-buttons {
    display: flex;
    gap: 3px;
    flex-direction: column;
    margin: 0px;
    gap: 5px;
    margin-top: 5px;
}

.pf2e.chat-card .owner-buttons {
    gap: 3px;
}

.pf2e.chat-card .card-buttons span {
    line-height: unset;
}

.pf2e.chat-card .card-buttons button.with-image img {
    height: 1.2em;
    border-radius: 3px;
    box-shadow: var(--gold-and-glow)
}

#chat-log .message.narrator-description,
#chat-log .message.narrator-narrative {
    border: none;
}

.dark-theme .monks-tokenbar .sheet .items-list .item .item-name,
.dark-theme .monks-tokenbar .sheet .items-list,
.dark-theme .monks-tokenbar.chat-card .card-header h3 {
    color: white;
}

.dfce-cm-bottom #context-menu,
.dfce-cm-middle #context-menu,
.dfce-cm-top #context-menu {
    display: contents;
}

.chat-message>.message-content .chat-damage-buttons button>i {
    margin-right: 0px;
    /* ffs */
}

/* Target Lock */

#target-damage-chat-window [data-visibility]:is(div, em, h4, p, span, strong):not([data-visibility=all])[data-visibility=gm] {
    background-color: transparent;
}

#target-damage-chat-window {
    border: none;
    margin: none;
}

#target-damage-chat-window {
    border: none;
    margin: 0px;
    padding: 0px 5px 5px 5px;
}

.hidden.right #target-damage-hide-button {
    margin: 2px 0 0 0;
}

.hidden #target-damage-hide-button {
    margin: 5px 0 0 0;
}

.pf2e.chat-card .card-header h3.pf2-icon {
    font-family: Pathfinder2eActions;
    font-size: xxx-large;
    flex: 0 0 34px;
}

.pf2e.chat-card .card-content .spell-info {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding: .2em;
}

.pf2e.chat-card .card-content .spell-info p {
    margin: 0px;
    padding: 0px;
}

.pf2e.chat-card section.card-buttons:empty {
    display: none;
}

.dorako-damage-roll .flavor-text>*:nth-child(-n+3) {
    display: none;
}
