/* Chat */

#sidebar-tabs {
    --sidebar-tab-height: 24px;
    --sidebar-tab-width: 24px;
}

#chat-form,
#chat-controls,
.dice-tray>*,
.dice-tray button,
.dice-tray .dice-tray__stacked,
#polyglot,
#dfcp-rt-buttons {
    margin: 0px;
    height: unset;
    line-height: unset;
}

#chat-controls {
    padding: 0px;
}

#chat {
    margin: 5px;
    margin-top: 0px;
    padding: 2px;
}

.pf2e.chat-card {
    text-rendering: geometricPrecision;
}

.pf2e.chat-card .card-header {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pf2e.chat-card .card-header img {
    flex: 0 0 36px;
    height: 36px;
    margin-right: 5px;
    width: 36px;
    border-radius: 5px;
    box-shadow: var(--gold-and-glow);
    border: none;
    margin-left: 1px;
    margin-top: 1px;
}

.pf2e.chat-card .tags {
    margin: 0px;
}

.flavor-text > hr {
    /* display: none; */
    margin-top: 0px;
    margin-bottom: 3px;
    border: 0px none red;
}

#chat-log {
    /* overflow-x:visible; */
    padding-bottom:3px;
}

#chat-form {
    height: 50px;
    flex: 0 0 25px;
}

.message-content .chat-damage-buttons button .label {
    font-size: 0.5em;
}

.dice-roll .dice-result .dice-tooltip .damage-type {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.message-content .chat-damage-buttons button {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px #fff inset;
    border: 1px solid var(--color-border-light-2);
}

#chat-controls .control-buttons {
    color:rgba(255, 255, 245, 0.8);
}

#chat-form textarea {
    min-height: 50px;
    height: 50%;
    background-image: none;
    border: none;
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: var(--glassy);
    overflow: visible;
}


#chat-log>.chat-message{
    padding: 5px;
}


#chat-log .message .message-header .message-sender {
    margin-left: -5px;
    margin-top: -5px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px 0px 0px 0px;
}

#chat-log .message .message-header .message-metadata {
    margin-right: -5px;
    margin-top: -5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 0px 5px 0px 0px;
}



.sidebar-tab {
    gap: 5px;
}


#chat-log .message {
    margin: 0px;
}

.dice-roll .dice-formula {
    margin-bottom: 3px;
    margin-top: 3px;
}

button {
    margin: 0px;
}

.message-content .chat-damage-buttons {
    gap: 3px;
}


/* Combat Tracker */

#combat li.combatant .token-initiative {
    display: flex;
    align-items: center;
    justify-content: center;
}

#combat #combat-round {
    border-bottom: none;
}

.directory .directory-header,
#combat #combat-controls a,
#combat #combat-round {
    text-shadow: var(--dorako-text-shadow);
}

#combat #combat-round .encounters h4,
#combat #combat-round .encounters a {
    color: unset;
}

#combat #combat-controls {
    border: none;
}

#combat li.combatant {
    border: none;
}

#combat li.combatant.active {
    background: var(--paizo-red-glass);
    box-shadow: var(--gold-and-glow);
    /*background-image: var(--img-red);*/
    background-size: 50px;
    border: none;
}

#combat li.combatant .token-image {
    margin: 5px;
}

.small-chat::after {
    content: '';
    height: 0px;
    position: absolute;
    margin: none;
    border: none;
    cursor: row-resize;
    box-shadow: var(--gold-and-glow);
}



.dfce-cm-middle>.message-header>.message-metadata,
.dfce-cm-bottom>.message-header>.message-metadata {
    display: none;
}

#command-menu {
    display: none;
}

/*
#chat-log > .chat-message.message.flexcol :not(.chat-message.message.flexcol.dfce-cm-middle),
#chat-log > .chat-message.message.flexcol :not(.chat-message.message.flexcol.dfce-cm-bottom){
	margin-top: 15px !important;
}
*/

#chat-log>.chat-message:not(.dfce-cm-middle, .dfce-cm-bottom) {
    margin-top: 10px;
}

#chat-log>.message {
    border: 5px solid red;
    box-shadow: var(--gold-and-glow);
    border: none;
    margin-left:3px;
    margin-right:3px;
}


/* #chat-log .message .message-header .message-sender {
    font-size: small;
    font-weight: 400;
    grid-area: sender;
    border-radius: 5px 0px 0px 0px;
}

#chat-log .message .message-header .message-metadata {
    grid-area: info;
    padding: var(--body-padding);
    border-radius: 0px 5px 0px 0px;
    margin-left: 0px;
} */


#chat-log .message .message-header .flavor-text,
#chat-log .message .message-header .whisper-to {
    grid-area: text;
    padding: var(--body-padding);
}

.message.dfce-cm-top {
    border-bottom-style: none !important;
}

.message.dfce-cm-middle {
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-radius: 0px !important;
}

.message.dfce-cm-bottom {
    border-top-style: none !important;
}

#dfcp-rt-buttons button {
    color: var(--color-text-light-1);
}

#dfcp-rt-buttons button.active i {
    color: var(--color-text-light-1)
}

#dfcp-rt-buttons>button :hover {
    color: var(--color-text-light-4);
}

.directory {
    overflow: auto;
}

/* Polyglot */

#polyglot {
    height: 20px;
    line-height: unset;
}

#polyglot label {
    /* display: flex;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    text-shadow: var(--dorako-text-shadow); */
    display: none;
}

/* Dice Tray */

.dice-tray button {
    padding: 0px;
}

.dice-tray,
.dice-tray .flexrow {
    gap: 5px;
}

.dice-tray {
    display: flex;
    flex-direction: column;
}

#chat-controls .roll-type-select {
    height: unset;
}

.pf2e.chat-card .card-buttons .hidden-to-others {
    border: 1px dotted;
}