#combat-carousel .is-active-combatant.card .active-combatant-wrapper {
    display: none;
}

#combat-carousel .splide__slide:hover .fa-dice-d20,
#combat-carousel .fa-dice-d20 {
    color: var(--paizo-red-bright);
    text-shadow: var(--dorako-text-shadow);
}

#combat-carousel .splide__slider {
    background: none;
    padding: 5px;
}

#combat-carousel .combat-carousel-pagination.visible {
    bottom: 25px;
}

#combat-carousel .splide__slide:hover .name {
    top: -25px;
}

#combat-carousel .initiative input.fa-stack-1x {
    color: var(--color-text-light-highlight);
    font-size: large;
}

#combat-carousel .splide__slide:hover .name,
/* #combat-carousel .name .button-tray, */
#combat-carousel:hover .encounter-controls,
#combat-carousel .encounter-info,
#combat-carousel .combat-controls a,
#combat-carousel .card {
    background: none;
    background-color: var(--dorako-bg-current);
    box-shadow: var(--glassy);
    border-radius: var(--dorako-radius);
    border: none;
    transition: background-color 0.15s ease-in-out;
}

#combat-carousel .splide__slide:hover .name,
#combat-carousel .card {
    /* background-color: var(--pf2e-color-mono-dark); */
}

#combat-carousel .combat-controls a {
    z-index: 1;
    background-color: var(--paizo-blue-dark);
}

#combat-carousel:hover .encounter-controls,
#combat-carousel .encounter-info {
    z-index: 1;
    background-color: var(--pf2e-color-mono-dark);
}

/* #combat-carousel:hover .encounter-controls:hover,
#combat-carousel .encounter-info:hover, */
#combat-carousel .combat-controls a:hover {
    background-color: var(--paizo-blue-bright);
    transition: background-color 0.15s ease-in-out;
}

#combat-carousel .splide__slide:hover meter::after,
#combat-carousel .drag-handle {
    color: var(--color-text-light-highlight);
    text-shadow: var(--dorako-text-shadow);
    background: none;
    top: 70px;
}

#combat-carousel img.overlay-effect {
    left: initial;
}

#combat-carousel .initiative,
#combat-carousel .overlay-hud .tracker-indicators,
#combat-carousel:hover {
    background: none;
}

#combat-carousel .card:hover,
#combat-carousel .card {
    margin-left: 5px;
    margin-top: 20px;
}

#combat-carousel .is-active.card {
    background-color: var(--paizo-red);
}

#combat-carousel .is-active-combatant.card {
    box-shadow: var(--gold-and-glow);
    background-color: var(--paizo-red-dark);
}

#combat-carousel .is-active.is-active-combatant.card {
    background-color: var(--paizo-red-bright);
}

#combat-carousel .card:hover {
    background-color: var(--paizo-red-bright);
    transition: background-color 0.15s ease-in-out;
}

#combat-carousel .splide__slide:hover:not(.combat-round) {
    margin: 0px;
    margin-left: 5px;
    margin-top: 20px;
    transform: scale(1.0);
}

#combat-carousel .splide__track {
    padding-top: 7px;
    margin-left: 45px;
    margin-top: -42px;
}

#combat-carousel .avatar {
    box-shadow: var(--gold-and-glow);
    border-radius: 100%;
    background-color: var(--pf2e-color-mono-dark);
    margin-top: 20px;
    width: 65px;
    height: 65px;
    margin-bottom: 15px;
}

#combat-carousel .avatar img:not(.overlay-effect) {
    /* max-height: 70%; */
    align-self: baseline;
}

#combat-carousel .avatar img.overlay-effect {
    transform: scale(0.7);
    opacity: 1;
}

#combat-carousel .avatar .overlay-effect+img {
    opacity: 0.5;
}

#combat-carousel .container {
    display: flex;
    height: initial;
    justify-content: center;
}

#combat-carousel .avatar img {
    max-height: unset;
}