/* Custom hotbar */


/* Glass - Remove prior styling */

#custom-bar-toggle,
#custom-hotbar-page-controls,
#custom-hotbar .bar-controls,
#custom-hotbar #custom-macro-list,
#ui-bottom nav #custom-hotbar,
#custom-hotbar-page-controls.bar-controls.flexcol,
#custom-hotbar-directory-controls.bar-controls.flexcol {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    backdrop-filter: none;
    background: none;
    background-image: none;
}

/* Glass - Add new styling */

#custom-bar-toggle,
#custom-hotbar-page-controls,
#custom-hotbar-page-controls.bar-controls.flexcol,
#custom-hotbar #custom-macro-list.flexrow {
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    /* backdrop-filter: var(--dorako-vibrancy); */
    /*will-change: backdrop-filter;*/
    transform: translate3d(0px, 0px, 0px);
    box-shadow: var(--glassy);
}

#custom-hotbar #custom-macro-list.flexrow {
    background-color: unset;
    box-shadow: none;
}

#custom-hotbar {
    display: flex;
    align-items: center;
    /*background: pink !important;*/
    gap: 8px;
}

#custom-hotbar .bar-controls {
    margin: 0px;
}

#custom-action-bar {
    display: flex;
    flex-direction: row;
    /*background: purple !important;*/
    width: 602px;
}

/* #custom-hotbar .bar-controls, */
#custom-hotbar #custom-macro-list {
    gap: 2px;
    height: unset;
    margin: 0px;
}


#custom-hotbar .bar-controls {
    /*background: yellow !important;*/
    flex: 0 0 22px;
}


#ui-bottom #custom-hotbar {
    width: 670px !important;
}

#custom-action-bar {
    flex-wrap: unset;
    width: 601px;
    /*background-color: green !important;*/
    gap: 10px;
}

#ui-bottom #custom-hotbar,
#ui-bottom #custom-hotbar #custom-macro-list {
    flex: unset;
    flex-wrap: unset;
    border-radius: 5px;
    padding: 0px;
    margin-right: 9px;
    border: none;
}

#custom-hotbar #custom-macro-list.flexrow {
    border: none;
    /*background-color: yellow !important;*/
    /* padding: 5px; */
    flex-wrap: nowrap;
    flex: 0 0 520px;
}



#custom-hotbar .macro.inactive {
    box-shadow: var(--glassy);
    border: none;
}

#custom-hotbar-page-controls.bar-controls.flexcol {
    display: flex;
    align-items: center;
    justify-content: center;
}

#custom-hotbar.flexrow {
    width: unset;
    height: unset;
    /* bottom: 75px; */
}

#custom-hotbar {
    /*background: green;*/
    gap: 9px;
}

#custom-hotbar .bar-controls {
    text-shadow: var(--dorako-text-shadow);
}

/* #custom-hotbar .macro:hover {
    box-shadow: 0 0 10px var(--color-shadow-highlight) inset;
} */