.dark-theme #sidebar .settings-sidebar button {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out;
  text-shadow: 0 0 3px black;
  background-color: var(--glass-bg-light);
}
.dark-theme #sidebar .settings-sidebar button:hover {
  background-color: var(--glass-bg);
  color: var(--color-text-light-highlight);
}

.dark-theme.dialog .dialog-buttons button.default {
  background-color: var(--secondary);
  border: none;
}
.dark-theme.dialog .dialog-buttons button.default:hover {
  background-color: var(--secondary-light);
}

.dark-theme form .form-group.buttons {
  gap: 5px;
}

.dark-theme {
  --color-underline-active: var(--tertiary-dark);
  --color-underline-header: var(--tertiary-dark);
}

.dark-theme.window-app .window-content {
  border: none;
  background-image: var(--sheet-light);
  background-size: cover;
  /* prettier-ignore */
  border: none;
  margin: 2px;
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px var(--gold-brown);
  background-image: var(--sheet-dark);
  color: var(--color-text-light-heading);
}
.dark-theme.window-app#module-management .package-list .package-title, .dark-theme.window-app#module-management .package-list .package-metadata, .dark-theme.window-app#module-management .package-list .package-description {
  color: var(--color-text-light-highlight);
}
.dark-theme.window-app.package-configuration aside.sidebar {
  border: none;
}
.dark-theme.window-app.sheet header.sheet-header img {
  box-shadow: var(--gold-and-glow);
  border-radius: 5px;
}
.dark-theme.window-app textarea {
  color: white;
  border: 1px solid var(--tertiary);
}
.dark-theme.window-app a[href] {
  color: var(--tertiary-dark);
}
.dark-theme.window-app hr {
  border-top: 1px solid var(--tertiary);
  border-bottom: 1px solid var(--tertiary);
}
.dark-theme.window-app.sheet footer.sheet-footer {
  gap: 5px;
}
.dark-theme.window-app .compendium.directory .directory-list .directory-item {
  border: none;
}
.dark-theme.window-app button {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out;
  text-shadow: 0 0 3px black;
}
.dark-theme.window-app button:hover {
  background-color: var(--primary);
  color: var(--color-text-light-highlight);
  box-shadow: var(--glassy);
}
.dark-theme.window-app button.privacy {
  background-color: #2e0587;
}
.dark-theme.window-app button.privacy:hover {
  color: var(--color-text-light-heading);
  background-color: #440eb9;
}
.dark-theme.window-app button.pm-dropdown ul {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  backdrop-filter: blur(5px);
}
.dark-theme.window-app button.pm-dropdown li:hover {
  background: rgba(0, 0, 0, 0.5);
}
.dark-theme.window-app button.pm-dropdown i {
  color: var(--color-text-light-heading);
}
.dark-theme.window-app button.pm-dropdown:hover i {
  color: var(--color-text-light-highlight);
}
.dark-theme.window-app .private button.privacy {
  color: var(--color-text-light-highlight);
  background-color: #440eb9;
}
.dark-theme.window-app input[type=text],
.dark-theme.window-app input[type=number],
.dark-theme.window-app input[type=search],
.dark-theme.window-app input[type=date],
.dark-theme.window-app input[type=time] {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  padding-left: 5px;
}
.dark-theme.window-app input[type=text]:disabled,
.dark-theme.window-app input[type=number]:disabled,
.dark-theme.window-app input[type=search]:disabled,
.dark-theme.window-app input[type=date]:disabled,
.dark-theme.window-app input[type=time]:disabled {
  background-color: rgba(0, 0, 0, 0.8);
}
.dark-theme.window-app.token-sheet .form-group.children-disabled .range-value,
.dark-theme.window-app input[type=range] + .range-value {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-text-light-heading);
}
.dark-theme.window-app input[type=text], .dark-theme.window-app input[type=number], .dark-theme.window-app input[type=password], .dark-theme.window-app input[type=date], .dark-theme.window-app input[type=time], .dark-theme.window-app input[type=search], .dark-theme.window-app input[type=checkbox], .dark-theme.window-app input[type=radio] {
  color: var(--color-text-light-heading);
  accent-color: var(--tertiary);
}
.dark-theme.window-app input[type=text]:checked, .dark-theme.window-app input[type=number]:checked, .dark-theme.window-app input[type=password]:checked, .dark-theme.window-app input[type=date]:checked, .dark-theme.window-app input[type=time]:checked, .dark-theme.window-app input[type=search]:checked, .dark-theme.window-app input[type=checkbox]:checked, .dark-theme.window-app input[type=radio]:checked {
  accent-color: var(--tertiary);
  filter: none;
}
.dark-theme.window-app select {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  color: var(--color-text-light-heading);
}
.dark-theme.window-app select option {
  background-color: rgb(37, 37, 37);
  color: var(--color-text-light-highlight);
}
.dark-theme.window-app input[type=color][data-edit] {
  border: none;
}
.dark-theme.window-app.token-sheet .tab.active[data-tab=appearance] fieldset > legend {
  color: var(--color-text-light-highlight);
}
.dark-theme.window-app fieldset, .dark-theme.window-app.app.token-sheet .tab.active[data-tab=appearance] fieldset {
  border: 1px solid var(--tertiary);
  border-radius: 5px;
}
.dark-theme.window-app.sheet nav.sheet-tabs {
  border-top: 1px solid var(--tertiary);
  border-bottom: 1px solid var(--tertiary);
}
.dark-theme.window-app form .form-group.slim .form-fields > label,
.dark-theme.window-app form .form-group span.units,
.dark-theme.window-app form .notes, .dark-theme.window-app form .hint {
  color: var(--color-text-dark-6);
}
.dark-theme.window-app.filepicker .private .directory, .dark-theme.window-app.filepicker .public .private.dir {
  background: rgba(115, 49, 255, 0.15);
}
.dark-theme.window-app.filepicker .display-modes a {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  color: var(--color-text-light-highlight);
  text-shadow: 0 0 3px black;
}
.dark-theme.window-app.filepicker .display-modes a:hover {
  background: var(--primary);
  color: var(--color-text-light-highlight);
}
.dark-theme.window-app.filepicker .display-modes a.active {
  background: var(--primary);
  color: var(--color-text-light-highlight);
  text-shadow: 0 0 3px black;
}
.dark-theme.window-app#keybindings .binding .key {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out;
  color: var(--color-text-light-heading);
  text-shadow: 0 0 3px black;
}
.dark-theme.window-app#keybindings .binding .key:hover {
  background-color: var(--primary);
  color: var(--color-text-light-highlight);
}
.dark-theme.window-app#keybindings .binding .key.uneditable {
  background-color: rgba(0, 0, 0, 0.8);
}
.dark-theme.window-app#keybindings .binding .key.uneditable:hover {
  color: var(--color-text-light-heading);
  background-color: rgba(0, 0, 0, 0.8);
}
.dark-theme.window-app#invitation-links .connection.closed {
  color: rgba(255, 0, 19, 0.6);
}
.dark-theme.window-app#invitation-links .connection.open {
  color: green;
}
.dark-theme.window-app#invitation-links .connection.unknown {
  color: rgba(250, 219, 60, 0.814);
}

/*# sourceMappingURL=dark-theme.css.map */
