/* Dice Tray */

/* Glass - Add new styling */

.dice-tray button {
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    /* backdrop-filter: var(--dorako-vibrancy); */
    /*will-change: backdrop-filter;*/
    transform: translate3d(0px, 0px, 0px);
    box-shadow: var(--glassy);
}

.dice-tray button {
    padding: 0px;
}

.dice-tray,
.dice-tray .flexrow {
    gap: 5px;
}

.dice-tray {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

#chat-controls .roll-type-select {
    height: unset;
}

.dice-tray button svg {
    height: 32px;
}