
:root {
    --border-width: 1px;
    --hotbar-height: 62px;
    --header-color: #fff;
    --header-bg: var(--primary);
    --body-padding: 0.0em 0.0em 0em 0em;
}

:root {
    --dorako-bg-glass: rgba(120, 120, 120, 0.20);
    --dorako-bg-dark: rgba(20, 20, 20, 0.60);
    --dorako-orange: rgba(255, 100, 0, 0.5);
    --dorako-bg-current: var(--dorako-bg-dark);

    --blind-bg: #A57aA5;
    --whisper-bg: #E3E3FF;

    /* --dorako-vibrancy: brightness(2.0) contrast(1.2) blur(5px); */
    --dorako-vibrancy: none;
    /*--dorako-vibrancy-active: brightness(1.5) contrast(1.0) blur(15px);
    --dorako-vibrancy-inactive: brightness(0.5) contrast(1.0) blur(15px);*/

    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    --glassy: 0px 0px 2px rgba(255, 255, 255, 0.4) inset, 0px 0px 6px rgba(255, 255, 255, 0.2) inset, 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 0.9);
    --paizo-red: rgb(94, 0, 0);
    --paizo-red-glass: rgba(94, 0, 0,1);
    --paizo-blue-dark: rgba(16, 21, 73);
    --paizo-blue-dark: hsl(234, 64%, 15%);
    --paizo-blue:	rgb(23, 31, 105);
    --paizo-blue: hsl(234, 64%, 25%);
    --paizo-blue-bright: rgb(30, 41, 137);
    --paizo-blue-bright: hsl(234, 64%, 35%);
    --paizo-blue-glass-inactive:rgba(23, 31, 105,0.2);
    --paizo-blue-glass:rgba(23, 31, 105,0.5);
    --color-shadow-highlight: var(--paizo-red);
    --color-shadow-primary: var(--paizo-blue);

    --img-parchment: url(/systems/pf2e/assets/sheet/parchment.webp);
    --img-red: url(/systems/pf2e/assets/sheet/nav-item.webp);
    --pf2e-nav-inactive: url(/systems/pf2e/assets/sheet/nav-item-inactive.webp);
    --pf2e-sheets-bg: url(/systems/pf2e/assets/sheet/background.webp);

    --dorako-text-shadow: 0px 0px 3px black;
    --dorako-box-shadow: 0px 0px 3px black;
    --dorako-radius: 3px;
     /*transition: backdrop-filter 0.3s ease-out;*/
     /*transition: background-color 0.3s ease-out;*/

}



/* .crb-hover .tooltipster-box {
    background-color: none;
    border-image-outset: 0;
    border-image: none;
    border-style: none;
    border-width: 0px;
    box-shadow: none;
    overflow: visible;
}

.crb-hover .tooltipster-box .tooltipster-content .hover-content ul .label {
    font-family: unset;
    text-shadow: var(--dorako-text-shadow);
} */


/*input:not(:disabled),
input:not([type="radio"])*/
select,
button,
form button {
    background: rgba(255, 255, 245, 0.8);
    border: 1px solid var(--color-border-light-tertiary);
    box-shadow: none;
    margin: 0px;
}

.sheet header.sheet-header {
    gap:10px
}

.sheet header.sheet-header h1 input {
    margin:0px;
    width:100%;
}

footer.sheet-footer.flexrow {
    gap: 5px;
    margin-bottom: 5px;
}

#settings div {
    /* margin: 0 8px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#settings button {
    margin: 0px;

}

#settings {
    text-shadow: var(--dorako-text-shadow);
}





form .form-group label {
    line-height: var(--form-field-height);
    flex: 3;
}


#client-settings section.content h2.module-header {
    margin: 5em 0 0 0;
}


#chat-controls i.fas,
#sidebar-tabs i.fas {
    text-shadow: var(--dorako-text-shadow);
}


#logo {
    display: none;
}

button > i {
    margin-right: 0px;
}

/* Glass - Remove prior styling */

.placeable-hud,
#token-hud .attribute,
.placeable-hud input[type="text"]
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    backdrop-filter: none;
    background: none;
    background-image: none;
}

/* Glass - Add new styling */

.placeable-hud .control-icon,
#token-hud .attribute:not(.bar1),
#dfcp-rt-buttons button,
.dice-tray button,
.placeable-hud input[type="text"]
{
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    /*will-change: backdrop-filter;*/
    transform: translate3d(0px, 0px, 0px);
    box-shadow: var(--glassy);
}


input[type=range] {
    -webkit-appearance: unset;
    margin: 18px 0;
    width: 100%;
    box-shadow: none !important;
  }
  input[type=range]:focus {
    outline: none;
    box-shadow: none !important;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #3071a9;
    border-radius: 1.3px;
    box-shadow: none !important;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
    box-shadow: none !important;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
    box-shadow: none !important;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
    box-shadow: none !important;
  }
  input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: none !important;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    box-shadow: none !important;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: none !important;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: none !important;
  }
  input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: none !important;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
    box-shadow: none !important;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
    box-shadow: none !important;
  }