:root {
    --border-width: 1px;
    --header-color: #fff;
    --header-bg: var(--primary);
    --body-padding: 0.0em 0.0em 0em 0em;
    --edge-margin: 5px;

    --dorako-bg-glass: rgba(120, 120, 120, 0.20);
    --dorako-bg-glass: rgba(120, 120, 120, 0.50);
    --dorako-sheet-light: rgba(20, 20, 20, 0.60);
    --dorako-orange: rgba(255, 100, 0, 0.5);
    /* --dorako-bg-current: var(--dorako-bg-glass); */
    --dorako-bg-current: var(--dorako-sheet-light);
    /* --dorako-bg-current: hsl(0,0%, 10%); */
    --pf2e-color-mono-dark: hsl(0, 0%, 15%);

    --blind-bg: #A57aA5;
    --whisper-bg: #E3E3FF;

    --dorako-vibrancy: none;
    /* --dorako-vibrancy: brightness(2.0) contrast(1.2) blur(5px); */
    /* --dorako-vibrancy-active: brightness(1.5) contrast(1.0) blur(15px);
    --dorako-vibrancy-inactive: brightness(0.5) contrast(1.0) blur(15px); */

    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    /* --glassy:
        0px 0px 2px rgba(255, 255, 255, 0.4) inset,
        0px 0px 6px rgba(255, 255, 255, 0.2) inset,
        1px 1px 1px rgba(0, 0, 0, 1),
        1px -1px 1px rgba(0, 0, 0, 1),
        -1px -1px 1px rgba(0, 0, 0, 1),
        -1px 1px 1px rgba(0, 0, 0, 1),
        0px 0px 3px rgba(0, 0, 0, 1),
        0px 0px 4px rgba(0, 0, 0, 0.5); */
    --glassy:
        0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset,
        0px 0px 2px 1px rgba(0, 0, 0, 1),
        0px 0px 5px 0px rgba(0, 0, 0, 0.5);

    --primary-hue: 0;
    --primary-sat: 100%;
    --primary-lvl: 18%;

    --secondary-hue: 234;
    --secondary-sat: 64%;
    --secondary-lvl: 25%;

    --paizo-red-dark: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) - 10%));
    --paizo-red: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lvl));
    --paizo-red-bright: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) + 10%));

    --paizo-blue-dark: hsl(var(--secondary-hue), var(--secondary-sat), calc(var(--secondary-lvl) - 15%));
    --paizo-blue: hsl(var(--secondary-hue), var(--secondary-sat), var(--secondary-lvl));
    --paizo-blue-bright: hsl(var(--secondary-hue), var(--secondary-sat), calc(var(--secondary-lvl) + 15%));

    --color-shadow-highlight: var(--paizo-red);
    --color-shadow-primary: var(--paizo-blue);

    --pf2e-sheets-bg: url(../img/background-light.webp);
    --sheet-light: url(../img/background-light.webp);
    --sheet-dark: url(../img/background-dark4.webp);

    --dorako-text-shadow: 0px 0px 3px black;
    --dorako-box-shadow: 0px 0px 3px black;
    --dorako-radius: 3px;
    /*transition: backdrop-filter 0.3s ease-out;*/
    /*transition: background-color 0.3s ease-out;*/

}


/* .ability-builder-popup .window-content .background-stripes {
    padding: 0px;
    padding-left: 6px;
} */

.dorako-display-none {
    display: none !important;
}

a.content-link,
[data-pf2-check],
a.entity-link,
[data-pf2-action],
[data-pf2-effect-area],
a.inline-roll {
    text-shadow: none !important;
}

a.content-link,
[data-pf2-check],
a.entity-link,
[data-pf2-action],
[data-pf2-effect-area],
a.inline-roll:not(.inline-result) {
    color: black;
}

i[data-pf2-repost] {
    top: 0px;
}