:root {
    --border-width: 1px;
    --header-color: #fff;
    --header-bg: var(--primary);
    --body-padding: 0.0em 0.0em 0em 0em;
    --edge-margin: 5px;

    --dorako-bg-glass: rgba(120, 120, 120, 0.20);
    --dorako-bg-glass: rgba(120, 120, 120, 0.50);
    --dorako-sheet-light: rgba(20, 20, 20, 0.60);
    --dorako-orange: rgba(255, 100, 0, 0.5);
    /* --dorako-bg-current: var(--dorako-bg-glass); */
    --dorako-bg-current: var(--dorako-sheet-light);
    /* --dorako-bg-current: hsl(0,0%, 10%); */

    --blind-bg: #A57aA5;
    --whisper-bg: #E3E3FF;

    --dorako-vibrancy: none;
    /* --dorako-vibrancy: brightness(2.0) contrast(1.2) blur(5px); */
    /* --dorako-vibrancy-active: brightness(1.5) contrast(1.0) blur(15px);
    --dorako-vibrancy-inactive: brightness(0.5) contrast(1.0) blur(15px); */

    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    /* --glassy:
        0px 0px 2px rgba(255, 255, 255, 0.4) inset,
        0px 0px 6px rgba(255, 255, 255, 0.2) inset,
        1px 1px 1px rgba(0, 0, 0, 1),
        1px -1px 1px rgba(0, 0, 0, 1),
        -1px -1px 1px rgba(0, 0, 0, 1),
        -1px 1px 1px rgba(0, 0, 0, 1),
        0px 0px 3px rgba(0, 0, 0, 1),
        0px 0px 4px rgba(0, 0, 0, 0.5); */
    --glassy:
        0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset,
        0px 0px 2px 1px rgba(0, 0, 0, 1),
        0px 0px 5px 0px rgba(0, 0, 0, 0.5);

    --primary-hue: 0;
    --primary-sat: 100%;
    --primary-lvl: 18%;

    --secondary-hue: 234;
    --secondary-sat: 64%;
    --secondary-lvl: 25%;

    --paizo-red-dark: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) - 10%));
    --paizo-red: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lvl));
    --paizo-red-bright: hsl(var(--primary-hue), var(--primary-sat), calc(var(--primary-lvl) + 10%));

    --paizo-blue-dark: hsl(var(--secondary-hue), var(--secondary-sat), calc(var(--secondary-lvl) - 15%));
    --paizo-blue: hsl(var(--secondary-hue), var(--secondary-sat), var(--secondary-lvl));
    --paizo-blue-bright: hsl(var(--secondary-hue), var(--secondary-sat), calc(var(--secondary-lvl) + 15%));

    --color-shadow-highlight: var(--paizo-red);
    --color-shadow-primary: var(--paizo-blue);

    --pf2e-sheets-bg: url(../img/background-light.webp);
    --sheet-light: url(../img/background-light.webp);
    --sheet-dark: url(../img/background-dark2.webp);

    --dorako-text-shadow: 0px 0px 3px black;
    --dorako-box-shadow: 0px 0px 3px black;
    --dorako-radius: 3px;
    /*transition: backdrop-filter 0.3s ease-out;*/
    /*transition: background-color 0.3s ease-out;*/

}

select:hover,
select:focus,
button:hover,
button:focus,
form button:hover,
form button:focus {
    box-shadow: 0px 0px 4px rgb(0 0 0 / 50%) inset;
    background-color: rgba(214, 214, 191, 1);
    transition: background-color 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* body {
    text-rendering: geometricPrecision;
} */




/* .crb-hover .tooltipster-box {
    background-color: none;
    border-image-outset: 0;
    border-image: none;
    border-style: none;
    border-width: 0px;
    box-shadow: none;
    overflow: visible;
}

.crb-hover .tooltipster-box .tooltipster-content .hover-content ul .label {
    font-family: unset;
    text-shadow: var(--dorako-text-shadow);
} */


/*input:not(:disabled),
input:not([type="radio"])*/
select,
button,
form button {
    background: rgba(255, 255, 245, 1);
    border: 1px solid var(--color-border-light-tertiary);
    box-shadow: none;
    margin: 0px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
}

.sheet header.sheet-header {
    gap: 10px
}

.sheet header.sheet-header h1 input {
    margin: 0px;
    width: 100%;
}

footer.sheet-footer.flexrow {
    gap: 5px;
    padding: 5px;
    padding-top: 0px;
}

#settings div {
    /* margin: 0 8px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#settings button {
    margin: 0px;

}

#settings {
    text-shadow: var(--dorako-text-shadow);
}

form .form-group label,
#client-settings section.content h2.module-header,
form .notes, form .hint,
#client-settings nav.tabs {
    text-shadow: 0px 1px white;
}

form .notes,
form .hint,
form .form-group span.units,
form .form-group.slim .form-fields>label {
    /* flex: 0 0 100%; */
    font-size: var(--font-size-12);
    line-height: var(--line-height-16);
    color: #646464;
    margin: 0px;
}


input:disabled {
    color: gray;
    text-shadow: 0px 1px white;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    text-shadow: 0px 1px white;
}

form .form-group label {
    line-height: var(--form-field-height);
    flex: 3;
}


/* #client-settings section.content h2.module-header {
    margin: 5em 0 0 0;
} */


/* #chat-controls i.fas,
#sidebar-tabs .fa-solid,
#sidebar-tabs i.fas {
    text-shadow: var(--dorako-text-shadow);
} */


img {
    border: none;
    border-radius: 0px;
}

.crb-style .sheet-body .sheet-content .spell-list .item .spell-controls .spell-create {
    display: none;
}

::placeholder {
    text-shadow: none !important;
}

.ability-builder-popup .window-content .background-stripes {
    padding: 0px;
    padding-left: 6px;
}

.tooltip:not(.boost) {
    background-color: var(--pf2e-color-mono-dark);
    box-shadow: var(--glassy);
    border: none;
    border-radius: 5px;
    color: white;
    text-shadow: var(--pf2e-text-shadow-is-dark);
}

.dorako-display-none {
    display: none !important;
}

a.content-link,
[data-pf2-check],
a.entity-link,
[data-pf2-action],
[data-pf2-effect-area],
a.inline-roll {
    text-shadow: none !important;
}

a.content-link,
[data-pf2-check],
a.entity-link,
[data-pf2-action],
[data-pf2-effect-area],
a.inline-roll:not(.inline-result) {
    color: black;
}

.dfce-cm-top.light-theme #context-menu li.context-item,
.dfce-cm-middle.light-theme #context-menu li.context-item,
.dfce-cm-bottom.light-theme #context-menu li.context-item {
    color: var(--pf2e-body-primary);
    text-shadow: var(--pf2e-shadow-is-light);
}

.dfce-cm-top.light-theme #context-menu li.context-item:hover,
.dfce-cm-middle.light-theme #context-menu li.context-item:hover,
.dfce-cm-bottom.light-theme #context-menu li.context-item:hover {
    color: var(--pf2e-body-primary);
    text-shadow: 0px 0px 3px wheat;

}

i[data-pf2-repost] {
    top: 0px;
}