/* Dark sheet background */
.actor.sheet.familiar .window-content {
  background: var(--sheet-dark);
  /* background: url("../../../ui/denim.png");
  box-shadow: 0 0 10vw var(--color-shadow-dark) inset; */
}

/* Text color - White */
.actor.sheet.familiar .window-content .familiar-sheet-header .header-content .charname .familiar-title,
.actor.sheet.familiar .window-content .familiar-sheet-header .header-content .details-section,
.familiar .window-content .familiar-sheet-header .header-content .details-section .hp-section .value input,
.familiar .window-content .effects-list .item .item-controls a .fas {
  color: var(--text-light);
}

/* Tertiary text color */
.familiar .window-content .effects-list .item .item-controls a .fas:hover {
  color: var(--tertiary);
}

/* Tertiary dark text color */
.actor.sheet.familiar .window-content .detail .detail-label,
.familiar .window-content .skills-content .skills-list .skill-name .score {
  color: var(--tertiary-dark);
}

/* Skills appearance */
.familiar .window-content .skills-content .skills-list .skill-name {
  color: var(--text-light);
  font-family: var(--body-serif);
  font-size: var(--font-size-14);
  font-weight: 600;
}

/* Skills hover */
.actor.sheet.familiar .window-content .skills-content .skills-list .skill-name:hover {
  border: 1px solid var(--tertiary-dark);
}

/* Familiar name field appearance */
.actor.sheet.familiar .window-content .familiar-sheet-header .header-content .charname input {
  border-bottom: 1px solid transparent;
  color: var(--text-light);
  font-family: var(--serif);
  font-size: 24px;
  font-weight: 500;
}

/* Master Actor selection appearance */
.actor.sheet.familiar .window-content .editable .familiar-sheet-header .header-content .sub-header div>select {
  background: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
  font-weight: 700;
  margin: 0 0 6px 7px;
  padding: 2px 4px 0;
  width: 181px;
  font-family: var(--body-serif);
  height: 26px;
}

/* Master Spellcasting Ability selection appearance */
.actor.sheet.familiar .window-content .familiar-content .familiar-modifier select {
  background: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
  padding: 2px 4px 0;
  height: 26px;
}

/* Drop-down menus background */
.actor.sheet.familiar .window-content select option {
  background: var(--alt);
}

/* Saves hover */
.familiar .window-content .familiar-sheet-header .header-content .details-section .defenses-section .defenses-list .save-name:hover {
  border-bottom: none;
  margin-bottom: 1px;
  text-shadow: 0 0 8px var(--tertiary);
}

/* Attack Roll hover */
.familiar .window-content .skills-content .skills-attack:hover {
  text-shadow: 0 0 8px var(--tertiary);
}

/* Horizontal line (under details section) appearance */
.actor.sheet.familiar .window-content .editable>hr {
  border-bottom: none;
  border-top: 2px solid var(--tertiary);
  margin: 0 -10px 0;
}

/* Horizontal line (above Attack Roll) appearance */
.actor.sheet.familiar .window-content .skills-content hr {
  border-bottom: 2px solid var(--tertiary);
  border-top: none;
  width: 10em;
}

/* Section borders */
.actor.sheet.familiar .window-content .section-container .section-body {
  border-top: none;
  border: 1px solid #8b8fb4;
}

/* Section headers */
.actor.sheet.familiar .window-content .section-container .section-header {
  background: url(../../../systems/pf2e/assets/sheet/border-pattern.webp) repeat-x top, url(../../../systems/pf2e/assets/sheet/border-pattern.webp) repeat-x bottom, var(--secondary);
  border: 1px solid hsla(0, 0%, 100%, .5);
}

/* Section headers text */
.actor.sheet.familiar .window-content .section-container .section-header h4 {
  font-family: var(--serif);
  font-size: 1.25em;
  margin: -6px 0 -8px 3px;
  text-transform: none;
}

/* Creature Type field appearance */
.actor.sheet.familiar .window-content .familiar-content input[type=text] {
  background: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
  height: 26px;
  padding: 2px 4px 0;
}

/* Creature Type field pre-written text appearance */
.actor.sheet.familiar .window-content .familiar-content input[type=text]::placeholder {
  color: var(--text-light);
  filter: brightness(0.8);
}

/* Total # Of Familiar Abilities field appearance */
.actor.sheet.familiar .window-content .detail h4 {
  background: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
  height: 25.5px;
  padding: 6px 4px 0;
  font-family: var(--body-serif);
}

/* Speed & Senses tags appearance */
.actor.sheet.familiar .familiar-senses .tag {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Conditions & Effects image appearance */
.actor.sheet.familiar .window-content .effects .item-image {
  background-size: contain;
  background-color: unset;
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 4px rgba(0, 0, 0, .5);
  flex: 0 0 32px;
  height: 32px;
  margin: 0 8px 0 4px;
  width: 32px;
}

/* Conditions & Effects item position */
.familiar .window-content .effects-list .item {
  padding: 1px 0 5px;
}

/* Conditions & Effects item summary appearance */
.familiar .window-content .effects-list .item-summary {
  font-family: var(--body-serif);
  margin-left: 4px;
  color: var(--text-light);
  font-size: var(--font-size-14);
}

/* Conditions & Effects item name appearance */
.familiar .window-content .effects-list .item .item-name h4 {
  color: var(--text-light);
  font-family: var(--body-serif);
}

/* Conditions & Effects item name hover */
.familiar .window-content .effects-list .item .item-name h4:hover {
  color: var(--tertiary);
}

/* Conditions & Effects comment icon appearance */
.familiar .window-content .effects-list .item .item-name .item-image:hover {
  color: var(--tertiary);
  font-size: 18px;
}

/* Traits appearance */
.actor.sheet.familiar .window-content .familiar-sheet-header .header-content .traits span {
  background-color: #522e2c;
}

/* Size traits appearance */
.actor.sheet.familiar .window-content .familiar-sheet-header .header-content .traits span[title*="Size"] {
  background-color: #478c42;
}

/* Familiar portrait appearance */
.actor.sheet.familiar .window-content .familiar-sheet-header img {
  /* background: url("../../../ui/denim.png"); */
  background: var(--sheet-dark);
  box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39, inset 0 0 8px rgba(0, 0, 0, .5), 0 0 8px #000;
  cursor: pointer;
  margin: 2px -0.5px 10px -1px;
  max-height: 127px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

/* Containers position */
.actor.sheet.familiar .window-content .section-container {
  margin: 6px 2px 0 1px;
}

/* "Familiar", "Conditions", "Effects" containers positioning */
.actor.sheet.familiar .window-content .main-section .main-container {
  margin-left: 3px;
}

/* Attack Roll & Master text */
.actor.sheet.familiar .window-content .editable .familiar-sheet-header .header-content .sub-header div>label>strong,
.actor.sheet.familiar .window-content .skills-content .skills-attack strong {
  color: var(--text-light);
  flex: 1;
  font-size: 13px;
  font-variant: small-caps;
  letter-spacing: .05em;
  line-height: 1;
}

/* HP, Dying, AC & Saves text */
.familiar .window-content .familiar-sheet-header .header-content .details-section .hp-section .label h4,
.familiar .window-content .familiar-sheet-header .header-content .details-section .defenses-section .defenses-list .ac .name,
.familiar .window-content .familiar-sheet-header .header-content .details-section .defenses-section .defenses-list .save-name .name {
  color: var(--tertiary-dark);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .05em;
  text-rendering: optimizeLegibility;
}

/* Defenses positioning */
.familiar .window-content .familiar-sheet-header .header-content .details-section .defenses-section {
  margin-top: 8px;
}

/* Attack Roll value */
.actor.sheet.familiar .window-content .skills-content .skills-attack span {
  color: var(--tertiary-light);
  font-family: var(--serif);
  font-size: 18px;
}

/* HP section positioning */
.familiar .window-content .familiar-sheet-header .header-content .details-section .hp-section {
  padding-top: 5px;
}

/* HP value hover */
.familiar .window-content .familiar-sheet-header .header-content .details-section .hp-section .value input:focus,
.familiar .window-content .familiar-sheet-header .header-content .details-section .hp-section .value input:hover {
  border: 1px solid transparent;
  text-shadow: 0 0 8px var(--tertiary);
  box-shadow: none;
}

/* Dying hover */
.familiar .window-content .familiar-sheet-header .header-content .details-section .hp-section .value.dying-section .fas:hover,
.familiar .window-content .familiar-sheet-header .header-content .details-section .hp-section .value.dying-section .dots.dying:hover {
  text-shadow: 0 0 8px var(--tertiary);
}

/* Master Actor section positioning */
.actor.sheet.familiar .familiar-sheet-header .header-content .details-section .master-section>div:first-child {
  margin-top: -3.5px;
}

/* Save values appearance */
.familiar .window-content .familiar-sheet-header .header-content .details-section .defenses-section .defenses-list .ac .value,
.familiar .window-content .familiar-sheet-header .header-content .details-section .defenses-section .defenses-list .save-name .value {
  color: var(--tertiary-light);
  font-family: var(--serif);
  font-size: 18px;
  margin-top: -5px;
}

/* AC column appearance */
.familiar .window-content .familiar-sheet-header .header-content .details-section .defenses-section .defenses-list .ac {
  border-right: none;
  padding-right: 0;
}

/* Attack Roll section positioning */
.familiar .window-content .skills-content .skills-attack {
  margin-top: -12px;
  max-height: 25.5px;
}

/* AC value shield icon */
.familiar .window-content .familiar-sheet-header .header-content .details-section .defenses-section .defenses-list .ac .value i {
  color: var(--text-light);
  font-size: var(--font-size-14);
  margin-right: 5px;
  vertical-align: 1.5px;
}

/* Master & Defenses section positioning */
.actor.sheet.familiar .window-content .editable .familiar-sheet-header .header-content .sub-header div:nth-child(2) {
  padding-top: 13.5px;
}

/* Defenses section positioning */
.familiar .window-content .familiar-sheet-header .header-content .sub-header {
  margin-bottom: 0;
}

/* Details section positioning */
.actor.sheet.familiar .window-content .familiar-sheet-header .header-content .details-section {
  margin-top: -3.5px;
}

/* Dying value positioning */
.familiar .window-content .familiar-sheet-header .header-content .details-section .hp-section .value.dying-section {
  margin-right: 10px;
}