#chat-log .message .message-header {
    --pf2e-header-text-color: white;
    background-color:var(--paizo-blue);
    background-image: var(--sheet-light);
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: var(--gold-and-glow);
    margin-bottom: 2px;
}