.pf2e.actor.loot.dorako-theme section.sidebar>img.actor-icon {
    border: none;
    box-shadow: var(--gold-and-glow), 0px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 5px;
    border-radius: 5px;
}

.pf2e.actor.loot.dorako-theme .sheet-sidebar,
.pf2e.actor.loot.dorako-theme .sheet-header {
    border: none;
}