/* ----------------------------------------- */
/* DF Chat Enhancements                      */
/* ----------------------------------------- */
.message.chat-message.dfce-cm-top {
  border-bottom-style: none;
  margin-bottom: 0px;
}
.message.chat-message.dfce-cm-top:hover {
  box-shadow: var(--gold-and-glow);
}
.message.chat-message.dfce-cm-middle, .message.chat-message.dfce-cm-bottom {
  border-top-style: none;
  border-bottom-style: none;
  border-radius: 0px;
}
.message.chat-message.dfce-cm-middle:hover, .message.chat-message.dfce-cm-bottom:hover {
  box-shadow: var(--gold-and-glow);
}
.message.chat-message.dfce-cm-middle .message-content, .message.chat-message.dfce-cm-bottom .message-content {
  padding-right: 0px;
}
.message.chat-message.dfce-cm-middle .portrait-and-name, .message.chat-message.dfce-cm-bottom .portrait-and-name {
  display: none;
}
.message.chat-message.dfce-cm-middle .message-header, .message.chat-message.dfce-cm-bottom .message-header {
  background: transparent;
  box-shadow: none;
  text-shadow: 0px 0px 1px white;
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  color: var(--color-text-dark-primary);
}
.message.chat-message.dfce-cm-middle .header-meta, .message.chat-message.dfce-cm-bottom .header-meta {
  display: none;
}
.message.chat-message.dfce-cm-middle {
  margin-top: 0px;
  margin-bottom: 0px;
}
.message.chat-message.dfce-cm-bottom {
  margin-top: 0px;
  border-radius: 0px 0px 5px 5px;
}

div#scrollToBottom {
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  border-radius: 3px;
  background: none;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  background-color: #ECBF41;
  color: black;
  margin-left: 6px;
  margin-right: 7px;
  top: -27px;
  z-index: 1;
}
div#scrollToBottom:hover {
  background-color: #f1cf6f;
}

#dfcp-rt-buttons {
  gap: 3px;
}
#dfcp-rt-buttons button {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--color-text-light-heading);
}
#dfcp-rt-buttons button:hover {
  color: var(--color-text-light-highlight);
}
#dfcp-rt-buttons button.active i {
  text-shadow: 0 0 4px black;
  color: var(--color-text-light-highlight);
}

#chat-controls {
  padding: 0px;
}

/* ----------------------------------------- */
/* Polyglot                                  */
/* ----------------------------------------- */
#polyglot {
  flex-basis: 20px;
}
#polyglot label {
  display: none;
}

/* ----------------------------------------- */
/* Speaking As                               */
/* ----------------------------------------- */
div.speaking-as--currentSpeaker + #chat-controls {
  padding: 0px;
}

.speaking-as--currentSpeaker {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  padding-left: 5px;
  margin: 0px 6px;
}

.speaking-as--currentSpeaker--button {
  cursor: pointer;
}
.speaking-as--currentSpeaker--button:hover {
  color: var(--color-text-light-highlight);
}

/* ----------------------------------------- */
/* Dice Tray                                 */
/* ----------------------------------------- */
.dice-tray {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dice-tray button {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dice-tray .flexrow {
  margin-left: 6px;
  margin-right: 6px;
  gap: 5px;
}
.dice-tray > * {
  margin: 0px;
}

/* ----------------------------------------- */
/* Damage Log                                */
/* ----------------------------------------- */
nav.damage-log-nav.tabs {
  flex: 0;
  margin: 0px 2px;
  box-shadow: none;
  border: none;
}
nav.damage-log-nav.tabs .item {
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 2px;
  color: white;
  border-radius: 3px;
  margin: 2px;
  border: none;
}
nav.damage-log-nav.tabs .item:hover {
  box-shadow: var(--gold-and-glow);
  background-color: var(--secondary);
  border: none;
  border-radius: 3px;
}
nav.damage-log-nav.tabs .item.active {
  box-shadow: var(--gold-and-glow);
  background-color: var(--secondary-light);
  border: none;
  border-radius: 3px;
}

/* ----------------------------------------- */
/* Enhanced Terrain Layer                    */
/* ----------------------------------------- */
#controls ol.control-tools#terrainlayer-tools {
  margin-top: 44px;
}
#controls ol.control-tools#terrainlayer-tools .control-tool {
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  border-radius: 3px;
  background: none;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
}
#controls ol.control-tools#terrainlayer-tools .control-tool:not(#tl-defaultcost):hover {
  background-color: rgba(177, 177, 177, 0.5);
  color: black;
}
#controls ol.control-tools#terrainlayer-tools .control-tool:not(#tl-defaultcost):hover button.control-btn:hover {
  border-radius: 3px;
  color: black;
  text-shadow: 0 0 4px var(--color-text-light-highlight);
  box-shadow: none;
}

/* ----------------------------------------- */
/* Monk's tokenbar                           */
/* ----------------------------------------- */
#tokenbar .bar-controls {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
}
#tokenbar .bar-controls div#tokenbar-move-handle {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  border-radius: 5px 0px 0px 5px;
  margin-right: 2px;
}
#tokenbar .token {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#tokenbar .token .token-stats {
  background: none;
}
#tokenbar .token:hover .token-icon {
  box-shadow: 0px 0px 10px rgba(220, 200, 100, 0.5) inset, var(--glassy);
}
#tokenbar .token .token-icon {
  box-shadow: none;
  border-radius: 3px;
}

#tokenbar .bar-controls .tokenbar-buttons div.active:not(.disabled) i,
#tokenbar[movement=free] #movement-free:not(.disabled) i,
#tokenbar[movement=none] #movement-none:not(.disabled) i,
#tokenbar[movement=combat] #movement-combat:not(.disabled) i {
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  margin: 2px;
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px var(--gold-brown);
  border-radius: 3px;
  text-shadow: none;
  background-color: var(--primary-light);
  color: var(--color-text-light-highlight);
}

#tokenbar:not(.hidectrl) .bar-controls .tokenbar-buttons div.active:not(.disabled):hover i,
#tokenbar[movement=free]:not(.hidectrl) #movement-free:not(.disabled):hover i,
#tokenbar[movement=none]:not(.hidectrl) #movement-none:not(.disabled):hover i,
#tokenbar[movement=combat]:not(.hidectrl) #movement-combat:not(.disabled):hover i {
  color: var(--color-text-light-highlight);
}

/* ----------------------------------------- */
/* Monk's little details                     */
/* ----------------------------------------- */
#token-hud.placeable-hud.monks-little-details .status-effects {
  grid-template-columns: 90px 90px 90px 90px !important;
  background: none;
}
#token-hud.placeable-hud.monks-little-details .status-effects .effect-control {
  border: none;
  opacity: 1;
}
#token-hud.placeable-hud.monks-little-details .status-effects .effect-control.active {
  border: none;
  opacity: 1;
}
#token-hud.placeable-hud.monks-little-details .status-effects .effect-name {
  padding-right: 4px;
  font-size: var(--font-size-12);
}

#hotbar {
  width: 647px;
}
#hotbar .hotbar-page {
  overflow: visible;
  gap: 4px;
  bottom: 56px;
}
#hotbar .hotbar-page .macro-list {
  gap: 7px;
  border: none;
}
#hotbar .hotbar-page .action-bar {
  margin: 0px 5px 0px 3px;
}

/* ----------------------------------------- */
/* Monk's hotbar expansion                   */
/* ----------------------------------------- */
#hotbar .action-bar.no-arrows + .bar-controls span.page-number,
#hotbar .hotbar-page .hotbar-page-row .bar-controls span.page-number,
#hotbar .hotbar-page .hotbar-page-row .bar-controls i {
  line-height: 52px;
}

#hotbar .hotbar-page .hotbar-page-row.selected .bar-controls .page-number {
  color: var(--tertiary-dark);
}

/*# sourceMappingURL=module-support.css.map */
