/* Navigation (Scene navigation, top)*/


/* Glass - Remove prior styling */

#navigation .nav-item
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    backdrop-filter: none;
    background: none;
    background-image: none;
}

/* Glass - Add new styling */

#navigation #nav-toggle,
#navigation #scene-list .scene.view,
#navigation #nav-toggle:hover,
#navigation #scene-list .scene,
#navigation #scene-list .scene.gm
{
    border: none;
    border-radius: var(--dorako-radius);
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    /*will-change: backdrop-filter;*/
    transform: translate3d(0px, 0px, 0px);
    box-shadow: var(--glassy);
}

#navigation {
    margin-top: 10px;
}

#navigation #scene-list .scene li.scene-player {
    text-shadow: none;
}


#navigation #scene-list .scene.context,
#navigation #scene-list .scene.view {
    padding: 0;
}

.scene-name{
    padding: 8px;
}

/* #navigation #scene-list {
    display: flex !important;
    flex-wrap: wrap;
} */

#navigation #scene-list .scene.gm {
    /*background-color: var(--paizo-blue);*/
}

#navigation #scene-list .scene {
    background-color: var(--paizo-blue);
}

#navigation #scene-list .scene.active {
    background-color: var(--paizo-red);
    backdrop-filter: var(--dorako-vibrancy-active);
    /*box-shadow: var(--gold-and-glow);*/
}

#navigation #scene-list .scene.view {
    box-shadow: var(--gold-and-glow);
}

#navigation {
    text-shadow: var(--dorako-text-shadow);
}

#navigation {
    backdrop-filter: none;
}

#navigation {
    gap: 10px;
}

#navigation #scene-list .scene li.scene-player {
    text-shadow: none;
}

#navigation #nav-toggle,
#navigation .nav-item {
    line-height: unset;
    margin: 0px;
    border: var(--dorako-radius);
    flex: 0 0 34px;
    height: unset;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

#navigation #scene-list .scene {
    /* float: none; */
    /* display: flex; */
    flex-direction: row;
}

.scene .nav-item {
    white-space: nowrap;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#navigation #scene-list li {
    margin-right: 10px;
}


/* #scene-list {
    display: flex;
    gap: 10px;
} */