/* ----------------------------------------- */
/* Color definitions                         */
/* ----------------------------------------- */
/* Colors */
/* Global */
/* used for mini headers, alternate primary color */
/* compliments the primary color, usually used in combination */
/* for all other uses */
/* Lighter / Darker */
/* Text */
/* ----------------------------------------- */
/* Color schemes                             */
/* ----------------------------------------- */
/* Proficiency ranks */
/* Rarities */
/* Degrees of success */
/* Value adjustments (e.g. weak/elite) */
/* ----------------------------------------- */
/* CSS Custom Properties                     */
/* ----------------------------------------- */
:root {
  /* Global */
  --primary: #5e0000;
  --primary-light: #b10000;
  --primary-dark: #380000;
  --secondary: #171f69;
  --secondary-light: #2532a8;
  --secondary-dark: #0e133f;
  --tertiary: #E9D7A1;
  --alt: #786452;
  --alt-dark: #443730;
  --bg: #F8F4F1;
  --bg-dark: #e7d9cf;
  --gold-brown: #956d58;
  --sub: #605856;
  --color-disabled: #ababab;
  --inline-link-bg: #ddd;
  --inline-repost-bg: #eaeaea;
  --visibility-gm-bg: #e8e8ef;
  --visibility-owner-bg: #ddebe1;
  --blind-roll: #f5eaf5;
  /* Lighter / Darker */
  --light: #910000;
  --dark: #2b0000;
  --tertiary-dark: #dfc578;
  --tertiary-light: #f3e9ca;
  /* Text */
  --body: var(--text-dark);
  --color-text-trait: #f5efe0;
  --text-dark: #1C1C1C;
  --text-light: white;
  /* Borders */
  --color-border-trait: #d8c384;
  --color-border-divider: #baa991;
  /* Headers w/ boxes */
  --header-color: var(--text-light);
  --header-bg: var(--secondary);
  /* Sidebar */
  --sidebar-label: var(--tertiary-dark);
  --sidebar-title: var(--tertiary);
  /* App UI */
  --glass-bg: rgba(20, 20, 20, 0.60);
}

/* ----------------------------------------- */
/* Glassy Buttons                            */
/* ----------------------------------------- */
.dark-theme.message.chat-message .dice-roll .dice-formula,
.dark-theme.message.chat-message .dice-roll .dice-total {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
}
.dark-theme.message.chat-message .dice-roll .dice-result .statuseffect-rules {
  background: var(--sheet-dark);
  background-size: cover;
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons {
  margin: 0px;
  margin-top: 5px;
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons button.with-image {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  text-shadow: var(--dorako-text-shadow);
  background: var(--primary);
  color: var(--color-text-light-highlight);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons button.with-image:hover {
  color: white;
  background: var(--primary-light);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons button.with-image img {
  /* prettier-ignore */
  border: none;
  margin: 2px;
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px var(--gold-brown);
  border-radius: 3px;
  height: 1.2em;
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .spell-button button {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  text-shadow: var(--dorako-text-shadow);
  background: var(--primary);
  color: var(--color-text-light-highlight);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .spell-button button:hover {
  color: white;
  background: var(--primary-light);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .hidden-to-others {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  text-shadow: var(--dorako-text-shadow);
  background: var(--secondary);
  color: var(--color-text-light-highlight);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .hidden-to-others:hover {
  color: white;
  background: var(--secondary-light);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .spell-attack-buttons {
  gap: 5px;
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .spell-attack-buttons button {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-shadow: var(--dorako-text-shadow);
  background: var(--secondary-dark);
  color: var(--color-text-light-highlight);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .spell-attack-buttons button:hover {
  color: white;
  background: var(--secondary-light);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .spell-attack-buttons button:first-child {
  background: var(--secondary);
  color: var(--color-text-light-highlight);
}
.dark-theme.message.chat-message .pf2e.chat-card .card-buttons .spell-attack-buttons button:first-child:hover {
  color: white;
  background: var(--secondary-light);
}

/* ----------------------------------------- */
/* Damage buttons                            */
/* ----------------------------------------- */
.dark-theme.message .message-content .damage-application {
  gap: 5px;
  margin-top: 5px;
  text-rendering: geometricPrecision;
}
.dark-theme.message .message-content .damage-application button {
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-shadow: var(--dorako-text-shadow);
}
.dark-theme.message .message-content .damage-application button img {
  filter: invert(1) brightness(0.8) sepia(1) grayscale(0.8) drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}
.dark-theme.message .message-content .damage-application button:hover {
  color: white;
  background-color: var(--primary-light);
  border: none;
}
.dark-theme.message .message-content .damage-application button:hover img {
  filter: invert(1) drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}
.dark-theme.message .message-content .damage-application button:hover.half-damage .fa-heart-broken::after {
  color: hsla(0deg, 0%, 0%, 0.5);
  text-shadow: none;
}
.dark-theme.message .message-content .damage-application button.half-damage .fa-heart-broken::after {
  color: hsla(0deg, 0%, 0%, 0.5);
  text-shadow: none;
}
.dark-theme.message .message-content .damage-application button.shield-block:hover {
  background-color: var(--secondary-light);
  border: none;
}
.dark-theme.message .message-content .damage-application button.shield-block.shield-activated {
  background-color: var(--secondary-light);
  border: none;
}
.dark-theme.message .message-content .damage-application button.shield-block.shield-activated:hover {
  background-color: var(--secondary-dark);
  border: none;
}
.dark-theme.message .message-content .damage-application button.heal-damage .fa-stack i.fa-plus {
  color: hsla(0deg, 0%, 0%, 0.5);
  text-shadow: none;
}
.dark-theme.message .message-content .damage-application button.heal-damage:hover {
  background-color: green;
  border: none;
}
.dark-theme.message .message-content .damage-application button.heal-damage:hover .fa-stack i.fa-plus {
  color: green;
  text-shadow: none;
}

/* ----------------------------------------- */
/* Chat card                                 */
/* ----------------------------------------- */
.message.chat-message.dark-theme {
  background: var(--sheet-dark);
  background-size: cover;
  color: var(--color-text-light-1);
}
.message.chat-message.dark-theme.whisper {
  background-color: var(--whisper-bg);
  background-blend-mode: luminosity;
}
.message.chat-message.dark-theme.blind {
  background-color: var(--blind-bg);
  background-blend-mode: luminosity;
}
.message.chat-message.dark-theme .tags .tag_transparent {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.message.chat-message.dark-theme [data-visibility]:not([data-visibility=all])[data-visibility=gm] {
  background: rgba(245, 234, 245, 0.1333333333);
}
.message.chat-message.dark-theme span[data-pf2-check][data-pf2-traits*=secret] {
  background: #f3ddf3;
}
.message.chat-message.dark-theme .message-content .pf2e-pd-card {
  margin-top: 5px;
}
.message.chat-message.dark-theme .message-content .pf2e-pd-card .apply-condition {
  margin-top: 0px;
}
.message.chat-message.dark-theme .message-content .pf2e-pd-card button {
  transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  border-radius: 3px;
  background: none;
  background-color: var(--glass-bg);
  box-shadow: var(--glassy);
  color: var(--color-text-light-heading);
  text-shadow: var(--dorako-text-shadow);
}
.message.chat-message.dark-theme .message-content .pf2e-pd-card button:hover {
  background-color: var(--primary-light);
  color: var(--color-text-light-highlight);
}
.message.chat-message.dark-theme .message-content .pf2e-pd-card > div:not(.card-buttons) {
  margin-bottom: 5px;
}
.message.chat-message.dark-theme .message-content .pf2e-pd-card .flat-check-failure {
  text-rendering: optimizeLegibility;
  background-color: #ff4500;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: var(--sans-serif);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 3px 4px;
  text-transform: uppercase;
}
.message.chat-message.dark-theme .message-content .pf2e-pd-card .flat-check-success {
  text-rendering: optimizeLegibility;
  background-color: blue;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: var(--sans-serif);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 3px 4px;
  text-transform: uppercase;
}
.message.chat-message.dark-theme .pf2e.chat-card .card-header h4 s {
  color: gray;
}
.message.chat-message.dark-theme .pf2e.chat-card .card-header h4 span.heightened {
  color: green;
}
.message.chat-message.dark-theme .pf2e.chat-card .card-content {
  border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.message.chat-message.dark-theme .pf2e.chat-card .card-content hr {
  margin: 0px -10px;
  border-color: wheat;
  border-bottom: none;
}

/* ----------------------------------------- */
/* Damage types                              */
/* ----------------------------------------- */
.message.dark-theme .message-content .damage-roll .dice-result .dice-tooltip .instance .dice .part-formula,
.message.dark-theme .message-content .damage-roll .dice-result .dice-tooltip .instance .dice .part-total {
  color: var(--color-text-light-5);
}
.message.dark-theme .dice-tooltip .part-header {
  border-bottom: 1px solid var(--color-text-dark-3);
}
.message.dark-theme .dice-tooltip .part-header .part-total {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--color-text-dark-3);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance {
  white-space: nowrap;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.acid {
  border-color: #00b300;
  color: #007300;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.acid:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.acid.tooltip-part > header {
  background: rgba(0, 179, 0, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.acid .icon {
  color: #00b300;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.bleed {
  border-color: #d90025;
  color: #99001a;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.bleed:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.bleed.tooltip-part > header {
  background: rgba(217, 0, 37, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.bleed .icon {
  color: #d90025;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.bludgeoning {
  border-color: #cccccc;
  color: #acacac;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.bludgeoning:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.bludgeoning.tooltip-part > header {
  background: rgba(204, 204, 204, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.bludgeoning .icon {
  color: #cccccc;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.chaotic {
  border-color: #e600e6;
  color: #a600a6;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.chaotic:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.chaotic.tooltip-part > header {
  background: rgba(230, 0, 230, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.chaotic .icon {
  color: #e600e6;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.cold {
  border-color: #4949cc;
  color: #2f2fa6;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.cold:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.cold.tooltip-part > header {
  background: rgba(73, 73, 204, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.cold .icon {
  color: #4949cc;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.electricity {
  border-color: #f1b012;
  color: darkgoldenrod;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.electricity:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.electricity.tooltip-part > header {
  background: rgba(241, 176, 18, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.electricity .icon {
  color: #f1b012;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.evil {
  border-color: #842ac4;
  color: #611f90;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.evil:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.evil.tooltip-part > header {
  background: rgba(132, 42, 196, 0.125);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(0, 0, 0, 0.8);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.evil .icon {
  color: #842ac4;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.fire {
  border-color: #e64100;
  color: #a62f00;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.fire:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.fire.tooltip-part > header {
  background: rgba(230, 65, 0, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.fire .icon {
  color: #e64100;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.force {
  border-color: #89edfc;
  color: #4be3fa;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.force:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.force.tooltip-part > header {
  background: rgba(137, 237, 252, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.force .icon {
  color: #89edfc;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.good {
  border-color: #d99f0e;
  color: #9d730a;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.good:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.good.tooltip-part > header {
  background: rgba(217, 159, 14, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.good .icon {
  color: #d99f0e;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.lawful {
  border-color: #a86400;
  color: #683e00;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.lawful:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.lawful.tooltip-part > header {
  background: rgba(168, 100, 0, 0.125);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(0, 0, 0, 0.8);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.lawful .icon {
  color: #a86400;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.mental {
  border-color: #3d53c7;
  color: #2c3d99;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.mental:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.mental.tooltip-part > header {
  background: rgba(61, 83, 199, 0.125);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(0, 0, 0, 0.8);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.mental .icon {
  color: #3d53c7;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.negative {
  border-color: #4e4e68;
  color: #4e4e68;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.negative:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.negative.tooltip-part > header {
  background: rgba(78, 78, 104, 0.125);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(0, 0, 0, 0.8);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.negative .icon {
  color: #4e4e68;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.piercing {
  border-color: #acacac;
  color: #8c8c8c;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.piercing:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.piercing.tooltip-part > header {
  background: rgba(172, 172, 172, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.piercing .icon {
  color: #acacac;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.poison {
  border-color: #7e9f45;
  color: #5b7332;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.poison:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.poison.tooltip-part > header {
  background: rgba(126, 159, 69, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.poison .icon {
  color: #7e9f45;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.positive {
  border-color: white;
  color: #ffffbf;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.positive:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.positive.tooltip-part > header {
  background: rgba(255, 255, 255, 0.125);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.positive .icon {
  color: white;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.slashing {
  border-color: #acacac;
  color: #8c8c8c;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.slashing:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.slashing.tooltip-part > header {
  background: rgba(172, 172, 172, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.slashing .icon {
  color: #acacac;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.sonic {
  border-color: #00cbcb;
  color: darkcyan;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.sonic:not(.tooltip-part), .message.dark-theme .message-content .damage-roll .dice-result .instance.sonic.tooltip-part > header {
  background: rgba(0, 203, 203, 0.125);
}
.message.dark-theme .message-content .damage-roll .dice-result .instance.sonic .icon {
  color: #00cbcb;
}
.message.dark-theme .message-content .damage-roll .dice-result .instance .splash {
  border-color: inherit;
  border-width: 1px;
  border-style: dotted;
  padding: 1px 2px;
  line-height: 0;
}

/*# sourceMappingURL=new-dark-chat.css.map */
