/* ----------------------------------------- */
/* Sidebar                                   */
/* ----------------------------------------- */
#ui-right #sidebar {
  height: -webkit-fill-available;
}

.chat-sidebar {
  gap: 5px;
  padding-bottom: 5px;
}

#chat-form {
  margin: 0px 6px;
  flex: 0 0 var(--chat-input-height);
}

/* ----------------------------------------- */
/* Emotes                                    */
/* ----------------------------------------- */
.message.emote p {
  text-align: center;
}

/* ----------------------------------------- */
/* Header                                    */
/* ----------------------------------------- */
.message-header {
  background: none;
  padding: 5px 5px 0px 5px;
  margin: -5px -5px 0px -5px;
  border-radius: 5px 5px 0px 0px;
  gap: 5px;
  align-items: center;
}
.message-header .header-meta {
  border-radius: 3px;
  padding: 2px;
  font-size: x-small;
  align-self: center;
  text-align: center;
  text-shadow: none;
}
.message-header.light-header-text {
  background-blend-mode: darken;
  color: white;
  text-shadow: 0px 1px 1px black;
}
.message-header.light-header-text .header-meta {
  color: white;
  background-color: hsla(0deg, 0%, 50%, 0.4);
  border: 1px solid hsla(0deg, 0%, 100%, 0.3);
}
.message-header.dark-header-text {
  background-blend-mode: luminosity;
  color: black;
  text-shadow: 0px 1px 1px white;
}
.message-header.dark-header-text .header-meta {
  color: hsl(0deg, 0%, 20%);
  background-color: hsla(0deg, 0%, 90%, 0.5);
  border: 1px solid hsla(0deg, 0%, 30%, 0.4);
}
.message-header .portrait-and-name {
  flex-grow: 1;
  display: flex;
  gap: 5px;
}
.message-header .portrait-and-name .portrait-wrapper {
  width: var(--avatar-size);
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
}
.message-header .portrait-and-name .portrait-wrapper .portrait {
  height: var(--avatar-size);
  object-fit: contain;
  z-index: 0;
}
.message-header .portrait-and-name .portrait-wrapper .portrait.actor {
  border-radius: 3px;
}
.message-header .portrait-and-name .sender-wrapper {
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: left;
  align-self: center;
  z-index: 1;
}
.message-header .portrait-and-name .sender-wrapper .message-sender, .message-header .portrait-and-name .sender-wrapper .player-name {
  align-self: flex-start;
}

/* ----------------------------------------- */
/* Damage buttons                            */
/* ----------------------------------------- */
.message .message-content .chat-damage-buttons {
  gap: 3px;
}
.message .message-content .chat-damage-buttons button:hover {
  box-shadow: none;
  color: white;
  border: 1px solid #7B322F;
  background-color: var(--primary-light);
}
.message .message-content .chat-damage-buttons button:hover img {
  filter: invert(1);
}
.message .message-content .chat-damage-buttons button:hover.half-damage .fa-heart-broken::after {
  content: "\f7a9";
  font-family: "Font Awesome 5 Free";
  color: hsla(0deg, 0%, 0%, 0.5);
  display: block;
  z-index: 1;
  position: absolute;
  top: 1px;
  left: 28%;
  width: 22%;
  overflow: hidden;
}
.message .message-content .chat-damage-buttons button.half-damage .fa-heart-broken::after {
  content: "\f7a9";
  font-family: "Font Awesome 5 Free";
  color: hsla(0deg, 0%, 100%, 0.5);
  display: block;
  z-index: 1;
  position: absolute;
  top: 1px;
  left: 28%;
  width: 22%;
  overflow: hidden;
}
.message .message-content .chat-damage-buttons button.shield-block:hover {
  border: 1px solid #464C83;
  background-color: var(--secondary-light);
}
.message .message-content .chat-damage-buttons button.shield-block.shield-activated {
  background-color: var(--secondary-light);
}
.message .message-content .chat-damage-buttons button.shield-block.shield-activated:hover {
  background-color: var(--secondary-dark);
}
.message .message-content .chat-damage-buttons button.heal-damage:hover {
  background-color: green;
  border: 1px solid lightgreen;
}
.message .message-content .chat-damage-buttons button.heal-damage:hover .fa-plus {
  color: green;
  text-shadow: none;
}

/* ----------------------------------------- */
/* Chat card                                 */
/* ----------------------------------------- */
.pf2e.chat-card .card-header h3.pf2-icon {
  font-family: Pathfinder2eActions;
  font-size: xxx-large;
  flex: 0 0 34px;
}
.pf2e.chat-card .card-header h4 s {
  color: gray;
}
.pf2e.chat-card .card-header h4 span.heightened {
  color: green;
}

/*# sourceMappingURL=new-chat.css.map */
