/* Extract speed to be next to senses */
/* Restructure saves */
/* Investigate pre-collapsed sidebar sections */

/* any theme */
.sheet.pf2e.actor.npc.dorako-theme ol.spell-list>li .item-name .item-image .item-icon {
    border-radius: 3px;
}

.sheet.pf2e.actor.npc.dorako-theme .npc-sheet .inventory-section .inventory-list .item .item-image {
    box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 4px rgba(0, 0, 0, .5);
}

.sheet.pf2e.actor.npc.dorako-theme .recall-knowledge .section-body button {
    background: var(--paizo-blue);
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 30%), inset 0 0 0 2px hsl(0deg 0% 100% / 20%);
    border: none;
    color: white;
    transition: background 0.15s ease-in-out;
    margin-top: 3px;
}

.sheet.pf2e.actor.npc.dorako-theme form input[type=number]:focus,
.sheet.pf2e.actor.npc.dorako-theme form input[type=number]:hover:not(:disabled),
.sheet.pf2e.actor.npc.dorako-theme form input[type=text]:focus,
.sheet.pf2e.actor.npc.dorako-theme form input[type=text]:hover:not(:disabled) {
    box-shadow: 0 0 10px var(--paizo-red-bright);
    border: 1px solid var(--paizo-red);
}

.sheet.pf2e.actor.npc.dorako-theme .npc-sheet .side-bar .image-container,
.sheet.pf2e.actor.npc.dorako-theme .npc-sheet .actions-options .actions-option {
    cursor: pointer;
}

.sheet.pf2e.actor.npc.dorako-theme .npc-sheet .actions-options .actions-option:hover {
    text-shadow: 0 0 10px var(--paizo-red-bright);
    color: var(--paizo-red);
}

.sheet.pf2e.actor.npc.dorako-theme .recall-knowledge .section-body button:hover {
    background: var(--paizo-blue-bright);
}

.sheet.pf2e.actor.npc.dorako-theme .recall-knowledge .section-body button {
    background: var(--paizo-blue);
}

.sheet.pf2e.actor.npc.dorako-theme .recall-knowledge .section-body button:hover {
    background: var(--paizo-blue-bright);
}

.sheet.pf2e.actor.npc.dorako-theme .npc-sheet .inventory-section .inventory-list .item .item-image {
    border: none;
}

.sheet.pf2e.actor.npc.dorako-theme .npc-sheet .inventory-section .inventory-list .item .item-image {
    margin: 3px 4px 3px 6px;
}

.sheet.pf2e.actor.npc.dorako-theme .npc-sheet .side-bar-section-content {
    width: 98%;
}

.npc.dorako-theme .npc-sheet .section-container.toggles {
    /* margin-top: 2px; */
    border-image-repeat: repeat;
    border-image-slice: 11;
    /* border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:%23231f20;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    /* border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:gray;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-image-width: 14px;
    border-style: double;
    /* padding: 5px; */
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0px;
    font-weight: 500;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    background: none;
    margin: 5px;
}

.npc.dorako-theme .npc-sheet .section-container .section-body {
    border: none;
    /* color: var(--pf2e-body-primary); */
    padding: 0;
    text-shadow: var(--pf2e-shadow-dynamic);
    /* border-top: 1px solid wheat; */
    padding: 5px;
}

.npc.dorako-theme .npc-sheet .section-container:not(.headerless) .section-body {
    border-top: 1px solid wheat;
}

.npc.dorako-theme .npc-sheet .section-container .section-header {
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .5);
}

.npc.dorako-theme .npc-sheet .side-bar .image-container {
    border: none;
}

/* .npc.dorako-theme .npc-sheet .side-bar .image-container {
    border: none;
    margin: 5px;
    border-radius: 3px;
    background-color: var(--alt-dark);
    box-shadow: var(--gold-and-glow), 0px 5px 6px rgba(0, 0, 0, 0.5);
} */

.npc.dorako-theme .npc-sheet .side-bar-section:not(.save-details) {
    box-shadow: var(--gold-and-glow), 0px 5px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin: 3px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: var(--bg);
    background-image: var(--sheet-light);
    background-size: cover;
    /* max-height: 20px; */
    /* padding: 5px; */
}

.npc.dorako-theme .npc-sheet .side-bar-section.collapsed {
    max-height: 20px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.npc.dorako-theme .npc-sheet .side-bar-section.collapsed .side-bar-section-header {
    border-radius: 3px;
}

.npc.dorako-theme .npc-sheet .side-bar-section:not(.save-details).collapsed:hover {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.npc.dorako-theme .npc-sheet .side-bar-section.collapsed:hover .side-bar-section-header {
    border-radius: 3px 3px 0px 0px;
}

.npc.dorako-theme .npc-sheet .side-bar-section.collapsed .side-bar-section-content {
    display: none;
}

.npc.dorako-theme .npc-sheet .side-bar-section.collapsed:hover .side-bar-section-content {
    display: block;
}

.npc.dorako-theme .npc-sheet .side-bar .saves-section.side-bar-section {
    display: flex;
    flex-direction: column;
}

.npc.dorako-theme .npc-sheet .side-bar .saves {
    margin-top: 0px;
    width: unset;
}

.npc.dorako-theme .npc-sheet .saves-section.side-bar-section.collapsed {
    max-height: 42px;
}

.npc.dorako-theme .npc-sheet .side-bar .save-details {
    font-size: 14px;
}

.side-bar-section-header .pf2e-see-simple-scale-statistics-High-color-primary {
    color: #3cff00;
}

.side-bar-section-header .pf2e-see-simple-scale-statistics-Moderate-color-primary {
    color: #ffff54;
}

.side-bar-section-header .pf2e-see-simple-scale-statistics-Low-color-primary {
    color: #ff8000;
}

.side-bar-section-header .pf2e-see-simple-scale-statistics-Terrible-color-primary {
    color: #ff0000;
}

.npc.dorako-theme .npc-sheet .side-bar-section-header {
    background: #5e0000;
    border: 1px solid #5e0000;
    /* border-radius: 3px; */
    border-radius: 3px 3px 0px 0px;
    color: #f5efe0;
    box-shadow: inset 0 0 3px rgb(255 255 255 / 50%);
    margin-top: 0px;
    /* border-bottom: 1px solid wheat; */
    height: 20px;
}

.npc.dorako-theme .toggles.dorako-display-none+.recall-knowledge {
    margin-top: 10px;
}

/* .npc.dorako-theme .npc-sheet .side-bar-section:not(.save-details):hover .side-bar-section-header {
    border-radius: 3px 3px 0 0;
} */


/* .npc.dorako-theme .npc-sheet .side-bar-section:not(.save-details):hover {
    max-height: fit-content;
} */

/* .pf2e.actor.npc.dorako-theme.npc .npc-sheet .side-bar-section:not(.save-details):hover .side-bar-section-content {
    display: block;
}

.pf2e.actor.npc.dorako-theme.npc .npc-sheet .side-bar-section-content {
    display: none;
} */

.pf2e.actor.npc.dorako-theme.npc .npc-sheet .side-bar-section-content {
    margin-left: 3px;
    margin-right: 3px;
}

.pf2e.actor.npc.dorako-theme form.npc-sheet .side-bar-section-header input[type=number],
.pf2e.actor.npc.dorako-theme form.npc-sheet .side-bar-section-header input[type=text] {
    color: #f5efe0;
}



.npc.dorako-theme .npc-sheet .section-container {
    box-shadow: var(--gold-and-glow), 0px 5px 6px rgba(0, 0, 0, 0.5);
    padding: 0px;
    border-radius: 3px;
    margin: 3px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: var(--bg);
    background-image: var(--pf2e-sheets-bg);
    background-size: cover;
}



.npc.dorako-theme .npc-sheet .top-sections {
    gap: 5px;
}


/* Light */

.sheet.pf2e.actor.npc.light-theme form .sheet-tabs {
    background-color: var(--bg);
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    border: 1px solid var(--color-border-light-primary);
    border-radius: 3px;
    margin: 2px;
    margin-bottom: 0px;
    z-index: 1;
}


.npc.light-theme .tabs .item {
    color: var(--paizo-red-bright);
}

.npc.light-theme .tabs .item.active {
    color: var(--paizo-blue-bright);
    text-shadow: 0px 0px 10px var(--paizo-blue-bright);
}

.npc.light-theme .tabs .item.disabled {
    color: #ababab;
}

.npc.light-theme .tabs .item.disabled:hover {
    color: var(--paizo-red-dark);
    text-shadow: 0px 0px 10px var(--paizo-red-dark);
}

.npc.light-theme .tabs a:hover {
    text-shadow: 0px 0px 10px var(--paizo-red);
}

.npc.light-theme .npc-sheet .sheet-body .tab {
    padding-top: 2px;
    margin-left: 2px;
}

/* Dark */

.sheet.pf2e.actor.npc.dark-theme .recall-knowledge .section-body button {
    box-shadow: var(--glassy);
}

.sheet.pf2e.actor.npc.dark-theme .npc-sheet {
    color: white;
}

.sheet.pf2e.actor.npc.dark-theme .tabs .item.active {
    color: var(--tertiary);
}

.actor.pf2e.actor.npc.dark-theme .tabs .item.active,
.actor.pf2e.actor.npc.dark-theme a:hover {
    text-shadow: 0 0 10px var(--tertiary);
}

.sheet.pf2e.actor.npc.dark-theme .window-content {
    background: none;
    background-color: #111;
    background: url(../../../ui/denim.png);
    box-shadow: 0 0 10vw var(--color-shadow-dark) inset;
}

.sheet.pf2e.actor.npc.dark-theme form input[type=number],
.sheet.pf2e.actor.npc.dark-theme form input[type=text] {
    color: #c9c9c9;
}

.sheet.pf2e.actor.npc.dark-theme .tags .tag option.tag_transparent,
.sheet.pf2e.actor.npc.dark-theme .tags .tag.tag_transparent {
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
}

.sheet.pf2e.actor.npc.dark-theme form .notes {
    text-shadow: none;
}

.sheet.pf2e.actor.npc.dark-theme .npc-sheet .notes .notes-text {
    color: white;
}

.sheet.pf2e.actor.npc.dark-theme .npc-sheet .notes .details-label {
    color: #c9c9c9;
}

.sheet.pf2e.actor.npc.dark-theme .npc-sheet .side-bar-section.initiative select {
    color: white;
}

.sheet.pf2e.actor.npc.dark-theme ol.spell-list>li.spell-level-header {
    color: white;
}

.sheet.pf2e.actor.npc.dark-theme .inventory .item-summary,
.sheet.pf2e.actor.npc.dark-theme ol.spell-list>li .item-summary {
    background-color: transparent;
}

.sheet.pf2e.actor.npc.dark-theme .inventory .list-row .item-controls {
    color: white;
}

.sheet.pf2e.actor.npc.dark-theme .npc-sheet .actions-options .actions-option:hover {
    text-shadow: 0 0 10px var(--tertiary);
    color: var(--tertiary);
}

.actor.pf2e.actor.npc.dark-theme .inventory .list-row .item-controls .item-control.item-carry-type.active,
.actor.pf2e.actor.npc.dark-theme .inventory .list-row .item-controls .item-control.item-toggle-invest.active,
.actor.pf2e.actor.npc.dark-theme ol.spell-list>li .item-name h4:hover,
.actor.pf2e.actor.npc.dark-theme .inventory .item-name h3:hover,
.actor.pf2e.actor.npc.dark-theme .inventory .item-name h4:hover {
    color: var(--tertiary);
}

.actor.pf2e.actor.npc.dark-theme .npc-sheet .entries-list .spellcasting-entry .header h4.name input {
    color: white;
}

.actor.pf2e.actor.npc.dark-theme .npc-sheet .disabled.active,
.actor.pf2e.actor.npc.dark-theme .npc-sheet .disabled:hover {
    color: gray;
}

.actor.pf2e.actor.npc.dark-theme form input[type=number]:focus,
.actor.pf2e.actor.npc.dark-theme form input[type=number]:hover:not(:disabled),
.actor.pf2e.actor.npc.dark-theme form input[type=text]:focus,
.actor.pf2e.actor.npc.dark-theme form input[type=text]:hover:not(:disabled) {
    border: 1px solid wheat;
}

.actor.pf2e.actor.npc.dark-theme .npc-sheet .section-container.toggles {
    border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.actor.pf2e.actor.npc.dark-theme .npc-sheet .side-bar-section:not(.save-details),
.actor.pf2e.actor.npc.dark-theme .npc-sheet .section-container {
    background: var(--sheet-dark);
    background-size: cover;
}