:root {
  --alt-bright: hsl(var(--alt-hue), var(--alt-sat), calc(var(--alt-lvl) + 15%));
  --alt-hue: 28;
  --alt-lvl: 40%;
  --alt-sat: 19%;
  --green-light: #478c42;
  --nethys-rare: #0c1466;
  --nethys-uncommon: #c45500;
  --nethys-unique: #800080;
}

.actor.sheet.character .window-content .crb-style {
  background: url(../img/header.webp), var(--sheet-dark);
  background-repeat: repeat-x, no-repeat;
  background-size: auto, cover;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment {
  background-color: var(--primary);
  background-image: none;
  box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39, inset 0 0 8px rgba(0, 0, 0, .5), 0 0 8px #000;
  height: 23px;
  margin: 12.5px 21px 0 3px;
  padding-bottom: 1px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment select {
  padding-left: 3px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment:after {
  display: none;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment select,
.actor.sheet.character .crb-style .tab.actions .actions-panels,
.actor.sheet.character .crb-style .tab.crafting .crafting-option label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-level-header.formula-level-header,
.actor.sheet.character .crb-style .tab.crafting .formula-quantity input,
.actor.sheet.character .crb-style .tab.crafting .formula-list,
.actor.sheet.character .crb-style .tab.inventory .item-list,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .item-controls .item-control.item-carry-type,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .item-controls .item-control,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .encumbrance .encumbrance-light-bulk-overflow,
.actor.sheet.character .crb-style .skill-name,
.actor.sheet.character .crb-style .item-name h4,
.actor.sheet.character .crb-style .item-controls,
.actor.sheet.character .crb-style .tab.actions .action-name h4,
.actor.sheet.character .crb-style .item-summary,
.actor.sheet.character .crb-style .editor-content,
.actor.sheet.character .crb-style .tab.spellcasting .spell-list .item.spell-level-header,
.actor.sheet.character .crb-style .tab.spellcasting .spell-components .tag,
.actor.sheet.character .crb-style .tab.spellcasting .spell-range,
.actor.sheet.character .crb-style .tab.spellcasting .spell-tradition,
.actor.sheet.character .crb-style .sheet-body .sheet-content .inventory .item .item-controls .item-control.item-toggle-invest,
.actor.sheet.character .crb-style .tab.pfs .reputations,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .craftingEntry-list.directory-list.item-list .crafting-entry.item-container .directory-list.item-list.formula-list .formula-level-header.formula-header .level-name h3,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.feats .item.feat-item .item-name .item-placeholder,
.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list .spellbook-empty h4,
.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list .spellbook-empty h4:hover,
.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list .spellbook-empty a,
.spellcasting-entry.sheet .sheet-header h1,
.spellcasting-entry.sheet .window-content .sheet-content .directory-list.item-list.spell-list .item.spell.spellbook-item,
.spellcasting-entry.sheet ol.spell-list>li.spell-level-header,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action.expanded h4,
.actor.sheet.character .crb-style .sheet-body .sheet-content ol.directory-list .action-header .item-controls,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-score div,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .skills-list .skill-grid .focus-pool,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .skills-list .skill-grid .focus-pool h4:hover {
  color: var(--text-light);
}

.actor.sheet.character .action-header .item-controls .item-control.toggle-unready-strikes .fas[style="color: rgba(0, 0, 0, 0.4);"],
.actor.sheet.character .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-panels .actions-list.item-list.directory-list.skill-action-list .action-header.stroke-header .item-controls .item-control.toggle-hidden-actions .fas[style="color: rgba(0, 0, 0, 0.4);"],
.actor.sheet.character .crb-style .tab.actions .item.action .action-options .item-control.item-toggle-equip .fas[style="color: rgba(0, 0, 0, 0.4);"] {
  color: var(--text-light) !important;
}

.actor.sheet.character .crb-style .details-label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.feats .item.feat-item .item-name .feat-slot-title,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .skills-list .skill-grid .skill-score,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane h1,
.actor.sheet.character .crb-style .tab.character .pc h3 .fas,
.actor.sheet.character .crb-style .sheet-body .sheet-content h3.header,
.actor.sheet.character .crb-style .sheet-body .sheet-content h3.header button,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .skills-list .skill-grid .focus-pool .pips .fas.fa-dot-circle {
  color: var(--tertiary-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .item-controls .item-control.item-toggle-invest.active,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .item-controls .item-control.item-carry-type.active,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-name .item-image:hover,
.spellcasting-entry.sheet ol.spell-list>li .item-name h4:hover,
.spellcasting-entry.sheet .window-content .sheet-content .directory-list.item-list.spell-list .item-controls .item-control:hover,
.actor.sheet.character .crb-style .tab.actions .item.action .action-options .item-control.item-toggle-equip {
  color: var(--tertiary);
}

.actor.sheet.character .action-header .item-controls .item-control.toggle-unready-strikes .fas[style="color: rgba(0, 0, 0, 0.4);"]:hover {
  color: var(--tertiary) !important;
}

.actor.sheet.character .crb-style .tab.character hr {
  border-bottom: 1px solid var(--tertiary);
  border-top: 1px solid var(--tertiary-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character h3,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.biography h3 {
  border-bottom: 1px solid var(--tertiary-dark);
  color: var(--tertiary-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .details-input,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.biography .biography-content .editor,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .pc h3 {
  background: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
  padding-left: 4px;
  padding-right: 4px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character.active .character-background .pc_gender .details-input,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character.active .character-background .pc_age .details-input,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character.active .character-background .pc_height .details-input,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character.active .character-background .pc_weight .details-input,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character.active .character-traits .pc_bonus-bulk .details-input {
  padding-top: 3px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character.active .character-background .pc_ethnicity .details-input,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character.active .character-background .pc_nationality .details-input {
  padding-top: 4px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .character-abilities .ability-scores .ability .details-input {
  border-radius: 0;
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 4px rgba(0, 0, 0, .5);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_gender .details-label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_age .details-label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_height .details-label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_deity .details-label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_weight .details-label {
  margin-bottom: 2px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_ethnicity .details-label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_nationality .details-label {
  margin-bottom: 1px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_land-speed .details-label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .pc_size .details-label,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character.active .character-traits .pc.pc_key-ability.dropdown .details-label {
  margin-bottom: -1px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-traits .pc.pc_bonus-bulk .details-label,
.actor.sheet.character .crb-style .pc_speed-types .details-label,
.actor.sheet.character .crb-style .pc_senses .details-label,
.actor.sheet.character .crb-style .pc_languages .details-label,
.actor.sheet.character .crb-style .pc_traits .details-label {
  margin-bottom: -2px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tag_alt,
.actor.sheet.character .crb-style .item-properties .tag {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.actor.sheet.character .crb-style .tab.character .character-traits .pc_key-ability select,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.pfs.active .faction select {
  background-color: hsla(0, 0%, 20%, 0.1);
  border: none;
  box-shadow: var(--glassy);
  font-family: var(--body-serif);
  font-weight: 700;
  height: 26px;
  padding-top: 7px;
}

.actor.sheet.character .crb-style .character-abilities {
  padding-top: 1px;
}

.actor.sheet.character .crb-style .character-traits .edit-btn {
  background-color: #fff;
  color: var(--primary);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-score {
  background: hsla(0, 0%, 20%, 0.1);
  border: none;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-score input {
  background: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  box-shadow: var(--glassy);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-id i.fas {
  bottom: 6px;
  font-size: var(--font-size-12);
  left: 10px;
  position: absolute;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane .lores-list .skill .skill-name input,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane .lores-list .skill .skill-name input:hover {
  background-color: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light) !important;
  padding-left: 4px;
  padding-right: 4px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.feats .item.feat-item:nth-child(odd),
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory ol.inventory-list li:nth-of-type(2n),
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory ol.item-list li:nth-of-type(2n),
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .inventory-list ol.item-list .container-held-items li:nth-of-type(2n),
.actor.sheet.character .crb-style .sheet-body .sheet-content ol.spell-list li:nth-child(odd),
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-item:nth-child(odd),
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-level-header:nth-child(odd),
.spellcasting-entry.sheet ol.spell-list>li:nth-child(odd) {
  background-color: rgba(120, 100, 82, .3);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.biography input {
  background-color: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .crafting-entry .formula-list .formula-item .item-summary,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-item .item-summary,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-level-header .item-summary {
  background: var(--sheet-dark);
  background-blend-mode: luminosity;
  background-color: var(--whisper-bg);
  background-size: cover;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .spell-list .item .item-summary {
  background: none;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .inventory-list ol.item-list li.item.temporary-item {
  background-color: rgba(0, 5, 255, .2);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .spell-list .item .item-summary .item-buttons button {
  border-bottom: none;
  border-radius: 3px;
  border-top: none;
  box-shadow: var(--glassy);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .item-summary {
  background: var(--sheet-dark);
  background-blend-mode: luminosity;
  background-color: var(--whisper-bg);
  background-size: cover;
}

.actor.sheet.character .crb-style .perception-prof .pf-rank,
.actor.sheet.character .crb-style .save-prof .pf-rank,
.actor.sheet.character .crb-style .spellcasting-prof .pf-rank,
.actor.sheet.character .crb-style aside .sidebar .armor-class .shield-stats ol li .data-value,
.actor.sheet.character .crb-style aside .sidebar .initiative-select select {
  background-color: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  padding-bottom: 2px;
  padding-top: 3px;
}

.actor.sheet.character .crb-style .skill-prof .pf-rank {
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  padding: 3px 2px 2px 3px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane .skills-list .skill .button-group h6 {
  background: var(--alt);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  margin: 5.5px 0 -0.25px 0;
  padding: 2px 3px 3px 4px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .inventory.item-container .encumbrance .encumbrance-light-bulk-overflow {
  text-shadow: var(--pf2e-shadow-is-dark);
}

.actor.sheet.character .crb-style .actions .actions-tabs-wrapper .actions-panels .actions-panel.active .actions-options.item-list,
.actor.sheet.character .actions .actions-tabs-wrapper .actions-panels .actions-panel.active .actions-list.item-list.directory-list .item.action.expanded .item-summary,
.actor.sheet.character .crb-style .crafting.crafting-pane.active .crafting-options.item-list,
.actor.sheet.character .crb-style .proficiencies.active .overflow-list.proficiencies-pane.stroke-header .skills-list .skill,
.actor.sheet.character .crb-style .proficiencies.active .overflow-list.proficiencies-pane.stroke-header .lores-list .skill,
.actor.sheet.character .crb-style .proficiencies.active .overflow-list.proficiencies-pane.stroke-header .combat-list .skill,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability h3.ability-mod {
  border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='1'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.actor.sheet.character .crb-style .sheet-content .spell-list .item .item-name h4:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-panels .actions-list.item-list .action .item-name .actions-title .action-name h4:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-name .actions-title .action-name h4:hover .activity-icon,
.actor.sheet.character .item-list.directory-list.strikes-list .item.action.strike.expandable .item-name.rollable .item-image.variant-strike:hover,
.actor.sheet.character .crb-style .actions-panel.active .actions-list.actions-list.item-list.directory-list .item.action .item-name.rollable .item-image:hover,
.actor.sheet.character .crb-style .actions-panel.active .actions-list.actions-list.item-list.directory-list .item.action .item-name.rollable h4:hover,
.actor.sheet.character .actions-panel.active .actions-list.actions-list.item-list.directory-list .item.action.expanded .item-name.rollable h4,
.actor.sheet.character .item-list .item.list-row .item-name.rollable h4:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane .skills-list .skill .skill-name:hover,
.actor.sheet.character .list-row .item-quantity a:hover,
.actor.sheet.character .item-controls a:hover,
.actor.sheet.character .item.spell .item-controls a i:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .item-controls .item-control:hover,
.actor.sheet.character .crb-style .tab.spellcasting.spellbook-pane.active .spellcastingEntry-list.directory-list.item-list .item.item-container.spellcasting-entry .action-header .skill-name:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory.item-container.active .wealth .wealth-label.inventory-header .item-name .item-edit .fas.fa-question-circle:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-item .item-name h4:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-item .formula-quantity .formula-decrease-quantity:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-item .formula-quantity .formula-increase-quantity:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.feats .item.feat-item .item-name h4:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item .item-name .item-image:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .directory-list h4:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item.expanded h4,
.actor.sheet.character .crb-style .tab.spellcasting .directory-list .item.item-container.spellcasting-entry .action-header .skill-name.prepared-toggle .fas:hover {
  color: var(--tertiary);
  filter: none;
  mix-blend-mode: unset;
  text-shadow: var(--pf2e-shadow-is-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .pc h3 i:hover {
  color: var(--green-light);
  filter: none;
  mix-blend-mode: unset;
  text-shadow: var(--pf2e-shadow-is-dark);
}

.actor.sheet.character .sheet-content .tab.proficiencies.active .overflow-list.proficiencies-pane.stroke-header .skills-list .skill h1:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane h1:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies .proficiencies-pane .lores-list .skill .skill-score:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-id {
  color: var(--tertiary-dark);
  filter: none;
  mix-blend-mode: unset;
  text-shadow: var(--pf2e-shadow-is-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions.actions-pane.active .actions-container .actions-tabs-wrapper .actions-nav .tab {
  box-shadow: var(--glassy);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .item-summary .item-buttons button,
.actor.sheet.character .crb-style .sheet-body .sheet-content ol.spell-list li button.cast-spell,
.actor.sheet.character .crb-style .tags .tag_transparent.tag {
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike button:not(:disabled),
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions select[name=ammo-used] {
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  font-size: 9px;
  font-weight: 500;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .button-group button {
  line-height: 14px;
  margin: 0;
  padding: 3px 5px;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .auxiliary-actions button:not(:disabled) {
  background-color: var(--alt);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
  height: 20.5px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .auxiliary-actions {
  padding: 4px 0 0 5px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content ol.spell-list li button.cast-spell:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .pf-add-item-row a:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting.crafting-pane.active .craftingEntry-list.directory-list.item-list .crafting-entry.item-container.item .daily-crafting:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .button-group button:not(:disabled):hover {
  background-color: var(--paizo-blue-bright);
  box-shadow: var(--glassy);
  text-shadow: none;
}

.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list>li .item-summary .item-buttons button:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .button-group button:not(:disabled).damage:hover,
.actor.sheet .inventory .item-summary .item-buttons button:hover {
  background-color: var(--paizo-red-bright);
  box-shadow: var(--glassy);
  text-shadow: none;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .auxiliary-actions button:not(:disabled):hover {
  background-color: var(--alt-bright);
  box-shadow: var(--glassy);
  text-shadow: none;
}

[data-pf2-check],
a.entity-link,
a.inline-roll,
[data-pf2-action],
[data-pf2-effect-area] {
  color: black;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list .item.action.strike.expandable.ready {
  padding-bottom: 12px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list .item.action.strike.expandable.ready .item-summary {
  margin-bottom: 0;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .encumbrance {
  padding-left: 2px;
  padding-top: 8px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.biography.active .biography-personality .bio .details-label {
  padding-bottom: 4px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions.actions-pane.active .actions-container .actions-tabs-wrapper .actions-panel .actions-list.item-list.directory-list.skill-action-list .item.action.expandable.ready .item-name .actions-title .button-group.tags .skill-action.tag.variant-strike {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-panels .actions-list.item-list.directory-list.skill-action-list .action-header.stroke-header .item-controls .item-control input {
  background-color: hsla(0, 0%, 20%, 0.1);
  border-radius: 3px;
  box-shadow: var(--glassy);
  color: var(--text-light);
  font: 700 var(--font-size-14) var(--body-serif);
  margin-left: -48.5px;
  margin-right: 24.5px;
  padding: 4px;
  text-align: left;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-panels .actions-list.item-list.directory-list.skill-action-list .action-header.stroke-header .item-controls .item-control input::placeholder,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.pfs .organized-play input::placeholder {
  color: var(--text-light);
  filter: brightness(0.8);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .action-header,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.spellcasting .pf-add-item-row a,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .crafting-entry .action-header,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .action-header {
  border-radius: 3px;
  box-shadow: var(--glassy);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.crafting.crafting-pane.active .craftingEntry-list.directory-list.item-list .crafting-entry.item-container.item .daily-crafting {
  background-color: var(--secondary);
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-panels .actions-list.item-list.directory-list.skill-action-list .action-header.stroke-header .item-controls .item-control.toggle-hidden-actions {
  margin-right: 4px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions.actions-pane.active .actions-container .actions-tabs-wrapper .actions-panel .actions-list.item-list.directory-list.skill-action-list .item.action.expandable.ready .item-summary .item-description [data-pf2-action] {
  color: black;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions.actions-pane.active .actions-container .actions-tabs-wrapper .actions-panel .actions-list.item-list.directory-list.skill-action-list .item.action.expandable.ready .item-summary .item-description h2 {
  border-bottom: 1px solid var(--tertiary-dark);
  color: var(--tertiary-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.effects .effects-list .item {
  border-image: linear-gradient(90deg, var(--tertiary-dark), var(--tertiary-dark)) 1 repeat;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions.actions-pane.active .actions-container .actions-tabs-wrapper .actions-panel .actions-list.item-list.directory-list.skill-action-list .item.action.expandable.ready .item-name .item-image.variant-strike,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions.actions-pane.active .actions-container .actions-tabs-wrapper .actions-panel .actions-list.item-list.directory-list:not(.skill-action-list, .strikes-list) .item.action .item-name.rollable .item-image {
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 4px rgba(0, 0, 0, .5);
  height: 32px;
  width: 32px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.pfs section.level-bump .toggle:after {
  color: var(--text-light);
  content: "OFF";
  right: 2px;
}

.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list .spellbook-empty a:hover,
.actor.sheet.character .item-controls .toggle-unready-strikes:hover,
.actor.sheet.character .crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-panels .actions-list.item-list.directory-list.skill-action-list .action-header.stroke-header .item-controls .item-control.toggle-hidden-actions:hover,
.actor.sheet.character .crb-style .tab.actions .item.action .action-options .item-control.item-toggle-equip:hover {
  text-shadow: 0 0 4px var(--tertiary);
}

.spellcasting-entry.sheet .window-content {
  background: var(--sheet-dark);
}

.spellcasting-entry.sheet .window-content .sheet-header .hint {
  color: var(--text-light);
  text-shadow: 0 0 4px var(--tertiary);
}

.spellcasting-entry.sheet ol.spell-list>li .spell-components .tag {
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  color: var(--text-light);
}

.actor.sheet.character .tab.actions .actions-options .actions-option label input[type=checkbox],
.actor.sheet.character .tab.crafting .crafting-options .crafting-option label input[type=checkbox] {
  accent-color: var(--green-light);
  filter: none;
}

.spellcasting-entry.sheet ol.spell-list>li .item-summary {
  background: none;
}

.actor.sheet.character .crb-style .item-name .xdy-pf2e-workbench-rarity-uncommon {
  border-color: var(--nethys-uncommon);
  color: var(--nethys-uncommon);
  text-shadow: 1px 0 0 var(--text-light), -1px 0 0 var(--text-light), 0 1px 0 var(--text-light), 0 -1px 0 var(--text-light), 1px 1px var(--text-light), -1px -1px 0 var(--text-light), 1px -1px 0 var(--text-light), -1px 1px 0 var(--text-light);
}

.actor.sheet.character .crb-style .item-name .xdy-pf2e-workbench-rarity-rare {
  border-color: var(--nethys-rare);
  color: var(--nethys-rare);
  text-shadow: 1px 0 0 var(--text-light), -1px 0 0 var(--text-light), 0 1px 0 var(--text-light), 0 -1px 0 var(--text-light), 1px 1px var(--text-light), -1px -1px 0 var(--text-light), 1px -1px 0 var(--text-light), -1px 1px 0 var(--text-light);
}

.actor.sheet.character .crb-style .item-name .xdy-pf2e-workbench-rarity-unique {
  border-color: var(--nethys-unique);
  color: var(--nethys-unique);
  text-shadow: 1px 0 0 var(--text-light), -1px 0 0 var(--text-light), 0 1px 0 var(--text-light), 0 -1px 0 var(--text-light), 1px 1px var(--text-light), -1px -1px 0 var(--text-light), 1px -1px 0 var(--text-light), -1px 1px 0 var(--text-light);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory.item-container .item-name .xdy-pf2e-workbench-rarity-uncommon:hover {
  text-shadow: 1px 0 0 var(--nethys-uncommon), -1px 0 0 var(--nethys-uncommon), 0 1px 0 var(--nethys-uncommon), 0 -1px 0 var(--nethys-uncommon), 1px 1px var(--nethys-uncommon), -1px -1px 0 var(--nethys-uncommon), 1px -1px 0 var(--nethys-uncommon), -1px 1px 0 var(--nethys-uncommon);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory.item-container .item-name .xdy-pf2e-workbench-rarity-rare:hover {
  text-shadow: 1px 0 0 var(--nethys-rare), -1px 0 0 var(--nethys-rare), 0 1px 0 var(--nethys-rare), 0 -1px 0 var(--nethys-rare), 1px 1px var(--nethys-rare), -1px -1px 0 var(--nethys-rare), 1px -1px 0 var(--nethys-rare), -1px 1px 0 var(--nethys-rare);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory.item-container .item-name .xdy-pf2e-workbench-rarity-unique:hover {
  text-shadow: 1px 0 0 var(--nethys-unique), -1px 0 0 var(--nethys-unique), 0 1px 0 var(--nethys-unique), 0 -1px 0 var(--nethys-unique), 1px 1px var(--nethys-unique), -1px -1px 0 var(--nethys-unique), 1px -1px 0 var(--nethys-unique), -1px 1px 0 var(--nethys-unique);
}

.actor.sheet .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-summary .framing, .actor.sheet .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-summary .title {
  border-bottom: 1px solid var(--tertiary-dark);
  color: var(--tertiary-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability.key .ability-id,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability.key .ability-mod {
  color: var(--green-light);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character button[data-action=edit-ability-scores] {
  border: none;
  color: var(--tertiary-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character button[data-action=edit-ability-scores] .fas.fa-edit:before {
  margin-right: 3px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character button[data-action=edit-ability-scores]:hover {
  box-shadow: none;
  color: var(--green-light);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-name {
  color: white;
  margin: 0;
  padding: 2px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability .ability-score {
  margin-top: 2px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .alt-usage img.alt-usage-icon {
  filter: invert(1);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .alt-usage {
  margin-left: calc(3.4em - 2px);
  margin-top: calc(0.5em - 2px);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content nav:after, .actor.sheet.character .crb-style .sheet-body .sheet-content nav:before {
  filter: invert(1) brightness(10);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content nav {
  background-color: unset;
  border-radius: 3px;
  border: none;
  box-shadow: var(--glassy);
  margin-bottom: -5px;
  margin-top: 1px;
  padding: 0 20px 0 20px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content nav .tab {
  color: var(--tertiary-dark);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content nav .tab.active {
  color: var(--green-light);
}

.actor.sheet.character .crb-style .sheet-body .sheet-content nav .tab.active:hover {
  text-shadow: none;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.actions select[name=ammo-used]:hover {
  background-color: var(--alt-bright);
}

.actor.sheet .crb-style .sheet-body .sheet-content ol.spell-list>li[data-expended-state=true] .cast-spell,
.actor.sheet.character .crb-style .sheet-body .sheet-content ol.spell-list li[data-expended-state=true] button.cast-spell:hover {
  background: var(--color-text-dark-4);
}