/* Token Action Hud TAH */

#token-action-hud {
    border: none;
    background-color: unset;
    box-shadow: var(--glassy);
    padding: 2px;
    padding: 0px;
    box-shadow: none;
    display: flex;
    gap: 10px;
}

.tah-subcategory {
    display: grid;
    grid-template-columns: 150px auto;
    grid-auto-rows: unset;
    min-height: 22px;
    cursor: default;
    width: 1200px;
    margin-top: 10px;
    grid-template-columns: 200px auto;
}

.tah-actions {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* gap: 5px; */
    width: 600px;
    row-gap: 2px;
    column-gap: 8px;
    margin-bottom: 0px;
    font-size: medium;
}

.tah-actions .stickLeft {
    width: auto;
    min-width: unset;
    min-height: unset;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
    position: relative;
    left: unset;
}

.tah-title-button>.fa {
    display: none;
}

.tah-title-button {
    border: none;
    background-color: var(--dorako-bg-current);
    box-shadow: var(--glassy);
    color: var(--color-text-light-highlight);
    backdrop-filter: var(--dorako-vibrancy);
    text-shadow: var(--dorako-text-shadow);
    margin:0px;
    padding-left: 5px;
    padding-right: 5px;

}

.tah-action button {
    border: none;
    background-color: var(--dorako-bg-current);
    backdrop-filter: var(--dorako-vibrancy);
    box-shadow: var(--glassy);
    border-radius: var(--dorako-radius);
    color: var(--color-text-light-highlight);
    text-shadow: var(--dorako-text-shadow);
    line-height: unset;
    margin-left: unset;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 20px;
    height:28px;
}

.tah-action {
    padding: 0px;
    margin: 0px;
}

.tah-action button[value^="toggle"] {
    background-color: var(--paizo-blue-dark);
}

.tah-action .active,
.tah-action.active button[value^="toggle"] {
    background-color: var(--paizo-blue-bright);
}

.tah-action button * {
    overflow: hidden;
}


/* .tah-title-button:hover {
    border: unset;
    box-shadow: unset;
    background-color: unset;
} */

.tah-title-button:hover,
.tah-action button:hover {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: var(--paizo-red);
    border: none;
    box-shadow: var(--glassy);
}

.tah-action button[value^="toggle"]:hover {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: var(--paizo-blue);
    border: none;
    box-shadow: var(--glassy);
}

/* .tah-category.hover {
    transition: backdrop-filter 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: var(--paizo-blue-bright);
    border: none;
    box-shadow: var(--glassy);
} */

.tah-action .tah-img {
    border: none;
    /* box-shadow: 0 0 0 1px var(--tertiary),0 0 0 2px #9f725b,inset 0 0 4px rgba(0,0,0,.5); */
    box-shadow:none;
    box-shadow: 0 0 0 1px var(--tertiary);
}


#tah-hudTitle {
    display: none
}

.tah-content {
    gap: 5px;
}

.tah-actions {
    gap: 5px;
}

.tah-actions .shrink {
    margin: 0px;
    min-width: 20px;
}

/* .tah-action button[value^="spell|"] span {
    display: block;
    float: left;
    width: 50px;
    overflow: hidden;
} */

/* .tah-action button[value^="spell|"] .tah-name {
    display: none;
} */
