.dorako-ui.sheet.pf2e.actor.npc {
  --color-text-dark-input: black;

  form {
    .activity-icon {
      font-weight: 100;
    }

    input.adjustable:not(:focus).adjusted-higher,
    span.adjustable.adjusted-higher {
      color: green !important;
    }

    input.adjustable:not(:focus).adjusted-lower,
    span.adjustable.adjusted-lower {
      color: red !important;
    }
  }

  &.actor.npc.sheet form ol.spell-list > li.spell-level-header input,
  &.actor.npc.sheet form ol.spell-list > li .uses input {
    color: var(--text-light);
  }
}

/* Green */
.dorako-ui.sheet.pf2e.actor.npc.green-theme {
  --section-background: var(--remaster-dark);
  --section-header: var(--remaster);
  --section-border-color: var(--tertiary);
  --section-outline-color: var(--gold-brown);
  --section-header-text-color: var(--color-light-2);
  --tag-border-color: var(--color-light-5);
  --tag-background-color: var(--remaster);
  --tag-text-color: var(--tertiary);

  --color-text-dark-input: var(--color-light-5);
  --color-border-light-highlight: var(--remaster);
  --color-border-light-primary: var(--remaster-light);
  --color-border-light-tertiary: var(--remaster);
  --color-border-light-2: var(--color-light-5);
}

/* Blue */
.dorako-ui.sheet.pf2e.actor.npc.blue-theme {
  --section-background: var(--secondary-dark);
  --section-header: var(--secondary);
  --section-border-color: var(--tertiary);
  --section-outline-color: var(--gold-brown);
  --section-header-text-color: var(--color-light-2);
  --tag-border-color: var(--color-light-5);
  --tag-background-color: var(--secondary);
  --tag-text-color: var(--tertiary);

  --color-text-dark-input: var(--color-light-5);
  --color-border-light-highlight: var(--secondary);
  --color-border-light-primary: var(--secondary-light);
  --color-border-light-tertiary: var(--secondary);
  --color-border-light-2: var(--color-light-5);
}

/* Glassy */

.dorako-ui.sheet.pf2e.actor.npc.glassy-theme {
  background: none;
  box-shadow: none;

  .window-header {
    box-shadow: var(--glassy);
    background: var(--glass-bg);
    border-radius: 3px;
    margin: 0px 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .window-content {
    background: none;
    box-shadow: none;
    margin: unset;
  }

  .npc-sheet-header {
    --color-text-dark-input: var(--color-text-light-heading);
    box-shadow: var(--glassy);
    background: var(--glass-bg);
    border-radius: 3px;
    margin: 5px;
    padding: 2px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .name .level-label,
    .name .name-value {
      color: var(--tertiary-light);
      text-shadow: 0px 0px 3px black;
    }
    .name .level {
      color: var(--tertiary);
      text-shadow: 0px 0px 3px black;
    }
  }

  .npc-body {
    padding-left: unset;
  }

  .image-container {
    box-shadow: var(--glassy);
    background: var(--glass-bg);
    border-radius: 3px;
    margin: 5px;
    margin-bottom: 8px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  &.dark-theme form .sheet-tabs {
    background: var(--glass-bg);
    margin: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    .item.disabled {
      text-shadow: 0px 0px 3px black;
    }
  }
  form .section-container.toggles {
    background: var(--glass-bg);
    box-shadow: var(--glassy);
    margin: 5px;
    margin-top: 0px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    color: var(--color-text-light-heading);
  }
  .sheet-body .tab {
    &.inventory,
    &.spells,
    &.notes {
      @include gold-border;
      border-radius: 3px;
      margin: 5px;
      background: var(--sheet);
      background-size: cover;
    }
  }
}

/* Light */

.dorako-ui.sheet.pf2e.actor.npc.light-theme .sheet-tabs {
  background-color: #f8f4f1;
  box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
  border: 1px solid #b5b3a4;
  border-radius: 3px;
  margin: 2px;
  margin-bottom: 0px;
  z-index: 1;
}

.dorako-ui.npc.light-theme .tabs .item {
  color: var(--primary-light);

  a:hover {
    text-shadow: 0px 0px 10px var(--primary);
  }

  &.disabled {
    color: #ababab;

    &:hover {
      color: var(--primary-dark);
      text-shadow: 0px 0px 10px var(--primary-dark);
    }
  }

  &.active {
    color: var(--secondary-light);
    text-shadow: 0px 0px 10px var(--secondary-light);
  }
}

/* Dark */

.dorako-ui.dark-theme.sheet.pf2e.actor.npc {
  --color-text-dark-input: var(--color-light-2);
  --tag-border-color: var(--tertiary-dark);
  --tag-background-color: rgba(40, 40, 40, 0.5);
  --tag-text-color: var(--color-light-2);
}

.dorako-ui.sheet.pf2e.actor.npc.dark-theme form .sheet-tabs {
  @include glass;
  background: var(--glass-bg-light);
  color: var(--color-text-light-heading);
}

.dorako-ui.sheet.pf2e.actor.npc.dark-theme .npc-sheet .item.disabled,
.dorako-ui.sheet.pf2e.actor.npc.dark-theme form .item.disabled {
  color: #666666;
}

// prettier-ignore
.dorako-ui.sheet.pf2e.actor.npc.dark-theme.window-app .npc-sheet .effects .section-body .effects-list .item.unidentified,
.dorako-ui.sheet.pf2e.actor.npc.dark-theme.window-app form .sheet-body .effects .section-body .effects-list .item.unidentified {
  outline: 1px dashed #720073;
  background: rgba(245, 234, 245, 0.1333333333);
}

.sheet.pf2e.actor.npc.dark-theme.window-app input[type="text"],
.sheet.pf2e.actor.npc.dark-theme.window-app input[type="number"],
.sheet.pf2e.actor.npc.dark-theme.window-app input[type="search"],
.sheet.pf2e.actor.npc.dark-theme.window-app input[type="date"],
.sheet.pf2e.actor.npc.dark-theme.window-app input[type="time"] {
  box-shadow: unset;
}

.sheet.pf2e.actor.npc.dark-theme .recall-knowledge .section-body button {
  box-shadow: var(--glassy);
}

.sheet.pf2e.actor.npc.dark-theme .tabs .item.active {
  color: var(--tertiary);
}

.actor.pf2e.actor.npc.dark-theme .tabs .item.active,
.actor.pf2e.actor.npc.dark-theme a:hover {
  text-shadow: 0 0 10px var(--tertiary);
}

.sheet.pf2e.actor.npc.dark-theme .window-content {
  background: none;
  background-color: #111;
  background: var(--sheet-dark);
  background-size: cover;
}

.sheet.pf2e.actor.npc.dark-theme .tags .tag option.tag_transparent,
.sheet.pf2e.actor.npc.dark-theme .tags .tag.tag_transparent {
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
}

.sheet.pf2e.actor.npc.dark-theme form .notes {
  text-shadow: none;
}

.sheet.pf2e.actor.npc.dark-theme form,
.actor.pf2e.actor.npc.dark-theme form .entries-list .spellcasting-entry .header h4.name input,
.sheet.pf2e.actor.npc.dark-theme .inventory .list-row .item-controls,
.sheet.pf2e.actor.npc.dark-theme ol.spell-list > li.spell-level-header,
.sheet.pf2e.actor.npc.dark-theme form .side-bar-section.initiative select,
.sheet.pf2e.actor.npc.dark-theme form .notes .notes-text,
.actor.pf2e.actor.npc.dark-theme form .notes .notes-text {
  color: white;
}

.sheet.pf2e.actor.npc.dark-theme form input[type="number"],
.sheet.pf2e.actor.npc.dark-theme form input[type="text"],
.sheet.pf2e.actor.npc.dark-theme form .notes .details-label,
.sheet.pf2e.actor.npc.dark-theme form .notes .details-label {
  color: #c9c9c9;
}

.actor.pf2e.actor.npc.dark-theme form .sheet-tabs .disabled.active,
.actor.pf2e.actor.npc.dark-theme form .sheet-tabs .disabled:hover {
  color: gray;
}

.sheet.pf2e.actor.npc.dark-theme .inventory .item-summary,
.sheet.pf2e.actor.npc.dark-theme ol.spell-list > li .item-summary {
  background-color: transparent;
}

.sheet.pf2e.actor.npc.dark-theme form .actions-options .actions-option:hover {
  text-shadow: 0 0 10px var(--tertiary);
  color: var(--tertiary);
}

.actor.pf2e.actor.npc.dark-theme .inventory .list-row .item-controls .item-control.item-carry-type.active,
.actor.pf2e.actor.npc.dark-theme .inventory .list-row .item-controls .item-control.item-toggle-invest.active,
.actor.pf2e.actor.npc.dark-theme ol.spell-list > li .item-name h4:hover,
.actor.pf2e.actor.npc.dark-theme .inventory .item-name h3:hover,
.actor.pf2e.actor.npc.dark-theme .inventory .item-name h4:hover {
  color: var(--tertiary);
}

.sheet.actor.pf2e.actor.npc.dark-theme form .section-container.toggles {
  border-image-source: var(--ornamentation);
}

.sheet.actor.pf2e.actor.npc.dark-theme form .side-bar-section:not(.save-details),
.sheet.actor.pf2e.actor.npc.dark-theme form .section-container {
  background: var(--sheet-dark);
  background-size: cover;
}
