body.compact-ui {
  #controls .main-controls .scene-control:not(.active, .toggle),
  #controls .sub-controls .control-tool:not(.active, .toggle) {
    display: none;
  }

  #controls {
    pointer-events: all;
    /* gap: 5px; */
    flex-wrap: nowrap;
    /* width: 75px; */
    flex-direction: row;
  }

  .main-controls {
    display: flex;
    flex-direction: column;
  }

  #controls:hover .main-controls .scene-control,
  #controls:hover .sub-controls .control-tool {
    display: block;
  }

  #controls ol.main-controls.app.control-tools {
    width: unset;
  }

  #navigation #scene-list .scene:not(.active, .view),
  #navigation #nav-toggle {
    display: none;
  }

  #navigation {
    pointer-events: all;
  }

  #navigation:hover #scene-list .scene {
    display: flex;
  }

  #players {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  #players:hover {
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
  }
}
