/* ----------------------------------------- */
/* Controls                                  */
/* ----------------------------------------- */

nav#controls.dorako-ui {
  padding-top: 12px;

  // Fix foundry's inconsistent gaps
  ol.control-tools.sub-controls > li,
  ol.control-tools.main-controls {
    margin-right: 8px;
  }

  ol.control-tools {
    &.main-control {
      margin-right: 8px;
    }

    li.control-tool,
    > li {
      @include glass;
      @include quick-transition;
      text-shadow: 0px 0px 3px black;
      border-radius: 3px;
      margin-bottom: 8px;

      img {
        filter: sepia() grayscale(0.9) brightness(0.8) drop-shadow(0px 0px 3px black);
      }

      &.active,
      &:hover {
        @include glass;
        color: var(--color-text-light-highlight);
        background-color: var(--primary);

        img {
          filter: sepia() grayscale(0.95) brightness(1) drop-shadow(0px 0px 3px black);
        }
      }

      &.toggle {
        @include glass;
        background-color: var(--secondary-dark);

        &.active,
        &:hover {
          @include glass;
          color: white;
          background-color: var(--secondary-light);
        }
      }
    }
  }
}

#darkness-adjuster.dorako-ui {
  @include glass;
  height: 36px !important;
  border-radius: 3px;
  backdrop-filter: blur(5px);

  .window-content {
    overflow: hidden;
    background: unset;
    box-shadow: unset;
    border: none;
  }
}
