/* ----------------------------------------- */
/* Forms                                     */
/* ----------------------------------------- */

.dorako-ui.sheet nav.sheet-tabs {
  background-color: var(--bg);
  box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
  border: 1px solid var(--color-border-light-primary);
  border-radius: 3px;
  margin: 2px;

  .item:not(.active):hover {
    color: var(--secondary-light);
    text-shadow: 0px 0px 10px var(--secondary-light);
  }

  .item.active {
    color: var(--secondary-light);
    text-shadow: 0px 0px 10px var(--secondary-light);
  }
}

.dorako-ui.dark-theme.sheet nav.sheet-tabs {
  @include glass;
  background: var(--glass-bg-light);

  .item:not(.active):hover {
    color: var(--tertiary);
    text-shadow: 0px 0px 10px var(--tertiary);
  }

  .item.active {
    color: var(--tertiary);
    text-shadow: 0px 0px 10px var(--tertiary);
  }
}

.dorako-ui.pf2e.item.sheet form .sheet-navigation .sheet-tabs > .list-row {
  &:hover,
  &.active {
    color: var(--secondary-light);
    text-shadow: 0px 0px 10px;
    text-decoration: unset;
  }
}

.dorako-ui.dark-theme.pf2e.item.sheet form .sheet-navigation .sheet-tabs > .list-row {
  &:hover,
  &.active {
    color: var(--tertiary);
    text-shadow: 0px 0px 10px var(--tertiary);
    text-decoration: unset;
  }
}

.dorako-ui form button {
  //:not(.pm-dropdown)
  @include quick-transition;
  border: 1px solid var(--color-border-light-primary);

  &:hover {
    // text-shadow: 0px 0px 3px black; // bad idea, also affects buttons with more specific styling that overwrites background
    background-color: var(--primary-light);
    color: var(--color-text-light-highlight);
    border: 1px solid var(--tertiary);
  }
  &:active {
    // text-shadow: 0px 0px 3px black; // bad idea, also affects buttons with more specific styling that overwrites background
    background-color: var(--primary-light);
    color: white;
    border: 1px solid var(--gold-brown);
  }
}

.dorako-ui.pf2e.item.sheet .sheet-header img {
  @include gold-border-shadow;
  border-radius: 5px;
  margin-right: 8px;
}

.dorako-ui.pf2e.item.sheet form .form-list {
  padding: 0.5em 1em;
  border-image-repeat: repeat;
  border-image-slice: 11;
  border-image-source: var(--ornamentation);
  border-image-width: 14px;
  border-style: double;
}

.dorako-ui.app.token-sheet .tab.active[data-tab="appearance"] fieldset {
  border-image-repeat: repeat;
  border-image-slice: 11;
  border-image-source: var(--ornamentation);
  border-image-width: 14px;
  border-style: double;

  legend {
    color: var(--color-text-dark-primary);
    margin-left: 5px;
  }
}

.dorako-ui.pf2e.item.sheet .sheet-header {
  border: none;
}

.dorako-ui.dark-theme.app.token-sheet .tab.active[data-tab="appearance"] fieldset {
  legend {
    color: var(--color-text-light-heading);
  }
}

.dorako-ui.pf2e.item.sheet form .sheet-navigation {
  border-radius: 3px;
  border: none;
  border: 1px solid var(--color-border-light-primary);
  background: var(--bg);
  box-shadow: 0 2px 4px rgb(0 0 0 / 18%), 0px -1px 2px rgb(255 255 255 / 30%) inset;
}

.dorako-ui.dark-theme.pf2e.item.sheet form .sheet-navigation {
  @include glass;
  background: var(--glass-bg-light);
}

.dorako-ui.dark-theme.pf2e.item.sheet form section.sheet-body .tab.item-details label {
  color: var(--color-text-light-heading);
}

.dorako-ui.dark-theme {
  &.pf2e.item.sheet form section.sheet-body input[type="text"],
  &.pf2e.item.sheet form section.sheet-body input[type="number"],
  &.pf2e.item.sheet form article.sheet-content select {
    @include glass;
  }
}

.dorako-ui.window-app.filepicker .display-modes a {
  &:hover {
    text-shadow: 0px 0px 3px black;
    background-color: var(--primary);
    color: var(--color-text-light-highlight);
  }

  &.active {
    text-shadow: 0px 0px 3px black;
    background-color: var(--primary);
    color: var(--color-text-light-highlight);
  }
}

.dorako-ui.window-app {
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  input[type="search"],
  input[type="checkbox"],
  input[type="radio"] {
    @include quick-transition;
    accent-color: var(--primary);

    &:checked {
      accent-color: var(--primary);
      filter: none;
    }

    &:not(:disabled):hover {
      border-color: var(--secondary-light);
      box-shadow: 0px 0px 5px var(--secondary-light);
    }

    &:focus {
      border-color: var(--secondary-light);
      box-shadow: 0px 0px 5px var(--secondary-light);
    }
  }
}
