/* ----------------------------------------- */
/* Sidebar                                   */
/* ----------------------------------------- */

#ui-right {
  #sidebar.dorako-ui {
    height: -webkit-fill-available;
    &.collapsed {
      height: auto;
    }
  }
}

section.chat-sidebar {
  gap: 5px;
  padding-bottom: 5px;
}

#chat-form {
  margin: 0px 6px;
  textarea {
    @include glass;
    background-color: rgba(255, 255, 255, 0.5);
    // background: rgb(212 213 205);
    // border: 1px solid#7a7971;
  }
}

#chat-log {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  li.dorako-ui:first-child {
    margin-top: 2px;
  }
}

.sidebar-tab {
  // text-shadow: 0px 0px 3px black;
  .message.chat-message {
    text-shadow: none;
  }
}

#sidebar.dorako-ui {
  @include glass;
  border: none;
  // border-radius: 6px 3px 3px 3px;
  border-radius: 6px var(--border-radius) var(--border-radius) var(--border-radius);

  &.collapsed {
    border-radius: var(--border-radius);

    #sidebar-tabs .item.active {
      border: none;
      margin: 2px 4px;
    }
  }
  #settings ul#game-details li.system-buttons {
    gap: 5px;
    button {
      border-radius: var(--border-radius) !important;
    }
  }

  .settings-sidebar h2 {
    // @include gold-border;
    background-color: var(--alt);
    border-color: var(--alt-dark);
  }

  .directory .action-buttons button,
  .settings-sidebar button {
    @include glass;
    box-shadow: var(--glassy-sharp);
    backdrop-filter: blur(5px);
    background-color: var(--glass-bg-light);
    color: var(--color-text-light-heading);
    text-shadow: 0px 0px 3px black;
    &:hover {
      box-shadow: var(--glassy-sharp-highlight);
      background-color: var(--glass-bg-gold);
      color: var(--color-text-light-highlight);
    }
  }

  .directory .directory-header .header-search input {
    @include glass;
    @include quick-transition;
    box-shadow: var(--glassy-sharp-inset);
    backdrop-filter: blur(5px);
    background-color: var(--glass-bg-light);
    caret-color: var(--tertiary);
    color: var(--color-text-light-highlight);
    text-shadow: 0px 0px 3px black;
    // border: 1px solid var(--gold-brown);

    &::placeholder {
      color: var(--color-text-light-5);
    }

    &:hover,
    &:focus {
      background-color: var(--glass-bg-gold);
      box-shadow: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8) inset;
    }
  }

  #sidebar-tabs {
    --sidebar-tab-height: 20px;
    --sidebar-tab-width: 20px;
    border: none;
    box-shadow: none;
    margin: 0px;
    margin-top: 1px;

    > .collapse {
      --sidebar-tab-width: 12px;
      position: relative;
    }

    .item {
      border: none;
      margin: 2px 0px;
      text-shadow: 0px 0px 3px black;

      &.active {
        @include gold-border;
        margin: 2px 0px;
        border-radius: 3px;
        color: white;
        background-color: var(--primary-light);
      }
    }
  }
}

.dorako-ui {
  #chat-controls {
    margin: 0px 5px;
    gap: 5px;

    i.fas {
      line-height: 24px; // center-aligns icons
    }

    .roll-type-select {
      margin-left: 0px;
      margin-right: 0px;
      @include glass;
      background: var(--glass-bg-light);
      color: var(--color-text-light-heading);
      text-shadow: 0px 0px 3px black;

      option,
      optgroup {
        background-color: rgb(37, 37, 37);
        color: var(--color-text-light-highlight);
      }
    }
  }
}

.dorako-ui section.chat-sidebar .jump-to-bottom {
  > a {
    @include glass;
    @include quick-transition;
    border-radius: 0px;
    z-index: 1;
    text-shadow: none;
    background-color: #ecbf41dd;
    background-color: #ecbf41;
    background-color: var(--alt-dark);
    background-color: var(--glass-bg-dark);
    backdrop-filter: blur(5px);
    color: var(--color-text-light-heading);
    color: var(--color-text-light-highlight);
    text-shadow: 0px 0px 3px black;
    font-size: large;

    &:hover {
      background-color: #ffdb77dd;
      background-color: #ffdb77;
      background-color: var(--alt);
      background-color: var(--glass-bg);
      color: var(--color-text-light-highlight);
      a {
        text-shadow: none;
      }
    }
  }
}
