.actor.sheet.character aside .sidebar input:disabled {
  background: transparent;
}

.actor.sheet section.window-content form.crb-style {
  background: url("/systems/pf2e/assets/sheet/header.webp"), transparent;
  background-repeat: repeat-x, no-repeat;
  background-size: auto 5.625rem, cover;
  background-attachment: local;
}

// don't unset border, because that also unsets border-image-source
.actor.sheet.character :is(li, ol) {
  border-color: transparent;
  > div {
    border-color: transparent;
  }
}

.actor.sheet.character {
  .d20-svg path {
    fill: white;
  }
  .item-carry-type {
    text-shadow: 0px 0px 0px gray;
  }

  .proficiencies-list li {
    border-image-source: var(--ornamentation);

    a.d20 {
      filter: drop-shadow(0 0 1px var(--color-shadow-dark)) drop-shadow(0 0 3px var(--color-text-dark-4));
    }
  }
}

.theme-dark .actor.sheet.character .sheet-body {
  --primary: red;
  --color-pf-primary: red;
  --color-pf-primary-dark: darkred; // underlines
  --color-pf-secondary: blue;
  --secondary: blue;
  --text-dark: white;
  --color-text-primary: white;
  --color-text-dark-4: gray; // disabled
  --color-pf-alternate-dark: brown; //speeds

  .sub-nav,
  .action-header {
    --primary: var(--system-primary);
    --color-pf-primary: var(--system-primary);
  }

  .tags:not(.form-fields) .tag.tag_secondary,
  .tags:not(.form-fields) .tag option.tag_secondary,
  .blue {
    --secondary: var(--system-secondary);
    --color-pf-secondary: var(--system-secondary);
  }
}
